
.drag-start.draggable-fields .drag-item.sortable-ghost{
    opacity: 1;
    box-shadow: 0 0 0 1px #ef6089;
}
.drag-start.draggable-fields .drag-item{
    opacity: .6;
}
.field-settings-row{
    border: 1px solid #000;
    padding: 5px;
    flex: 0 1 calc(25% - 7.5px);
    margin-bottom: 20px;
}
.field-settings-row+.field-settings-row{
    margin-left: 10px;
}
.field-settings-row.full{
    width: 100%;
    margin-left: 0;
}
.field-settings-row:nth-of-type(4n+5){
    margin-left: 0;
}
.field-settings-row-caption{
    display: flex;
}
.field-settings-row-caption>p{
    display: flex;
    margin-right: auto;
}
.pivot-modal-content{
    display: flex;
    width: 60%;
    max-height: 70%;
    min-height: 250px;
    flex-flow: row wrap;
    overflow: auto;
    align-content: flex-start;
    min-width: 1000px;
}
.field-settings-bottom .pivot-modal-content .field-settings-column{
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.sql-table-pivot-item-modal{
    align-items: center;
}
.sql-table-pivot-item{
    display: flex;
}
.uniq-row{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.uniq-row .el-input{
    margin-top: 10px;
}
.uniq-row .el-input:last-child{
    margin-bottom: 10px;
}

.settings_form-fields input:focus{
    border-color: #ef6089!important;
}
.el-select-dropdown.el-popper.small[x-placement^=bottom]{
    margin-top: -27px;
    padding-top: 27px;
}
.settings_form-fields .button.absolute{
    right: 0;
    top: 2px;
    width: 29px;
    height: 27px;
    text-align: center;
    padding: 6px;
}
.settings_form-fields svg.plus{
    width: 18px;
    height: 15px;
}
.field-settings-divider{
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    width: 100%;
}
.field-settings-bottom .field-settings-divider{
    padding: 5px 5px 50px 5px;
}
.field-settings-panel .button-row.table_actions>p{
    font-size: 20px;
}
.field-settings-divider>p{
    width: 100%;
    font-size: 20px;
    margin: 15px 0 5px 0;
}
.settings_form-fields .modal-title{
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.button-wrap{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.settings_form-fields h2{
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    margin: 25px 0 20px 0;
    width: 100%;
}
.field-settings-top{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background: #ffffff;
}
.field-settings-top label.checkbox-row{
    flex-flow: row-reverse;
    justify-content: flex-end;
}
.settings_form-fields{
    width: 100%;
}

.settings_form-fields label{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 1.6;
    padding: 5px 0;
    cursor: pointer;
}
.settings_form-fields label b{
    width: 100%;
}
.settings_form-fields .field-settings-top label b{
    width: 20%;
    margin: 0;
}

.field-settings-top label input{
    width: 80%;
}
.settings_form-fields input{
    display: flex;
    text-align: left;
    border-bottom: 1px solid #000;
    font-size: 14px;
    padding: 5px 0;
    outline: none;
    width: 100%;
}
.field-settings-top label input[type='checkbox']{
    position: absolute;
    opacity: 0;
}
.modal-edit-fields label{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.modal-edit-fields input[type='text'],
.modal-edit-fields .el-input__inner{
    width: 100%;
    border-bottom: 1px solid #000000;
    outline: none;
    font-size: 14px;
    padding: 5px 0;
    transition: all .2s linear;
}
.modal-edit-fields>div{
    width: 32%;
    padding: 10px;
    border: 1px solid;
}
.drag-item-content{
    align-items: center;
    cursor: default;
}
.modal-edit-fields{
    display: flex;
    flex-flow: row wrap;
    width: 55%;
    max-height: 80%;
    overflow: auto;
    justify-content: space-between;
    min-width: 1000px;
}
.field-settings-bottom{
    display: flex;
    flex-flow: row wrap;
    margin: 25px 0 20px 0;
}
.field-settings-bottom .field-settings-column{
    width: 25%;
    padding: 5px;
}
.field-settings-bottom .el-form-item{
    background: #ffffff;
}
.field-settings-bottom .el-form-item:after{
    display: none;
}
.drag-item-actions .button.link{
    margin-right: auto;
}
.field-settings-row-caption>p button,
.sql-table-pivot-item>p button,
.drag-item-actions>p button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.field-settings-row-caption>p svg.edit,
.sql-table-pivot-item>p svg.edit,
.drag-item-actions>p svg.edit{
    opacity: 0.5;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.field-settings-row-caption>p,
.sql-table-pivot-item>p,
.drag-item-actions>p{
    margin-right: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    word-break: break-all;
}
.drag-item-actions{
    display: flex;
    align-items: center;
}
.drag-item-actions button+button{
    margin-left: 3px;
    padding: 0;
}
.drag-item-actions button+button svg.delete{
    width: 20px;
    height: 20px;
}
.draggable-fields{
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + 10px);
    margin: 0 -4px -4px -4px;
    counter-reset: drag-count;
}
.settings_form-fields .el-form-item{
    background: #ffffff;
}

.settings_form-fields .small-inputs .el-input{
    padding: 0;
    line-height: 1.4;
}
.settings_form-fields .el-form-item.drag-item{
    width: calc(25% - 10px);
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 0 1px #000;
    margin: 5px;
    position: relative;
    cursor: move;
}
.settings_form-fields .el-form-item.drag-item:after{
    content: counter(drag-count);
    counter-increment: drag-count;
    position: absolute;
    bottom: auto;
    right: 85px;
    z-index: 150;
    display: flex!important;
    background: rgba(255,255,255,0);
    pointer-events: none;
    width: auto;
    justify-content: center;
    align-items: center;
    height: auto;
    top: 5px;
    font-size: 35px;
    opacity: 0.15;
    font-weight: bold;
}

.settings_form-fields .el-form-item.drag-item .el-form-item__label{
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
}
.draggable-fields .el-form-item__content{
    width: 100%;
    margin-bottom: 0;
    line-height: 1.4;
}
.settings_form-fields .field-settings .el-form-item:after{
    display: none;
}
.field-settings-panel .el-select{
    width: 100%;
}
.field-settings-panel .hint{
    font-size: 90%;
    opacity: 0.7;
}
.field-settings-panel .button-row.table_actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.field-settings-panel{
    display: flex;
    flex-flow: row wrap;
}
.field-settings-panel>.el-form-item .el-form-item__label{
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
}
.field-settings-panel>.el-form-item div{
    background: rgba(255,255,255,0);
    width: 100%;
}
.field-settings-panel .checkbox-row{
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    cursor: pointer;
    padding-top: 0;
    display: flex;
    margin: 5px 0 0 0;
}
.checkbox-row b{
    margin-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.field-settings-panel .checkbox-row .el-form-item__content{
    width: auto;
    margin: 0 10px 0 0;
}
.field-settings-column label{
    flex-flow: row wrap;
}
.field-settings-column label.checkbox-row{
    flex-flow: nowrap;
}
.field-settings-column{
    width: 20%;
    padding: 10px;
    background: rgba(255,255,255,0);
    align-content: flex-start;
}
.field-settings-bottom .pivot-modal-content .field-settings-column>p{
    margin-bottom: 20px;
}
.field-settings-bottom .field-settings-column>p{
    padding-top: 10px;
    width: 100%;
}
.field-settings-column>p{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px dashed #000;
    padding-bottom: 10px;
    position: relative;
}
.field-settings-column>p button.absolute.button{
    top: 0;
    bottom: 0;
    margin: auto;
}
.field-settings-column label>b{
    width: 100%;
}
.settings_form-fields .button.icon-btn-text{
    font-size: 14px;
    vertical-align: middle;
}
.ios-device .settings_form-fields .button.icon-btn-text svg{
    margin: 4px 10px 6px 0;
}
@media (max-width: 1300px) {
    .field-settings-column{
        width: 33.33333%;
    }
}
@media (max-width: 1200px) {
    .modal-edit-fields{
        min-width: calc(100% - 40px);
    }
    .settings_form-fields .el-form-item.drag-item{
        width: calc(33.33333% - 10px);
    }
    .field-settings-bottom .field-settings-column{
        width: 33.33333%;
    }
}
@media (max-width: 800px) {
    .modal-edit-fields{
        min-width: calc(100% - 20px);
    }
    .modal-edit-fields>div{
        width: calc(50% - 10px);
    }
    .modal-edit-fields>div:last-child{
        width: 100%;
        margin: 20px 0;
    }
    .settings_form-fields .field-settings-top label b{
        width: 240px;
    }
    .field-settings-top label input{
        width: calc(100% - 240px);
    }
    .field-settings-bottom .field-settings-column,
    .field-settings-column{
        width: 50%;
    }
    .settings_form-fields .el-form-item.drag-item {
        width: calc(50% - 10px);
    }
}
@media (max-width: 550px) {
    .field-settings-bottom .field-settings-column, .field-settings-column{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .settings_form-fields .el-form-item.drag-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 500px) {
    .modal-edit-fields>div{
        width: 100%;
    }
    .modal-edit-fields>div+div{
        margin-top: 20px;
    }
}