
.settings_wrapper{
    width: 100%;
    display: flex;
}
.content .settings_wrapper .el-tabs--border-card > .el-tabs__content{
    background: rgba(255, 255, 255, 0);
    padding: 0;
}
.settings_form>div.flex{
    background: #ffffff;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.settings_wrapper .btn-wrap{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.settings_wrapper .el-tabs--border-card{
    width: 100%;
}
.settings_item .el-select{
    width: 100%;
}
.settings_item .el-form-item.chose-image label.el-form-item__label{
    line-height: normal;
    justify-content: flex-start;
}
.settings_item label.el-form-item__label{
    padding: 0;
    font-weight: bold;
    width: 100%;
    line-height: normal;
}
.settings_item label.el-form-item__label:hover{
    border: none;
}
.settings_item .chose-image{
    flex-flow: row wrap;
}
.settings_item .chose-image .el-form-item__content{
    margin-top: 5px;
}
.settings_item .chose-image img[src]{
    max-height: 200px;
}
.settings_item .chose-image .el-form-item__content span{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.settings_item{
    margin-bottom: 30px;
    width: 48%;
}
.settings_item .el-textarea__inner,
.settings_item .el-input__inner{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: padding-left .2s linear;
    line-height: 2;
    font-size: 14px;
}
.settings_item .el-textarea__inner:focus,
.settings_item .el-input__inner:focus{
    border-color: #ef6089;
}
.settings_item .el-textarea__inner{
    min-height: 120px;
}
.settings_item .hint{
    line-height: 1;
    font-size: 12px;
    margin-top: 5px;
    color: #919191;
}
@media (max-width: 1300px) {
    .settings_item{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .settings_item{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .settings_item:last-child{
        margin-bottom: 0;
    }
}