<template>

    <div class="flex flex-row flex-wrap">

        <!-- Main buttons -->
        <div class="set-all-permission">

            <el-button type="text"
                       @click="changeStateForAll(1)">
                       {{ trans('core_permissions.all buttons.allow all') }}
            </el-button>

            <el-button type="text"
                       @click="changeStateForAll(0)">
                       {{ trans('core_permissions.all buttons.deny all') }}
            </el-button>

            <el-button v-if="isUser"
                       type="text"
                       :disabled="disableAll"
                       @click="changeStateForAll('inheritAll')">
                       {{ trans('core_permissions.all buttons.inherit all') }}
            </el-button>

        </div>

        <!-- All permisions -->
        <div data-permision
             v-for="(permissionValue, permissionName) in allPermissions"
             :key="permissionName"
             class="permission-item">

            <div v-for="(modulePermissions, moduleName, index) in permissionValue"
                 :key="moduleName"
                 class="w-full">

                <div class="permission-caption">

                    <h3 class="">{{ parseModuleNameTranslation(moduleName) }}</h3>

                    <el-button type="text"
                               @click="changeState(moduleName, modulePermissions, 1)"
                               class="button icon-btn-text">
                               {{ trans('core_permissions.group buttons.allow all') }}
                    </el-button>

                    <el-button type="text"
                               @click="changeState(moduleName, modulePermissions, 0)"
                               class="button icon-btn-text">
                               {{ trans('core_permissions.group buttons.deny all') }}
                    </el-button>

                    <el-button v-if="isUser"
                               type="text"
                               class="button icon-btn-text check-disabled"
                               :disabled="validatePermissions(moduleName, modulePermissions)"
                               @click="inheritState(moduleName, modulePermissions)">
                               {{ trans('core_permissions.group buttons.inherit all') }}
                    </el-button>

                </div>

                <div class="permission-buttons">
                    <div data-sub-permision
                         class="permission-checks"
                         v-for="(label, permissionAction) in modulePermissions"
                         :key="permissionAction">

                        <h5 class="w-full text-center">{{ parseModulePermissionTranslation(label, permissionName) }}</h5>

                        <div class="w-full flex flex-row flex-nowrap justify-center">
                            <el-radio-group v-model="mutatedValue[`${moduleName.toLowerCase()}.${permissionAction}`]">

                                <el-radio-button :label="1">
                                                 {{ trans('core_permissions.buttons.allow') }}
                                </el-radio-button>

                                <el-radio-button :label="0" class="block-permission">
                                                 {{ trans('core_permissions.buttons.deny') }}
                                </el-radio-button>

                            </el-radio-group>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</template>

<script>
import _ from 'lodash';

export default {
    props: {
        value: {
            type: Object,
            default: () => null
        },
        currentRolePermissions: {
            type: Object,
            default: () => null
        },
        isRole: {
            type: Boolean
        },
        isUser: {
            type: Boolean
        }
    },
    data() {
        return {
            mutatedValue: null,
            disableAll: true,
            allPermissions: {},
        };
    },
    methods: {
        parseModuleNameTranslation(permissionName) {
            let splited = permissionName.toLowerCase().split('.');

            if (splited.length > 2) {
                return this.trans(splited[0] + '_permissions.' + splited[1] + '.' + splited[2]);
            } else if (permissionName.split('.').length > 1) {
                return this.trans(splited[0] + '_permissions.' + splited[1]);
            }

            return this.trans(permissionName.toLowerCase() + '_permissions.' + permissionName.toLowerCase());
        },
        parseModulePermissionTranslation(label, permissionName) {
            return this.trans(label.replace('::', '_'));
        },
        changeState(moduleName, modulePermissions, state) {
            _.forEach(modulePermissions, (translationKey, key) => {
                this.mutatedValue[`${moduleName}.${key}`] = state;
            });
        },
        changeStateForAll(state) {
            if (state == 'inheritAll') {
                this.mutatedValue = _.clone(this.currentRolePermissions, true);
            } else {
                _.forEach(this.mutatedValue, (index, permission) => {
                    this.mutatedValue[permission] = state;
                });
            }
        },
        inheritState(moduleName, modulePermissions) {
            _.forEach(modulePermissions, (translationKey, key) => {
                this.mutatedValue[`${moduleName}.${key}`] = this.currentRolePermissions[`${moduleName}.${key}`];
            });
        },
        fetchPermissions() {
            this.pushAxiosGet(route('api.backend.permissions.index'), (response) => {
                this.allPermissions = response.permissions;
            });
        },
        fetchCurrentPermissions() {
            this.mutatedValue = this.value ? _.clone(this.value) : _.clone(this.currentRolePermissions);
        },
        validatePermissions(moduleName, modulePermissions) {
            for (let permission in modulePermissions) {
                if (this.currentRolePermissions[`${moduleName}.${permission}`] !== this.mutatedValue[`${moduleName}.${permission}`]) {
                    this.disableAll = false;

                    return false;
                }
            }

            return true;
        }
    },
    watch: {
        mutatedValue: {
            immediate: true,
            deep: true,
            handler: function (value) {
                this.disableAll = true;

                if (_.isEqual(this.currentRolePermissions, value)) {
                    this.$emit('input', null)
                } else {
                    this.$emit('input', value)
                }
            },
        },
    },
    created: function() {
        this.fetchPermissions();
    },
    mounted: function() {
        this.fetchCurrentPermissions();
    }
};
</script>

<style>
</style>
