<template>

    <fetch-paginator :data="data"
                     :update="update"
                     @updated="makeUpdate"
                     @clearFilter="clearFilter">

        <div slot-scope="{ response }" class="w-full">

            <div class="data-sub-table">

                <div class="table_actions w-full flex">

                    <!-- Buttons -->
                    <vuetable-buttons @update-needed="update = true"
                                      v-if="response"
                                      v-model="response.data"
                                      :data="data"
                                      @goBack="goBack"
                                      :meta="meta">
                    </vuetable-buttons>

                    <div v-else class="left flex flex-row">
                        <button class="button black icon-btn-text disabled"></button>
                        <button class="button black icon-btn-text disabled"></button>
                        <button class="button black icon-btn-text disabled"></button>
                    </div>

                    <div class="right flex flex-row">

                        <!-- Search -->
                        <search-bar-element @search-set="filter"
                                            @search-reset="$set(data, 'filter', '')"
                                            :filter="data.filter">
                        </search-bar-element>

                        <!-- Change per_page count -->
                        <input :value="data.per_page"
                                @keyup.enter="data.per_page = $refs.perPager.value"
                                ref="perPager" type="text"
                                class="button black page_count">

                    </div>
                </div>

                <!-- Vuetable Table -->
                <vuetable v-model="response"
                          v-if="response"
                          ref="vuetable"
                          @sort="sort"
                          @update-needed="update = true"
                          :data="data">
                </vuetable>

                <div v-else class="table-wrapper w-full">
                    <table cellspacing="0" cellpadding="0" border="0" class="table-flex w-full">
                        <thead><tr><th></th></tr></thead>
                        <tbody><tr><td :style="'height: ' + tableHeight"></td></tr></tbody>
                    </table>
                </div>

                <!-- Vuetable Pagination With Info -->
                <div class="vuetable-pagination pb-8">

                    <vuetable-pagination :meta="meta"
                                         ref="pagination"
                                         @vuetable-pagination:change-page="onChangePage">
                    </vuetable-pagination>

                </div>

            </div>

        </div>

    </fetch-paginator>

</template>

<script>
import tableHelper from '@/mixins/tableHelper'
import Vuetable from './table/vuetable'
import VuetablePagination from './table/pagination'
import VuetableButtons from './table/buttons'
import searchBarElement from './elements/search-bar-element'
import FetchPaginator from './table/renderless/fetch-paginator'
import { generateTitle } from '@/utils/i18n'

export default {
    props: {
        alwaysShow: {
            default: false,
            type: Boolean
        }
    },
    mixins: [tableHelper],
    components: {
        'vuetable': Vuetable,
        'vuetable-pagination': VuetablePagination,
        'vuetable-buttons': VuetableButtons,
        'search-bar-element': searchBarElement,
        'fetch-paginator': FetchPaginator
    },
    data() {
        return {
            update: false,
            data: {
                sort: '',
                filter: '',
                per_page: 10,
                page: 1
            },
            response: {},
            tableHeight: ''
        }
    },
    methods: {
        generateTitle,
        sort(params) {
            this.data.sort = params;
        },
        filter(word) {
            this.tableHeight = this.$refs.vuetable.$el.getBoundingClientRect().height - 50 + 'px';

            if (word !== undefined) {
                this.data.filter = word;
            } else {
                this.data.filter = '';
            }
        },
        clearFilter() {
            this.data = Object.assign(this.data, {}, {
                sort: '',
                filter: '',
                per_page: 10,
                page: 1
            });
        },
        onPaginationData(paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
        },
        onChangePage(page) {
            page = page !== undefined ? page : 1;

            this.$set(this.data, 'page', page);
            this.update = page == 1 ? true : false;
        },
        changePage(id) {
            try {
                if (!id) {
                    let name = this.$route.name.replace(new RegExp('\.show$'), '');
                    this.$router.push({name});
                } else {
                    let name = this.$route.name.replace(new RegExp('\.show$'), '') + '.show';
                    this.$router.push({ name, params: { ident: id } });
                }

                this.$events.fire('changed-page', id);
            } catch (error) {
                console.error('Change page - ' + error);
            }
        },
        goBack() {
            if (this.response.meta.breadcrumbs) {
                this.$router.push(this.response.meta.breadcrumbs[this.response.meta.breadcrumbs.length - 2].link);
            }
        },
        makeUpdate(response) {
            this.update = false;
            this.response = Object.assign({}, this.response, response);

            if (this.$route.params.ident !== undefined && parseInt(this.$route.params.ident) > 0) {
                this.$emit('getMoreTables', response.meta.has_tables.inner_tables || []);
            } else {
                this.$emit('getMoreTables', response.meta.has_tables.outer_tables || []);
            }
        },
        show(nested) {
            return this.alwaysShow || !(this.$route.name.endsWith('.show') && !nested);
        },
    },
    mounted() {
        if (this.$route.params.currentPage !== undefined) {
            this.data.page = this.$route.params.currentPage;
        }

        if (this.$route.params.per_page !== undefined) {
            this.data.per_page = this.$route.params.per_page;
        }
    },
    computed: {
        meta() {
            return this.response.meta || {};
        },
    },
    watch: {
        value: {
            immediate: true,
            handler(to, from) {
                this.update = to;
            }
        },
        meta: {
            immediate: true,
            handler(to, from) {
                if (to.additions !== undefined && to.additions.tab !== undefined) {
                    this.$emit('changeTab', to.additions.tab);
                }
            }
        }
    },
    events: {
        goBack() {
            this.goBack;
        },
        'update-needed'() {
            this.update = true;
        }
    },
};
</script>

<style>
</style>
