<template>

    <fetch-paginator :data="data"
                     :update="update"
                     @updated="updated"
                     :sub="true"
                     :table="table"
                     @clearFilter="clearFilter">

        <div slot-scope="{ response }" class="w-full">

            <transition name="slide-fade">
                <div class="data-sub-table">

                    <h2 v-if="response">{{generateTitle(response.meta.backend_path_name.replace('_',' '))}}</h2>
                    <h2 v-else>....</h2>

                    <div class="table_actions w-full flex">

                        <!-- Buttons -->
                        <vuetable-buttons v-model="response.data"
                                          v-if="response"
                                          :subTable="true"
                                          :data="data"
                                          :meta="response.meta"
                                          @update-needed="update = true">
                        </vuetable-buttons>

                        <div v-else class="left flex flex-row w-full">
                            <button class="button black icon-btn-text disabled"></button>
                            <button class="button black icon-btn-text disabled"></button>
                            <button class="button black icon-btn-text disabled"></button>
                        </div>

                        <div class="right flex flex-row">
                            <!-- Search -->
                            <search-bar-element @search-set="filter"
                                                @search-reset="data.filter = ''"
                                                :filter="data.filter">
                            </search-bar-element>

                            <!-- Change per_page count -->
                            <input type="text"
                                   :value="data.per_page"
                                   @keyup.enter="data.per_page = $refs.perPager.value"
                                   ref="perPager"
                                   class="button black page_count">
                        </div>

                    </div>

                    <!-- Vuetable Table -->
                    <vuetable v-model="response"
                              v-if="response"
                              ref="vuetable"
                              @sort="sort"
                              @update-needed="update = true"
                              :data="data"
                              :sub="true">
                    </vuetable>

                    <div v-else class="table-wrapper w-full">
                        <table cellspacing="0" cellpadding="0" border="0" class="table-flex w-full">
                            <thead><tr><th></th></tr></thead>
                            <tbody><tr><td :style="'height: ' + tableHeight"></td></tr></tbody>
                        </table>
                    </div>

                    <!-- Vuetable Pagination With Info -->
                    <div class="vuetable-pagination pb-8">

                        <vuetable-pagination v-if="response"
                                             :meta="response.meta"
                                             ref="pagination"
                                             @vuetable-pagination:change-page="onChangePage">
                        </vuetable-pagination>

                    </div>

                </div>
            </transition>

        </div>

    </fetch-paginator>

</template>

<script>
import Vuetable from './table/vuetable'
import VuetablePagination from './table/pagination'
import VuetableButtons from './table/buttons'
import searchBarElement from './elements/search-bar-element'
import FetchPaginator from './table/renderless/fetch-paginator'
import { generateTitle } from '@/utils/i18n'

export default {
    components: {
        'vuetable': Vuetable,
        'vuetable-pagination': VuetablePagination,
        'vuetable-buttons': VuetableButtons,
        'search-bar-element': searchBarElement,
        'fetch-paginator': FetchPaginator
    },
    props: {
        table: {
            required: true
        }
    },
    data() {
        return {
            update: false,
            tableHeight: '',
            data: {
                sort: '',
                filter: '',
                per_page: 10,
                page: 1
            }
        }
    },
    methods: {
        generateTitle,
        sort(params) {
            if (params.field !== undefined) {
                this.data.sort = params.field + '|' + params.direction;
            } else {
                this.data.sort = '';
            }

        },
        filter(word) {
            this.tableHeight = this.$refs.vuetable.$el.getBoundingClientRect().height - 50 + 'px';

            if (typeof word !== 'undefined') {
                this.data.filter = word;
            } else {
                this.data.filter = '';
            }
        },
        clearFilter() {
            this.data = Object.assign(this.data, {}, {
                sort: '',
                filter: '',
                per_page: 10,
                page: 1
            });
        },
        onChangePage(page) {
            if (page !== undefined) {
                this.data.page = page;
            } else {
                this.data.page = 1;
            }
        },
        changePage(id) {
            try {
                if (!id) {
                    let name = this.$route.name.replace(new RegExp('\.show$'), '');

                    this.$router.push({name});
                } else {
                    let name = this.$route.name.replace(new RegExp('\.show$'), '') + '.show';

                    this.$router.push({ name, params: { ident: id } });
                }

                this.$events.fire('changed-page', id);
            } catch (error) {
                console.error('Change page - ' + error);
            }
        },
        updated(update) {
            this.update = false;
            this.$emit('uploaded', true);
        }
    },
    computed: {
        meta() {
            return this.response.meta || {};
        }
    },
    watch: {
        table() {
            this.update = true;
            this.$emit('uploded', false);
        }
    },
    events: {
        'update-needed'() {
            this.update = true;
        }
    }
};
</script>

<style>
</style>
