<template>

    <div class="w-full">

        <div class="table_actions w-full flex">

            <!-- Buttons -->
            <vuetable-buttons v-model="checkedItems"
                              :subTable="subTable"
                              :buttonOptions="table.buttonOptions"
                              :apiName="table.apiName">
            </vuetable-buttons>

            <!-- Search -->
            <div class="right flex flex-row">
                <search-bar-element @search-reset="resetSearch"
                                    @search-set="setSearch">
                </search-bar-element>
            </div>

        </div>

        <!-- Vuetable Table -->
        <vuetable ref="vuetable"
                  :api-route="this.apiRouteNew"
                  :apiName="this.table.apiName"
                  :http-options="httpOptions"
                  :fields="this.table.columns"
                  :transRoute="this.table.transRoute"
                  :sort-order="this.table.sortOrder"
                  :multi-sort="true"
                  :row-class="this.onRowClass"
                  :append-params="moreParams"
                  :subTable="subTable || false"
                  :initialPage="initialPage"
                  pagination-path="meta"
                  @vuetable:pagination-data="onPaginationData"
                  @vuetable:cell-clicked="clickCell"
                  @vuetable:checkbox-toggled="checks"
                  @vuetable:parent-id-updated="changeGrandParent"
                  @vuetable:parent-route-updated="changeParentRoute">
        </vuetable>

        <!-- Vuetable Pagination With Info -->
        <div class="vuetable-pagination pb-8">

            <vuetable-pagination ref="pagination"
                                 @vuetable-pagination:change-page="onChangePage">
            </vuetable-pagination>

        </div>

    </div>

</template>

<script>
import tableHelper from '@/mixins/tableHelper'
import Vuetable from './table-origin/vuetable'
import VuetablePagination from './table-origin/pagination'
import VuetableButtons from './table-origin/buttons'
import searchBarElement from './table-origin/search-bar-element'

export default {
    components: {
        'vuetable': Vuetable,
        'vuetable-pagination': VuetablePagination,
        'vuetable-buttons': VuetableButtons,
        'search-bar-element': searchBarElement
    },
    mixins: [tableHelper],
    props: {
        table: {
            type: Object
        },
        subTable: {
            type: Boolean
        }
    },
    data() {
        return {
            httpOptions: {
                headers: {
                    Authorization: this.getApiToken()
                }
            },
            moreParams: {},
            showCheckboxButton: false,
            isChecked: false,
            checkedItems: [],
            apiRouteNew: this.table.apiRoute,
            grandParentId: 0,
            filterSet: false,
            initialPage: 1,
            parent_route: false,
        }
    },
    methods: {
        allcap(value) {
            return value.toUpperCase()
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page)
        },
        onPaginationData(paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
        },
        formatDate(value, fmt) {
            return this.formatDateTime(value, fmt)
        },
        formatDateWithColor(value, fmt) {
            return this.formatDateTime(value, fmt, true)
        },

        /**
         *  tableHelper
         */
        checks(checkedItems) {
            this.checkedItems = checkedItems;
        },
        checkOnline(data, event) {
            this.$events.fire(event, data, 1)
        },
        checkOffline(data, event) {
            this.$events.fire(event, data, 0)
        },
        toFolder(value, item) {
            value = value ? value : '';

            if (item && item.children_count) {
                return `<span class="pointer folder link">
                            <svg class="folder" style="color: #231f20;">
                                <use class="folder_1" xlink:href="#folder_1"></use>
                                <use class="folder_2" xlink:href="#folder_2"></use>
                                <text x="8" y="12">${item.children_count}</text>
                            </svg>
                            ${value}
                        </span>`;
            }

            return `<span class="pointer link"> ${value}</span>`;

        },
        toImage(value, item) {
            return !value ? '' : `<a href="/storage/origin${value || ''}"><img src="/storage/i/backend-table-image${value || ''}" class="table-image"></a>`;
        },
        toIcon(value, item) {
            return !value ? '' : `<img src="/storage${value || ''}" class="table-icon">`;
        },
        placeComment(value, column, item) {
            return `<p>${value || ''}<i class='table-comment'>${item[column] || ''}</i></p>`;
        },
        changePage(id) {
            try {
                this.$events.fire('search-bar-element-reset')

                let routeName = this.$route.name.split('.').slice(0, 3).join('.');

                if (typeof this.table.apiName !== 'undefined' && this.table.apiName) {
                    routeName = this.table.apiName;
                }

                this.apiRouteNew = route(routeName, {
                    pageId: id
                });

                if (id === 0) {
                    this.$router.push({
                        name: routeName
                    });
                } else {
                    routeName = routeName.match(/\.show$/) ? routeName : routeName + '.show';
                    this.$router.push({
                        name: routeName,
                        params: {
                            id: id
                        }
                    });
                }

                this.$events.fire('changed-page', id);
            } catch (error) {
                console.error('Change page - ' + error);
            }
        },
        clickCell(item, field) {
            if (field.canGoNextPage) {
                if (typeof field.canGoNextPage === 'boolean') {
                    this.changePage(item.id);
                } else if (typeof field.canGoNextPage === 'object') {
                    this.$events.fire('search-bar-element-reset');
                    this.$router.push({
                        name: field.canGoNextPage.route,
                        params: {
                            masterId: parseInt(field.canGoNextPage.masterId),
                            id: item.id
                        }
                    });
                } else {
                    this.$events.fire('search-bar-element-reset');
                    this.apiRouteNew = route(field.canGoNextPage, {
                        id: item.id
                    });
                    this.$router.push({
                        name: field.canGoNextPage,
                        params: {
                            id: item.id
                        }
                    });
                }
            } else if (field.canCopy) {
                if (typeof field.canCopy === 'boolean') {
                    this.$copyText(item[field.name]).then(e => {
                        this.$notify.success({
                            title: 'Success!',
                            message: 'Поле скопировано',
                            offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                        });
                    }, e => {
                        this.$notify.error({
                            title: 'Error!',
                            message: 'Неудачное копирование',
                            offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                        });
                    })
                }
            }
        },
        changeGrandParent(parent_id) {
            this.grandParentId = parent_id;
        },
        changeParentRoute(route) {
            this.parent_route = route;
        },
        resetSearch() {
            this.moreParams = {};

            if (this.filterSet) {
                Vue.nextTick(() => this.$refs.vuetable.refresh())
            }

            this.filterSet = false;
        },
        setSearch(filterText) {
            this.moreParams = {
                filter: filterText
            };

            this.filterSet = true;

            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
    },
    events: {
        'toggleField'(items, position, params) {
            this.pushAxiosPut(params.url, {
                position,
                items,
                field: params.field
            }, (response) => {
                if (response.errors) {
                    this.notify(response);
                } else {
                    let index = this.table.fields.findIndex(field => field.name === '__component:status-element');

                    this.table.fields[index].feed = response;
                }
            });
        },
        'goBack'() {
            if (!this.subTable) {
                if (this.parent_route) {
                    this.$router.push(this.parent_route);
                } else {
                    this.changePage(this.grandParentId);
                }
            }
        }
    },
    mounted() {
        this.parent_id = this.$route.params.id;
        this.initialPage = this.$route.params.currentPage || 1;
    },
    watch: {
        'table.apiRoute'(newVal, oldVal) {
            this.apiRouteNew = newVal;
        }
    }
};
</script>
<style>

</style>

