<template>
    <div class="container mx-auto">

        <!-- Form -->
        <el-form ref="form"
            :model="categoryData"
            label-width="120px"
            label-position="top"
            v-loading.body="loading">

            <!-- Tabs -->
            <el-tabs v-model="activeTab" type="border-card">

                <!-- Tab For Each Language -->
                <el-tab-pane :label="localeArray.name"
                                v-for="(localeArray, locale) in locales"
                                :key="localeArray.name"
                                :name="locale">

                    <el-form-item label="Title">
                        <el-input placeholder="Title" v-model="categoryData[locale].title" v-on:keyup.native="generateSlug"></el-input>
                        <div class="el-form-item__error"
                            v-if="form.errors.has(locale + '.title')"
                            v-text="form.errors.first(locale + '.title')">
                        </div>
                    </el-form-item>

                </el-tab-pane>

                <el-form-item label="Slug">
                    <el-input placeholder="Slug" v-model="categoryData.slug"></el-input>
                    <div class="el-form-item__error"
                        v-if="form.errors.has('slug')"
                        v-text="form.errors.first('slug')">
                    </div>
                </el-form-item>

                <!-- <el-form-item label="Status">
                    <el-checkbox v-model="categoryData.status">Activated</el-checkbox>
                </el-form-item> -->

            </el-tabs>

            <!-- Buttons -->
            <el-form-item class="text-center px-4 py-2 m-2">
                <el-button type="primary" v-on:click="onSubmit">Save</el-button>
                <el-button v-on:click="onCancel">Cancel</el-button>
            </el-form-item>

        </el-form>

    </div>
</template>

<script>
    import helpers from '../../../services/helpers'
    import Form from 'form-backend-validation'

    export default {
        props: {
            locales: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                categoryData: _(this.locales)
                    .keys()
                    .map(locale => [locale, {
                        title: ''
                    }])
                    .fromPairs()
                    .value(),
                form: new Form(),
                loading: false,
                activeTab: helpers.appStorage().currentDefaultLocale || 'en',
            }
        },
        methods: {
            onSubmit() {
                this.form = new Form(this.categoryData);
                this.loading = true;

                this.form.post(this.getRoute())
                    .then((response) => {
                        this.loading = false;

                        this.$message({
                            type: 'success',
                            message: response.message,
                            center: true
                        });

                        this.pushRoute('api.backend.articles.categories');
                    })
                    .catch((error) => {
                        console.log('Error - ' + error);

                        this.loading = false;
                        this.$message.error('Oops, this is a error!');
                    });
            },
            onCancel() {
                this.pushRoute('api.backend.articles.categories');
            },
            generateSlug() {
                this.categoryData.slug = this.slugify(this.categoryData[helpers.appStorage().currentDefaultLocale].title);
            },
            fetchCategory() {
                this.loading = true;

                this.pushAxiosGet(route('api.backend.articles.categories.find', this.$route.params.id), (response) => {
                    this.loading = false;
                    this.categoryData = response.data;
                });
            },
            getRoute() {
                if (this.$route.params.id !== undefined) {
                    return route('api.backend.articles.categories.update', { category: this.$route.params.id, data: this.categoryData });
                }

                return route('api.backend.articles.categories.store');
            }
        },
        mounted: function() {
            if (this.$route.params.id !== undefined) {
                this.fetchCategory();
            }
        }
    }
</script>

<style>
</style>
