
.order-inner{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.order-inner button.button.icon-btn-text{
    font-size: 14px;
    justify-content: flex-start;
}
.order-inner .find-products-wrapper button.button.icon-btn-text{
    justify-content: center;
    text-align: center;
}
.order-inner button.button.icon-btn-text svg{
    margin-right: 10px;
}
.order-inner .left .button{
    margin-left: 10px;
}
.order-inner .left{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.order-inner-table{
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.order-inner-table>table{
    background: #ffffff;
    margin-top: 20px;
}
.add-order-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-order-user .button.black{
    min-width: 1px;
}
label.digits input.el-input__inner::placeholder{
    color: #000000;
    opacity: 1;
}
label.digits input.el-input__inner::-webkit-input-placeholder{
    color: #000000;
    opacity: 1;
}
@media (max-width: 500px) {

    .order-inner .left{
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
    .order-inner{
        flex-flow: column wrap;
    }
    .order-inner .find-products{
        margin: 3px 0 0 0;
    }
    .order-inner .find-products button{
        width: 100%;
    }
}