
.table-version-products{}
.table-version-products .percents {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-version-products .percents input{
    width: 35px;
}

table.table-version-products .el-select .el-input input{
    background: rgba(255,255,255,0);
    padding-top: 0;
    padding-bottom: 0;
}

table.table-version-products .digits.el-input input{
    background: rgba(255,255,255,0);
    text-align: center;
    padding: 0;
}
.table-version-products th:last-child,
.table-version-products td:last-child{
    width: 80px;
    text-align: center;
}
table.table-version-products td:not(.select-params):not(:last-child){
    min-width: 120px;
}
td.select-params{
    width: 35%;
    min-width: 250px;
}
td.select-params .el-select{
    width: 100%;
}
table.table-version-products td.has-errors input{
    border: 1px solid #ef6089!important;
}
table.table-version-products td.has-errors input::-webkit-input-placeholder{
    color: #ef6089;
}
table.table-version-products td.has-errors input::-ms-input-placeholder{
    color: #ef6089;
}
table.table-version-products td.has-errors input:-ms-input-placeholder{
    color: #ef6089;
}
table.table-version-products td.has-errors input::-moz-placeholder{
    color: #ef6089;
}
table.table-version-products td.has-errors input:-moz-placeholder{
    color: #ef6089;
}

.table-version-products th:first-child,
.table-version-products td:first-child{
    width: 75px;
}

table.table-version-products tr.el-table__row td .el-input input{
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

table.table-version-products tr.el-table__row:hover td .el-input input{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
table.table-version-products tr.el-table__row:hover td .el-input input:focus{
    border-color: #ef6089;
}
p.discount-text{
    font-size: 24px;
    color: #ee5e88;
}

.table-version-products label.digits input{
    user-select: none;
}
.product-versions{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.product-versions .table-wrapper{
    margin-top: 0;
    transition: margin-top .2s linear;
}
.product-versions p.discount-text~.table-wrapper{
    margin-top: 25px;
}