

.actions-element{
    justify-content: flex-end;
    flex-flow: row nowrap;
}

.single-button{
    justify-content: center;
}

.single-button .button-icon {
    padding: 0;
}

.single-button .button-icon svg{
    width: 30px;
    height: 30px;
}