
label.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
label.checkbox input[type='checkbox']{
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* appearance: none; */
    visibility: hidden;
}
label.checkbox span{
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 1px #231F20 inset;
    display: block;
    position: relative;
    cursor: pointer;
}
label.checkbox span:before{
    content: '';
    position: absolute;
    transform: scale(0);
    width: 7px;
    height: 7px;
    top: 4px;
    left: 4px;
    transition: all .2s linear;
}

label.checkbox.checked input+span:before,
label.checkbox input:checked+span:before{
    background: #ef6089;
    transform: scale(1);
    transition: all .1s cubic-bezier(0, 0, 0.37, 2.16);
}