

.modal-table-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.modal-table-image .modal-content{
    padding: 0;
    display: flex;
    align-items: center;
}

.modal-table-image img {
    max-width: 90vw;
    max-height: 85vh;
    object-fit: contain;
    width: auto;
    height: auto;
}