<template>
    <div class="robots" v-loading.body="loading">

        <h3>{{trans('seo_table.robots')}}</h3>

        <label>
            <textarea ref="textarea" name="robots" rows="4" :style="'height: ' + autoHeight" v-model="formData.file"></textarea>
        </label>

        <!-- Buttons -->
        <div class="btn-wrap edit-bottom">
            <button v-html="generateSvg('save-icon', trans('core_form.buttons.save'))"
                    type="button"
                    v-on:click="onSubmit"
                    class="button pink icon-btn-text"
                    :loading="loading">
            </button>
        </div>

    </div>
</template>

<script>
import Form from "form-backend-validation"

export default {
    data() {
        return {
            formData: {},
            autoHeight: '',
            loading: false
        }
    },
    methods: {
        fetchData() {
            this.loading = true;

            this.pushAxiosGet(route('api.backend.seo_robots.getRobots'), (response) => {
                this.formData = response;
                this.loading = false;
                setTimeout(() => {
                    this.$refs.textarea.style.height = "auto";
                    this.$refs.textarea.style.height = (this.$refs.textarea.scrollHeight)+"px";
                }, 150)
            });
        },
        onSubmit() {
            this.loading = true;

            this.form = new Form(this.formData);
            this.form.post(route('api.backend.seo_robots.postRobots'))
                .then((response) => {
                    this.loading = false;

                    this.notify(response);
                })
        }
    },
    watch: {
        'formData.file'() {
            this.$refs.textarea.style.height = "auto";
            this.$refs.textarea.style.height = (this.$refs.textarea.scrollHeight)+"px";
        }
    },
    mounted: function() {
        this.fetchData();
    }
};
</script>

<style>
</style>
