.gallery-edit {
    align-items: center;
}

.gallery-container .img-sizes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 20px 0;
}

.gallery-container .gallery-info-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: relative;
    margin-top: 10px;
}

.gallery-container .gallery-info-bottom .el-switch {
    display: flex;
    align-self: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 50;
}

.gallery-container .gallery-info-bottom button {
    width: 20px;
    height: 20px;
    transition: opacity 0.15s linear;
}

.gallery-container .gallery-info-bottom button.edit svg,
.gallery-container .gallery-info-bottom button.edit {
    width: 18px
}

.gallery-container .gallery-info-bottom button + button {
    margin-left: 10px;
}

.gallery-container .gallery-info-bottom button svg {
    width: 100%;
    height: 100%;
}

.gallery-container .gallery-info {
    position: relative;
    width: 100%;
    padding: 10px 10px 15px 10px;
    cursor: move;
}

.gallery-container .gallery-item {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 0 1px #e6e7e8;
    overflow: hidden;
    transition: box-shadow .2s linear;
}

.gallery-container .gallery-item.select .font-12 {
    font-weight: bold;
}

.gallery-container .gallery-item.select:hover,
.gallery-container .gallery-item.select {
    box-shadow: 0 0 0 1px rgba(239, 96, 137, 1);
}

.gallery-container .gallery-item img {
    object-fit: cover;
    height: 10vw;
    width: 100%;
    cursor: zoom-in;
    transition: all .2s linear;
    transform-origin: bottom;
}

.gallery-container .gallery-item:hover {
    box-shadow: 0 0 0 1px #ef6089;
}

.gallery-container .gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-container .inner-items {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    background: #fff;
    padding: 5px;
    z-index: 2;
}

.gallery-container .item-preview {
    display: flex;
    width: 25%;
    flex-flow: row wrap;
    background: #fff;
    padding: 10px 10px 10px 0;
    z-index: 2;
}

.gallery-container .item-preview img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.gallery-container .item-preview img.height {
    height: 12vw;
}

.gallery-container .item-preview form {
    width: 100%;
    padding: 0 10px 10px 10px;
    box-shadow: 0 0 0 1px #e6e7e8 inset;
}

.gallery-container .item-preview form {
    width: 100%;
}

.gallery-container .item-preview form label {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

.gallery-container .item-preview form label span {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.gallery-container .item-preview form label input {
    line-height: 2;
    font-size: 14px;
    -webkit-appearance: none;
    width: 100%;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: padding-left .2s linear;
    outline: 0;
}

.gallery-container .el-tabs__header {
    margin: 20px 0;
}

.gallery-container .item-preview form div > label textarea {
    line-height: 2;
    font-size: 14px;
    -webkit-appearance: none;
    width: 100%;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    padding: 0;
    resize: none;
}

.gallery-container .item-preview form > p {
    display: flex;
    justify-content: space-between;
}

.gallery-container .item-preview form > p > a[target="_blank"] {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(0, 143, 208);
}

.gallery-container .item-preview form > p + p {
    margin-top: 10px;
}

.gallery-container .item-preview form > p:first-of-type > span:first-child {
    min-width: 125px;
}

.gallery-container .item-preview form > p > span {
    font-size: 14px;
}

.gallery-container {
    width: 100%;
}

.gallery-container .table_actions.left {
    justify-content: flex-start;
}

#custom-dropzone-upload {
    background-color: transparent;
    color: #777;
    transition: background-color .2s linear;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    min-height: 1px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed #231f20;
    border-radius: 15px;
}

.gallery-container .cursor-move {
    cursor: move;
}

.gallery-container .gallery-inner {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin-top: 30px;
    padding: 100px 0 0 0;
    align-items: flex-start;
}

.gallery-container .gallery-inner:after {
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 0;
}

.gallery-modal {
    width: 40%;
    min-width: 700px;
}

.gallery-modal .close-modal {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.close-modal svg {
    width: 100%;
    height: 100%;
}

.gallery-wrapper .gallery-info [class*='font'] {
    color: #000000;
}

.gallery-wrapper .gallery-info > p {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity .3s linear;
}

.gallery-info > p.bold span {
    font-weight: normal;
    font-size: 14px;
}

.gallery-wrapper .gallery-preview {
    display: flex;
    width: 100%;
}

.gallery-wrapper .gallery-preview img {
    width: 100%;
    object-fit: cover;
    height: 180px;
    transition: all .3s linear;
}

.gallery-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    padding: 0 10px;
    margin-top: 30px;
}

.gallery-wrapper .gallery-item {
    box-shadow: 0 0 0 1px #e6e7e8;
    margin: 10px 0;
    transition: box-shadow .3s linear;
    display: flex;
    flex-flow: row wrap;
}

.gallery-footer {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.gallery-footer .right {
    display: flex;
    flex-flow: row wrap;
}

.gallery-footer .icon-btn {
    display: flex;
    align-items: center;
}

.gallery-footer .icon-btn + .icon-btn {
    margin-left: 10px;
}

.gallery-footer .icon-btn svg.eye {
    width: 25px;
    height: 25px;
}

.gallery-footer .icon-btn svg {
    width: 20px;
    height: 20px;
    color: #000;
}

@media (min-width: 801px) {
    .gallery-wrapper .gallery-item {
        width: calc(33% - 8px);
    }

    .gallery-wrapper .gallery-item + .gallery-item {
        margin-left: 10px;
    }

    .gallery-wrapper .gallery-item:nth-child(4n+4) {
        margin-left: 0;
    }
}

@media (min-width: 1101px) {
    .gallery-wrapper .gallery-item {
        width: calc(25% - 8px);
    }

    .gallery-wrapper .gallery-item + .gallery-item {
        margin-left: 10px;
    }

    .gallery-wrapper .gallery-item:nth-child(5n+5) {
        margin-left: 0;
    }
}

@media (min-width: 1301px) {
    .gallery-wrapper .gallery-item {
        width: calc(20% - 8px);
    }

    .gallery-wrapper .gallery-item + .gallery-item {
        margin-left: 10px;
    }

    .gallery-wrapper .gallery-item:nth-child(5n+6) {
        margin-left: 0;
    }
}

@media (max-width: 1100px) {
    .gallery-container .gallery-inner:after {
        top: 0;
    }

    .gallery-container .gallery-inner {
        padding-top: 0;
        margin-top: 20px;
    }

    #custom-dropzone-upload {
        display: none;
    }
}

.gallery-wrapper .gallery-info {
    padding: 15px 15px 60px 15px;
    font-size: 14px;
    width: 100%;
    height: calc(100% - 180px);
    position: relative;
}

@media (max-width: 1000px) {

    .gallery-container .inner-items {
        width: 100%;
    }

    .gallery-container .item-preview {
        display: none;
    }

    .gallery-container .gallery-edit .item-preview {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .gallery-container .gallery-edit .item-preview form {
        padding: 0 10px 10px 10px;
    }

    .gallery-container .item-preview img.height {
        height: auto;
    }
}

@media (max-width: 800px) {

    .gallery-container .item-preview form > p:first-of-type > span:first-child {
        min-width: 80px;
    }

    .gallery-wrapper {
        justify-content: space-between;
        padding: 5px 10px;
    }

    .gallery-wrapper .gallery-info {
        height: calc(100% - 220px);
    }

    .gallery-wrapper .gallery-preview img {
        height: 220px;
    }

    .gallery-wrapper .gallery-item {
        width: calc(50% - 5px);
        margin: 5px 0;
    }

    .gallery-modal {
        min-width: 1px;
        width: calc(100% - 20px);
    }

    .gallery-modal .button.icon-btn-text[type="submit"] {
        min-width: 120px;
    }

    .gallery-modal .button.icon-btn-text svg {
        margin-right: 10px;
    }

    .gallery-modal > p {
        padding: 0 20px;
    }
}

@media (max-width: 600px) {
    .gallery-wrapper .gallery-item {
        width: 100%;
    }

    .gallery-wrapper .gallery-info {
        height: auto;
    }

    .gallery-wrapper .gallery-preview img {
        height: 40vh;
        min-height: 200px;
    }
}
