
.inner-edit.gallery-edit {
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}

.inner-edit .gallery-modal {
    background: #ffffff;
    margin: auto;
    position: relative;
    max-width: 100%;
}

.inner-edit .gallery-modal > p {
    text-align: center;
}






@media (min-width: 0px) {
    .gallery-container .gallery-item{
        width: 100%;
        margin: 5px;
    }
}

@media (min-width: 0px) and (max-width: 1400px){
    .gallery-container .gallery-item img{
        min-height: 190px;
        max-height: 250px;
        height: 30vh;
    }
}

@media (min-width: 451px){
    .gallery-container .gallery-item{
        width: calc(50% - 10px);
    }
}

@media (min-width: 701px){
    .gallery-container .gallery-item{
        width: calc(33.333333% - 10px);
    }
}

@media (min-width: 1001px) {
    .gallery-container .gallery-info-bottom button.edit{
        display: none;
    }
    .inner-edit.gallery-edit{
        display: none;
    }
}

@media (min-width: 1201px){
    .gallery-container .gallery-item{
        width: calc(33.333333% - 10px);
    }
}

@media (min-width: 1401px){
    .gallery-container .gallery-item{
        width: calc(25% - 10px);
    }
    .gallery-container .gallery-item img{
        min-height: 170px;
    }
}



@media (max-width: 1000px) {

    .inner-edit .gallery-modal {
        width: 70%;
        max-height: 80%;
        overflow: auto;
    }
}

@media (max-width: 600px) {

    .inner-edit .gallery-modal {
        width: calc(100% - 20px);
    }

}
