
.full-photo{
    padding-top: 3%;
    align-items: center;
}

.full-photo-overlay-content{
    display: flex;
    position: relative;
    padding: 0;
}
.full-photo-overlay-embed{
    display: block;
    margin: auto;
}
.full-photo-overlay-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
.full-photo-overlay-container img{
    max-height: 80vh;
    max-width: 90vw;
    object-fit: contain;
}
.full-photo-overlay-description{
    display: block;
    padding-top: 1rem;
    text-align: center;
    color: #fff;
}
.full-photo-overlay-close-button{
    background: #323c41;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .25s ease-out;
    outline: none;
    z-index: 50;
}
.full-photo-overlay-close-button:after{
    content: '';
    position: absolute;
    top: -30%;
    bottom: -30%;
    left: -30%;
    right: -30%;
}
.full-photo-overlay-close-button .icon{
    color: #fff;
    cursor: pointer;
    height: 1rem;
    left: .7rem;
    margin: 50% 50% 0 0;
    position: absolute;
    right: 0;
    top: -.5rem;
    transition: .25s ease;
    width: 1rem;
}
.full-photo-overlay-close-button .icon::before{
    transform: rotate(-45deg);
    background: #fff;
    content: "";
    height: 2px;
    left: 5%;
    position: absolute;
    top: 50%;
    transition: .25s ease;
    width: 100%;
}
.full-photo-overlay-close-button .icon::after{
    transform: rotate(45deg);
    background: #fff;
    content: "";
    height: 2px;
    left: 5%;
    position: absolute;
    top: 50%;
    transition: .25s ease;
    width: 100%;
}
.full-photo-overlay-arrow-buttons .arrow{
    border:none;
    outline: none;
    cursor: pointer;
    width: 5%;
    height: 100%;
    position: absolute;
    transform: rotate(0deg);
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.arrow.arrow-previous{
    left: 0;
}
.arrow.arrow-previous:before{
    content: '';
    top: 50%;
    transform: rotate(-45deg);
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 30px;
    height: 30px;
    display: block;
}
.arrow.arrow-next{
    right: 0;
}
.arrow.arrow-next:before{
    content: '';
    top: 50%;
    transform: rotate(135deg);
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 30px;
    height: 30px;
    display: block;
}
@media (max-width: 1200px) {
    .arrow.arrow-next:before{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    .arrow.arrow-previous:before{
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
    .full-photo-overlay-arrow-buttons .arrow{
        height: 60px;
        width: 60px;
        margin: auto;
        bottom: 0;
    }
}
@media (max-width: 600px) {
    .arrow.arrow-next:before,
    .arrow.arrow-previous:before{
        width: 18px;
        height: 18px;
        margin: 0;
    }
}