<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))"
                    class="checkbox-wrap el-form-item">

        <el-checkbox v-model="mutatedValue">{{ ucfirst(transObject(parameters.hint || field)) }}</el-checkbox>

        <slot></slot>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true,
            default: false
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: !!parseInt(this.value),
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = !!parseInt(this.value);
            }
        },
        mutatedValue: {
            immediate: true,
            handler(value) {
                this.$emit('input', value ? 1 : 0);
            }
        }
    }
};
</script>

<style>
</style>
