<template>

    <div class="settings-btn">
        <button type="button"
                @click="cacheClear"
                :loading="loadingCacheClear"
                class="button black">
               {{ this.trans('settings_sidebar.submenu.cache_clear') }}
        </button>

        <button type="button"
                @click="storageLink"
                :loading="loadingStorageLink"
                class="button black">
               {{ this.trans('settings_sidebar.submenu.storage_link') }}
        </button>

        <button type="button"
                @click="cacheConfig"
                :loading="loadingCacheConfig"
                class="button black">
               {{ this.trans('settings_sidebar.submenu.cache_config') }}
        </button>
    </div>

</template>

<script>
export default {
    data() {
        return {
            loadingCacheClear: false,
            loadingStorageLink: false,
            loadingCacheConfig: false,
        }
    },
    methods: {
        cacheClear() {
            this.loadingCacheClear = true;

            this.pushAxiosGet(route('api.backend.settings.cacheClear'), (response) => {
                this.loadingCacheClear = false;

                this.notify(response);
            });
        },
        storageLink() {
            this.loadingStorageLink = true;

            this.pushAxiosGet(route('api.backend.settings.storageLink'), (response) => {
                this.loadingStorageLink = false;

                this.notify(response);
            });
        },
        cacheConfig() {
            this.loadingCacheConfig = true;

            this.pushAxiosGet(route('api.backend.settings.cacheConfig'), (response) => {
                this.loadingCacheConfig = false;

                this.notify(response);
            });
        }
    },
    mounted() {}
}
</script>

<style>
    .settings-btn{
        display: flex;
        flex-flow: row wrap;
    }
    .settings-btn button{
        padding: 5px 15px;
    }
    .settings-btn button+button{
        margin-left: 3px;
    }
    @media (max-width: 700px) {
        .settings-btn{
            flex-flow: column wrap;
            align-items: flex-start;
        }
        .settings-btn button{
            width: 100%;
            justify-content: center;
        }
        .settings-btn button+button{
            margin-left: 0;
            margin-top: 5px;
        }
    }
</style>
