<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <el-input v-model="mutatedValue"
                  :placeholder="ucfirst(transObject(parameters.field_placeholder))"
                  type="textarea"
                  :autosize="{ minRows: 2 }"
                  :name="field">
        </el-input>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
