<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))">

        <el-input v-model="mutatedValue"
                    :placeholder="ucfirst(transObject(parameters.field_placeholder))"
                    :name="field">
        </el-input>

        <slot></slot>

        <p v-if="parameters.hint !== null" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
        }
    },
    methods: {
        setTextState() {
            if (this.field == 'title') {
                this.$store.dispatch('addFormData', {'title': this.value});
            }
        }
    },
    mounted: function() {
        this.setTextState();
    },
    updated: function() {
        this.setTextState()
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
            this.setTextState();
        }
    },
    events: {
        'form-submit'() {
            this.$store.dispatch('delFormData')
        }
    }
};
</script>

<style>
</style>
