<template>
    <div class="settings_wrapper">

        <el-tabs v-model="defaultModule"
                 tab-position="top"
                 type="border-card"
                 @tab-click="handleClick">

            <!-- Tabs -->
            <el-tab-pane v-for="(value, id) in modules"
                         :key="id"
                         :label="trans('settings_settings.tabs.' + id.toLowerCase())"
                         :name="id">

                <el-form ref="form"
                         :model="formData"
                         label-position="top"
                         v-loading.body="loading"
                         class="settings_form">

                    <div class="flex justify-between flex-row flex-wrap">

                        <div class="settings_item"
                             v-if="data.plainModuleSettings"
                             v-for="(fieldParameters, field) in data.plainModuleSettings"
                             :key="field">

                            <component :is="fieldParameters.field_type + '-field'"
                                       v-model="formData[data.currentModuleName + '::' + field].plainValue"
                                       :arrayValues="arrayValues(fieldParameters.parameters)"
                                       :parameters="fieldParameters.parameters"
                                       :field="field">
                            </component>

                        </div>

                        <div class="settings_item">

                            <component v-if="id.toLowerCase() === 'core' && currentUserRoleSlug == 'developer'"
                                       :is="'corebuttons-field'">
                            </component>

                        </div>

                    </div>

                    <!-- Buttons -->
                    <div class="btn-wrap">
                        <button v-html="generateSvg('save-icon', trans('core_form.buttons.save'))"
                                type="button"
                                v-on:click="onSubmit"
                                class="button pink icon-btn-text"
                                :loading="loading">
                        </button>
                    </div>

                </el-form>

            </el-tab-pane>

        </el-tabs>

    </div>
</template>

<script>
import textField from './fields/text-field'
import textareaField from './fields/textarea-field'
import selectField from './fields/select-field'
import localesField from './fields/locales-field'
import checkboxField from './fields/checkbox-field'
import numberField from './fields/number-field'
import corebuttonsField from './fields/corebuttons-field'
import uploadImageField from './fields/upload-image-field'

import Form from "form-backend-validation"
import helpers from '../../services/helpers'

export default {
    components: {
        'text-field': textField,
        'textarea-field': textareaField,
        'select-field': selectField,
        'locales-field': localesField,
        'checkbox-field': checkboxField,
        'number-field': numberField,
        'corebuttons-field': corebuttonsField,
        'upload-image-field': uploadImageField,
    },
    data() {
        return {
            defaultModule: 'Dashboard',
            data: {
                currentModuleName: {},
                savedModuleSettings: {},
                modulesWithSettings: {},
                plainModuleSettings: {},
                translatableSettings: [],
                themes: {
                    backend: {},
                    frontend: {}
                },
                locales: {}
            },
            formData: {},
            form: {},
            modules: {},
            currentUserRoleSlug: helpers.appStorage().currentUser.role_slug,
            loading: false,
        }
    },
    methods: {
        fetchModules() {
            this.pushAxiosGet(route('api.backend.settings.getModulesList'), (response) => {
                this.modules = response;
            });
        },
        handleClick(tab, event) {
            this.$router.push({ name: 'api.backend.settings.module', params: {module: tab.name.toLowerCase()} });

            this.fetchFormData(tab.name);
        },
        fetchFormData(moduleName) {
            this.loading = true;

            this.pushAxiosGet(route('api.backend.settings.module', {module: btoa(moduleName)}), (response) => {
                this.data = response;
                this.formData = response.savedModuleSettings;

                this.loading = false;
            });
        },
        arrayValues(parameters = false) {
            if (parameters.array_data) {
                var array_values = parameters.array_values.split('.');

                if (array_values.length > 1) {
                    return this.data[array_values[0]][array_values[1]];
                }

                return this.data[array_values[0]];
            }

            return;
        },
        ifUserCanSee: function (parameters) {
            if (!parameters.enable_for_role) {
                return true;
            }

            if (parameters.enable_for_role && parameters.enable_for_role == this.currentUserRoleSlug) {
                return true;
            }

            return false;
        },
        onSubmit() {
            this.$events.fire('form-submit');
            this.loading = true;

            this.form = new Form(this.formData);
            this.form.post(route('api.backend.settings.store'))
                .then((response) => {
                    this.loading = false;

                    if (response.errors) {
                        this.$notify.error({
                            title: 'Error!',
                            message: response.message,
                            offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                        });
                    } else {
                        this.$notify.success({
                            title: 'Success!',
                            message: response.message,
                            offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                        });
                    }

                    var self = this;

                    setTimeout(function() {
                        self.$router.go(self.$router.currentRoute);
                    }, 800);
                })
        }
    },
    created: function() {
        this.fetchModules();
        this.fetchFormData(this.defaultModule);

        this.$route.meta.pageTitle = this.defaultModule;
    }
};
</script>

<style>
    .settings_wrapper{
        width: 100%;
        display: flex;
    }
    .content .settings_wrapper .el-tabs--border-card > .el-tabs__content{
        background: rgba(255, 255, 255, 0);
        padding: 0;
    }
    .settings_form>div.flex{
        background: #ffffff;
        padding: 20px 10px 10px 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    .settings_wrapper .btn-wrap{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    .settings_wrapper .el-tabs--border-card{
        width: 100%;
    }
    .settings_item .el-select{
        width: 100%;
    }
    .settings_item .el-form-item.chose-image label.el-form-item__label{
        line-height: normal;
        justify-content: flex-start;
    }
    .settings_item label.el-form-item__label{
        padding: 0;
        font-weight: bold;
        width: 100%;
        line-height: normal;
    }
    .settings_item label.el-form-item__label:hover{
        border: none;
    }
    .settings_item .chose-image{
        flex-flow: row wrap;
    }
    .settings_item .chose-image .el-form-item__content{
        margin-top: 5px;
    }
    .settings_item .chose-image img[src]{
        max-height: 200px;
    }
    .settings_item .chose-image .el-form-item__content span{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .settings_item{
        margin-bottom: 30px;
        width: 48%;
    }
    .settings_item .el-textarea__inner,
    .settings_item .el-input__inner{
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        transition: padding-left .2s linear;
        line-height: 2;
        font-size: 14px;
    }
    .settings_item .el-textarea__inner:focus,
    .settings_item .el-input__inner:focus{
        border-color: #ef6089;
    }
    .settings_item .el-textarea__inner{
        min-height: 120px;
    }
    .settings_item .hint{
        line-height: 1;
        font-size: 12px;
        margin-top: 5px;
        color: #919191;
    }
    @media (max-width: 1300px) {
        .settings_item{
            width: 100%;
        }
    }
    @media (max-width: 700px) {
        .settings_item{
            width: 100%;
        }
    }
    @media (max-width: 500px) {
        .settings_item:last-child{
            margin-bottom: 0;
        }
    }
</style>
