<template>

    <div class="left flex flex-row">

        <button v-if="canGoBack && buttonOptions.goBack"
                @click="goBack"
                class="button black icon-btn-text">

            <svg class="arrow-back">
                <use class="arrow-back" xlink:href="#arrow-back"></use>
            </svg>
            {{ ucfirst(trans('core_table.buttons.go back')) }}

        </button>

        <router-link v-if="is('create')"
                     tag="button"
                     :to="createRoute"
                     :class="[canUser('create') ? '' : 'disabled', 'button black icon-btn-text']">

            <svg class="plus">
                <use class="text" xlink:href="#plus"></use>
            </svg>
            {{ ucfirst(trans('core_table.buttons.create')) }}

        </router-link>

        <button v-if="is('deleteAll')"
                @click="deleteAll"
                :class="[checkedCount && canUser('destroy') ? '' : 'disabled', 'button black icon-btn-text counted']">

            <svg class="delete">
                <use class="delete" xlink:href="#delete"></use>
            </svg>
            <i>{{ checkedCount }}</i>
            {{ ucfirst(trans('core_table.buttons.delete')) }}

        </button>

        <button v-if="is('detachAll')"
                @click="detachAll"
                :class="[checkedCount && !!canUser('edit') ? '' : 'disabled', 'button black icon-btn-text counted']">

            <svg class="detach">
                <use class="delete" xlink:href="#delete"></use>
            </svg>
            <i>{{ checkedCount }}</i>
            {{ ucfirst(trans('core_table.buttons.detach')) }}

        </button>

        <component v-for="button in buttons"
                   :is="button"
                   :key="button"
                   :checkedItems="checked"
                   :data="data"
                   @update-needed="$emit('update-needed')"
                   :class="button">
        </component>

    </div>

</template>

<script>
import swal from 'sweetalert2'
import findAndAddProduct from './buttons/find-and-add-product'
import filterStock from './buttons/filter-stock'
import attachUser from './buttons/attach-user'
import findAndAddProductToStock from './buttons/find-and-add-product-to-stock'
import exportExcel from './buttons/export-excel'
import importExcel from './buttons/import-excel'
import queueStart from './buttons/queue-start'
import generateSitemap from './buttons/generate-sitemap'

export default {
    components: {
        findAndAddProduct,
        findAndAddProductToStock,
        filterStock,
        attachUser,
        exportExcel,
        importExcel,
        queueStart,
        generateSitemap
    },
    props: {
        value: {},
        apiName: {
            type: String
        },
        meta: {},
        data: {},
        subTable: {
            type: Boolean,
            default: false
        },
        buttonOptions: {
            type: Object,
            default() {
                return {
                    goBack: true,
                    create: true,
                    deleteAll: true,
                    detachAll: true
                }
            }
        }
    },
    data() {
        return {
            createRoute: '',
            buttons: []
        }
    },
    methods: {
        goBack() {
            this.$emit('goBack');
        },
        deleteAll() {
            swal({
                title: this.$t('core_alerts[\'swal.title\']'),
                text: this.$t('core_alerts[\'swal.delete all text\']'),
                type: "warning",
                showCancelButton: true,
                confirmButtonText: this.$t('core_form[\'buttons.delete\']'),
                cancelButtonText: this.$t('core_form[\'buttons.cancel\']'),
            }).then((result) => {
                if (result.value) {
                    this.pushAxiosDelete(route('api.backend.' + this.meta.backend_path_name  + '.destroy_multiple', this.checked.map(item => item.id)), (response) => {
                        this.$emit('update-needed');

                        swal({
                            title: this.$t('core_alerts[\'swal.success title\']'),
                            type: "success",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    });
                }
            });
        },
        detachAll() {
            const name = this.$route.name.replace('.show', '') + '.detach_multiple.' + this.meta.backend_path_name;
            const checked = JSON.stringify(this.checked.map(item => item.id));

            this.pushAxiosDelete(route(name, {id: this.$route.params.ident, checked}), (response) => {
                this.$emit('update-needed');
                this.$events.fire('hard-refresh');
            });
        },
        is(type) {
            if (typeof this.meta.buttons === 'object' && Object.keys(this.meta.buttons).length == 0) {
                return false;
            }

            if (
                type === 'create' && (
                    !this.$router.resolve(this.createRoute).route.matched.length || this.meta.no_create
                )
            ) {
                return false;
            }

            if (
                type === 'deleteAll' && (
                    this.meta.fields.__actions === undefined ||
                this.meta.fields.__actions.options.buttonParams.delete === undefined ||
                 !this.meta.fields.__actions.options.buttonParams.delete
                )
            ) {
                return false;
            }

            if (
                type === 'detachAll' && (
                    this.meta.fields.__actions === undefined ||
                this.meta.fields.__actions.options.buttonParams.detach === undefined ||
                 !this.meta.fields.__actions.options.buttonParams.detach
                )
            ) {
                return false;
            }

            return this.buttonOptions[type];
        },
        getApiRoute() {
            this.createRoute = {
                name: this.$route.name.replace(new RegExp('\.show$'), '') + '.create',
                params: { ident: this.$route.params.ident || 0, preRoute: this.$route }
            };

            if (this.meta !== undefined) {
                this.createRoute.name = `api.backend.${this.meta.backend_path_name}.create`;
            }
        }
    },
    computed: {
        canGoBack() {
            return !this.subTable && this.meta.breadcrumbs.length > 1;
        },
        checkedCount() {
            return this.checked.length;
        },
        checked() {
            return this.value.filter(item => item.checkbox);
        }
    },
    watch: {
        meta: {
            immediate: true,
            deep: true,
            handler (to, from) {
                this.getApiRoute();

                this.buttons = this.$route.params.ident !== undefined ? (to.buttons.inner_buttons || []) : (to.buttons.outer_buttons || []);
            }
        }
    }
};
</script>

<style>
</style>
