<template>

    <component v-model="mutatedValue"
               :attributes="attributes"
               :name="newName"
               :is="component"
               :meta="meta"
               :data="data">
    </component>

</template>

<script>
import checkbox from './columns/checkbox'
import check from './columns/check'
import actions from './columns/actions'
import status from './columns/status'
import order from './columns/order'
import expandable from './columns/expandable'
import textColumn from './columns/text'
import folder from './columns/folder'
import linkColumn from './columns/link'
import conditionalFolder from './columns/conditional-folder'
import shortcode from './columns/shortcode'
import imageColumn from './columns/image'
import jsonColumn from './columns/json'
import dates from './columns/dates'
import comboFields from './columns/combo-fields'
import ecommerceUpdateDiscount from './columns/ecommerce-update-discount'
import ecommerceOrderQuantityChanger from './columns/ecommerce-order-quantity-changer'
import ecommerceStockQuantityChanger from './columns/ecommerce-stock-quantity-changer'
import formsResponseData from './columns/forms-response-data'
import infoblockTemplate from './columns/infoblock-template'

export default {
    components: {
        checkbox,
        check,
        actions,
        status,
        order,
        textColumn,
        expandable,
        folder,
        linkColumn,
        conditionalFolder,
        imageColumn,
        jsonColumn,
        shortcode,
        dates,
        comboFields,
        ecommerceUpdateDiscount,
        ecommerceOrderQuantityChanger,
        ecommerceStockQuantityChanger,
        'forms-response-data': formsResponseData,
        infoblockTemplate
    },
    props: {
        name: {
            type: String
        },
        value: {
            required: true
        },
        meta: {
            type: Object
        },
        data: {
            type: Object
        }
    },
    data() {
        return {
            mutatedValue: {},
            newName: {},
            attributes: this.meta.fields[this.name].column_attributes || []
        }
    },
    computed: {
        component() {
            this.newName = this.name.startsWith('__') ? this.name.substr(2) : this.name;

            if (!Object.keys(this.$options.components).includes(this.newName)) {
                let components = Object.keys(this.$options.components);

                let regex = new RegExp(components.join( "|" ), "i");

                return this.meta.fields[this.name].column_type;

                // TODO Need to test
                // if (this.meta.fields[this.name].column_type && regex.test(this.meta.fields[this.name].column_type.replace('-','') )) {
                //     return this.meta.fields[this.name].column_type;
                // }

                // return 'text-column';
            }

            return this.newName;
        }
    },
    watch: {
        value: {
            immediate: true,
            deep: true,
            handler(to) {
                this.mutatedValue = to;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
