<template>
    <tr>
        <th v-for="(column, id) in columns"
            :key="id"
            :class="column.class">

            <label v-if="id === '__checkbox'" class="checkbox cell">
                {{checkboxState}}
                <input type="checkbox" @change="toggleAll" v-bind="checkboxState">
                <span></span>
            </label>

        </th>
    </tr>
</template>

<script>
import checkbox from './heads/checkbox'
import sort from './heads/sort'
import textColumn from './heads/text'

export default {
    components: {
        checkbox,
        sort,
        textColumn,
    },
    props: {
        value: {
            required: true
        }
    },
    data() {
        return {
            mutatedValue: {},
        }
    },
    methods: {
        component(id) {
            return id == '__checkbox' ? 'checkbox' : 'sort';
        },
        toggleAll() {
            this.$emit('toggleAll');
        }
    },
    computed: {
        columns: {
            get() {
                return this.value.fields;
            },
            set(fields) {
                this.value.fields = fields;
            }
        },
        checkboxState: {
            get() {
                return this.value.fields.__checkbox.checkboxState;
            },
            set(fields) {
                this.value.fields.__checkbox.checkboxState = fields;
            }
        },
        sortOrder: {
            get() {
                return this.value.sortOrder;
            },
            set(sortOrder) {
                this.value.sortOrder = sortOrder;
            }
        }
    }
};
</script>

<style>
</style>
