<template>

    <div v-show="tablePagination && tablePagination.total" :class="css.wrapperClass">

        <button type="button"
                @click="loadPage(1)"
                :class="['btn-prev', css.linkClass, isOnFirstPage ? css.disabledClass : '']">
                <i v-if="css.icons.first != ''" :class="['el-icon', css.icons.first]"></i>
        </button>

        <button type="button"
                @click="loadPage(meta.current_page - 1)"
                :class="['btn-prev', css.linkClass, isOnFirstPage ? css.disabledClass : '']">
                <i v-if="css.icons.next != ''" :class="['el-icon', css.icons.prev]"></i>
        </button>

        <ul class="el-pager">

            <template v-if="notEnoughPages">
                <template v-for="(n, index) in totalPage">

                    <li @click="loadPage(n)"
                        :class="[css.pageClass, isCurrentPage(n) ? css.activeClass : '']"
                        v-html="n" :key="index">
                    </li>

                </template>
            </template>

            <template v-else>
                <template v-for="(n, index) in windowSize">

                    <li @click="loadPage(windowStart + n - 1)"
                        :class="[css.pageClass, isCurrentPage(windowStart + n - 1) ? css.activeClass : '']"
                        v-html="windowStart + n - 1"
                        :key="index">
                    </li>

                </template>
            </template>

        </ul>

        <button type="button"
                @click="loadPage(meta.current_page + 1)"
                :class="['btn-next', css.linkClass, isOnLastPage ? css.disabledClass : '']">
                <i v-if="css.icons.next != ''" :class="['el-icon', css.icons.next]"></i>
        </button>

        <button type="button"
                @click="loadPage(totalPage)"
                :class="['btn-prev', css.linkClass, isOnLastPage ? css.disabledClass : '']">
                <i v-if="css.icons.last != ''" :class="['el-icon', css.icons.last]"></i>
        </button>

        <span class="el-pagination__total"
              v-html="paginationInfo">
        </span>

    </div>

</template>

<script>
import paginationMixin from './pagination-mixin'
import paginationInfoMixin from './pagination-info-mixin'

export default {
    mixins: [paginationMixin, paginationInfoMixin],
}
</script>

<style>
</style>
