<script>
export default {
    props: {
        css: {
            type: Object,
            default () {
                return {
                    wrapperClass: 'el-pagination is-background text-center mt-4',
                    activeClass: 'active',
                    disabledClass: 'disabled',
                    pageClass: 'number',
                    linkClass: 'icon item',
                    paginationClass: 'ui bottom attached segment grid',
                    paginationInfoClass: 'left floated left aligned six wide column',
                    dropdownClass: 'ui search dropdown',
                    icons: {
                        first: 'el-icon-d-arrow-left',
                        prev: 'el-icon-arrow-left',
                        next: 'el-icon-arrow-right',
                        last: 'el-icon-d-arrow-right',
                    }
                }
            }
        },
        onEachSide: {
            type: Number,
            default () {
                return 2
            }
        },
        meta: {
            type: Object,
        },
    },
    data: function() {
        return {
            eventPrefix: 'vuetable-pagination:',
            tablePagination: null
        }
    },
    computed: {
        totalPage() {
            return this.tablePagination === null
                ? 0
                : this.tablePagination.last_page
        },
        isOnFirstPage() {
            return this.tablePagination === null
                ? false
                : this.tablePagination.current_page === 1
        },
        isOnLastPage() {
            return this.tablePagination === null
                ? false
                : this.tablePagination.current_page === this.tablePagination.last_page
        },
        notEnoughPages() {
            return this.totalPage < (this.onEachSide * 2) + 4
        },
        windowSize() {
            return this.onEachSide * 2 + 1;
        },
        windowStart() {
            if (!this.tablePagination || this.tablePagination.current_page <= this.onEachSide) {
                return 1
            } else if (this.tablePagination.current_page >= (this.totalPage - this.onEachSide)) {
                return this.totalPage - this.onEachSide * 2
            }

            return this.tablePagination.current_page - this.onEachSide
        }
    },
    methods: {
        loadPage(page) {
            this.$emit(this.eventPrefix + 'change-page', page)
        },
        isCurrentPage(page) {
            return page === this.tablePagination.current_page
        },
        setPaginationData(tablePagination) {
            this.tablePagination = tablePagination
        },
        resetData() {
            this.tablePagination = null
        }
    },
    watch: {
        meta: {
            immediate: true,
            handler(to) {
                if (to) {
                    this.tablePagination = to;
                }
            },
            deep: true
        }
    }
}
</script>

<style>
</style>
