<template>

    <div :class="['table-wrapper w-full', checkOverflow() ? 'show-scroll' : '']"
         v-loading="loading"
         ref="tableWrapper"
         :data-count="fields.length">

        <span class="before"></span>
        <span class="after"></span>

        <div :ref="'div' + value.meta.backend_path_name"
             :class="['table-body', 'w-full', 'table-' + value.meta.backend_path_name ]">

            <table :ref="value.meta.backend_path_name"
                   class="table-flex w-full"
                   cellspacing="0"
                   cellpadding="0"
                   border="0">

                <thead>
                    <tr>
                        <th v-for="(column, id) in columns"
                            :key="id"
                            :class="[`is-leaf vuetable-th-${id} col-center index-${id}`, column.class, sortClass(column), {'sortable': isSortable(column)}]"
                            @click="orderBy(column)">

                            <label v-if="id == '__checkbox'" class="checkbox cell">
                                <input type="checkbox" @change="toggleAll" v-bind="checkboxState">
                                <span></span>
                            </label>

                            <div v-else class="cell caption" v-html="renderTitle(column)"></div>

                        </th>
                    </tr>
                </thead>

                <draggable :options="dragOptions"
                           v-model="fields"
                           :element="'tbody'"
                           :move="move"
                           @end="onDragEnd"
                           v-cloak
                           class="el-table-body vuetable-body">

                    <tr v-for="(field, id) in fields"
                        :key="id"
                        :class="['el-table__row', !isDisabled(field) ? 'disabled-row' : '']"
                        :style="{'background-color': isEdited(field.id)}">

                        <td v-for="(column, name) in columns"
                            :key="name"
                            :class="[tableTD(name, column.column_class), 'vuetable-th-' + name]"
                            @mousedown="drag = true">

                            <table-column :name="name"
                                          v-model="fields[id]"
                                          :meta="meta"
                                          :data="data"
                                          @remove="remove"
                                          @changePage="changePage">
                            </table-column>

                        </td>

                    </tr>

                    <tr v-if="!fields.length">
                        <td :colspan="Object.keys(columns).length"
                            class="table-empty-result col-center"
                            v-html="noDataTemplate">
                        </td>
                    </tr>

                </draggable>

            </table>

        </div>
    </div>

</template>

<script>
import helpers from '@services/helpers'
import draggable from 'vuedraggable'
import tableColumn from './column'

export default {
    components: {
        tableColumn,
        draggable
    },
    props: {
        sub: {
            type: Boolean,
            default: false
        },
        value: {
            required: true
        },
        loading: {
            default: false
        },
        data: {
            required: true
        },
        css: {
            type: Object,
            default () {
                return {
                    tableClass: 'ui blue selectable celled stackable attached table',
                    loadingClass: 'loading',
                    ascendingIcon: '<svg class="top"><use xlink:href="#sort_top"></use></svg><svg class="bottom"><use xlink:href="#sort_bottom"></use></svg>',
                    descendingIcon: '<svg class="top"><use xlink:href="#sort_top"></use></svg><svg class="bottom"><use xlink:href="#sort_bottom"></use></svg>',
                    ascendingClass: 'ascending',
                    descendingClass: 'descending',
                    sortableIcon: '<svg class="top"><use xlink:href="#sort_top"></use></svg><svg class="bottom"><use xlink:href="#sort_bottom"></use></svg>',
                    detailRowClass: 'table-detail-row',
                    handleIcon: 'grey sidebar icon',
                    tableBodyClass: 'table-semantic-no-top table-fixed-layout',
                    tableHeaderClass: 'table-fixed-layout'
                }
            }
        },
        noDataTemplate: {
            type: String,
            default() {
                return '<div class="w-full text-center">' + this.$t('core_table[\'vuetable.no data available\']') + '</div>'
            }
        }
    },
    data() {
        return {
            isOverflow: false,
            overflowCount: '',
            drag: false,
            sortOrder: {
                field: '',
                sortField: '',
                direction: 'asc'
            }
        }
    },
    computed: {
        checkboxState() {
            let checked = false;
            let unchecked = false;

            for (let field in this.fields) {
                if (this.fields[field].checkbox == true) {
                    checked = true;
                } else {
                    unchecked = true;
                }
            }

            return { checked, indeterminate: checked && unchecked }
        },
        dragOptions() {
            return {
                animation: 0,
                group: 'description',
                handle: ".td-order",
                dragClass: '.td-order'
            };
        },
        fields: {
            get() {
                if (this.loading) {
                    return [];
                }

                return this.value.data;
            },
            set(fields) {
                this.value.data = fields;
            }
        },
        meta: {
            get() {
                if (this.loading) {
                    return [];
                }

                return this.value.meta;
            },
            set(meta) {
                this.value.meta = meta;
            }
        },
        columns: {
            get() {
                if (this.loading) {
                    return [];
                }

                if (this.value.meta.fields['__checkbox'] !== undefined) {
                    this.value.meta.fields['__checkbox'].checkboxState = this.checkboxState;
                }

                return this.value.meta.fields;
            },
            set(fields) {
                this.value.meta.fields = fields;
            }
        }
    },
    methods: {
        tableScroll() {
            let currentShadow =  (event.target.scrollLeft) / this.overflowCount;

            Velocity(event.target.parentNode.querySelector(`span.before`), {
                opacity: [currentShadow, 0]
            }, 1);
            Velocity(event.target.parentNode.querySelector(`span.after`), {
                opacity: [1 - currentShadow, 0]
            }, 1);
        },
        checkOverflow() {
            //TODO need fix onload
            if (typeof this.$refs[this.value.meta.backend_path_name] !== "undefined") {
                let el = this.$refs[this.value.meta.backend_path_name];
                let curOverflow = el.style.overflow;

                if (!curOverflow || curOverflow === "visible" ) {
                    el.style.overflow = "hidden";
                }

                this.isOverflow = this.$el.getBoundingClientRect().width < el.getBoundingClientRect().width;
                el.style.overflow = curOverflow;
                this.overflowCount = el.getBoundingClientRect().width -  this.$el.getBoundingClientRect().width;
            }

            return this.isOverflow;
        },
        isEdited(id) {
            if (this.$route.params.type === undefined || this.$route.params.type === this.meta.backend_path_name) {
                return id === parseInt(this.$route.params.saved_id || 0) ? '#ececec' : '';
            }

            return '';
        },
        toggleAll() {
            let to = true;

            for (let field in this.fields) {
                if (this.fields[field].checkbox == true) {
                    to = false;
                }
            }

            for (let field in this.fields) {
                this.fields[field].checkbox = to;
            }
        },
        tableTD(name, column_class = false) {
            switch (name) {
                case '__checkbox':
                    return 'col-center';
                    break;
                case '__order':
                    return 'td-order col-center';
                    break;
                default:
                    return column_class ? 'table-component ' + column_class : 'table-component col-center'
                    break;
            }
        },
        isDisabled(field) {
            if (typeof field.status === "string") return true;
            if (typeof field.status === "undefined") return true;

            return field.status;
        },
        /** EVENTS */
        remove(index) {
            let id = this.fields.map(function(e) { return e.id; }).indexOf(index);
            this.fields.splice(id, 1);
            this.$emit('update-needed');
        },
        changePage(page) {
            try {
                if (this.sub) {
                    let name = `api.backend.${this.meta.backend_path_name}.show`;

                    this.$router.push({name, params: { ident: page }});
                } else if (!page) {
                    let name = this.$route.name.replace(new RegExp('\.show$'), '');

                    this.$router.push({name});
                } else {
                    let name = this.$route.name.replace(new RegExp('\.show$'), '') + '.show';

                    this.$router.push({ name, params: { ident: page } });
                }

                this.$router.push(page ? { name, params: { ident: page } } : {name});
                this.$events.fire('changed-page', page);
            } catch (error) {
                console.error('Change page - ' + error);
            }
        },
        /** DRAG */
        onDragEnd(event) {
            let adder = (parseInt(this.data.per_page || 10)) * ((this.data.page || 1) - 1);

            let oldOrder = adder + event.oldIndex;
            let newOrder = adder + event.newIndex;
            let ident = this.$route.params.ident || 0;

            this.pushAxiosPut(route( 'api.backend.' + this.meta.backend_path_name + '.changeOrder'),
                {oldOrder, newOrder, ident},
                (response) => {
                    this.drag = false;

                    if (response.errors) {
                        this.$notify.error({
                            title: 'Error!',
                            message: response.message,
                            offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                        });
                    }
                }
            );
        },
        move(e) {
            return this.drag;
        },
        /** SORT */
        isSortable (field) {
            return !(typeof field.sortable === 'undefined') && field.sortable
        },
        orderBy (field, event) {
            if (!this.isSortable(field) ) return

            this.singleColumnSort(field);
        },
        singleColumnSort (field) {
            let test = '';

            if (this.meta.sortOrder.default.field !== this.meta.sortOrder.current.field && this.meta.sortOrder.current.direction == 'desc') {
                test = this.meta.sortOrder.default.field + '|' + this.meta.sortOrder.default.direction
            } else if (this.isSortable(field) && this.meta.sortOrder.current.field != field.sortable){
                test = field.sortable + '|asc'
            } else if (this.isSortable(field) && this.meta.sortOrder.current.field == field.sortable && this.meta.sortOrder.current.direction == 'asc') {
                test = this.meta.sortOrder.current.field + '|desc';
            }

            this.$emit('sort', test);
        },
        clearSortOrder () {
            this.sortOrder = this.meta.sortOrder.default;
        },
        sortClass (field) {
            if (this.sortOrder.field === field.sortable) {
                return (this.sortOrder.direction == 'asc') ? this.css.ascendingClass : this.css.descendingClass
            }

            return ''
        },
        renderTitle (field) {
            let title = field.title;

            if (title.length > 0 && field.sortable !== undefined && field.sortable ) {
                let style = `opacity:1;position:relative;float:right`
                let iconTag = this.css.sortableIcon

                if (field.sortable == this.sortOrder.field) {
                    iconTag = this.sortOrder.direction === 'asc' ? this.css.ascendingIcon : this.css.descendingIcon;
                }

                return title + ' ' + this.renderIconTag(iconTag)
            }

            return title;
        },
        renderIconTag (icon) {
            return typeof(this.css.renderIcon) === 'undefined'
                ? `<span class="caret-wrapper sort-icon cursor-pointer">${icon}</span>`
                : this.css.renderIcon(classes, options)
        }
    },
    mounted() {
        window.addEventListener('resize', this.checkOverflow);
        this.$refs.tableWrapper.querySelector('.table-body').addEventListener('scroll', this.tableScroll);

        if (this.meta.sortOrder.current) {
            this.sortOrder = this.meta.sortOrder.current;
        } else {
            this.sortOrder = this.meta.sortOrder.default;
        }

        this.clearSortOrder();
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.checkOverflow);
        this.$refs.tableWrapper.querySelector('.table-body').removeEventListener('scroll', this.tableScroll);
    }
};
</script>

<style>
</style>
