<template>
    <div>

        <fetch-any ref="order" apiName="api.backend.ecommerce_order.find" @responseGetted="responseGetted">

            <div slot-scope="{ response, loading }" class="w-full">

                <div class="order-inner" v-if="!loading">

                    <button v-html="generateSvg('plus', trans('ecommerce_table-fields.orders_show.send_order'))"
                            type="button"
                            class="button black icon-btn-text"
                            @click="sendMailOrderData">
                    </button>

                    <find-and-add-product @update-needed="update = true"></find-and-add-product>

                    <div class="left">
                        <p class="font-16">{{trans('ecommerce_table-fields.orders_show.title') || '...'}}</p>
                        <a class="button black icon-btn-text"
                           v-html="generateSvg('eye', show ? trans('ecommerce_table-fields.orders_show.hide') : trans('ecommerce_table-fields.orders_show.show'))"
                           @click="show = !show">
                        </a>
                    </div>

                    <transition  v-on:enter="openHeight" v-on:leave="closeHeight">

                        <div class="order-inner-table" v-show="show">

                            <table class="small-table" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="bold">{{trans('ecommerce_table-fields.orders_show.name')}}:</td>
                                        <td>
                                            <div class="add-order-user">
                                                {{response.data.title || '...'}}
                                                <router-link tag="button"
                                                             class="button black icon-btn-text"
                                                             :to="userPath + response.data.user_id">
                                                    <svg class="button-icon eye">
                                                        <use class="eye" xlink:href="#eye"></use>
                                                    </svg>
                                                    {{trans('ecommerce_table-fields.orders_show.show_all_orders')}}
                                                </router-link>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">{{trans('ecommerce_table-fields.orders_show.phone')}}:</td>
                                        <td>{{response.data.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">E-mail:</td>
                                        <td>{{response.data.email}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">{{trans('ecommerce_table-fields.orders_show.delivery_type')}}:</td>
                                        <td>{{response.data.delivery}}( {{response.data.delivery_price}} {{trans('ecommerce_table-fields.orders_show.uah')}})</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">{{trans('ecommerce_table-fields.orders_show.payment_type')}}:</td>
                                        <td>{{response.data.payment}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">{{trans('ecommerce_table-fields.orders_show.address')}}:</td>
                                        <td>{{response.data.address}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">{{trans('ecommerce_table-fields.orders_show.comment')}}:</td>
                                        <td>{{response.data.comment}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">{{trans('ecommerce_table-fields.orders_show.total')}}:</td>
                                        <td>{{numberWithSpaces(response.data.total)}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </transition>

                </div>

            </div>

        </fetch-any>

        <data-sub-table table="ecommerce_product_versions"
                        :update="update"
                        @uploaded="update = false">
        </data-sub-table>

        <div v-if="order.data">
            <p>
                {{trans('ecommerce_table-fields.orders_show.delivery')}} - {{numberWithSpaces(order.data.delivery_price)}} {{trans('ecommerce_table-fields.orders_show.uah')}}
            </p>
            <p>
                {{trans('ecommerce_table-fields.orders_show.total')}} - {{numberWithSpaces(order.data.total - order.data.delivery_price)}} {{trans('ecommerce_table-fields.orders_show.uah')}}
            </p>
            <p>
                {{trans('ecommerce_table-fields.orders_show.total_with_delivery')}} - {{numberWithSpaces(order.data.total)}} {{trans('ecommerce_table-fields.orders_show.uah')}}
            </p>
        </div>

    </div>
</template>

<script>
import fetchAny from '@components/table/renderless/fetch-any'
import helpers from '@services/helpers'
import tableHelper from '@/mixins/tableHelper'
import dataSubTable from '@/components/data-sub-table'
import findAndAddProduct from '@/components/table/buttons/find-and-add-product'

export default {
    mixins: [tableHelper],
    components: {
        fetchAny,
        dataSubTable,
        findAndAddProduct
    },
    data() {
        return {
            show: false,
            subShow: false,
            update: false,
            order: {}
        }
    },
    methods: {
        openHeight(el, done) {
            let height = el.getBoundingClientRect().height;
            Velocity(el, {height: [height, 0]}, {duration: 500, complete: done});
        },
        closeHeight(el, done) {
            Velocity(el, {height: 0}, {duration: 500, complete: function () {
                    el.style.height = '';
                    done();
                }});
        },
        responseGetted(response) {
            this.order = Object.assign({}, this.order, response);
        },
        sendMailOrderData() {
            this.pushAxiosPut(route('api.backend.ecommerce_order.sendMailOrderData', { ident: this.$route.params.ident }), null, (response) => {
                this.notify(response);
            });
        }
    },
    computed: {
        userPath() {
            return '/' + helpers.makeBaseUrl() + '/ecommerce/order/user/'
        }
    },
    events: {
        'hard-refresh'() {
            this.$refs.order.getData();
        }
    },
    filters: {
        round: function (value) {
            if (!value) return ''

            return Math.round(value * 100) / 100
        }
    }
}
</script>

<style scoped>
</style>
