<template>

    <fetch-any apiName="api.backend.ecommerce_order_user.find">

        <div slot-scope="{ response, loading }" class="w-full order-inner-user">

            <div class="table-actions">

                <router-link tag="button"
                             v-html="generateSvg('arrow-back', trans('ecommerce_table-fields.orders_show.to_orders') )"
                             class="button black icon-btn-text"
                             :to="{ name: 'api.backend.ecommerce_order'}">
                </router-link>

            </div>

            <div class="user-info" v-if="!loading">

                <h2>{{trans('ecommerce_table-fields.orders_show.user_data')}} {{response.user.first_name}}</h2>
                <p><b>{{trans('ecommerce_table-fields.orders_show.name')}}:</b>{{response.user.email}}</p>
                <p><b>{{trans('ecommerce_table-fields.orders_show.total')}}:</b>{{numberWithSpaces(response.user.total)}} {{trans('ecommerce_table-fields.orders_show.uah')}}</p>

            </div>

            <div class="table-wrapper w-full">

                <div class="w-full order-user-item" v-for="(order, id) in response.orders" :key="id">

                    <p class="order-user-caption">
                        <span>{{formatDateTime(order.created_at, 'DD.MM.YYYY HH:mm')}}</span>
                        <span>{{trans('ecommerce_table-fields.orders_show.total')}}: <b>{{numberWithSpaces(order.total)}}</b> {{trans('ecommerce_table-fields.orders_show.uah')}}</span>
                    </p>
                    <div class="table-body">

                        <table class="table-flex w-full" cellspacing="0" cellpadding="0" border="0">
                        <thead>
                            <tr>
                                <th class="col-center">
                                    <div class="cell caption">{{trans('ecommerce_table-fields.orders_show.product_name')}}</div>
                                </th>
                                <th class="col-center">
                                    <div class="cell caption">{{trans('ecommerce_table-fields.orders_show.parameters')}}</div>
                                </th>
                                <th class="col-center">
                                    <div class="cell caption">{{trans('ecommerce_table-fields.orders_show.product_discount')}}</div>
                                </th>
                                <th class="col-center">
                                    <div class="cell caption">{{trans('ecommerce_table-fields.orders_show.quantity')}}</div>
                                </th>
                                <th class="col-center">
                                    <div class="cell caption">{{trans('ecommerce_table-fields.orders_show.price_with_discount')}}</div>
                                </th>
                                <th class="col-center">
                                    <div class="cell caption">{{trans('ecommerce_table-fields.orders_show.total')}}</div>
                                </th>
                            </tr>
                        </thead>

                        <tbody class="el-table-body vuetable-body">

                            <tr v-for="product in order.pivot" :key="product.id">
                                <td class="col-center">
                                    <p>
                                        <span class="pointer link" @click="changePage(product.product_id)">
                                            <span class="pointer link">{{product.product_title}}</span>
                                        </span>
                                    </p>
                                </td>
                                <td class="col-center vuetable-td-parameters">
                                    {{product.parameter}}
                                </td>
                                <td class="col-center">
                                    {{product.discount}}%
                                </td>
                                <td class="col-center">
                                    {{product.quantity}}
                                </td>
                                <td class="col-center">
                                    {{numberWithSpaces(product.discount_price)}}
                                </td>
                                <td class="col-center">
                                    {{numberWithSpaces(product.quantity * product.discount_price)}}
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    </div>
                </div>
            </div>

        </div>

    </fetch-any>

</template>

<script>
import fetchAny from '@components/table/renderless/fetch-any';

export default {
    components: {
        fetchAny
    },
    data() {
        return {
            show: false,
            subShow: false,
            update: true
        }
    },
    methods: {
        changePage(ident) {
            this.$router.push({name: 'api.backend.ecommerce_product.edit', params: { ident }});
        }
    }
}
</script>

<style scoped>
    .order-inner-user .table-actions{
        margin-bottom: 10px;
    }
    .user-info {
        padding: 20px 10px 10px 10px;
        background: #ffffff;
    }
    .user-info h2{
        width: 50%;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin: 0 0 10px 0;
    }
    .user-info p{
        width: 50%;
        padding: 5px 0;
        display: flex;
    }
    .user-info p b{
        width: 30%;
        min-width: 175px;
    }
    .order-user-item{
        margin-bottom: 30px;
        padding: 10px;
    }
    .order-user-caption{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    @media (max-width: 1000px) {
        .order-user-caption{
            font-size: 18px;
        }
    }

    @media (max-width: 500px) {
        .order-user-caption{
            flex-flow: row wrap;
        }
        .order-user-caption span{
            width: 100%;
        }
        .order-user-caption span+span{
            margin-top: 10px;
        }
    }
</style>
