<template>
    <div :class="['actions-element flex flex-wrap', (buttonParams.apply || count === 1) ? 'single-button' : '']">

        <!-- <button-add v-if="this.buttonParams.add"></button-add> -->

        <button-view v-if="buttonParams.view" v-model="mutatedValue" :meta="meta"></button-view>

        <button-edit v-if="buttonParams.edit" v-model="mutatedValue"
                     :meta="meta"
                     :data="data">
        </button-edit>

        <button-apply v-if="buttonParams.apply"
                       v-model="mutatedValue"
                       :meta="meta"
                       :class="{disabled: !canUser('edit')}">
        </button-apply>

        <button-delete v-if="buttonParams.delete"
                       v-model="mutatedValue"
                       :meta="meta"
                       :class="{disabled: !canUser('destroy')}">
        </button-delete>

        <button-detach v-if="buttonParams.detach"
                       v-model="mutatedValue"
                       :meta="meta"
                       :class="{disabled: !canUser('destroy')}">
        </button-detach>

    </div>
</template>

<script>
export default {
    components: {
        'button-add': require('./buttons/add.vue').default,
        'button-view': require('./buttons/view.vue').default,
        'button-edit': require('./buttons/edit.vue').default,
        'button-apply': require('./buttons/apply.vue').default,
        'button-delete': require('./buttons/delete.vue').default,
        'button-detach': require('./buttons/detach.vue').default
    },
    props: {
        value: {
            type: Object
        },
        name: {
            type: String
        },
        meta: {
            type: Object
        },
        data: {
            type: Object
        },
        attributes: {}
    },
    data() {
        return {
            buttonParams: {
                add: false,
                view: false,
                edit: false,
                delete: false,
                detach: false,
                apply: false
            },
            count: 0,
            mutatedValue: {}
        }
    },
    created() {
        if (this.attributes.buttons) {
            for (let button in this.attributes.buttons) {
                let show = this.attributes.buttons[button].show || -1;

                this.buttonParams[this.attributes.buttons[button].name] = show != -1 ? this.value[show] : true;

                if (this.buttonParams[this.attributes.buttons[button].name]) {
                    this.count++;
                }
            }
        } else {
            for (let button in this.buttonParams) {
                this.buttonParams[button] = this.meta.fields.__actions.options.buttonParams[button] || this.buttonParams[button];

                if (this.buttonParams[button]) {
                    this.count++;
                }
            }
        }
    },
    watch: {
        value: {
            immediate: true,
            deep: true,
            handler(value) {
                this.mutatedValue = value;
            }
        },
        mutatedValue: {
            handler(to, from) {
                this.$emit('input', this.mutatedValue);
            }
        }
    }
}
</script>

<style>
</style>
