<template>

    <div class="check-field" v-if="value[name]" v-html="generateSvg('green-circle', '<b>+</b>')"></div>

    <div class="check-field" v-else v-html="generateSvg('red-circle', '<b>-</b>')"></div>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {
            type: String
        }
    }
};
</script>

<style scoped>
</style>
