<template>

    <label role="checkbox" class="checkbox cell">
        <input aria-hidden="true" v-model="mutatedValue.checkbox" type="checkbox" >
        <span></span>
    </label>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        }
    },
    data() {
        return {
            mutatedValue: {}
        }
    },
    watch: {
        value: {
            immediate: true,
            deep: true,
            handler(to) {
                this.mutatedValue = to;
            }
        },
        mutatedValue: {
            deep: true,
            handler(to) {
                this.$emit('input', to)
            }
        },
    },
};
</script>

<style scoped>
    label.checkbox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label.checkbox input[type='checkbox']{
        width: 0;
        height: 0;
        opacity: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        /* appearance: none; */
        visibility: hidden;
    }
    label.checkbox span{
        width: 15px;
        height: 15px;
        box-shadow: 0 0 0 1px #231F20 inset;
        display: block;
        position: relative;
        cursor: pointer;
    }
</style>
