<template>
    <div class="combo-fields">
        <p v-for="item in attributes.items" v-html="value[item]" :key="item"></p>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        attributes: {
            default: {
                items: [],
            }
        },
    }
}
</script>

<style>
</style>
