<template>
    <p v-if="condition">
        <span class="pointer folder link" @click="changePage()">
            <svg class="folder">
                <use class="folder_1" xlink:href="#folder_1"></use>
                <use class="folder_2" xlink:href="#folder_2"></use>
                <text x="8" y="12">{{value.children_count || 0}}</text>
            </svg>
            <span class="pointer link">{{ outputValue }}</span>
        </span>
    </p>
    <p v-else>
        {{ outputValue }}
    </p>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        attributes: {},
        meta: {}
    },
    methods: {
        changePage() {
            let name = `api.backend.${this.meta.backend_path_name}.show`;

            this.$router.push({name, params: { ident: this.value.id }});
        }
    },
    computed: {
        condition() {
            if (typeof this.attributes === 'string') {
                return RegExp(this.attributes).test(this.conditionalValue);
            } else {
                return RegExp(this.attributes[0]).test(this.conditionalValue);
            }
        },
        outputValue() {
            if (typeof this.value[this.name] === 'object') {
                return this.value[this.name].table_title;
            } else {
                return this.value[this.name];
            }
        },
        conditionalValue() {
            if (typeof this.value[this.name] === 'object') {
                return this.value[this.name].original_title;
            } else {
                return this.value[this.name];
            }
        }
    },
}
</script>

<style>
</style>
