<template>

    <div>
        {{value[name] | formatDateTime(attributes.format)}}

        <span v-for="attribute in attributes.dates"
              :key="attribute"
              v-show="value[attribute]"> - {{value[attribute] | formatDateTime(attributes.format)}}
        </span>
        <i class='table-comment' v-for="attribute in attributes.comments" :key="attribute">{{value[attribute] || ''}}</i>
    </div>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        attributes: {}
    },
    filters: {
        formatDateTime(item, format = 'DD.MM.YYYY HH:mm') {
            if (item) {
                return moment(String(item)).format(format)
            }
        }
    }
}
</script>

<style>
</style>
