<template>

    <div class="change-quantity">

        <p @click="mutatedValue[name] > 1 ? mutatedValue[name]-- : mutatedValue[name]">
            <svg class="minus" viewBox="0 0 16 16">
                <line x1="0.5" y1="8" x2="15.5" y2="8" style="fill: none;stroke: currentColor;stroke-linecap: round;stroke-linejoin: round;"></line>
            </svg>
        </p>

        {{mutatedValue[name]}}

        <p @click="mutatedValue[name]++">
            <svg class="plus" viewBox="0 0 16 16">
                <line x1="8" y1="0.5" x2="8" y2="15.5" style="fill: none;stroke: currentColor;stroke-linecap: round;stroke-linejoin: round"></line>
                <line x1="0.5" y1="8" x2="15.5" y2="8" style="fill: none;stroke: currentColor;stroke-linecap: round;stroke-linejoin: round;"></line>
            </svg>
        </p>

        <button type="button"
                v-visible="mutatedValue[name] !== initialValue"
                @click="save()"
                v-html="generateSvg('save-icon' ,'')">
        </button>

    </div>

</template>

<script>
// only works for order or if you know what you are doing
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        meta: {},
        data: {},
    },
    data() {
        return {
            mutatedValue: {},
            initialValue: 0
        }
    },
    methods: {
        save() {
            const name = this.$route.name.replace('.show', '') + '.changeQuantity.' + this.meta.backend_path_name;
            const item = this.mutatedValue.id;
            const value = this.mutatedValue[this.name];

            this.pushAxiosPut(route(name, {id: this.$route.params.ident}), {item, value}, (response) => {
                this.$notify.success({
                    title: 'Success!',
                    message: response.message,
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });
                this.$events.fire('hard-refresh');
                
                this.initialValue = this.mutatedValue[this.name];
            });
        }
    },
    mounted() {
        this.initialValue = this.value[this.name];
    },
    watch: {
        value: {
            immediate: true,
            handler(to) {
                this.mutatedValue = to;
            },
            deep: true
        },
        mutatedValue: {
            handler(to) {
                to.discount_sum = to[this.name] * to.discount_price;
                this.$emit('input', to);
            },
            deep: true
        },
    }
}
</script>

<style>
</style>
