<template>

    <span v-if="!input" @click="input=true; $nextTick(()=>{$refs.number.focus()})" v-text="mutatedValue"></span>

    <input v-else @blur="input=false" v-model="mutatedValue" ref="number" @keyup.enter="save()">

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
    },
    data() {
        return {
            mutatedValue: this.value[this.name],
            input: false
        }
    },
    methods: {
        save() {
            let name = 'api.backend.ecommerce_sale.changeDiscount';
            let product_id = this.value.id;
            let value = this.mutatedValue;

            this.pushAxiosPut(route(name, {id: this.$route.params.ident, product_id, value}), [], (response) => {
                this.$notify.success({
                    title: 'Success!',
                    message: response.message,
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });

                this.input = false;
            });
        }
    },
    watch: {
        value: {
            deep: true,
            handler(to, from) {
                this.mutatedValue = to[this.name];
            }
        },
        mutatedValue: {
            handler(to, from) {
                let value = this.value;
                value[this.name] = to;

                this.$emit('input', value);
            }
        }
    }
}
</script>

<style>
</style>
