<template>

    <div v-if="value[name]" @click.prevent="expandable ? dialogVisible = !dialogVisible : false">
        <div :class="{'pointer': expandable}" v-html="valueLimited"></div>


        <transition v-on:enter="enterModal" v-on:leave="leaveModal">

            <div class="modal-wrapper modal-top html-text" v-if="dialogVisible">

                <div class="modal-overlay" @click.stop.prevent="dialogVisible = !dialogVisible"></div>

                <div class="modal-content">

                    <button @click.stop.prevent="dialogVisible = !dialogVisible"
                            v-html="this.generateSvg('close-thin', '')"
                            class="icon-btn close-modal">
                    </button>

                    <div v-html="value[name]"></div>

                </div>
            </div>

        </transition>

    </div>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {}
    },
    data() {
        return {
            expandable: true,
            dialogVisible: false
        }
    },
    methods: {
        showFull() {
            this.dialogVisible = true;
        }
    },
    computed: {
        valueLimited() {
            let val = this.value[this.name].replace(/<style.*?>(.*)<\/style>/, '').replace(/<(?:.|\n)*?>/gm, '').replace(/\s{2,}/gm, ' ');

            if (val.length > 150) {
                return val.substring(0, 150) + '...'
            } else {
                return val
            }
        }
    }
}
</script>

<style>
</style>
