<template>

    <div>
        <div class="pointer folder link" @click="changePage()">

            <svg class="folder" v-if="typeof attributes.no_counter === 'undefined' || !attributes.no_counter">
                <use class="folder_1" xlink:href="#folder_1"></use>
                <use class="folder_2" xlink:href="#folder_2"></use>
                <text x="8" y="12">{{value.children_count || 0}}</text>
            </svg>
            <span class="pointer link">{{value[name]}}</span>

            <div :title="value[attribute] ? value[attribute] : ''" class="column-icon" v-for="attribute in attributes.icons"
                 :key="attribute"
                 v-if="value[attribute] || false"
                 v-html="generateSvg(attribute, '')">
            </div>

        </div>
        <i class='table-comment' v-for="attribute in attributes.comments" :key="attribute">{{value[attribute] || ''}}</i>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        attributes: {
            default: {
                icons: [],
                comments: [],
            }
        },
        meta: {}
    },
    methods: {
        changePage() {
            let name = `api.backend.${this.meta.backend_path_name}.show`;
            let ident = this.value.id;
            let props = this.$router.resolve({
                name, params: {ident}
            });

            let path = decodeURIComponent(props.href);
            this.$router.push({path});
        }
    },
    mounted() {

    }
}
</script>

<style>
</style>
