<template>

    <div class="table">
        <p v-for="(item, key) in value[name]"
            :key="key"
            v-show="null !== item">

            <span v-if="item && item.startsWith('/forms/')"><b>{{ key }}:</b> <a :href="'/storage' + item" download>{{ ucfirst(trans('gallery_table-fields.image parameters.show file')) }}</a></span>

            <span v-else><b>{{ key }}:</b> {{ item }}</span>

        </p>
    </div>

</template>

<script>
// Only works for forms response or if you know what you are doing
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        meta: {}
    }
}
</script>

<style>
</style>
