<template>

    <div v-if="value[name]" @click.stop.prevent="showFull($event)">

        <img :src="`/storage/i/backend-table-image${value[name]}`" class="table-image">


        <transition v-on:enter="enterModal" v-on:leave="leaveModal">

            <div class="modal-wrapper modal-table-image" v-if="dialogVisible">

                <div class="modal-overlay" @click.stop.prevent="close"></div>

                <div class="modal-content">

                    <div @click.stop.prevent="close" class="full-photo-overlay-close-button">
                        <div class="icon"></div>
                    </div>

                    <img :src="`/storage/origin${value[name]}`" alt="">
                </div>
            </div>

        </transition>

    </div>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {}
    },
    data() {
        return {
            dialogVisible: false
        }
    },
    methods: {
        showFull(e) {
            e.stopPropagation();
            e.preventDefault();
            this.dialogVisible = true;
            return false;
        },
        close() {
            this.dialogVisible = false;
        }
    }
}
</script>

<style>
</style>
