<template>

    <div class="infoblock-preview">

        <p>{{ value.template_id.title || '' }}</p>
        <span @click="showFull = true" class="pointer link table-comment">Посмотреть</span>

        <transition v-on:enter="enterModal" v-on:leave="leaveModal">

            <div class="modal-wrapper modal-table-image" v-if="showFull">

                <div class="modal-overlay" @click="showFull = false"></div>

                <div class="modal-content">

                    <div @click="showFull = false" class="full-photo-overlay-close-button">
                        <div class="icon"></div>
                    </div>

                    <img class="w-full" slot="content" :src="'/storage/origin' + value.template_id.image || ''">
                </div>
            </div>

        </transition>

    </div>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        meta: {}
    },
    data() {
        return{
            showFull:false,
            templates: {}
        }
    }
}
</script>

<style>
</style>
