<template>

    <div v-if="value[name]" @click.prevent="dialogVisible = !dialogVisible">
        <svg class="eye pointer"><use class="eye" xlink:href="#eye"></use></svg>

        <el-dialog
                top="null"
                :append-to-body="true"
                :visible.sync="dialogVisible"
                :class="'modal-logs'">

            <div class="table-overflow">
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tr v-for="(item, index) in value[name]" :key="index">
                        <td>{{index}}</td>
                        <td :class="index == 'request' || index == 'session' ? 'code' : ''">{{item}}</td>
                    </tr>
                </table>
            </div>

        </el-dialog>

    </div>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {}
    },
    data() {
        return {
            dialogVisible: false
        }
    },
    methods: {
        showFull() {
            this.dialogVisible = true;
        }
    }
}
</script>

<style>
</style>