<template>

    <p>
        <span class="pointer link" @click="changePage()">
            <span class="pointer link">{{value[name]}}</span>
        </span>
    </p>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        attributes: {},
        meta: {},
        data: {}
    },
    methods: {
        changePage() {
            if (this.attributes !== undefined && typeof this.attributes == 'object') {
                let name = this.attributes.link_name;

                if (this.value[this.attributes.ident] !== undefined && this.value[this.attributes.ident]) {
                    this.$router.push({name, params: { ident: this.value[this.attributes.ident] }});
                }
            } else {
                let name = `api.backend.${this.meta.backend_path_name}.show`;

                this.$router.push({name, params: { ident: this.value.id }});
            }
        }
    }
}
</script>

<style>
</style>
