<template>

    <button v-if="attributes['show'] === undefined || value[attributes['show']]" v-html="generateSvg('sort-order', '')"></button>

</template>

<script>
export default {
    props: ['meta', 'attributes']
}
</script>

<style>
</style>
