<template>

    <p v-if="value[name]" @click="copy()" class="pointer">[{{attributes[0]}} code="{{value[name]}}"]</p>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        attributes: {}
    },
    methods: {
        copy() {
            this.$copyText(`[${this.attributes[0]} code="${this.value[this.name]}"]`).then(e => {
                this.$notify.success({
                    title: 'Success!',
                    message: 'Поле скопировано',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });
            }, e => {
                this.$notify.error({
                    title: 'Error!',
                    message: 'Неудачное копирование',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });
            });
        }
    }
}
</script>

<style>
</style>
