<template>

    <span v-if="mutatedValue[name] > 1">
        {{ ucfirst(trans('core_fields.status-element')) }}
    </span>

    <el-switch v-else-if="canUser('edit')" v-model="mutatedValue[name]" @click.native="toggleSend" :width="30"></el-switch>

    <el-switch v-else v-model="mutatedValue[name]" :width="30" disabled></el-switch>

</template>

<script>
export default {
    props: {
        value: {
            type: Object
        },
        name: {
            type: String
        },
        meta: {}
    },
    data() {
        return {
            mutatedValue: {
                status: false,
                uploaded: false
            }
        }
    },
    methods: {
        toggleSend() {
            let name = `api.backend.${this.meta.backend_path_name}.toggleField`;
            let items = [this.mutatedValue.id];

            this.pushAxiosPut(route(name), {
                position: this.mutatedValue[this.name] ? 1 : 0,
                items,
                field: 'status'
            }, (response) => {
                this.$emit('input', this.mutatedValue);
            });
        }
    },
    watch: {
        value: {
            immediate: true,
            deep: true,
            handler(value) {
                value.status = value.status > 1 ? value.status : !!value.status;

                this.mutatedValue = Object.assign({}, this.mutatedValue, value);
            }
        },
    }
}
</script>

<style>
</style>
