<template>
    <div>

        <el-tooltip v-if="isTooltip" :content="value[name]" placement="top">
            <p v-if="attributes.is_html" v-html="valueLimited"></p>
            <p v-else>{{filterThis(valueLimited)}}</p>
        </el-tooltip>

        <div v-else>
            <p v-if="attributes.is_html" v-html="valueLimited"></p>
            <p v-else>{{filterThis(valueLimited)}}</p>
        </div>

        <div v-for="attribute in attributes.icons"
             :key="attribute"
             v-if="value[attribute] || false"
             class="column-icon"
             v-html="generateSvg(attribute, '')">
        </div>

        <i class='table-comment' v-for="attribute in attributes.comments" :key="attribute">{{value[attribute] || ''}}</i>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        },
        name: {},
        attributes: {
            default: {
                icons: [],
                comments: [],
                is_html: false
            }
        }
    },
    data() {
        return{
            isTooltip: false
        }
    },
    computed: {
        valueLimited() {
            if (this.attributes.symbols_length && this.value[this.name].length > this.attributes.symbols_length) {
                this.isTooltip = true

                return this.value[this.name].substring(0, this.attributes.symbols_length) + '...'
            } else {
                return this.value[this.name]
            }
        }
    },
    methods: {
        filterThis(value){
            if(typeof this.attributes === 'undefined' || typeof this.attributes.filters === 'undefined') {
                return value;
            }

            for(let filter in this.attributes.filters) {
                value = this[this.attributes.filters[filter]](value);
            }

            return value;
        }
    }
}
</script>

<style>
</style>
