<template>

    <div class="actions-element flex flex-wrap">

        <button-add v-if="this.rowOptions.buttonParams.add"
                    rowData="this.rowData">
        </button-add>

        <button-view v-if="this.rowOptions.buttonParams.view"
                    :rowData="this.rowData">
        </button-view>

        <button-edit v-if="editable"
                     :apiName="apiName"
                     :rowData="this.rowData"
                     :currentPage="currentPage">
        </button-edit>

        <button-delete v-if="deletable"
                       :class="[validateUserPermissionDeleteByRouteName(this.$route.name) ? '' : 'disabled']"
                       :apiName="apiName"
                       :rowData="this.rowData">
        </button-delete>

    </div>

</template>

<script>
export default {
    components: {
        'button-add': require('../elements-parts/button-add.vue').default,
        'button-view': require('../elements-parts/button-view.vue').default,
        'button-edit': require('../elements-parts/button-edit.vue').default,
        'button-delete': require('../elements-parts/button-delete.vue').default
    },
    props: {
        rowData: {
            type: Object,
            required: true
        },
        apiName: {
            type: String,
        },
        rowIndex: {
            type: Number
        },
        rowOptions: {
            type: Object,
            default() {
                return {
                    buttonParams: {
                        add: false,
                        view: false,
                        edit: true,
                        delete: true
                    }
                }
            }
        },
        currentPage: {}
    },
    computed: {
        'editable'() {
            if (this.rowData.editable == undefined) {
                return this.rowOptions.buttonParams.edit;
            }

            return this.rowData.editable;
        },
        'deletable'() {
            if (this.rowData.deletable == undefined) {
                return this.rowOptions.buttonParams.delete;
            }

            return this.rowData.deletable;
        }
    }
}
</script>

<style>
</style>
