<template>
    <div class="breadcrumbs-element">
        <nav>
            <ol class="list-reset flex text-grey-dark">
                <li>
                    <a :href="dashboardRoute" class="text-black font-bold">{{ ucfirst(trans('dashboard_dashboard.title')) }}</a>
                </li>
                <li v-for="(breadcrumb, idx) in breadcrumbList"
                    :key="idx"
                    @click="routeTo(idx)"
                    :class="{'text-black font-bold pointer': !!breadcrumb.link}">
                    <p>
                        <svg><use class="text" xlink:href="#small-arrow"></use></svg>
                        <span v-if="replaced">{{ breadcrumb.name }}</span>
                        <span v-else>{{ generateTitle(breadcrumb.name) }}</span>
                    </p>
                </li>
            </ol>
        </nav>
    </div>
</template>

<script>
import { generateTitle } from '@/utils/i18n'

export default {
    data() {
        return {
            dashboardRoute: route('backend.dashboard.index'),
            breadcrumbList: [],
            replaced: false
        }
    },
    methods: {
        generateTitle,
        routeTo(route) {
            if (this.breadcrumbList[route].link) {
                this.pushRoute(this.breadcrumbList[route].link)
            }
        },
        updateList() {
            this.breadcrumbList = this.$route.meta.breadcrumb;
            this.replaced = false;
        }
    },
    watch: {
        '$route'() {
            this.updateList();
        }
    },
    events: {
        'breadcrumbs-replace'(to) {
            this.breadcrumbList = {};
            this.breadcrumbList = Object.assign({}, this.breadcrumbList, to);
            this.replaced = true;
        }
    },
    mounted() {
        this.updateList()
    }
}
</script>

<style>
</style>
