<template>

    <div>
        <div @click="showFull()" class="cell-image">
            <img :src="`/storage/i/backend-table-image${image}`" class="table-image">
        </div>

        <el-dialog top="null"
                   :visible.sync="centerDialogVisible"
                   :class="'modal-wrapper'">
            <img :src="`/storage/origin${image}`" alt="">
        </el-dialog>
    </div>

</template>

<script>
export default {
    props: {
        rowData: {
            type: Object
        },
        rowOptions: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            image: '',
            centerDialogVisible: false
        }
    },
    created() {
        this.image = this.rowData[this.rowOptions.name]
    },
    methods: {
        showFull() {
            this.centerDialogVisible = true;
        }
    }
}
</script>

<style>
</style>
