<template>

    <div class="content-caption">
        <h1 v-if="!replacedTitle">{{ pageTitle ? ucfirst(generateTitle(pageTitle)) : '' }} {{ additionText }}</h1>
        <h1 v-else>{{ ucfirst(replacedTitle) }}</h1>
    </div>

</template>

<script>
import { generateTitle } from '@/utils/i18n'

export default {
    props: ['addition'],
    data() {
        return {
            pageTitle: 'Default Title',
            replacedTitle: '',
            can_update: true,
        }
    },
    methods: {
        generateTitle,
        updatePageTitle() {
            this.replacedTitle = '';
            this.pageTitle = this.$route.meta.pageTitle
        }
    },
    computed: {
        additionText() {
            if (this.addition) {
                return ` :: ${this.addition}`;
            }

            return '';
        }
    },
    watch: {
        '$route'() {
            this.can_update = true;
            this.updatePageTitle();
        }
    },
    events: {
        'title-replace'(data) {
            if (this.can_update, data) {
                this.replacedTitle = data;
                this.can_update = false;
            }           
        },
    },
    created() {
        this.can_update = true;
        this.updatePageTitle()
    }
}
</script>

<style>
</style>
