<template>

    <span v-if="rowData.editable !== undefined && !rowData.editable">
        -
    </span>

    <span v-else-if="rowData[this.parameters.field] > 1">
        {{ ucfirst(trans('core_fields.status-element')) }}
    </span>

    <el-switch v-else
               @change="toggleStatus"
               v-model="position"
               :width="30">
    </el-switch>

</template>

<script>
export default {
    props: {
        params: {
            type: Object,
        },
        rowData: {
            type: Object,
            required: true
        },
        feed: {
            type: Object,
            required: false
        }
    },
    data() {
        return {
            data: this.rowData,
            parameters: {},
            position: false,
        }
    },
    methods: {
        toggleStatus() {
            this.$events.fire('toggleField', [this.data.id], this.position, this.parameters);
        }
    },
    watch: {
        feed(newData, old) {
            if (newData[this.data.id] !== undefined) {
                this.position = !!newData[this.data.id];
                this.data[this.parameters.field] = newData[this.data.id];
            }
        },
        rowData(newData, old) {
            this.data = newData;
            this.position = !!newData[this.parameters.field];
        }
    },
    mounted() {
        let defaultRoute = this.$route.name.split('.').slice(0, 3).join('.') + '.toggleField';

        this.parameters = this.params ? this.params : {field: 'status', url: route(defaultRoute)};
        this.position = !!this.rowData[this.parameters.field];
    }
}
</script>

<style>
</style>
