<template>
    <div class="tags-view-element-container" v-if="!$breakpoint.smAndDown">
        <nav>
            <p>{{ trans('core_core.tabs.history') }}</p>

            <router-link ref='tag'
                         class="tags-item"
                         :class="isActive(tag) ? 'active' : ''"
                         v-for="tag in Array.from(visitedViews)"
                         :to="tag.path"
                         :key="tag.path">

                <span v-if="tag.name.includes('.edit')">{{ generateTitle(tag.pageTitle) + ' ID-' + tag.pageId }}</span>

                <span v-else>{{ generateTitle(tag.pageTitle) }}</span>

                <button @click.prevent.stop='closeSelectedTag(tag)'>
                    <svg><use class="text" xlink:href="#close"></use></svg>
                </button>

            </router-link>

            <p @click='closeOthersTags' class="ml-auto">{{ trans('core_core.tabs.close tags') }}</p>

        </nav>
    </div>
</template>

<script>
import helpers from '@services/helpers'
import { generateTitle } from '@/utils/i18n'

export default {
    data() {
        return {
            visible: false,
            currentTag: this.$route
        }
    },
    computed: {
        visitedViews() {
            return this.$store.state.tagsView.visitedViews
        }
    },
    watch: {
        $route() {
            this.addViewTags();
            this.moveToCurrentTag();
            this.currentTag = this.$route;
        }
    },
    mounted() {
        this.addViewTags()
    },
    methods: {
        generateTitle,
        generateRoute() {
            if (this.$route.name) {
                return this.$route
            }

            return false
        },
        isActive(route) {
            return route.path === this.$route.path || route.name === this.$route.name
        },
        addViewTags() {
            const route = this.generateRoute();

            if (!route) {
                return false
            }

            this.$store.dispatch('addVisitedViews', route)
        },
        moveToCurrentTag() {
            const tags = this.$refs.tag;

            this.$nextTick(() => {
                for (const tag of tags) {
                    if (tag.to === this.$route.path) {
                        break
                    }
                }
            })
        },
        closeSelectedTag(view) {
            this.$store.dispatch('delVisitedViews', view).then((views) => {
                if (this.isActive(view)) {
                    const latestView = views.slice(-1)[0];

                    if (latestView) {
                        this.$router.push(latestView.path)
                    } else {
                        this.$router.push('/' + helpers.makeBaseUrl() + '/')
                    }
                }
            })
        },
        closeOthersTags() {
            this.$router.push(this.currentTag.path)
            this.$store.dispatch('delOthersViews', this.currentTag).then(() => {
                this.moveToCurrentTag()
            })
        },
        closeAllTags() {
            this.$store.dispatch('delAllViews')
            this.$router.push('/' + helpers.makeBaseUrl() + '/')
        }
    }
}
</script>

<style>
</style>
