<template>

    <!-- Form -->
    <el-form ref="form" :model="formData" label-position="top" v-loading.body="loading" class="inner-editing user-module">

        <!-- Tabs -->
        <el-tabs tab-position="top" type="border-card">

            <!-- Tab User -->
            <el-tab-pane :label="trans('users_crud-fields.users.user.tab_name')">

                <div class="tab_sub_caption">
                    <span>{{ trans('core_form.tabs.parameter') }}</span>
                    <p>{{ trans('core_form.tabs.value') }}</p>
                </div>

                <span slot="label"
                    :class="{'label-error' : form.errors.any()}">
                    {{ trans('users_crud-fields.users.user.tab_name') }}
                </span>

                <el-form-item :label="trans('users_crud-fields.users.user.first_name')" :class="'is-required'">
                    <el-input v-model="formData.first_name"></el-input>
                    <div class="el-form-item__error"
                        v-if="form.errors.has('first_name')"
                        v-text="form.errors.first('first_name')">
                    </div>
                </el-form-item>

                <el-form-item :label="trans('users_crud-fields.users.user.last_name')" :class="'is-required'">
                    <el-input v-model="formData.last_name"></el-input>
                    <div class="el-form-item__error"
                        v-if="form.errors.has('last_name')"
                        v-text="form.errors.first('last_name')">
                    </div>
                </el-form-item>

                <el-form-item :label="trans('users_crud-fields.users.user.email')" :class="'is-required'">
                    <el-input v-model="formData.email"></el-input>
                    <div class="el-form-item__error"
                        v-if="form.errors.has('email')"
                        v-text="form.errors.first('email')">
                    </div>
                </el-form-item>

                <el-form-item :label="trans('users_crud-fields.users.user.is_activated')" class="checkbox">
                    <el-checkbox v-model="formData.activated"></el-checkbox>
                </el-form-item>

                <div v-if="formData.is_new">
                    <el-form-item :label="trans('users_crud-fields.users.password.password')" :class="'is-required'">
                        <el-input v-model="formData.password" type="password"></el-input>
                        <div class="el-form-item__error"
                            v-if="form.errors.has('password')"
                            v-text="form.errors.first('password')">
                        </div>
                    </el-form-item>

                    <el-form-item :label="trans('users_crud-fields.users.password.password_confirmation')" :class="'is-required'">
                        <el-input v-model="formData.password_confirmation" type="password"></el-input>
                    </el-form-item>
                </div>

            </el-tab-pane>

            <!-- Tab Role -->
            <el-tab-pane :label="trans('users_crud-fields.users.role.tab_name')">

                <div class="tab_sub_caption">
                    <span>{{ trans('core_form.tabs.parameter') }}</span>
                    <p>{{ trans('core_form.tabs.value') }}</p>
                </div>

                <span slot="label"
                    :class="{'label-error' : form.errors.any()}">
                    {{ trans('users_crud-fields.users.role.tab_name') }}
                </span>
                <el-form-item :label="trans('users_crud-fields.users.role.roles')" :class="['is-required', 'select']">
                    <el-select v-model="formData.roles" placeholder="Select">
                        <el-option v-for="role in roles"
                                   :key="role.id"
                                   :label="role.name"
                                   :value="role.id">
                        </el-option>
                    </el-select>

                    <div class="el-form-item__error"
                        v-if="form.errors.has('roles')"
                        v-text="form.errors.first('roles')">
                    </div>

                </el-form-item>

            </el-tab-pane>

            <!-- Tab New Password -->
            <el-tab-pane :label="trans('users_crud-fields.users.password.tab_name')" v-if="!formData.is_new">

                <div class="tab_sub_caption">
                    <span>{{ trans('core_form.tabs.parameter') }}</span>
                    <p>{{ trans('core_form.tabs.value') }}</p>
                </div>

                <div v-if="!formData.is_new">

                    <el-form-item :label="trans('users_crud-fields.users.password.password')" v-if="permission">
                        <el-input v-model="formData.password"
                                  type="password">
                        </el-input>
                    </el-form-item>

                    <el-form-item :label="trans('users_crud-fields.users.password.password_confirmation')" v-if="permission">
                        <el-input v-model="formData.password_confirmation"
                                  type="password">
                        </el-input>
                    </el-form-item>


                    <div class="el-form-item center">
                        <label class="el-form-item__label">{{trans('users_crud-fields.users.password.send_email')}}</label>
                        <div class="el-form-item__content">
                            <button type="button"
                                       :loading="resetEmailIsLoading"
                                       @click="sendResetEmail"
                                       class="button icon-btn-text black">
                                {{trans('users_crud-fields.users.password.send_reset')}}
                            </button>
                        </div>
                    </div>

                </div>

            </el-tab-pane>

            <!-- Tab Permissions -->
            <el-tab-pane :label="trans('users_crud-fields.users.permissions.tab_name')" v-if="permission && !formData.is_new">

                <application-permissions v-if="!loading"
                                         v-model="formData.permissions"
                                         :current-role-permissions="formData.role_permissions"
                                         is-user>
                </application-permissions>

            </el-tab-pane>

        </el-tabs>

        <!-- Buttons -->
        <el-form-item class="edit-bottom">
            <button v-html="this.generateSvg('save-icon', this.trans('core_form.buttons.save'))"
                    type="button"
                    v-on:click="onSubmit"
                    :class="[validateSaveButton ? '' : 'disabled', 'button pink icon-btn-text']"
                    :loading="loading">
            </button>
            <button type="button"
                    v-on:click="onCancel"
                    class="button black">
                    {{ this.trans('core_form.buttons.cancel') }}
            </button>
        </el-form-item>

    </el-form>

</template>

<script>
import applicationPermissions from '@components/application-permissions'
import Form from 'form-backend-validation'

export default {
    components: {
        'application-permissions': applicationPermissions
    },
    data() {
        return {
            formData: {
                is_new: true,
            },
            form: new Form(),
            roles: {},
            permission: false,
            validateSaveButton: true,
            resetEmailIsLoading: false,
            loading: false,
        }
    },
    methods: {
        onSubmit() {
            this.form = new Form(this.formData);
            this.loading = true;

            this.form.post(this.getRoute())
                .then((response) => {
                    this.loading = false;

                    if (response.errors) {
                        this.$notify.error({
                            title: 'Error!',
                            message: response.message,
                            offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                        });
                    } else {
                        this.$notify.success({
                            title: 'Success!',
                            message: response.message,
                            offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                        });
                    }

                    if (this.$route.params.preRoute !== undefined) {
                        this.$router.push({ name: 'api.backend.users', params: { type: this.$route.params.preRoute.params.type } });
                    } else {
                        this.$router.push({ name: 'api.backend.users', params: { type: 'users' } });
                    }
                })
                .catch((error) => {
                    console.log('Error - ' + error);

                    this.$notify.error({
                        title: 'Error!',
                        message: 'Oops, this is a error!',
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });

                    this.loading = false;
                });
        },
        onCancel() {
            if (this.$route.params.preRoute !== undefined) {
                this.$router.push({ name: 'api.backend.users', params: { type: this.$route.params.preRoute.params.type } });
            } else {
                this.$router.push({ name: 'api.backend.users', params: { type: 'users' } });
            }
        },
        fetchUser() {
            this.loading = true;

            this.pushAxiosGet(route('api.backend.users.find', this.$route.params.id), (response) => {
                this.formData.is_new = false;
                this.formData = response.data;
                this.$events.fire('title-addition', response.data.first_name + ' ' + response.data.last_name);
                this.loading = false;
            });
        },
        fetchRoles() {
            this.pushAxiosGet(route('api.backend.roles.all-roles'), (response) => {
                this.roles = response.data;
            });
        },
        fetchPermission() {
            if (this.$route.params.id !== undefined && this.$route.params.id !== 0) {
                this.pushAxiosGet(route('api.backend.permissions.hasPermission', { user_id: this.$route.params.id }), (response) => {
                    this.permission = response.hasPermission;
                });
            }
        },
        getRoute() {
            if (this.$route.params.id !== undefined && this.$route.params.id !== 0) {
                return route('api.backend.users.update', { user_id: this.$route.params.id, data: this.formData });
            }

            return route('api.backend.users.store');
        },
        sendResetEmail() {
            this.resetEmailIsLoading = true;

            this.pushAxiosGet(route('api.backend.users.sendResetPassword', { user_id: this.$route.params.id }), (response) => {
                this.resetEmailIsLoading = false;

                if (response.errors) {
                    this.$notify.warning({
                        title: 'Warning!',
                        message: response.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });
                } else {
                    this.$notify.success({
                        title: 'Success!',
                        message: response.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });
                }
            });
        }
    },
    created: function() {
        this.fetchPermission();
    },
    beforeMount: function() {
        this.validateSaveButton = this.validateUserPermissionCreateByRouteName(this.$route.name)
    },
    mounted: function() {
        if (this.$route.params.id !== undefined && this.$route.params.id !== 0) {
            this.validateSaveButton = this.validateUserPermissionEditByRouteName(this.$route.name)

            this.fetchUser()
        }

        this.fetchRoles()

        this.$el.querySelector('.el-select__caret').insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
    }
}
</script>

<style>
    .label-error{
        color: red
    }
</style>
