<template>
    <div class="w-full flex flex-row flex-wrap">

        <!-- Tabs -->
        <el-tabs v-model="defaultType" tab-position="top" @tab-click="handleClick" class="w-full">

            <el-tab-pane :label="trans('users_sidebar.submenu.admins')" name="admin"></el-tab-pane>

            <el-tab-pane :label="trans('users_sidebar.submenu.users')" name="users"></el-tab-pane>

            <!-- Tab Roles -->
            <el-tab-pane v-if="this.validateUserPermissionIndexByRouteName('api.backend.roles')"
                         :label="trans('users_sidebar.submenu.roles')"
                         name="roles">
            </el-tab-pane>

        </el-tabs>

        <data-table :table="table"></data-table>

    </div>
</template>

<script>
import helpers from '@services/helpers'
import dataTable from '@components/data-table-origin'

export default {
    components: {
        dataTable
    },
    data() {
        return {
            table: {
                apiRoute: route('api.backend.users.index', { type: this.$route.params.type }),
                transRoute: 'users_table-fields.users',
                columns: [
                    {
                        name: '__checkbox',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: '__component:status-element',
                        titleClass: 'state-action',
                        dataClass: 'state-action',
                    },
                    {
                        name: 'email',
                        sortField: 'email',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                        callback: 'ifRedLightest',
                    },
                    {
                        name: 'fullname',
                        titleClass: 'col-center big',
                        dataClass: 'big',
                        callback: 'ifRedLightest',
                    },
                    {
                        name: 'role',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'online_status',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                        callback: 'onlineStatus'
                    },
                    {
                        name: 'last_login',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                        callback: 'formatDate|HH:mm DD.MM.YYYY',
                    },
                    {
                        name: 'created_at',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                        callback: 'formatDate|DD.MM.YYYY',
                    },
                    {
                        name: 'impersonate',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                        callback: 'canImpersonate',
                    },
                    {
                        name: '__component:actions-element',
                        options: {
                            buttonParams: {
                                view: false,
                                edit: true,
                                delete: true
                            }
                        },
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    }
                ],
                sortOrder: [
                    {
                        field: 'id',
                        sortField: 'id',
                        direction: 'asc',
                    }
                ]
            },
            defaultType: 'users'
        }
    },
    methods: {
        handleClick(tab, event) {
            if (tab.name == 'roles') {
                this.pushRoute('api.backend.roles');
            } else {
                this.$router.push({ name: 'api.backend.users', params: { type: tab.name } });

                this.table.apiRoute = route('api.backend.users.index', { type: tab.name });
            }
        },
        onlineStatus(value) {
            if (value) {
                return '<svg class="green-circle"><use class="green-circle" xlink:href="#green-circle"></use></svg>'
            }

            return '<svg class="red-circle"><use class="red-circle" xlink:href="#red-circle"></use></svg>'
        },
        canImpersonate(value, item) {
            if (item.status) {
                if (helpers.appStorage().currentUser.permissions['users.impersonate']) {
                    return `<a class="impersonate" href="${route('backend.users.impersonate', {id: value})}">${this.$t('users_table-fields[\'users.impersonate true\']')}</a>`;
                }
            }

            return `<a class="impersonate disabled" href="#">${this.$t('users_table-fields[\'users.impersonate false\']')}</a>`;
        },
        ifRedLightest(value, item) {
            if (item.permissions === null) {
                return value;
            }

            return `<p>
                ${value}
                <i style="font-weight: bold" class='table-comment'>
                    ${this.$t('users_table-fields[\'roles.changed rights\']')} ${item.role}
                </i>
            </p>`;
        }
    },
    created: function() {
        if (this.$route.params.type !== undefined) {
            this.defaultType = this.$route.params.type;
        } else {
            this.defaultType = 'users';
        }
    }
};
</script>

<style>
</style>
