<template>
    <div class="container mx-auto">

        <!-- Form -->
        <el-form ref="form"
            :model="postData"
            label-width="120px"
            label-position="top"
            v-loading.body="loading">

            <!-- Tabs -->
            <el-tabs v-model="activeTab" type="border-card">

                <!-- Tab For Each Language -->
                <el-tab-pane :label="localeArray.name"
                                v-for="(localeArray, locale) in locales"
                                :key="localeArray.name"
                                :name="locale">

                    <el-row :gutter="24">

                        <el-col :span="18">

                            <el-form-item label="Title">
                                <el-input placeholder="Title" v-model="postData[locale].title" v-on:keyup.native="generateSlug"></el-input>
                                <div class="el-form-item__error"
                                    v-if="form.errors.has(locale + '.title')"
                                    v-text="form.errors.first(locale + '.title')">
                                </div>
                            </el-form-item>

                            <el-form-item label="Slug">
                                <el-input placeholder="Slug" v-model="postData.slug"></el-input>
                                <div class="el-form-item__error"
                                    v-if="form.errors.has('slug')"
                                    v-text="form.errors.first('slug')">
                                </div>
                            </el-form-item>

                            <el-form-item label="Content">

                                <text-editor v-model="postData[locale].content" @mutatedValue="value => { postData[locale].content = value }"></text-editor>

                            </el-form-item>

                        </el-col>

                        <el-col :span="6">

                            <el-form-item label="Category">
                                <el-select v-model="postData.category_id" placeholder="Select">
                                    <el-option v-for="(value, id) in categories"
                                                :key="id"
                                                :label="value.title"
                                                :value="value.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Status">
                                <el-select v-model="postData.status" placeholder="Select">
                                    <el-option v-for="(value, id) in statuses"
                                                :key="id"
                                                :label="value"
                                                :value="id">
                                    </el-option>
                                </el-select>
                            </el-form-item>

                        </el-col>

                    </el-row>

                </el-tab-pane>

            </el-tabs>

            <!-- Buttons -->
            <el-form-item class="text-center px-4 py-2 m-2">
                <el-button type="primary" v-on:click="onSubmit">Save</el-button>
                <el-button v-on:click="onCancel">Cancel</el-button>
            </el-form-item>

        </el-form>

    </div>
</template>

<script>
    import helpers from '../../services/helpers'
    import textEditor from '../../components/fields/text-editor'
    import Form from 'form-backend-validation'

    export default {
        components: {
            'text-editor': textEditor
        },
        props: {
            locales: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                postData: _(this.locales)
                    .keys()
                    .map(locale => [locale, {
                        title: ''
                    }])
                    .fromPairs()
                    .value(),
                categories: {},
                statuses: {},
                form: new Form(),
                loading: false,
                activeTab: helpers.appStorage().currentDefaultLocale || 'en',
            }
        },
        methods: {
            onSubmit() {
                this.form = new Form(this.postData);
                this.loading = true;

                this.form.post(this.getRoute())
                    .then((response) => {
                        this.loading = false;

                        this.$message({
                            type: 'success',
                            message: response.message,
                            center: true
                        });

                        this.pushRoute('api.backend.articles');
                    })
                    .catch((error) => {
                        console.log('Error - ' + error);

                        this.loading = false;
                        this.$message.error('Oops, this is a error!');
                    });
            },
            onCancel() {
                this.pushRoute('api.backend.articles');
            },
            generateSlug() {
                this.postData.slug = this.slugify(this.postData[helpers.appStorage().currentDefaultLocale].title);
            },
            fetchPost() {
                this.loading = true;

                this.pushAxiosGet(route('api.backend.articles.find', this.$route.params.id), (response) => {
                    this.loading = false;
                    this.postData = response.data;
                });
            },
            fetchParams() {
                this.pushAxiosGet(route('api.backend.articles.findNew'), (response) => {
                    this.categories = response.categories;
                    this.statuses = response.statuses;
                });
            },
            getRoute() {
                if (this.$route.params.id !== undefined) {
                    return route('api.backend.articles.update', { post: this.$route.params.id, data: this.postData });
                }

                return route('api.backend.articles.store');
            }
        },
        mounted: function() {
            if (this.$route.params.id !== undefined) {
                this.fetchPost();
            }

            this.fetchParams();
        }
    }
</script>

<style>
</style>
