<template>
    <div class="container mx-auto">

        <!-- Tabs -->
        <el-tabs v-model="activeName" tab-position="top" @tab-click="handleClick">

            <!-- Tab Posts -->
            <el-tab-pane label="Posts" name="posts">

                <!-- Tab for each Category -->
                <el-tabs tab-position="top" @tab-click="handleClick">
                    <el-tab-pane v-for="(value, id) in categories" :key="id" :label="value.title" :name="value.id.toString()"></el-tab-pane>
                </el-tabs>

                <div class="flex justify-between items-center">

                    <!-- Filer -->
                    <filter-bar></filter-bar>

                    <!-- Add button -->
                    <router-link :to="{name: 'api.backend.articles.create'}">
                        <el-button type="primary"><i class="el-icon-edit"></i>Add post</el-button>
                    </router-link>

                </div>

                <!-- Table component -->
                <data-table :apiRoute="table.apiRoute" :fields="table.columns" :sortOrder="table.sortOrder"></data-table>

            </el-tab-pane>

            <!-- Tab Categories -->
            <el-tab-pane label="Categories" name="categories"></el-tab-pane>

        </el-tabs>

    </div>
</template>

<script>
    import dataTable from '../../components/data-table'
    import filterBar from '../../components/elements/filter-bar'

    export default {
        components: {
            dataTable,
            filterBar
        },
        data() {
            return {
                table: {
                    apiRoute: route('api.backend.articles.index'),
                    columns: [
                        {
                            name: 'status',
                            title: 'Status',
                            sortField: 'status',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'translations.title',
                            title: 'Title',
                            sortField: 'translations.title',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'slug',
                            title: 'Slug',
                            sortField: 'slug',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'created_at',
                            title: 'Created',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            callback: 'formatDate|DD.MM.YYYY'
                        },
                        {
                            name: '__component:custom-actions',
                            options: {
                                buttonParams: {
                                    view: false,
                                    edit: true,
                                    delete: true
                                }
                            },
                            title: 'Actions',
                            titleClass: 'text-center',
                            dataClass: 'text-center'
                        }
                    ],
                    sortOrder: [
                        {
                            field: 'id',
                            sortField: 'id',
                            direction: 'asc'
                        }
                    ]
                },
                categories: {},
                activeName: 'posts'
            }
        },
        methods: {
            handleClick(tab) {
                if (tab.name == 'categories') {
                    this.pushRoute('api.backend.articles.categories');
                } else {
                    this.$router.push({ name: 'api.backend.articles.categories.show', params: {id: tab.name} });
                }
            },
            fetchCategories() {
                this.pushAxiosGet(route('api.backend.articles.findNew'), (response) => {
                    this.categories = response.categories;
                });
            }
        },
        mounted: function() {
            this.fetchCategories();
        }
    };
</script>

<style>
</style>
