<template>

    <div class="left flex flex-row w-full">

        <button v-if="canGoBack && !subTable && buttonOptions.goBack" @click="goBack" class="button black icon-btn-text">
            <svg class="button-icon arrow-back">
                <use class="arrow-back" xlink:href="#arrow-back"></use>
            </svg>
            {{ ucfirst(trans('core_table.buttons.go back')) }}
        </button>

        <router-link v-if="buttonOptions.create"
                     tag="button"
                     :to="{name: newApiRouteName, params: { id: this.$route.params.id || 0, preRoute: this.$route }}"
                     :class="[validateUserPermissionCreateByRouteName(this.$route.name) ? '' : 'disabled', 'button black icon-btn-text']">
            <svg class="button-icon plus">
                <use class="text" xlink:href="#plus"></use>
            </svg>
            {{ ucfirst(trans('core_table.buttons.create')) }}
        </router-link>

        <button v-if="buttonOptions.deleteAll"
                @click="deleteAll(value)"
                :class="[value.length && validateUserPermissionDeleteByRouteName(this.$route.name) ? '' : 'disabled', 'button black icon-btn-text counted']">
            <svg class="delete">
                <use class="delete" xlink:href="#delete"></use>
            </svg>
            <i>{{ value.length }}</i>
            {{ ucfirst(trans('core_table.buttons.delete')) }}
        </button>

    </div>

</template>

<script>
import swal from 'sweetalert2'

export default {
    props: {
        value: {
            type: Array
        },
        apiName: {
            type: String
        },
        subTable: {
            type: Boolean
        },
        buttonOptions: {
            type: Object,
            default() {
                return {
                    goBack: true,
                    create: true,
                    deleteAll: true
                }
            }
        },
    },
    data() {
        return {
            newApiRouteName: ''
        }
    },
    methods: {
        goBack() {
            this.$events.fire('goBack');
        },
        deleteAll(data) {
            swal({
                title: this.$t('core_alerts[\'swal.title\']'),
                text: this.$t('core_alerts[\'swal.delete all text\']'),
                type: "warning",
                showCancelButton: true,
                confirmButtonText: this.$t('core_form[\'buttons.delete\']'),
                cancelButtonText: this.$t('core_form[\'buttons.cancel\']'),
            }).then((result) => {
                if (result.value) {
                    data.forEach(item => {
                        let name = this.apiName || this.$route.name

                        this.pushAxiosDelete(route(name + '.destroy', item), (response) => {
                            swal({
                                title: this.$t('core_alerts[\'swal.success title\']'),
                                type: "success",
                                showConfirmButton: false,
                                timer: 750
                            });

                            Vue.nextTick( () => this.$parent.$refs.vuetable.refresh() )
                        });
                    });

                    this.$emit('input', []);
                }
            });
        },
    },
    computed: {
        canGoBack() {
            const item = parseInt(this.$route.path.split('/').pop());

            return Number.isInteger(item) && item > 0
        }
    },
    mounted() {
        let name = this.apiName || this.$route.name.split('.').slice(0, 3).join('.')

        this.newApiRouteName = name + '.create';
    }
};
</script>

<style>
</style>
