<script>
export default {
    props: {
        infoTemplate: {
            type: String,
            default() {
                return "{from} - {to} {of} {total}"
            }
        },
        noDataTemplate: {
            type: String,
            default() {
                return this.$t('core_table[\'pagination info.no relevant data\']')
            }
        }
    },
    data: function() {
        return {
            tablePagination: null
        }
    },
    computed: {
        paginationInfo () {
            if (this.tablePagination == null || this.tablePagination.total == 0) {
                return this.noDataTemplate
            }

            return this.infoTemplate
                .replace('{from}', this.tablePagination.from || 0)
                .replace('{to}', this.tablePagination.to || 0)
                .replace('{of}', this.trans('core_table.pagination info.of') || 'из')
                .replace('{total}', this.tablePagination.total || 0)
        }
    },
    methods: {
        setPaginationData (tablePagination) {
            this.tablePagination = tablePagination
        },
        resetData () {
            this.tablePagination = null
        }
    }
}
</script>

<style>
</style>
