<template>
    <div class="filter-bar">
        <form class="w-full flex flex-row" ref="formSearch">

            <label class="flex flex-row">

                <button type="button"
                        class="button black svg-search"
                        v-html="generateSvg('search', '')"
                        @click="toggleSearch()">
                </button>

                <input :ref="'input'" class="appearance-none bg-transparent border-none w-full" type="text" v-model="filterText" @keyup="doFilter"/>

            </label>

            <button type="button"
                    class="button icon-btn-text black"
                    @click="toggleSearch()">
                {{ isActive ? ucfirst(trans('core_table.filter.clear')) : ucfirst(trans('core_table.filter.search for')) }}
            </button>

        </form>
    </div>
</template>

<script>
import debounce from 'lodash.debounce'

export default {
    props: ['filter'],
    data() {
        return {
            isActive: false,
            filterText: '',
        }
    },
    methods: {
        toggleSearch() {
            let _this = this,
                form = this.$refs.formSearch,
                input = this.$refs.input;

            this.isActive = !this.isActive;

            if (this.isActive) {
                Velocity(input, {width: ['300px', '0px']}, {
                    duration: 550,
                    begin: function (elements) {
                        form.classList.add('active');
                        elements[0].style.display = 'block';
                    },
                    complete: function () {
                        input.focus();
                        form.classList.add('open')
                    }
                });

            } else {
                Velocity(input, {width: '0px'}, {
                    duration: 550,
                    begin: function () {
                        form.classList.remove('active');
                        form.classList.remove('open');
                        input.blur();
                    },
                    complete: function () {
                        _this.$emit('search-reset');
                    }
                });

            }
        },
        doFilter: debounce(function () {
            this.$emit('search-set', this.filterText);
        }, 500),
    },
    mounted() {
        if (this.filter) {
            this.isActive = true;
            this.toggleSearch();
        }
    },
    watch: {
        filter: {
            immediate: true,
            handler(to) {
                this.filterText = to;
            }
        }
    },
    events: {
        'search-bar-element-reset'() {
            this.toggleSearch();
        }
    }
}
</script>

<style>
</style>
