<template>

    <div v-loading="loading"
         :data-count="this.tableFields.length"
         :class="[this.tableFields.length === 1 ? 'boxes': '', 'table-wrapper w-full', checkOverflow() ? 'show-scroll' : '' ]">

        <span class="before"></span>
        <span class="after"></span>

        <div class="table-body w-full">
            <table ref="mainTable"
                    :class="['table-flex w-full']"
                    cellspacing="0" cellpadding="0" border="0">

                <thead>

                    <tr>

                        <template v-for="(field, fieldIndex) in tableFields">

                            <template v-if="field.visible">

                                <template v-if="isSpecialField(field.name)">

                                    <th v-if="extractName(field.name) === '__checkbox'"
                                        :key="fieldIndex"
                                        :class="['is-leaf vuetable-th-checkbox-' + trackBy, field.titleClass, 'index-'+ fieldIndex]">
                                        <label :class="['checkbox cell', checkboxState.checked ? 'checked' : '']">
                                            <input :id="`check-${fieldIndex}`" type="checkbox" @change="toggleAllCheckboxes(field.name, $event)"
                                                   v-bind.prop="checkboxState">
                                            <span></span>
                                        </label>
                                    </th>

                                    <th v-if="extractName(field.name) === '__component'"
                                        :key="fieldIndex"
                                        :class="['is-leaf vuetable-th-component-' + trackBy, field.titleClass, sortClass(field), {'sortable': isSortable(field)}, 'index-'+ fieldIndex]"
                                        @click="orderBy(field, $event)">
                                        <div class="cell caption" v-html="renderTitle(field)"></div>
                                    </th>

                                    <th v-if="notIn(extractName(field.name), ['__sequence', '__checkbox', '__component', '__slot'])"
                                        :key="fieldIndex"
                                        :class="['is-leaf vuetable-th-' + field.name, field.titleClass || '', sortClass(field), 'index-'+ fieldIndex]">
                                        <div class="cell caption" v-html="renderTitle(field)"></div>
                                    </th>

                                </template>

                                <template v-else>

                                    <th @click="orderBy(field, $event)"
                                        :key="fieldIndex"
                                        :id="'_' + field.name"
                                        :class="['is-leaf vuetable-th-' + field.name, field.titleClass, sortClass(field), {'sortable': isSortable(field)}, 'index-'+ fieldIndex]">

                                        <div class="cell caption" v-html="renderTitle(field)"></div>

                                    </th>

                                </template>

                            </template>

                        </template>

                    </tr>

                </thead>

                <draggable v-cloak
                           v-model="list"
                           :element="'tbody'"
                           :move="move"
                           @end="onDragEnd"
                           :options="dragOptions"
                           class="el-table-body vuetable-body">

                    <tr :style="{'background-color': (item.id == highlightedId ? '#ececec' : '')}"
                        :key="itemIndex"
                        :item-index="itemIndex"
                        :render="onRowChanged(item)"
                        :class="[onRowClass(item, itemIndex),'el-table__row']"
                        @click="onRowClicked(item, $event)"
                        v-for="(item, itemIndex) in tableData">

                        <template v-for="(field, fieldIndex) in tableFields">

                            <template v-if="field.visible">

                                <template v-if="isSpecialField(field.name)">

                                    <td v-if="extractName(field.name) === '__checkbox'" :key="fieldIndex"
                                        :class="['table-checkboxes', field.dataClass, 'vuetable-th-' + field.name]">

                                    <label role="checkbox" class="checkbox cell">
                                            <input aria-hidden="true" value="" type="checkbox" @change="toggleCheckbox(item, field.name, $event)"
                                                   :checked="rowSelected(item, field.name)">
                                        <span></span>
                                    </label>

                                    </td>

                                    <td v-if="extractName(field.name) === '__component'"
                                        :key="fieldIndex"
                                        :class="['table-component', field.dataClass, 'vuetable-th-' + field.name]">

                                        <component v-if="extractArgs(field.name) == 'actions-element' || extractArgs(field.name) == 'image-element'"
                                                   :feed="fields[fieldIndex].feed"
                                                   :apiName="apiName"
                                                   :is="extractArgs(field.name)"
                                                   :row-data="item"
                                                   :row-index="itemIndex"
                                                   :row-options="field.options"
                                                   :row-field="field.sortField"
                                                   :currentPage="currentPage">
                                        </component>

                                        <component :params="fields[fieldIndex].params" :feed="fields[fieldIndex].feed" v-else :is="extractArgs(field.name)" :row-data="item" :row-index="itemIndex" :row-field="field.sortField">
                                        </component>

                                    </td>

                                </template>

                                <template v-else>

                                    <td v-if="field.name === '_service-ordering'"
                                        :key="fieldIndex"
                                        @mousedown="drag = true"
                                        :class="[field.dataClass, 'td-order']"
                                        v-html="generateSvg('sort-order', '' )">
                                    </td>

                                    <td v-else-if="hasCallback(field)"
                                        :key="fieldIndex"
                                        :class="[field.dataClass, 'vuetable-th-' + field.name]"
                                        @click="onCellClicked(item, field, $event)"
                                        v-html="callCallback(field, item)">
                                    </td>

                                    <td v-else
                                        :key="fieldIndex"
                                        :class="[field.dataClass, 'vuetable-th-' + field.name]"
                                        @click="onCellClicked(item, field, $event)"
                                        v-html="getObjectValue(item, field.name, '')">
                                    </td>

                                </template>

                            </template>

                        </template>

                    </tr>

                    <template v-if="useDetailRow">
                        <transition :name="detailRowTransition" :key="itemIndex">
                            <tr v-if="isVisibleDetailRow(item[trackBy])"
                                :class="[css.detailRowClass]"
                                @click="onDetailRowClick(item, $event)">
                                <td :colspan="countVisibleFields">
                                    <component :is="detailRowComponent" :row-data="item" :row-index="itemIndex"></component>
                                </td>
                            </tr>
                        </transition>
                    </template>

                    <template v-if="displayEmptyDataRow">
                        <tr>
                            <td :colspan="countVisibleFields" class="table-empty-result col-center" v-html="noDataTemplate"></td>
                        </tr>
                    </template>

                    <template v-if="lessThanMinRows">
                        <tr v-for="i in blankRows" class="blank-row" :key="i">
                            <template v-for="(field, fieldIndex) in tableFields">
                                <td v-if="field.visible" :key="fieldIndex">&nbsp;</td>
                            </template>
                        </tr>
                    </template>

                </draggable>

            </table>
        </div>

    </div>

</template>

<script>
import helpers from '@services/helpers'
import draggable from 'vuedraggable'

export default {
    components: {
        draggable,
    },
    props: {
        transRoute: {
            type: String
        },
        apiName: {
            type: String
        },
        subTable: {
            type: Boolean,
            required: true
        },
        fields: {
            type: Array,
            required: true
        },
        loadOnStart: {
            type: Boolean,
            default: true
        },
        apiRoute: {
            type: String,
            default: ''
        },
        httpMethod: {
            type: String,
            default: 'get',
            validator: (value) => {
                return ['get', 'post'].indexOf(value) > -1
            }
        },
        reactiveApiUrl: {
            type: Boolean,
            default: true
        },
        apiMode: {
            type: Boolean,
            default: true
        },
        data: {
            type: [Array, Object],
            default: null
        },
        dataTotal: {
            type: Number,
            default: 0
        },
        dataManager: {
            type: Function,
            default: null
        },
        dataPath: {
            type: String,
            default: 'data'
        },
        paginationPath: {
            type: [String],
            default: 'links.pagination'
        },
        queryParams: {
            type: [Object, Function],
            default () {
                return {
                    sort: 'sort',
                    page: 'page',
                    perPage: 'per_page'
                }
            }
        },
        appendParams: {
            type: Object,
            default () {
                return {}
            }
        },
        httpOptions: {
            type: Object,
            default () {
                return { headers: { Authorization: this.getApiToken() } }
            }
        },
        httpFetch: {
            type: Function,
            default: null
        },
        perPage: {
            type: Number,
            default: 10
        },
        initialPage: {
            type: Number,
            default: 1
        },
        sortOrder: {
            type: Array,
            default () {
                return []
            }
        },
        multiSort: {
            type: Boolean,
            default () {
                return false
            }
        },
        reactiveApiRoute: {
            type: Boolean,
            default: true
        },
        multiSortKey: {
            type: String,
            default: 'alt'
        },
        rowClassCallback: {
            type: [String, Function],
            default: ''
        },
        rowClass: {
            type: [String, Function],
            default: ''
        },
        detailRowComponent: {
            type: String,
            default: ''
        },
        detailRowTransition: {
            type: String,
            default: ''
        },
        trackBy: {
            type: String,
            default: 'id'
        },
        noDataTemplate: {
            type: String,
            default() {
                return '<div class="w-full text-center">' + this.$t('core_table[\'vuetable.no data available\']') + '</div>'
            }
        },
        showSortIcons: {
            type: Boolean,
            default: true
        },
        css: {
            type: Object,
            default () {
                return {
                    tableClass: 'ui blue selectable celled stackable attached table',
                    loadingClass: 'loading',
                    ascendingIcon: '<svg class="top"><use xlink:href="#sort_top"></use></svg><svg class="bottom"><use xlink:href="#sort_bottom"></use></svg>',
                    descendingIcon: '<svg class="top"><use xlink:href="#sort_top"></use></svg><svg class="bottom"><use xlink:href="#sort_bottom"></use></svg>',
                    ascendingClass: 'ascending',
                    descendingClass: 'descending',
                    sortableIcon: '<svg class="top"><use xlink:href="#sort_top"></use></svg><svg class="bottom"><use xlink:href="#sort_bottom"></use></svg>',
                    detailRowClass: 'table-detail-row',
                    handleIcon: 'grey sidebar icon',
                    tableBodyClass: 'table-semantic-no-top table-fixed-layout',
                    tableHeaderClass: 'table-fixed-layout'
                }
            }
        },
    },
    data() {
        return {
            eventPrefix: 'vuetable:',
            tableFields: [],
            tableData: null,
            tablePagination: null,
            currentPage: this.initialPage,
            selectedTo: [],
            visibleDetailRows: [],
            isOverflow: false,
            overflowCount: '',
            loading: false,
            sortField: this.sortOrder[0].sortField,
            drag: false,
            highlightedId: 0
        }
    },
    mounted: function() {
        window.addEventListener('resize', this.checkOverflow);
        document.querySelector('.table-body').addEventListener('scroll', this.tableScroll);

        if (this.$route.params.type !== undefined && this.$route.params.type === this.apiName) {
            this.highlightedId = this.$route.params.saved_id;
        } else if(this.$route.params.type === undefined) {
            this.highlightedId = this.$route.params.saved_id;
        }

        this.normalizeFields();

        this.normalizeSortOrder();

        this.$nextTick(function() {
            this.fireEvent('initialized', this.tableFields);
        });

        if (this.loadOnStart) {
            this.loadData()
        }
    },
    computed: {
        useDetailRow () {
            if (this.tableData && this.tableData[0] && this.detailRowComponent !== '' && typeof this.tableData[0][this.trackBy] === 'undefined') {
                this.warn('You need to define unique row identifier in order for detail-row feature to work. Use `track-by` prop to define one!')

                return false
            }

            return this.detailRowComponent !== ''
        },
        countVisibleFields () {
            return this.tableFields.filter(function(field) {
                return field.visible
            }).length
        },
        countTableData () {
            if (this.tableData === null) {
                return 0
            }

            return this.tableData.length
        },
        displayEmptyDataRow () {
            return this.countTableData === 0 && this.noDataTemplate.length > 0
        },
        lessThanMinRows () {
            if (this.tableData === null || this.tableData.length === 0) {
                return true
            }

            return this.tableData.length < this.minRows
        },
        blankRows () {
            if (this.tableData === null || this.tableData.length === 0) {
                return this.minRows
            }

            if (this.tableData.length >= this.minRows) {
                return 0
            }

            return this.minRows - this.tableData.length
        },
        isApiMode () {
            return this.apiMode
        },
        isDataMode () {
            return ! this.apiMode
        },
        isFixedHeader () {
            return this.tableHeight != null
        },
        checkboxState () {

            if (this.selectedTo.length === 0 ) {
                return {
                    checked: false,
                    indeterminate: false
                }
            }

            if (this.selectedTo.length > 0 && this.selectedTo.length < this.tableData.length) {
                return {
                    checked: true,
                    indeterminate: true
                }
            }

            return {
                checked: true,
                indeterminate: false
            }
        },
        list: {
            get() {
                return this.tableData
            },
            set(tableData) {
                this.tableData = tableData;
            }
        },
        dragOptions () {
            return  {
                animation: 1,
                group: 'description',
                handle: ".td-order",
                dragClass: '.td-order'
            };
        },
    },
    methods: {
        tableScroll(event) {
            let currentShadow =  (event.target.scrollLeft) / this.overflowCount;

            Velocity(document.querySelector('.table-wrapper>span.before'), {
                opacity: [currentShadow, 0]
            }, 1);
            Velocity(document.querySelector('.table-wrapper>span.after'), {
                opacity: [1 - currentShadow, 0]
            }, 1);
        },
        checkOverflow() {
            let el = this.$refs.mainTable;

            if (typeof this.$refs.mainTable !== "undefined") {
                let curOverflow = el.style.overflow;

                if ( !curOverflow || curOverflow === "visible" ) {
                    el.style.overflow = "hidden";
                }

                this.isOverflow = this.$el.getBoundingClientRect().width < el.getBoundingClientRect().width;

                el.style.overflow = curOverflow;

                this.overflowCount = el.getBoundingClientRect().width - this.$el.getBoundingClientRect().width;

            }
            return this.isOverflow;
        },
        normalizeFields () {
            if (typeof(this.fields) === 'undefined') {
                this.warn('You need to provide "fields" prop.');

                return
            }

            this.tableFields = [];

            let self = this;
            let obj;

            this.fields.forEach(function(field, i) {
                if (typeof (field) === 'string') {
                    obj = {
                        name: field,
                        title: self.setTitle(field),
                        titleClass: '',
                        dataClass: '',
                        callback: null,
                        visible: true,
                    }
                } else {
                    obj = {
                        name: field.name,
                        width: field.width,
                        title: (field.title === undefined) ? self.setTitle(field.name) : field.title,
                        sortField: field.sortField,
                        titleClass: (field.titleClass === undefined) ? '' : field.titleClass,
                        dataClass: (field.dataClass === undefined) ? '' : field.dataClass,
                        callback: (field.callback === undefined) ? '' : field.callback,
                        canGoNextPage: (field.canGoNextPage === undefined) ? false : field.canGoNextPage,
                        canCopy: (field.canCopy === undefined) ? false : field.canCopy,
                        visible: (field.visible === undefined) ? true : field.visible,
                        options: (field.options === undefined) ? true : field.options,
                        params: (field.params === undefined) ? {} : field.params,
                    }
                }

                self.tableFields.push(obj)
            });
        },
        setData (data) {
            if (data === null || typeof(data) === 'undefined') return;

            this.loading = true;

            if (Array.isArray(data)) {
                this.tableData = data;
                this.loading = false;

                return;
            }

            this.tableData = this.getObjectValue(data, this.dataPath, null);
            this.tablePagination = this.getObjectValue(data, this.paginationPath, null);

            this.$nextTick(function() {
                this.fireEvent('pagination-data', this.tablePagination);
                this.loading = false;
            })
        },
        setTitle (str) {
            const changes = {
                '__component:status-element': 'status',
                '__component:actions-element': 'actions',
                '_service-ordering': 'order'
            };

            if (this.transRoute) {
                if(str.startsWith("_") && changes[str] !== undefined) {
                    return this.trans(this.transRoute.replace(/\.+$/, "") + '.' + changes[str]);
                } else if (!str.startsWith("__")) {
                    return this.trans(this.transRoute.replace(/\.+$/, "") + '.' + str);
                }
            }

            if (this.isSpecialField(str)) {
                return ''
            }

            return this.titleCase(str)
        },
        getTitle (field) {
            if (typeof(field.title) === 'function') return field.title();

            return typeof(field.title) === 'undefined'
                ? field.name.replace('.', ' ')
                : field.title
        },
        renderTitle (field) {
            let title = this.getTitle(field);

            if (title.length > 0 && this.isInCurrentSortGroup(field) || this.hasSortableIcon(field)) {
                let style = `opacity:${this.sortIconOpacity(field)};position:relative;float:right`
                let iconTag = this.showSortIcons
                    ? this.renderIconTag(this.sortIcon(field))
                    : '';

                return title + ' ' + iconTag
            }

            return title;
        },
        renderIconTag (icon) {
            return typeof(this.css.renderIcon) === 'undefined'
                ? `<span class="caret-wrapper sort-icon">${icon}</span>`
                : this.css.renderIcon(classes, options)
        },
        sortIcon (field) {
            let cls = this.css.sortableIcon;
            let i = this.currentSortOrderPosition(field);

            if (i !== false) {
                cls = (this.sortOrder[i].direction == 'asc') ? this.css.ascendingIcon : this.css.descendingIcon
            }

            return cls;
        },
        renderSequence (index) {
            return this.tablePagination
                ? this.tablePagination.from + index
                : index
        },
        renderNormalField (field, item) {
            return this.hasCallback(field)
                ? this.callCallback(field, item)
                : this.getObjectValue(item, field.name, '')
        },
        isSpecialField (fieldName) {
            return fieldName.slice(0, 2) === '__'
        },
        titleCase (str) {
            return str.replace(/\w+/g, function(txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()
            })
        },
        camelCase (str, delimiter = '_') {
            let self = this

            return str.split(delimiter).map(function(item) {
                return self.titleCase(item)
            }).join('')
        },
        notIn (str, arr) {
            return arr.indexOf(str) === -1
        },
        loadData (success = this.loadSuccess, failed = this.loadFailed) {
            if (this.isDataMode) {
                this.callDataManager()

                return
            }

            this.loading = true

            this.httpOptions['params'] = this.getAppendParams( this.getAllQueryParams() )

            return this.fetch(this.apiRoute, this.httpOptions).then(
                success,
                failed
            ).catch(() => failed())
        },
        fetch (apiRoute, httpOptions) {
            return axios.get(apiRoute, httpOptions)
        },
        loadSuccess (response) {
            this.fireEvent('load-success', response);

            let body = this.transform(response.data);

            if (typeof body.meta !== 'undefined') {
                this.$emit(this.eventPrefix + 'parent-id-updated', parseInt(body.meta.grand_parent_id));

                if (typeof body.meta.breadcrumbs !== 'undefined' && body.meta.breadcrumbs.length) {
                    this.$events.fire('breadcrumbs-replace', body.meta.breadcrumbs);
                    this.$emit(this.eventPrefix + 'parent-route-updated', body.meta.breadcrumbs[body.meta.breadcrumbs.length - 2].link);
                }
            }

            this.tableData = this.getObjectValue(body, this.dataPath, null)
            this.tablePagination = this.getObjectValue(body, this.paginationPath, null)

            if (this.tableData[0] !== undefined && this.tableData[0].table_title) {
                this.$events.fire('title-replace', this.tableData[0].table_title);
            }

            this.tableData = this.getObjectValue(body, this.dataPath, null)

            if (this.tablePagination === null) {
                this.warn('Pagination-path "' + this.paginationPath + '" not found.')
            }

            this.$nextTick(function() {
                this.fireEvent('pagination-data', this.tablePagination)

                if (!this.subTable) {
                    this.$events.fire('data-loaded', this.tableData);
                }

                this.loading = false
            })
        },
        loadFailed (response) {
            console.error('load-error', response)

            this.fireEvent('load-error', response)
            this.loading = false
        },
        transform (data) {
            let func = 'transform'

            if (this.parentFunctionExists(func)) {
                return this.$parent[func].call(this.$parent, data)
            }

            return data
        },
        parentFunctionExists (func) {
            return (func !== '' && typeof this.$parent[func] === 'function')
        },
        callParentFunction (func, args, defaultValue = null) {
            if (this.parentFunctionExists(func)) {
                return this.$parent[func].call(this.$parent, args)
            }

            return defaultValue
        },
        fireEvent (eventName, args) {
            this.$emit(this.eventPrefix + eventName, args)
        },
        warn (msg) {
            if (!this.silent) {
                console.warn(msg)
            }
        },
        getAllQueryParams () {
            let params = {}

            if (typeof(this.queryParams) === 'function') {
                params = this.queryParams(this.sortOrder, this.currentPage, this.perPage)

                return typeof(params) !== 'object' ? {} : params
            }

            params[this.queryParams.sort] = this.getSortParam()
            params[this.queryParams.page] = this.currentPage
            params[this.queryParams.perPage] = this.perPage

            return params
        },
        getSortParam () {
            if (!this.sortOrder || this.sortOrder.field == '') {
                return ''
            }

            if (typeof this.$parent['getSortParam'] === 'function') {
                return this.$parent['getSortParam'].call(this.$parent, this.sortOrder)
            }

            return this.getDefaultSortParam()
        },
        getDefaultSortParam () {
            let result = '';

            for (let i = 0; i < this.sortOrder.length; i++) {
                let fieldName = (typeof this.sortOrder[i].sortField === 'undefined')
                    ? this.sortOrder[i].field
                    : this.sortOrder[i].sortField;

                result += fieldName + '|' + this.sortOrder[i].direction + ((i+1) < this.sortOrder.length ? ',' : '');
            }

            return result;
        },
        getAppendParams (params) {
            for (let x in this.appendParams) {
                params[x] = this.appendParams[x]
            }

            return params
        },
        extractName (string) {
            return string.split(':')[0].trim()
        },
        extractArgs (string) {
            return string.split(':')[1]
        },
        isSortable (field) {
            return !(typeof field.sortField === 'undefined')
        },
        isInCurrentSortGroup (field) {
            return this.currentSortOrderPosition(field) !== false;
        },
        hasSortableIcon (field) {
            return this.isSortable(field) && this.css.sortableIcon !== ''
        },
        currentSortOrderPosition (field) {
            if (!this.isSortable(field)) {
                return false
            }

            for (let i = 0; i < this.sortOrder.length; i++) {
                if (this.fieldIsInSortOrderPosition(field, i)) {
                    return i;
                }
            }

            return false;
        },
        fieldIsInSortOrderPosition (field, i) {
            return this.sortOrder[i].field === field.name && this.sortOrder[i].sortField === field.sortField
        },
        orderBy (field, event) {
            if ( ! this.isSortable(field) ) return;

            let key = this.multiSortKey.toLowerCase() + 'Key';

            if (this.multiSort && event[key]) {
                this.multiColumnSort(field)
            } else {
                this.singleColumnSort(field)
            }

            this.currentPage = 1;

            if (this.apiMode || this.dataManager) {
                this.loadData()
            }
        },
        multiColumnSort (field) {
            let i = this.currentSortOrderPosition(field);

            if (i === false) {
                this.sortOrder.push({
                    field: field.name,
                    sortField: field.sortField,
                    direction: 'asc'
                });
            } else {
                if (this.sortOrder[i].direction === 'asc') {
                    this.sortOrder[i].direction = 'desc'
                } else {
                    this.sortOrder.splice(i, 1);
                }
            }
        },
        singleColumnSort (field) {
            if (this.sortOrder.length === 0) {
                this.clearSortOrder()
            }

            this.sortOrder.splice(1);

            if (this.sortOrder[0].field !== field.name) {
                this.sortOrder[0].direction = 'asc';
                this.sortOrder[0].field = field.name;
                this.sortOrder[0].sortField = field.sortField;
            } else if (this.sortOrder[0].field === field.name && this.sortOrder[0].direction === 'asc') {
                this.sortOrder[0].direction = 'desc';
            } else {
                this.sortOrder[0].direction = 'asc';
                this.sortOrder[0].field = this.sortField;
                this.sortOrder[0].sortField = this.sortField;
            }
        },
        clearSortOrder () {
            this.sortOrder.push({
                field: '',
                sortField: '',
                direction: 'asc'
            });
        },
        sortClass (field) {
            let cls = '';
            let i = this.currentSortOrderPosition(field);

            if (i !== false) {
                cls = (this.sortOrder[i].direction == 'asc') ? this.css.ascendingClass : this.css.descendingClass
            }

            return cls
        },
        sortIconOpacity (field) {
            let max = 1.0,
                min = 0.3,
                step = 0.3;

            let count = this.sortOrder.length;
            let current = this.currentSortOrderPosition(field);

            if (max - count * step < min) {
                step = (max - min) / (count-1)
            }

            let opacity = max - current * step;

            return opacity
        },
        hasCallback (item) {
            return item.callback ? true : false;
        },
        callCallback (field, item) {
            if (!this.hasCallback(field)) return;

            if (typeof(field.callback) == 'function') {
                return field.callback(this.getObjectValue(item, field.name))
            }

            if (typeof(field.callback) === 'string') {
                return this.singularCallBack(field, field.callback, item);
            }

            return this.arrayCallBack(field, item);
        },
        arrayCallBack (field, item) {
            let count = field.callback.length;
            let name = field.name;
            let value = this.getObjectValue(item, name);

            for (let callback of field.callback) {
                let args = callback.split('|');
                let func = args.shift();
                let method = '';

                if (typeof this.$parent[func] === 'function') {
                    method = this.$parent[func];
                } else if (typeof this.$parent.$parent[func] === 'function') {
                    method = this.$parent.$parent[func];
                } else {
                    continue;
                }

                value = (args.length > 0)
                    ? method.apply(this.$parent, [value].concat(args).concat(item))
                    : method.call(this.$parent, value, item);
            }

            return value;
        },
        singularCallBack (field, callback, item) {
            let args = callback.split('|');
            let func = args.shift();

            if (typeof this.$parent[func] === 'function') {
                let value = this.getObjectValue(item, field.name);

                return (args.length > 0)
                    ? this.$parent[func].apply(this.$parent, [value].concat(args).concat(item))
                    : this.$parent[func].call(this.$parent, value, item)
            }

            if (typeof this.$parent.$parent[func] === 'function') {
                let value = this.getObjectValue(item, field.name);

                return (args.length > 0)
                    ? this.$parent.$parent[func].apply(this.$parent.$parent, [value].concat(args).concat(item))
                    : this.$parent.$parent[func].call(this.$parent.$parent, value, item)
            }

            if (typeof this.$parent.$parent.$parent[func] === 'function') {
                let value = this.getObjectValue(item, field.name);

                return (args.length > 0)
                    ? this.$parent.$parent.$parent[func].apply(this.$parent.$parent.$parent, [value].concat(args).concat(item))
                    : this.$parent.$parent.$parent[func].call(this.$parent.$parent.$parent, value, item)
            }

            if (typeof this.$parent.$parent.$parent.$parent[func] === 'function') {
                let value = this.getObjectValue(item, field.name);

                return (args.length > 0)
                    ? this.$parent.$parent.$parent.$parent[func].apply(this.$parent.$parent.$parent.$parent, [value].concat(args).concat(item))
                    : this.$parent.$parent.$parent.$parent[func].call(this.$parent.$parent.$parent.$parent, value, item)
            }

            return null
        },
        getObjectValue (object, path, defaultValue) {
            defaultValue = (typeof defaultValue === 'undefined') ? null : defaultValue;
            let obj = object;

            if (path.trim() != '') {
                let keys = path.split('.');

                keys.forEach(function(key) {
                    if (obj !== null && typeof obj[key] !== 'undefined' && obj[key] !== null) {
                        obj = obj[key]
                    } else {
                        obj = defaultValue;

                        return
                    }
                })
            }

            return obj
        },
        toggleCheckbox (dataItem, fieldName, event) {
            let isChecked = event.target.checked;
            let idColumn = this.trackBy;

            if (dataItem[idColumn] === undefined) {
                this.warn('__checkbox field: The "' + this.trackBy + '" field does not exist! Make sure the field you specify in "track-by" prop does exist.');
                return;
            }

            let key = dataItem[idColumn];

            if (isChecked) {
                this.selectId(key);
            } else {
                this.unselectId(key);
            }

            this.$emit(this.eventPrefix + 'checkbox-toggled', this.selectedTo);
        },
        selectId (key) {
            if (!this.isSelectedRow(key)) {
                this.selectedTo.push(key)
            }
        },
        unselectId (key) {
            this.selectedTo = this.selectedTo.filter(function(item) {
                return item !== key
            });
        },
        isSelectedRow (key) {
            return this.selectedTo.indexOf(key) >= 0
        },
        rowSelected (dataItem, fieldIndex) {
            let idColumn = this.trackBy;
            let key = dataItem[idColumn];

            return this.isSelectedRow(key);
        },
        toggleAllCheckboxes (fieldName, event) {
            let isChecked = event.target.checked;
            let idColumn = this.trackBy;

            if (isChecked) {
                this.tableData.forEach((dataItem) => {
                    this.selectId(dataItem[idColumn])
                });
            } else {
                this.tableData.forEach((dataItem) => {
                    this.unselectId(dataItem[idColumn])
                });
            }
            this.$emit(this.eventPrefix + 'checkbox-toggled', this.selectedTo);
        },
        gotoPreviousPage () {
            if (this.currentPage > 1) {
                this.currentPage--;
                this.loadData()
            }
        },
        gotoNextPage () {
            if (this.currentPage < this.tablePagination.last_page) {
                this.currentPage++;
                this.loadData()
            }
        },
        gotoPage (page) {
            if (page != this.currentPage && (page > 0 && page <= this.tablePagination.last_page)) {
                this.currentPage = page;
                this.loadData()
            }
        },
        isVisibleDetailRow (rowId) {
            return this.visibleDetailRows.indexOf( rowId ) >= 0
        },
        showDetailRow (rowId) {
            if (!this.isVisibleDetailRow(rowId)) {
                this.visibleDetailRows.push(rowId)
            }
        },
        hideDetailRow (rowId) {
            if (this.isVisibleDetailRow(rowId)) {
                this.visibleDetailRows.splice(
                    this.visibleDetailRows.indexOf(rowId),
                    1
                )
            }
        },
        toggleDetailRow (rowId) {
            if (this.isVisibleDetailRow(rowId)) {
                this.hideDetailRow(rowId)
            } else {
                this.showDetailRow(rowId)
            }
        },
        showField (index) {
            if (index < 0 || index > this.tableFields.length) return;

            this.tableFields[index].visible = true;
        },
        hideField (index) {
            if (index < 0 || index > this.tableFields.length) return;

            this.tableFields[index].visible = false;
        },
        toggleField (index) {
            if (index < 0 || index > this.tableFields.length) return;

            this.tableFields[index].visible = ! this.tableFields[index].visible
        },
        makePagination (total = null, perPage = null, currentPage = null) {
            let pagination = {};
            total = total === null ? this.dataTotal : total;
            perPage = perPage === null ? this.perPage : perPage;
            currentPage = currentPage === null ? this.currentPage : currentPage;

            return {
                'total': total,
                'per_page': perPage,
                'current_page': currentPage,
                'last_page': Math.ceil(total / perPage) || 0,
                'next_page_url': '',
                'prev_page_url': '',
                'from': (currentPage - 1) * perPage + 1,
                'to': Math.min(currentPage * perPage, total)
            }
        },
        normalizeSortOrder () {
            this.sortOrder.forEach(function(item) {
                item.sortField = item.sortField || item.field
            })
        },
        callDataManager () {
            if (this.dataManager === null && this.data === null) return

            if (Array.isArray(this.data)) {
                return this.setData(this.data)
            }

            this.normalizeSortOrder();

            return this.setData(
                this.dataManager
                    ? this.dataManager(this.sortOrder, this.makePagination())
                    : this.data
            )
        },
        onRowClass (dataItem, index) {
            if (this.rowClassCallback !== '') {
                this.warn('"row-class-callback" prop is deprecated, please use "row-class" prop instead.');
                return
            }

            //TODO be careful with return
            if (this.selectedTo.includes(dataItem.id)) {
                return 'checked-row';
            }

            if (typeof(this.rowClass) === 'function') {
                return this.rowClass(dataItem, index);
            }

            return this.rowClass
        },
        onRowChanged (dataItem) {
            this.fireEvent('row-changed', dataItem);

            return true
        },
        onRowClicked (dataItem, event) {
            this.$emit(this.eventPrefix + 'row-clicked', dataItem, event);

            return true
        },
        onDetailRowClick (dataItem, event) {
            this.$emit(this.eventPrefix + 'detail-row-clicked', dataItem, event);
        },
        onCellClicked (dataItem, field, event) {
            this.$emit(this.eventPrefix + 'cell-clicked', dataItem, field, event);
            this.$events.fire('cell-clicked', dataItem, field);
        },
        changePage (page) {
            if (page === 'prev') {
                this.gotoPreviousPage()
            } else if (page === 'next') {
                this.gotoNextPage()
            } else {
                this.gotoPage(page)
            }
        },
        reload () {
            return this.loadData()
        },
        refresh () {
            this.currentPage = 1;
            this.selectedTo = [];
            this.$emit(this.eventPrefix + 'checkbox-toggled', this.selectedTo);

            return this.loadData()
        },
        resetData () {
            this.tableData = null
            this.tablePagination = null

            this.fireEvent('data-reset')
        },
        onDragEnd(event) {
            let oldOrder = this.perPage * (this.currentPage - 1) + event.oldIndex;
            let newOrder = this.perPage * (this.currentPage - 1) + event.newIndex;
            let name = this.apiName || this.$route.name;

            this.pushAxiosPut(route( name + '.changeOrder', {table_name: this.$route.params.table_name}),
                {parent_id: this.$route.params.id, oldOrder, newOrder},
                (response) => {
                    this.drag = false;
                }
            );
        },
        move(e) {
            return this.drag && this.sortField == this.sortOrder[0].sortField;
        }
    },
    watch: {
        'multiSort'(newVal, oldVal) {
            if (newVal === false && this.sortOrder.length > 1) {
                this.sortOrder.splice(1);
                this.loadData();
            }
        },
        'apiRoute'(newVal, oldVal) {
            if (this.reactiveApiRoute && newVal !== oldVal) this.refresh();
        },
        'data'(newVal, oldVal) {
            this.setData(newVal);
        },
        'initialPage'(newVal, oldVal) {
            this.currentPage = newVal;
            this.loadData();
        }
    },
    events: {
        'deleted-item'() {
            this.loadData();
        },
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.checkOverflow);
    }
};
</script>

<style>

</style>
