<template>

    <fetch-any apiName="api.backend.fieldgenerator.model.show" :params="$route.params" @responseGetted="responseProccessing">

        <el-form slot-scope="{ response, loading, changed }" class="settings_form-fields">

            <div class="field-settings-top">
                <label>
                    <b>backend_path_name</b>
                    <input required type="text" v-model="modelConfig.backend_path_name"/>
                </label>
                <label>
                    <b>backend_route_prefix</b>
                    <input required type="text" v-model="modelConfig.backend_route_prefix"/>
                </label>
                <label class="checkbox-row">
                    <input required type="checkbox" v-model="modelConfig.need_translations">
                    <i></i><b>need_translations</b>
                </label>
                <label>
                    <b>table_name</b>
                    <input required type="text" v-model="modelConfig.table_name"/>
                </label>
            </div>


            <div class="field-settings-center">
                <h2>Templates</h2>
                <el-tabs v-model="activeTab"
                         type="border-card"
                         class="field-settings">

                    <el-tab-pane v-for="(template, template_name) in modelConfig.templates"
                                 :key="template_name"
                                 :label="template_name"
                                 :name="template_name"
                                 class="field-settings-panel">

                        <div class="field-settings-divider">
                            <p>Стандартные настройки</p>

                            <div class="field-settings-column">
                                <p>standard</p>

                                <label class="checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.multicheck">
                                    <i></i><b>multicheck</b>
                                </label>
                                <label class="checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.desktop_mobile_images">
                                    <i></i><b>desktop_mobile_images</b>
                                </label>
                                <label class="checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.nested">
                                    <i></i><b>nested</b>
                                </label>
                                <label class="checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.order">
                                    <i></i><b>order</b>
                                </label>
                                <label class="checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.status">
                                    <i></i><b>status</b>
                                </label>
                                <label class="checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.slugable">
                                    <i></i><b>slugable</b>
                                </label>
                            </div>

                            <div class="field-settings-column">
                                <p>actions</p>

                                <label class="el-form-item checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.actions.edit">
                                    <i></i><b>edit</b>
                                </label>
                                <label class="el-form-item checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.actions.delete">
                                    <i></i><b>delete</b>
                                </label>
                                <label class="el-form-item checkbox-row">
                                    <input type="checkbox" v-model="modelConfig.templates[template_name].standard.actions.detach">
                                    <i></i><b>detach</b>
                                </label>
                            </div>

                            <div class="field-settings-column">
                                <p>buttons</p>

                                <label>
                                    <b>outer_buttons</b>
                                    <el-input type="text" v-for="(button, index) in modelConfig.templates[template_name].standard.buttons.outer_buttons"
                                              v-model="modelConfig.templates[template_name].standard.buttons.outer_buttons[index]"
                                              @keyup.native="deleteIfEmpty(modelConfig.templates[template_name].standard.buttons.outer_buttons, index)"
                                              :key="index">
                                    </el-input>

                                    <button @click="addNewItem(modelConfig.templates[template_name].standard.buttons.outer_buttons)"
                                            type="button"
                                            class="button black absolute"
                                            v-html="generateSvg('plus','')">
                                    </button>
                                </label>

                                <label>
                                    <b>inner_buttons</b>
                                    <el-input type="text" v-for="(button, index) in modelConfig.templates[template_name].standard.buttons.inner_buttons"
                                              v-model="modelConfig.templates[template_name].standard.buttons.inner_buttons[index]"
                                              @keyup.native="deleteIfEmpty(modelConfig.templates[template_name].standard.buttons.inner_buttons, index)"
                                              :key="index">
                                    </el-input>
                                    <button @click="addNewItem(modelConfig.templates[template_name].standard.buttons.inner_buttons)"
                                            type="button"
                                            class="button black absolute"
                                            v-html="generateSvg('plus','')"></button>
                                </label>

                            </div>

                            <div class="field-settings-column">
                                <p>has_tables</p>

                                <label>
                                    <b>outer_tables</b>
                                    <el-input type="text" v-for="(button, index) in modelConfig.templates[template_name].standard.has_tables.outer_tables"
                                              v-model="modelConfig.templates[template_name].standard.has_tables.outer_tables[index]"
                                              @keyup.native="deleteIfEmpty(modelConfig.templates[template_name].standard.has_tables.outer_tables, index)"
                                              :key="index">
                                    </el-input>
                                    <button @click="addNewItem(modelConfig.templates[template_name].standard.has_tables.outer_tables)"
                                               type="button"
                                               class="button black absolute"
                                               v-html="generateSvg('plus','')">
                                    </button>
                                </label>
                                <label>
                                    <b>inner_tables</b>
                                    <el-input type="text" v-for="(button, index) in modelConfig.templates[template_name].standard.has_tables.inner_tables"
                                              v-model="modelConfig.templates[template_name].standard.has_tables.inner_tables[index]"
                                              @keyup.native="deleteIfEmpty(modelConfig.templates[template_name].standard.has_tables.inner_tables, index)"
                                              :key="index">
                                    </el-input>
                                    <button @click="addNewItem(modelConfig.templates[template_name].standard.has_tables.inner_tables)"
                                               type="button"
                                               class="button black absolute"
                                               v-html="generateSvg('plus','')">
                                    </button>
                                </label>
                            </div>

                            <div class="field-settings-column">
                                <p>sortOrder</p>

                                <label>
                                    <b>direction</b>
                                    <input type="text" v-model="modelConfig.templates[template_name].standard.sortOrder.direction">
                                </label>
                                <label>
                                    <b>field</b>
                                    <input type="text" v-model="modelConfig.templates[template_name].standard.sortOrder.field">
                                </label>
                                <label>
                                    <b>sortField</b>
                                    <input type="text" v-model="modelConfig.templates[template_name].standard.sortOrder.sortField">
                                </label>
                            </div>

                        </div>

                        <div class="field-settings-divider">

                            <div class="button-row table_actions">
                                <p>Поля таблицы</p>

                                <button class="button black icon-btn-text"
                                        type="button"
                                        @click="addNewField(template_name)"
                                        v-html="generateSvg('plus', 'Добавить поле')">
                                </button>
                            </div>

                            <draggable v-model="modelConfig.templates[template_name].draggable"
                                       @start="startDrag()"
                                       @end="$forceUpdate();endDrag()"
                                       class="draggable-fields"
                                       ref="dragableInstance"
                                       :options="dragOptions">

                                <el-form-item v-for="(index, drag_id) in modelConfig.templates[template_name].draggable"
                                              :key="`field-${drag_id}`"
                                              class="drag-item">

                                    <div class="drag-item-actions">

                                        <p>
                                            {{ index }}
                                            <button type="button" class="button opacity"
                                                    v-if="modelConfig.templates[template_name][index].fillable === false"
                                                    @click="cutPasteWithNewNameField(template_name, drag_id)"
                                                    v-html="generateSvg('edit', '')">
                                            </button>
                                        </p>

                                        <button type="button" class="button button-icon"
                                                @click="editFieldParams(index)"
                                                v-html="generateSvg('edit', '')">
                                        </button>

                                        <button type="button" class="button button-icon"
                                                @click="modelConfig.templates[template_name].draggable.splice(drag_id,1); $forceUpdate()"
                                                v-html="generateSvg('delete', '')">
                                        </button>

                                    </div>

                                    <transition v-on:enter="enterModal" v-on:leave="leaveModal">

                                        <div class="drag-item-content modal-wrapper" v-show="dragFieldsContent == index" :class="dragFieldsContent === -1 ? '' : 'active'">

                                            <div class="modal-overlay" @click="editFieldParams(-1)"></div>

                                            <div class="modal-edit-fields modal-content">

                                                <button type="button"
                                                        class="icon-btn close-modal"
                                                        v-html="generateSvg('close-thin', '')"
                                                        @click="editFieldParams(-1)"></button>

                                                <p class="modal-caption">Редактировать поле</p>

                                                <div class="fields-types-wrapper">

                                                    <label>
                                                        <b>field type</b>
                                                        <el-select v-model="modelConfig.templates[template_name][index].field_type" filterable
                                                                   popper-class="small"
                                                                   placeholder="Field Type">
                                                            <el-option v-for="field_name in fieldTypes" :key="field_name" :label="field_name"
                                                                       :value="field_name">
                                                            </el-option>
                                                        </el-select>
                                                        <p class="hint">тип поля для миграций</p>
                                                    </label>
                                                    <label>
                                                        <b>field_symbols_count</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].field_symbols_count">
                                                    </label>
                                                    <label>
                                                        <b>relation</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].relation">
                                                    </label>
                                                    <label>
                                                        <b>validation</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].validation">
                                                    </label>
                                                    <label>
                                                        <b>default</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].default">
                                                    </label>

                                                    <label class="checkbox-row">
                                                        <input type="checkbox" v-model="modelConfig.templates[template_name][index].sortable">
                                                        <i></i><b>sortable</b>
                                                    </label>
                                                    <label class="checkbox-row">
                                                        <input type="checkbox" v-model="modelConfig.templates[template_name][index].searchable">
                                                        <i></i><b>searchable</b>
                                                    </label>
                                                    <label class="checkbox-row">
                                                        <input type="checkbox" v-model="modelConfig.templates[template_name][index].required">
                                                        <i></i><b>required</b>
                                                    </label>
                                                    <label class="checkbox-row">
                                                        <input type="checkbox" v-model="modelConfig.templates[template_name][index].unique">
                                                        <i></i><b>unique</b>
                                                    </label>
                                                    <label class="checkbox-row">
                                                        <input type="checkbox" v-model="modelConfig.templates[template_name][index].index">
                                                        <i></i><b>index</b>
                                                    </label>
                                                    <label class="checkbox-row">
                                                        <input type="checkbox" v-model="modelConfig.templates[template_name][index].is_translated">
                                                        <i></i><b>is_translated</b>
                                                    </label>
                                                </div>

                                                <div class="types-dropdown">
                                                    <label>
                                                        <b>type</b>
                                                        <el-select v-model="modelConfig.templates[template_name][index].type" filterable
                                                                   popper-class="small"
                                                                   placeholder="Type">
                                                            <el-option v-for="type_name in types" :key="type_name" :label="type_name" :value="type_name">
                                                            </el-option>
                                                        </el-select>
                                                        <p class="hint">тип элемента формы создания или редактирования</p>
                                                    </label>
                                                    <label>
                                                        <b>column type</b>
                                                        <el-select v-model="modelConfig.templates[template_name][index].column_type" filterable
                                                                   popper-class="small"
                                                                   placeholder="Column Type">
                                                            <el-option v-for="type_name in columnTypes" :key="type_name" :label="type_name"
                                                                       :value="type_name">
                                                            </el-option>
                                                        </el-select>
                                                        <p class="hint">тип элемента таблицы вывода</p>
                                                    </label>
                                                    <label>
                                                        <b>column_attributes</b>
                                                        <el-input type="text" v-for="(button, item) in modelConfig.templates[template_name][index].column_attributes"
                                                                  v-model="modelConfig.templates[template_name][index].column_attributes[item]"
                                                                  @keyup.native="deleteIfEmpty(modelConfig.templates[template_name][index].column_attributes, item)"
                                                                  :key="item">
                                                        </el-input>



                                                        <button @click="addNewItem(modelConfig.templates[template_name][index].column_attributes)"
                                                                type="button"
                                                                class="button black absolute"
                                                                v-html="generateSvg('plus','')"></button>
                                                    </label>
                                                </div>

                                                <div class="small-inputs">

                                                    <label>
                                                        <b>label en</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].label.en">
                                                    </label>

                                                    <label>
                                                        <b>label ru</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].label.ru">
                                                    </label>

                                                    <label>
                                                        <b>hint en</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].hint.en">
                                                    </label>

                                                    <label>
                                                        <b>hint ru</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].hint.ru">
                                                    </label>

                                                    <label>
                                                        <b>placeholder en</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].placeholder.en">
                                                    </label>

                                                    <label>
                                                        <b>placeholder ru</b>
                                                        <input type="text" v-model="modelConfig.templates[template_name][index].placeholder.ru">
                                                    </label>

                                                </div>

                                            </div>

                                        </div>

                                    </transition>


                                </el-form-item>

                            </draggable>
                        </div>

                    </el-tab-pane>

                </el-tabs>

            </div>

            <div class="field-settings-bottom">

                <h2>Дополнительные настройки</h2>

                <div class="field-settings-divider">

                    <div class="field-settings-column">
                        <p>
                            pivots
                            <button type="button"
                                    class="button black absolute"
                                    v-html="generateSvg('plus', '')"
                                    @click="addNewPivot()">
                            </button>
                        </p>


                        <div class="sql-table-pivot-item" v-for="(table, table_name) in modelConfig.pivots" :key="table_name">
                            <p>
                                {{ table_name }}
                                <button type="button" class="button button-icon"
                                        @click="cutPasteWithNewName(modelConfig.pivots, table_name)"
                                        v-html="generateSvg('edit', '')">
                                </button>
                            </p>

                            <button type="button" class="button button-icon"
                                    @click="editPivotTable(table_name)"
                                    v-html="generateSvg('edit', '')">
                            </button>

                            <button type="button" class="button button-icon"
                                    @click="() => {delete modelConfig.pivots[table_name]; $forceUpdate()}"
                                    v-html="generateSvg('delete', '')">
                            </button>

                            <transition v-on:enter="enterModal" v-on:leave="leaveModal">

                                <div v-show="pivotFieldsContent == table_name" :class="pivotFieldsContent === -1 ? '' : 'active'" class="sql-table-pivot-item-modal modal-wrapper">

                                    <div class="modal-overlay" @click="editPivotTable(-1)"></div>

                                    <div class="pivot-modal-content modal-content">

                                        <button type="button"
                                                class="icon-btn close-modal"
                                                v-html="generateSvg('close-thin', '')"
                                                @click="editPivotTable(-1)">
                                        </button>

                                        <p class="modal-caption">Редактировать параметры связей</p>

                                        <div class="field-settings-column">

                                            <p>
                                                Уникальный код
                                                <button type="button"
                                                        class="button black absolute"
                                                        v-html="generateSvg('plus', '')"
                                                        @click="addNewForeign(modelConfig.pivots[table_name].ids)">
                                                </button>
                                            </p>

                                            <div class="field-settings-row" v-for="(field, field_name) in table.ids" :key="field_name">
                                                <div class="field-settings-row-caption">
                                                    <p>
                                                        {{ field_name }}
                                                        <button type="button" class="button"
                                                                v-html="generateSvg('edit', '')"
                                                                @click="cutPasteWithNewName(modelConfig.pivots[table_name].ids, field_name)">
                                                        </button>
                                                    </p>

                                                    <button type="button" class="button button-icon"
                                                            @click="() => {delete modelConfig.pivots[table_name].ids[field_name]; $forceUpdate()}"
                                                            v-html="generateSvg('delete', '')">
                                                    </button>
                                                </div>

                                                <label>
                                                    <b>table</b>
                                                    <input type="text" v-model="modelConfig.pivots[table_name].ids[field_name].table">
                                                </label>

                                                <label>
                                                    <b>onDelete</b>
                                                    <input type="text" v-model="modelConfig.pivots[table_name].ids[field_name].onDelete">
                                                </label>

                                                <label class="checkbox-row">
                                                    <input required type="checkbox" v-model="modelConfig.pivots[table_name].ids[field_name].no_foreign">
                                                    <i></i><b>no_foreign</b>
                                                </label>

                                            </div>

                                        </div>

                                        <div class="field-settings-column">

                                            <p>
                                                Поля
                                                <button type="button"
                                                        class="button black absolute"
                                                        v-html="generateSvg('plus', '')"
                                                        @click="addPivotItem(modelConfig.pivots[table_name].items)">
                                                </button>
                                            </p>

                                            <div class="field-settings-row" v-for="(field, field_name) in table.items" v-bind:key="field_name">
                                                    <div class="field-settings-row-caption">

                                                        <p>
                                                            {{ field_name }}
                                                            <button type="button" class="button"
                                                                    v-html="generateSvg('edit', '')"
                                                                    @click="cutPasteWithNewName(modelConfig.pivots[table_name].items, field_name)">
                                                            </button>
                                                        </p>

                                                        <button type="button" class="button button-icon"
                                                                @click="() => {delete modelConfig.pivots[table_name].items[field_name]; $forceUpdate()}"
                                                                v-html="generateSvg('delete', '')">
                                                        </button>

                                                    </div>
                                                    <label>
                                                        <b>field_type</b>
                                                        <input required type="text" v-model="modelConfig.pivots[table_name].items[field_name].field_type"/>
                                                    </label>
                                                    <label>
                                                        <b>field_symbols_count</b>
                                                        <input required type="text" v-model="modelConfig.pivots[table_name].items[field_name].field_symbols_count"/>
                                                    </label>

                                                    <label class="checkbox-row">
                                                        <input required type="checkbox" v-model="modelConfig.pivots[table_name].items[field_name].required">
                                                        <i></i><b>required</b>
                                                    </label>
                                                    <label class="checkbox-row">
                                                        <input required type="checkbox" v-model="modelConfig.pivots[table_name].items[field_name].unique">
                                                        <i></i><b>unique</b>
                                                    </label>
                                                    <label class="checkbox-row">
                                                        <input required type="checkbox" v-model="modelConfig.pivots[table_name].items[field_name].index">
                                                        <i></i><b>index</b>
                                                    </label>
                                                </div>

                                        </div>

                                    </div>

                                </div>

                            </transition>

                        </div>

                    </div>

                    <div class="field-settings-column">
                        <p>
                            foreigns
                            <button type="button"
                                    class="button black absolute"
                                    v-html="generateSvg('plus', '')"
                                    @click="addNewForeign(modelConfig.foreigns)">
                            </button>
                        </p>


                        <div class="field-settings-row full" v-for="(field, field_name) in modelConfig.foreigns" :key="`foreigns-${field_name}`">

                            <div class="field-settings-row-caption">

                                <p>
                                    {{ field_name }}
                                    <button type="button" class="button"
                                            v-html="generateSvg('edit', '')"
                                            @click="cutPasteWithNewName(modelConfig.foreigns, field_name)">
                                    </button>
                                </p>

                                <button type="button" class="button button-icon"
                                        @click="() => {delete modelConfig.foreigns[field_name]; $forceUpdate()}"
                                        v-html="generateSvg('delete', '')">
                                </button>

                            </div>

                            <label>
                                <b>table</b>
                                <input type="text" v-model="modelConfig.foreigns[field_name].table">
                            </label>

                            <label>
                                <b>onDelete</b>
                                <input type="text" v-model="modelConfig.foreigns[field_name].onDelete">
                            </label>

                            <label class="checkbox-row">
                                <input type="checkbox" v-model="modelConfig.foreigns[field_name].no_foreign">
                                <i></i><b>no_foreign</b>
                            </label>

                        </div>

                    </div>

                    <div class="field-settings-column">

                        <p>
                            unique
                            <button type="button"
                                    class="button black absolute"
                                    v-html="generateSvg('plus', '')"
                                    @click="addNewItem(modelConfig.uniques, [])">
                            </button>
                        </p>

                        <div class="uniq-row" v-for="(unique_array, index) in modelConfig.uniques" :key="index">
                            <button type="button" class="button black icon-btn-text"
                                    @click="addNewItem(modelConfig.uniques[index])"
                                    v-html="generateSvg('plus', 'добавить поле')">
                            </button>

                            <button type="button" class="button black icon-btn-text"
                                    @click="modelConfig.uniques.splice(index, 1)"
                                    v-html="generateSvg('delete', 'удалить массив')">
                            </button>

                            <el-input v-for="(item, id) in unique_array"
                                      :key="id"
                                      type="text"
                                      v-model="modelConfig.uniques[index][id]"
                                      @click="deleteIfEmpty(modelConfig.uniques[index], id)">
                            </el-input>

                        </div>

                    </div>

                </div>
            </div>

            <div class="button-wrap">
                <button type="button" class="button pink icon-btn-text" @click="save">Сохранить</button>
            </div>

        </el-form>

    </fetch-any>

</template>

<script>
import fetchAny from '@components/table/renderless/fetch-any';
import draggable from 'vuedraggable';
import swal from 'sweetalert2'


export default {
    components: {
        fetchAny,
        draggable
    },
    data() {
        return {
            activeTab: 'default',
            dragFieldsContent: -1,
            pivotFieldsContent: -1,
            // fields: {},
            pivotTemplate: {
                ids: {},
                items: {}
            },
            foreignTemplate: {
                table: '',
                onDelete: '',
                no_foreign: ''
            },
            fieldTemplate: {
                "field_type": "",
                "type": "",
                "label": {
                    "en": "",
                    "ru": ""
                },
                "hint": {
                    "en": "",
                    "ru": ""
                },
                "relation": "",
                "default": "",
                "validation": "",
                "required": false,
                "unique": false,
                "is_translated": false,
                "placeholder": {
                    "en": "",
                    "ru": ""
                },
                "column_attributes": []
            },
            modelConfig: {
                "table_name": "",
                "need_translations": false,
                "backend_path_name": "",
                "backend_route_prefix": "",
                "templates": {
                    "default": {
                        "standard": {
                            "multicheck": false,
                            "actions": {
                                "edit": false,
                                "delete": false
                            },
                            "has_tables": {
                            },
                            "order": false,
                            "status": false,
                            "nested": false,
                            "slugable": false,
                            "desktop_mobile_images": false,
                            "sortOrder": {
                            },
                            "buttons": {
                            },
                        },
                        "draggable": []
                    }
                },
                "uniques": [],
                "foreigns": {},
                "pivots": {}
            },
            fieldTypes: [
                'bigIncrements',
                'bigInteger',
                'binary',
                'boolean',
                'char',
                'date',
                'dateTime',
                'dateTimeTz',
                'decimal',
                'double',
                'enum',
                'float',
                'geometry',
                'geometryCollection',
                'increments',
                'integer',
                'ipAddress',
                'json',
                'jsonb',
                'lineString',
                'longText',
                'macAddress',
                'mediumIncrements',
                'mediumInteger',
                'mediumText',
                'morphs',
                'multiLineString',
                'multiPoint',
                'multiPolygon',
                'nullableMorphs',
                'nullableTimestamps',
                'point',
                'polygon',
                'rememberToken',
                'smallIncrements',
                'smallInteger',
                'softDeletes',
                'softDeletesTz',
                'string',
                'text',
                'time',
                'timeTz',
                'timestamp',
                'timestampTz',
                'timestamps',
                'timestampsTz',
                'tinyIncrements',
                'tinyInteger',
                'unsignedBigInteger',
                'unsignedDecimal',
                'unsignedInteger',
                'unsignedMediumInteger',
                'unsignedSmallInteger',
                'unsignedTinyInteger',
                'uuid',
                'year',
            ],
            types: [
                'tab',
                'text',
                'textarea',
                'tinymce',
                'ckeditor',
                'textarea-switch-tinymce',
                'slug',
                'checkbox',
                'checkbox-group',
                'select',
                'multi-select',
                'select-parent',
                'select-template',
                'upload-image',
                'upload-file',
                'shortcode',
                'datetime',
                'table',
                'gps',
                'upload-image-in-base64',
                'email',
                'url',
                'select-tree',
                'phone',
                'number',
                'gallery',
                'product-versions',
                'color-picker',
            ],
            columnTypes: [
                'checkbox',
                'check',
                'actions',
                'status',
                'order',
                'text-column',
                'folder',
                'link-column',
                'conditional-folder',
                'image-column',
                'with-comment',
                'shortcode',
                'dates',
                'ecommerce-order-quantity-changer',
                'ecommerce-stock-quantity-changer',
                'forms-response-data',
                'infoblock-template'
            ],
            dragOptions: {
                animation: 150,
                group: 'description',
                handle: ".drag-item",
                dragClass: '.drag-item',
                disabled: false
            }
        }
    },
    methods: {
        toggleDraggable() {
            if (window.innerWidth < 1200 && this.isTouchDevice()) {
                this.dragOptions.disabled = true;
            } else {
                this.dragOptions.disabled = false;
            }
        },
        editPivotTable(index){
            if (index === -1) {
                this.pivotFieldsContent = -1;
            } else {
                this.pivotFieldsContent = index;
            }
        },
        endDrag() {
            document.querySelector('.draggable-fields').classList.remove('drag-start');
        },
        startDrag() {
            document.querySelector('.draggable-fields').classList.add('drag-start');
        },
        editFieldParams (index) {
            if (index === -1) {
                this.dragFieldsContent = -1;
            } else {
                this.dragFieldsContent = index;
            }

            if (document.querySelectorAll('.modal-edit-fields .el-select__caret .button.caret').length === 0){
                document.querySelectorAll('.modal-edit-fields .el-select__caret').forEach(function (arrow) {
                    arrow.insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
                });
            }
        },
        save () {
            let params = this.$route.params;

            this.pushAxiosPut(route('api.backend.fieldgenerator.models.update', params), {modelConfig: this.modelConfig}, (response) => {
                this.$notify.success({
                    title: 'Success!',
                    message: 'its ok, Vladimir molodec!',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });
            });
        },
        deleteIfEmpty (array, index) {
            if (array[index] == '') {
                array.splice(index, 1);
            }
        },
        addNewItem (array, item = '') {
            array.push(item);
        },
        addNewField (template_name) {
            swal({
                title: "Введите название поля",
                type: "warning",
                showCancelButton: true,
                input:"text",
                inputAttributes: {
                    autocapitalize: 'off'
                },
            }).then((data) => {
                if (data.value){
                    const field_name = this.slugify(data.value);

                    this.modelConfig.templates[template_name].draggable.push(field_name);
                    this.$set(this.modelConfig.templates[template_name], field_name, this.fieldTemplate);
                }
            });
        },
        cutPasteWithNewNameField(template_name, drag_id) {
            swal({
                title: "Введите новое название поля",
                type: "info",
                showCancelButton: true,
                input:"text",
                inputAttributes: {
                    autocapitalize: 'off'
                },
            }).then((data) => {
                if (data.value){
                    const field_name = this.slugify(data.value);
                    const old_name = this.modelConfig.templates[template_name].draggable[drag_id];

                    this.modelConfig.templates[template_name].draggable[drag_id] = field_name;
                    this.$set(this.modelConfig.templates[template_name], field_name, this.modelConfig.templates[template_name][old_name]);

                    delete this.modelConfig.templates[template_name][old_name];
                    this.$forceUpdate();
                }
            });
        },
        addNewForeign (object) {
            swal({
                title: "Введите название поля",
                type: "info",
                showCancelButton: true,
                input:"text",
                inputAttributes: {
                    autocapitalize: 'off'
                },
            }).then((value) => {
                const field_name = this.slugify(value.value);

                this.$set(object, field_name, this.foreignTemplate);
            });
        },
        cutPasteWithNewName (object, id){
            swal({
                title: "Введите новое название",
                type: "info",
                showCancelButton: true,
                input:"text",
                inputAttributes: {
                    autocapitalize: 'off'
                },
            }).then((data) => {
                if (data.value) {
                    const field_name = this.slugify(data.value);

                    this.$set(object, field_name, object[id]);

                    delete object[id];
                    this.$forceUpdate();
                }
            });
        },
        addNewPivot () {
            swal({
                title: "Введите название таблицы",
                type: "info",
                showCancelButton: true,
                input:"text",
                inputAttributes: {
                    autocapitalize: 'off'
                },
            }).then((value) => {
                const field_name = this.slugify(value.value);

                this.$set(this.modelConfig.pivots, field_name, this.pivotTemplate);
            });
        },
        addPivotItem (object) {
            swal({
                title: "Введите название поля",
                type: "info",
                showCancelButton: true,
                input:"text",
                inputAttributes: {
                    autocapitalize: 'off'
                },
            }).then((data) => {

                if (data.value) {

                    const field_name = this.slugify(data.value);

                    this.$set(object, field_name, {});
                }

            });
        },
        responseProccessing (response) {
            if (response.uniques === undefined) {
                this.$set(response, 'uniques', []);
            }

            if (response.foreigns === undefined) {
                this.$set(response, 'foreigns', {});
            }

            if (response.pivots === undefined) {
                this.$set(response, 'pivots', {});
            }

            for (let template in response.templates) {
                response.templates[template].draggable = new Array();


                for (let item in response.templates[template]) {
                    if(item === 'draggable') {
                        continue;
                    }

                    if (item !== 'standard') {
                        response.templates[template].draggable.push(item);

                        if (response.templates[template][item].label === undefined) {
                            this.$set(response.templates[template][item], 'label', {})
                        }

                        if (response.templates[template][item].placeholder === undefined) {
                            this.$set(response.templates[template][item], 'placeholder', {})
                        }

                        if (response.templates[template][item].hint === undefined) {
                            this.$set(response.templates[template][item], 'hint', {})
                        }

                        if (response.templates[template][item].label.en === undefined) {
                            this.$set(response.templates[template][item].label, 'en', '')
                        }

                        if (response.templates[template][item].label.ru === undefined) {
                            this.$set(response.templates[template][item].label, 'ru', '')
                        }

                        if (response.templates[template][item].placeholder.en === undefined) {
                            this.$set(response.templates[template][item].placeholder, 'en', '')
                        }

                        if (response.templates[template][item].placeholder.ru === undefined) {
                            this.$set(response.templates[template][item].placeholder, 'ru', '')
                        }

                        if (response.templates[template][item].hint.en === undefined) {
                            this.$set(response.templates[template][item].hint, 'en', '')
                        }

                        if (response.templates[template][item].hint.ru === undefined) {
                            this.$set(response.templates[template][item].hint, 'ru', '')
                        }

                        if (response.templates[template][item].column_attributes == undefined) {
                            this.$set(response.templates[template][item], 'column_attributes', [])
                        }
                    }

                    if (response.templates[template].standard.buttons === undefined) {
                        this.$set(response.templates[template].standard, 'buttons', {inner_buttons: [], outer_buttons: []});
                    } else {
                        if (response.templates[template].standard.buttons.inner_buttons === undefined) {
                            this.$set(response.templates[template].standard.buttons, 'inner_buttons', []);
                        }

                        if (response.templates[template].standard.buttons.outer_buttons === undefined) {
                            this.$set(response.templates[template].standard.buttons, 'outer_buttons', []);
                        }
                    }

                    if (response.templates[template].standard.has_tables === undefined) {
                        this.$set(response.templates[template].standard, 'has_tables', {inner_tables: [], outer_tables: []});
                    } else {
                        if (response.templates[template].standard.has_tables.inner_tables === undefined) {
                            this.$set(response.templates[template].standard.has_tables, 'inner_tables', []);
                        }

                        if (response.templates[template].standard.has_tables.outer_tables === undefined) {
                            this.$set(response.templates[template].standard.has_tables, 'outer_tables', []);
                        }
                    }
                }
            }

            this.modelConfig = Object.assign({}, this.modelConfig, response);
        }
    },
    mounted() {
        this.toggleDraggable();

        document.addEventListener('resize', this.toggleDraggable);
    },
    beforeDestroy() {
        document.removeEventListener('resize', this.toggleDraggable);
    }
}
</script>

<style>
</style>
