<template>

        <!-- Form -->
        <el-form ref="form" :model="data" label-position="top" v-loading.body="loading" class="inner-editing field-generator">

            <div class="edit-main">

                <h2>{{ data.table_field }}</h2>

                <div class="tab_sub_caption">
                    <span>{{ trans('core_form.tabs.parameter') }}</span>
                    <p>{{ trans('core_form.tabs.value') }}</p>
                </div>

                <el-form-item label="Название">
                    <el-input placeholder="Название по русски" v-model="data.label.ru"></el-input>
                </el-form-item>

                <el-form-item label="Label">
                    <el-input placeholder="Label on english" v-model="data.label.en"></el-input>
                </el-form-item>

                <!-- Buttons -->
            </div>

            <el-form-item class="edit-bottom">

                <button v-html="this.generateSvg('save-icon', this.trans('core_form.buttons.save'))"
                        type="button"
                        v-on:click="onSubmit"
                        class="button pink icon-btn-text"
                        :loading="loading">
                </button>

                <button type="button" v-on:click="onCancel" class="button black">{{ this.trans('core_form.buttons.cancel') }}</button>

            </el-form-item>

        </el-form>

</template>

<script>
import helpers from '@services/helpers'
import Form from 'form-backend-validation'

export default {
    data() {
        return {
            data: {
                label: {},
                hint: {},
                placeholder: {},
                tab: {}
            },
            form: new Form(),
            loading: false,
            statuses: [],
            activeTab: helpers.appStorage().currentFrontendLocale || 'ru',
        }
    },
    methods: {
        onSubmit() {
            this.form = new Form(this.data);
            this.loading = true;

            this.form.post(this.getRoute())
                .then((response) => {
                    this.loading = false;

                    this.$message({
                        type: 'success',
                        message: response.message,
                        center: true
                    });

                    this.$router.push({
                        name: 'api.backend.fieldgenerator.table.show',
                        params: {table_name: this.$route.params.table_name, saved_id: response.field.id}
                    });
                })
                .catch((error) => {
                    console.log('Error - ' + error);

                    this.loading = false;
                    this.$message.error('Oops, this is a error!');
                });
        },
        onCancel() {
            this.$router.push({ name: 'api.backend.fieldgenerator.table.show', params: {table_name: this.$route.params.table_name}})
        },
        getRoute() {
            return route('api.backend.fieldgenerator.store', { table_name: this.$route.params.table_name });
        },
    },
}
</script>

<style>
    .edit-main{
        padding: 10px;
        background: #ffffff;
    }
</style>
