<template>

    <!-- Form -->
    <el-form ref="form" :model="data" v-loading.body="loading" class="mini-form inner-editing">
        <h2>{{data.table_field}}</h2>

        <div class="fieldset">
            <el-form-item label="Label ru">
                <el-input placeholder="Label ru" v-model="data.label.ru"></el-input>
            </el-form-item>

            <el-form-item label="Label en">
                <el-input placeholder="Label en" v-model="data.label.en"></el-input>
            </el-form-item>

            <el-form-item label="Placeholder ru">
                <el-input placeholder="placeholder ru" v-model="data.placeholder.ru"></el-input>
            </el-form-item>

            <el-form-item label="Placeholder em">
                <el-input placeholder="placeholder em" v-model="data.placeholder.em"></el-input>
            </el-form-item>

            <el-form-item label="Hint ru">
                <el-input placeholder="Hint ru" v-model="data.hint.ru"></el-input>
            </el-form-item>

            <el-form-item label="Hint en">
                <el-input placeholder="Hint en" v-model="data.hint.en"></el-input>
            </el-form-item>

            <!-- <el-form-item label="Settings">
                <el-input type="textarea" :rows="5" placeholder="Settings" v-model="data.settings"></el-input>
            </el-form-item> -->

            <el-form-item label="Validation">
                <el-input placeholder="Validation" v-model="data.validation"></el-input>
            </el-form-item>

            <el-form-item label="Function name wich have needed data for field">
                <el-input placeholder="Function name wich have needed data for field"
                          v-model="data.relation"></el-input>
            </el-form-item>

            <el-form-item label="Req">
                <el-checkbox v-model="data.required">Required</el-checkbox>
            </el-form-item>

            <el-form-item label="Status">
                <el-checkbox v-model="data.is_published">Published</el-checkbox>
            </el-form-item>

            <el-form-item label="Multi Language">
                <el-checkbox v-model="data.is_translated">Translated field</el-checkbox>
            </el-form-item>

            <el-form-item label="Field type">
                <el-select v-model="data.type" name="Field type">
                    <el-option v-for="(value, key) in field_types"
                            :key="key"
                            :label="value"
                            :value="value">
                    </el-option>
                </el-select>
            </el-form-item>

        </div>

        <!-- Buttons -->
        <el-form-item class="edit-bottom">

            <button v-html="this.generateSvg('save-icon', 'Save')"
                    type="button" v-on:click="onSubmit" class="button pink icon-btn-text" :loading="loading">
            </button>

            <button type="button" v-on:click="onCancel" class="button black">Отменить</button>

        </el-form-item>

    </el-form>

</template>

<script>
import helpers from '@services/helpers'
import Form from 'form-backend-validation'

export default {
    data() {
        return {
            data: {
                label: {},
                hint: {},
                placeholder: {},
                tab: {}
            },
            form: new Form(),
            loading: false,
            statuses: [],
            activeTab: helpers.appStorage().currentFrontendLocale || 'ru',
            field_types: [
                'text',
                'textarea',
                'tinymce',
                'textareaSwitchTinymce',
                'slug',
                'checkbox',
                'checkboxGroup',
                'select',
                'uploadImage',
                'uploadFile',
                'shortcode',
                'datetime',
            ]
        }
    },
    methods: {
        onSubmit() {
            this.form = new Form(this.data);
            this.loading = true;

            this.form.post(this.getRoute())
                .then((response) => {
                    this.loading = false;

                    this.$message({
                        type: 'success',
                        message: response.message,
                        center: true
                    });

                    this.$router.push({
                        name: 'api.backend.fieldgenerator.table.show',
                        params: {table_name: this.data.table_name, saved_id: response.field.id}
                    });
                })
                .catch((error) => {
                    console.log('Error - ' + error);

                    this.loading = false;
                    this.$message.error('Oops, this is a error!');
                });
        },
        onCancel() {
            this.$router.push({name: 'api.backend.fieldgenerator.table.show', params: {table_name: this.data.table_name}});
        },
        fetchPage() {
            this.loading = true;

            this.pushAxiosGet(route("api.backend.fieldgenerator.find", this.$route.params.id),
                response => {
                    this.loading = false;
                    this.data = response.data;

                    this.data.placeholder = response.data.placeholder ? response.data.placeholder : {ru: '', en: ''};
                    this.data.hint = response.data.hint ? response.data.hint : {ru: '', en: ''};
                    this.data.tab = response.data.tab ? response.data.tab : {ru: '', en: ''};
                    this.data.label = response.data.label ? response.data.label : {ru: '', en: ''};
                }
            );
        },
        getRoute() {
            return route('api.backend.fieldgenerator.update', {id: this.$route.params.id});
        },
    },
    mounted: function () {
        this.fetchPage();
    }
}
</script>

<style>
</style>
