<template>
    <div>

        <el-dialog
            title="User Info"
            :visible.sync="modalVisible"
            width="60%">

            <span class="input-label">Id</span>
            <el-input
                v-model="modalData.id"
                :disabled="true">
            </el-input>

            <span class="input-label">First name</span>
            <el-input
                v-model="modalData.first_name"
                :disabled="true">
            </el-input>

            <span class="input-label">Last name</span>
            <el-input
                v-model="modalData.last_name"
                :disabled="true">
            </el-input>

            <span class="input-label">E-mail</span>
            <el-input
                v-model="modalData.email"
                :disabled="true">
            </el-input>

            <span slot="footer" class="dialog-footer">
                <el-button type="primary" v-on:click="modalVisible = false">Close</el-button>
            </span>

        </el-dialog>

    </div>
</template>

<script>

    export default {
        data() {
            return {
                modalVisible: false,
                modalData: {}
            };
        },
        methods: {},
        events: {
            'view-profile': function(data) {
                this.modalData = data
                this.modalVisible = true
            }
        }
    };
</script>

<style>
</style>
