<template>

    <fetch-any apiName="api.backend.ecommerce_stock_log.current_day">

        <div slot-scope="{ response, loading }" class="w-full order-inner-user">

            <div class="table_actions w-full flex">
                <div class="left flex flex-row">
                    <router-link tag="button"
                                 v-html="generateSvg('arrow-back', trans('ecommerce_table-fields.stock_log.to_logs') )"
                                 class="button black icon-btn-text"
                                 :to="{ name: 'api.backend.ecommerce_stock_log'}">
                    </router-link>

                    <button v-html="generateSvg('broken', ucfirst(trans('core_table.buttons.exportExcel')))"
                            class="button black icon-btn-text"
                            @click="getFile">
                    </button>

                </div>
            </div>

            <div class="table-wrapper w-full">

                <div class="w-full order-user-item">

                    <div class="table-body">

                        <table class="table-flex w-full" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                            <tr>
                                <th class="col-center">
                                    <div class="cell caption"></div>
                                </th>
                                <th class="col-center" v-for="storage in response.storages" :key="storage.id">
                                    <div class="cell caption">{{storage.title}}</div>
                                </th>
                            </tr>
                            </thead>

                            <tbody class="el-table-body vuetable-body">
                                    <tr v-for="(product , key) in response.products" :key="product.id">
                                        <td>{{key}}</td>
                                        <td v-for="k in response.storages">
                                            <p v-if="typeof product[k.id] !== 'undefined'">
                                                {{product[k.id].storage_quantity}}
                                            </p>

                                        </td>

                                    </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

        </div>

    </fetch-any>

</template>

<script>
    import fetchAny from '@components/table/renderless/fetch-any';

    export default {
        components: {
            fetchAny
        },
        props: {
            data: {},
        },
        data() {
            return {
                show: false,
                subShow: false,
                update: true,
            }
        },
        methods: {
            getFile() {
                const routeName = this.$route.name.replace('.show', '') + '.exportExcel';
                console.log('routeName', routeName);
                let params = this.data;
                axios({
                    url: route(routeName, params),
                    method: 'GET',
                    responseType: 'blob', // important
                }).then((response) => {
                    const filename = response.headers['content-disposition'].match(/\"(.*)\"/)[1] || 'index.xlsx';
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');

                    link.href = url;
                    link.setAttribute('download', filename);

                    document.body.appendChild(link);

                    link.click();
                    link.parentNode.removeChild(link);
                });
            }
        }
    }
</script>

<style scoped>
    .order-inner-user .table-actions{
        margin-bottom: 10px;
    }
    .user-info {
        padding: 20px 10px 10px 10px;
        background: #ffffff;
    }
    .user-info h2{
        width: 50%;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin: 0 0 10px 0;
    }
    .user-info p{
        width: 50%;
        padding: 5px 0;
        display: flex;
    }
    .user-info p b{
        width: 30%;
        min-width: 175px;
    }
    .order-user-item{
        margin-bottom: 30px;
        padding: 10px;
    }
    .order-user-caption{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    @media (max-width: 1000px) {
        .order-user-caption{
            font-size: 18px;
        }
    }

    @media (max-width: 500px) {
        .order-user-caption{
            flex-flow: row wrap;
        }
        .order-user-caption span{
            width: 100%;
        }
        .order-user-caption span+span{
            margin-top: 10px;
        }
    }
</style>
