<template>
    <div class="breadcrumbs">
        <nav class="bg-grey-light p-3 rounded font-sans w-full mb-4">
            <ol class="list-reset flex text-grey-dark">
                <li><a :href="dashboardRoute" class="text-black font-bold">{{ this.ucfirst(trans('dashboard.title')) }}</a></li>
                <li v-for="(breadcrumb, idx) in breadcrumbList"
                    :key="idx"
                    @click="routeTo(idx)"
                    :class="{'text-black font-bold pointer': !!breadcrumb.link}">
                    <i class="el-breadcrumb__separator el-icon-arrow-right"></i> {{ breadcrumb.name }}
                </li>
            </ol>
        </nav>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                dashboardRoute: route('backend.dashboard.index'),
                breadcrumbList: []
            }
        },
        methods: {
            routeTo(route) {
                if (this.breadcrumbList[route].link) {
                    this.pushRoute(this.breadcrumbList[route].link)
                }
            },
            updateList() {
                this.breadcrumbList = this.$route.meta.breadcrumb
            }
        },
        watch: {
            '$route'() {
                this.updateList()
            }
        },
        mounted() {
            this.updateList()
        }
    }
</script>

<style scoped>
    .pointer{
        cursor: pointer;
    }
</style>
