<template>
    <div class="custom-actions">

        <button-view v-if="this.rowOptions.buttonParams.view" :rowData="this.rowData"></button-view>

        <button-edit v-if="this.rowOptions.buttonParams.edit" :rowData="this.rowData"></button-edit>

        <button-delete v-if="this.rowOptions.buttonParams.delete" :rowData="this.rowData"></button-delete>

    </div>
</template>

<script>
    export default {
        components: {
            'button-view': require('../elements-parts/button-view.vue').default,
            'button-edit': require('../elements-parts/button-edit.vue').default,
            'button-delete': require('../elements-parts/button-delete.vue').default
        },
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            },
            rowOptions: {
                type: Object,
                default () {
                    return {
                        buttonParams: {
                            view: false,
                            edit: true,
                            delete: true
                        }
                    }
                }
            }
        }
    }
</script>

<style>
</style>
