<template>
    <el-switch
        @change="toggleStatus"
        v-model="data.status"
        active-color="#a2f5bf"
        >
    </el-switch>
</template>

<script>
    export default {
        props: {
            rowData: {
                type: Object,
                required: true
            },
            feed: {
                type: Object,
                required: false
            }
        },
        data() {
            return {
                data: this.rowData,
            }
        },
        methods: {
            toggleStatus() {
                this.$events.fire('change-status', [this.data.id], this.data.status);
            },
        },
        watch: {
            feed (newData, old) {
                if(newData[this.data.id] !== undefined) {
                    this.data.status = newData[this.data.id];
                }
            },
            rowData (newData, old) {
                    this.data = newData;
            }
        }
    }
</script>

<style>
</style>
