<template>
    <div class="filter-bar w-1/2">
        <form class="w-full max-w-sm">
            <div class="flex items-center border-b border-b-2 border-teal py-2">
                <input class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2" type="text" placeholder="Search for:" aria-label="Full name or email" v-model="filterText">

                <button class="flex-no-shrink border-transparent border-4 text-teal hover:text-teal-darker text-sm py-1 px-2 rounded" type="button" @click.prevent="resetFilter">
                    Reset
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        props: ['value'],
        data () {
            return {
                filterText: ''
            }
        },
        methods: {
            resetFilter () {
                this.filterText = '';
            }
        },
        watch: {
            value() {
                this.filterText = this.value;
            },
            filterText: function(value) {
                this.$emit('input', value);
            }
        },
        events: {
            'filter-bar-reset' () {
                this.resetFilter();
            },
        }
    }
</script>

<style>
    .filter-bar {
        padding: 10px;
    }
</style>
