<template>
    <div class="container mx-auto flex justify-center items-center">
        <h1 class="font-hairline mb-6 text-center">{{ this.ucfirst(pageTitle) }}</h1>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                pageTitle: 'Default Title'
            }
        },
        methods: {
            updatePageTitle() {
                this.pageTitle = this.$route.meta.pageTitle
            }
        },
        watch: {
            '$route'() {
                this.updatePageTitle()
            }
        },
        mounted() {
            this.updatePageTitle()
        }
    }
</script>

<style>
</style>
