<template>

    <div class="tags-view-container">
        <nav class="bg-grey-light p-3 rounded font-sans w-full mb-4">
            <ol class="list-reset flex text-grey-dark">
                <li>

                    <router-link ref='tag' class="tags-view-item" :class="isActive(tag) ? 'active' : ''" v-for="tag in Array.from(visitedViews)" :to="tag.path" :key="tag.path">

                        <span :class="['el-tag ', isActive(tag) ? 'el-tag--active' : 'el-tag--info']">

                            {{ tag.title.toUpperCase() }}

                            <i class="el-tag__close el-icon-close" @click.prevent.stop='closeSelectedTag(tag)'></i>

                        </span>

                    </router-link>

                </li>
            </ol>
        </nav>
    </div>

</template>

<script>
    import helpers from '../../services/helpers'

    export default {
        data() {
            return {
                visible: false,
                top: 0,
                left: 0,
                selectedTag: {}
            }
        },
        computed: {
            visitedViews() {
                return this.$store.state.tagsView.visitedViews
            }
        },
        watch: {
            $route() {
                this.addViewTags()
                this.moveToCurrentTag()
            },
            visible(value) {
                if (value) {
                    document.body.addEventListener('click', this.closeMenu)
                } else {
                    document.body.removeEventListener('click', this.closeMenu)
                }
            }
        },
        mounted() {
            this.addViewTags()
        },
        methods: {
            generateRoute() {
                if (this.$route.name) {
                    return this.$route
                }

                return false
            },
            isActive(route) {
                return route.path === this.$route.path || route.name === this.$route.name
            },
            addViewTags() {
                const route = this.generateRoute()

                if (!route) {
                    return false
                }

                this.$store.dispatch('addVisitedViews', route)
            },
            moveToCurrentTag() {
                const tags = this.$refs.tag

                this.$nextTick(() => {
                    for (const tag of tags) {
                        if (tag.to === this.$route.path) {
                            break
                        }
                    }
                })
            },
            closeSelectedTag(view) {
                this.$store.dispatch('delVisitedViews', view).then((views) => {
                    if (this.isActive(view)) {
                        const latestView = views.slice(-1)[0]

                        if (latestView) {
                            this.$router.push(latestView.path)
                        } else {
                            this.$router.push('/' + helpers.makeBaseUrl() + '/')
                        }
                    }
                })
            }
        }
    }
</script>

<style scoped>
    .el-tag--active {
        background-color: rgba(103, 194, 58, .1);
        border-color: rgba(103, 194, 58, .2);
        color: #409EFF;
    }
</style>
