<template>

    <form-fields form-type="create"
                :allFrontendLocales="allFrontendLocales"
                :routes="routes">
    </form-fields>

</template>

<script>
import form from "./form"

export default {
    components: {
        'form-fields': form,
    },
    props: {
        allFrontendLocales: {
            type: Object,
            required: true
        },
        routes: {
            type: Object
        }
    }
};
</script>

<style>
</style>
