<template>

    <!-- Form -->
    <el-form v-loading.body="loading"
             class="inner-editing"
             label-position="top"
             :model="formData"
             ref="form">

        <!-- Multitabs if more than 1 main tab -->
        <multitab-fields v-if="responseParameters.fields && Object.keys(responseParameters.fields).length > 1"
                        :responseParameters="responseParameters"
                        :allFrontendLocales="allFrontendLocales"
                        v-model="formData"
                        :formType="formType"
                        :form="form">
        </multitab-fields>

        <!-- Only one tab with non-trans parameters under trans -->
        <onetab-fields v-else-if="responseParameters.fields"
                        :responseParameters="responseParameters"
                        :allFrontendLocales="allFrontendLocales"
                        v-model="formData"
                        :formType="formType"
                        :form="form">
        </onetab-fields>

        <!-- Buttons -->
        <el-form-item class="edit-bottom">

            <button v-html="this.generateSvg('save-icon', this.trans('core_form.buttons.save'))"
                    type="button"
                    v-on:click="onSubmitRefresh"
                    :class="[validateSaveButton ? '' : 'disabled', 'button pink icon-btn-text', this.$store.state.formData.formStateTrigger ? '' : 'disabled']"
                    :loading="loading">
            </button>

            <button v-html="this.generateSvg('save-exit', 'Сохранить и выйти')"
                    type="button"
                    v-on:click="onSubmit"
                    :class="[validateSaveButton ? '' : 'disabled', 'button pink icon-btn-text', this.$store.state.formData.formStateTrigger ? '' : 'disabled']"
                    :loading="loading">
            </button>

            <button type="button"
                    v-on:click="onCancel"
                    class="button black icon-btn-text">
                    {{ trans('core_form.buttons.cancel') }}
            </button>

        </el-form-item>

    </el-form>

</template>


<script>
import helpers from "@services/helpers"
import Form from "form-backend-validation"
import multitab from "./multitab-fields"
import onetab from "./onetab-fields"

export default {
    components: {
        'multitab-fields': multitab,
        'onetab-fields': onetab
    },
    props: {
        allFrontendLocales: {
            type: Object,
            required: true
        },
        routes: {
            type: Object
        },
        formType: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            validateSaveButton: true,
            formData: _(this.allFrontendLocales)
                .keys()
                .map(locale => [locale, {}])
                .fromPairs()
                .value(),
            responseParameters: {},
            form: {},
            loading: false,
        };
    },
    methods: {
        onSubmit() {
            this.$events.fire('form-submit');
            this.loading = true;

            this.form = new Form(this.formData);

            this.form.post(this.getRoute())
                .then((response) => {

                    this.loading = false;

                    this.notify(response);

                    let name = this.getUrlName('aftersave', this.currentRoute);
                    let params = this.getUrlParams('aftersave', {
                        id: this.formData.parent_id
                    });

                    if (this.$route.params.preRoute !== undefined) {
                        name = this.$route.params.preRoute.name;
                        params = this.$route.params.preRoute.params;

                        if (this.routes !== undefined && this.routes.aftersave !== undefined && this.routes.aftersave.params !== undefined) {
                            params.type = this.routes.aftersave.params.type;
                        }

                        if (typeof this.routes.aftersave.params !== 'undefined') {
                            params.type = this.routes.aftersave.params.type;
                        }
                    }

                    params['saved_id'] = response.id || 0;

                    if (parseInt(params.id) === 0 && (name.search('.show') > 0)) {
                        name = name.replace('.show', '');
                    }

                    this.$router.push({
                        name,
                        params
                    });
                })
                .catch((error) => {
                    console.log('Error - ' + error);

                    if (typeof error !== 'string') {
                        error = this.trans('core_alerts.something_wrong');
                    }

                    this.$notify.error({
                        title: 'Error!',
                        message: error,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });

                    this.loading = false;
                });
        },
        onSubmitRefresh() {
            this.$events.fire('form-submit-refresh');
            this.loading = true;

            this.form = new Form(this.formData);

            this.form.post(this.getRoute())
                .then((response) => {
                    this.loading = false;

                    this.notify(response);

                    if (/\.edit/.test(this.$route.name)) {
                        this.$router.push({ name: this.$router.currentRoute.name, params: this.$router.currentRoute.params});
                    } else {
                        this.$router.push({ name: this.$route.name.replace('create', 'edit'), params: { id: response.id }});
                    }
                })
                .catch((error) => {
                    console.log('Error - ' + error);

                    if (typeof error !== 'string') {
                        error = this.trans('core_alerts.something_wrong');
                    }

                    this.$notify.error({
                        title: 'Error!',
                        message: error,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });

                    this.loading = false;
                });
        },
        getRoute() {
            const addition = this.formType === 'create' ? '.store' : '.update';
            const name = this.getUrlName('storeRoute', this.currentRoute + addition);
            const params = this.getUrlParams('storeRoute', {
                id: this.$route.params.id
            });

            return route(name, params);
        },
        onCancel() {
            this.$events.fire('form-cancel');

            let name = this.getUrlName('aftercancel', this.currentRoute);
            let params = this.getUrlParams('aftercancel', {
                id: this.formData.parent_id
            });

            if (parseInt(params.id) === 0 && (name.search('.show') > 0)) {
                name = name.replace('.show', '');
            }

            if (this.$route.params.preRoute !== undefined) {
                name = this.$route.params.preRoute.name;
                params = this.$route.params.preRoute.params;

                if (this.routes !== undefined && this.routes.aftersave !== undefined && this.routes.aftersave.params !== undefined) {
                    params.type = this.routes.aftercancel.params.type;
                }
            }

            if (this.$route.params.currentPage !== undefined) {
                params.currentPage = this.$route.params.currentPage;
            }

            this.$router.push({name, params});
        },
        fetchFormData() {
            if (this.formType !== 'edit') {
                return false;
            }

            this.loading = true;

            const name = this.getUrlName('fetchpage', this.currentRoute + '.find');
            const params = this.getUrlParams('fetchpage', {
                id: this.$route.params.id
            });

            this.pushAxiosGet(route(name, params), (response) => {
                this.formData = response.data;

                if (response.data[this.currentFrontendLocale].title) {
                    this.$events.fire('title-addition', response.data[this.currentFrontendLocale].title);
                }

                this.loading = false;
            });
        },
        fetchParameters() {
            this.loading = true;

            const name = this.getUrlName('findNew', this.currentRoute + '.findNew');
            const params = this.getUrlParams('findNew', {
                id: this.$route.params.id
            });

            this.pushAxiosGet(route(name, params), (response) => {
                this.responseParameters = response;
                this.$store.dispatch('addFormState', response.fields);
                this.$store.dispatch('checkFormState');
                this.loading = false;
            });
        },
        getUrlName(type, standartValue) {
            let name = standartValue;

            if (this.routes && this.routes[type] && this.routes[type].name) {
                name = this.routes[type].name;
            }

            return name;
        },
        getUrlParams(type, standartValue) {
            let params = standartValue;

            if (this.routes && this.routes[type] && this.routes[type].params) {
                params = {};

                for (let param in this.routes[type].params) {
                    if (typeof this.routes[type].params[param] === 'boolean') {
                        params[param] = this.routes[type].params[param];

                        continue;
                    }

                    params[param] = this.$route.params[this.routes[type].params[param]];
                }
            }

            return params;
        }
    },
    events: {},
    watch: {
        formData: {
            immediate: true,
            deep: true,
            handler: function (value) {
                this.$store.dispatch('addFormData', value);
                this.$store.dispatch('checkFormState');
            }
        }
    },
    mounted: function () {
        if (this.formType === 'edit') {
            this.validateSaveButton = this.validateUserPermissionEditByRouteName(this.$route.name);

            this.fetchFormData();
        }
    },
    created: function () {
        this.$store.dispatch('delFormData')

        this.currentRoute = this.$route.name.split('.').slice(0, 3).join('.');
        this.currentFrontendLocale = helpers.appStorage().currentFrontendLocale || "ru";
        this.validateSaveButton = this.validateUserPermissionCreateByRouteName(this.$route.name);

        this.fetchParameters();
    }
};
</script>

<style scoped>
    .edit-tabs-wrapper .el-input {
        font-size: 0.9608785175017158vw;
    }
    .edit-tabs-wrapper .el-input__inner {
        border-radius: 0;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__header {
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav-wrap {
        display: flex;
        margin-bottom: 0;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav-scroll {
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav {
        width: auto;
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper div.el-tabs__item {
        padding: 10px 0;
        line-height: normal;
        height: auto;
        width: 60px;
        display: flex;
        justify-content: center;
    }
    /*---------solento-------*/
    .form-btn-top{
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        right: 0;
        top: 24px;
        transform: translate(0, 100%);
        z-index: 25;
    }
    .button.to-infoblock{
        margin-bottom: 20px;
    }
    .form-btn-top .button+.button{
        margin-left: 2px;
    }
    @media (max-width: 600px){
        .form-btn-top{
            top: 0;
            transform: none;
        }
    }
</style>
