<template>
    <el-tabs type="border-card">

        <!-- Tab For Each Unique Tab -->
        <el-tab-pane v-for="(tabFields, tabLabel) in responseParameters.fields"
                     :class="[tabFields.translatable !== undefined ? 'with-language' : 'without-language', tabFields.gallery_id ? 'gallery-tab': '']"
                     :label="ucfirst(transObject(tabLabel))"
                     :key="tabLabel">

            <!-- Tabs For Language -->
            <el-tabs v-model="currentFrontendLocale" v-if="tabFields.translatable !== undefined">

                <div v-if="tabFields.translatable === undefined && tabFields.gallery_id && !$breakpoint.smAndDown"
                     class="tab_sub_caption">
                </div>

                <div v-else-if="tabFields.translatable !== undefined && !$breakpoint.smAndDown" class="tab_sub_caption">
                    <span>{{ trans('core_form.tabs.parameter') }}</span>
                    <p>{{ trans('core_form.tabs.value') }}</p>
                </div>

                <!-- Tab For Each Language -->
                <el-tab-pane v-for="(localeArray, locale) in allFrontendLocales"
                             :label="localeArray.name"
                             :key="localeArray.name"
                             :name="locale">

                    <!-- Lang icon -->
                    <span slot="label" :class="[{'error' : !_.isEmpty(form.errors) && form.errors.has(locale)}, 'lang-icon']">
                        <svg :class='[locale, "lang"]'>
                            <use :class='locale' v-bind:xlink:href='"#" + locale'></use>
                        </svg>
                        <i>{{ localeArray.name }}</i>
                    </span>

                    <!-- Form fields loop -->
                    <field v-for="(fieldParameters, field) in tabFields.translatable"
                           v-if="field && field !== undefined && typeof field === 'string' && field.length > 1"
                           v-model="mutatedValue[locale][field]"
                           :key="field"
                           :fieldName="fieldParameters.field_type + '-field'"
                           :parameters="fieldParameters.parameters"
                           :field="field"
                           :formType="formType"
                           :class="fieldParameters.field_type"
                           :addition="responseParameters.addition"
                           :fieldErrors="form.errors">
                    </field>

                </el-tab-pane>

            </el-tabs>

            <div class="tab_sub_caption" v-if="!$breakpoint.smAndDown && !tabFields.gallery_id">
                <span>{{ trans('core_form.tabs.parameter') }}</span>
                <p>{{ trans('core_form.tabs.value') }}</p>
            </div>
            <hr v-else-if="!tabFields.gallery_id" class="divider">

            <field v-for="(fieldParameters, field) in tabFields"
                   v-if="field && field !== undefined && typeof field === 'string' && field !== 'translatable'"
                   v-model="mutatedValue[field]"
                   :key="field"
                   :fieldName="fieldParameters.field_type + '-field'"
                   :parameters="fieldParameters.parameters"
                   :field="field"
                   :formType="formType"
                   :addition="responseParameters.addition"
                   :class="fieldParameters.field_type"
                   :fieldErrors="form.errors">
            </field>

        </el-tab-pane>

    </el-tabs>
</template>

<script>
import field from '../fields'
import helpers from "@services/helpers"

export default {
    components : {
        'field' : field
    },
    props : {
        allFrontendLocales: {
            type: Object,
            required: true
        },
        formType : {
            type : String,
            required : true
        },
        value: {},
        responseParameters: {},
        form: {
            type: Object
        }
    },
    data() {
        return {
            currentFrontendLocale : 'ru',
            mutatedValue: {}
        }
    },
    watch : {
        value : {
            immediate : true,
            handler(to) {
                if (to[this.currentDefaultLocale] === undefined) {
                    for(let locale in this.locales) {
                        to[locale] = {}
                    }
                }

                this.mutatedValue = to;
            },
            deep: true
        },
        mutatedValue : function (value) {
            this.$emit('input', value);
        }
    },
    methods: {},
    created: function () {
        this.currentFrontendLocale = helpers.appStorage().currentFrontendLocale || "ru";
    }
};
</script>

<style scoped lang="css">
    hr.divider{
        border-top: 2px solid #d7d7d7;
    }
    .el-tabs__content .el-tabs.el-tabs--top+.tab_sub_caption{
        margin-top: 5px;
    }
    .edit-tabs-wrapper .el-input__inner {
        border-radius: 0;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__header {
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav-wrap {
        display: flex;
        margin-bottom: 0;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav-scroll {
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav {
        width: auto;
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper div.el-tabs__item {
        padding: 10px 0;
        line-height: normal;
        height: auto;
        width: 60px;
        display: flex;
        justify-content: center;
    }
    .with-language>.tab_sub_caption:last-child{
        display: none;
    }
</style>