<template>

    <el-container direction="horizontal" class="flex-row flex-wrap w-full">

        <navigation></navigation>

        <el-container>

            <sidebar></sidebar>

            <el-main>

                <breadcrumbs></breadcrumbs>

                <tags></tags>

                <page-title></page-title>

                <router-view></router-view>

            </el-main>

        </el-container>

    </el-container>

</template>

<script>
    import sidebar from './sidebar'
    import navigation from './navigation'
    import tags from '../../components/elements/tags'
    import pageTitle from '../../components/elements/page-title'
    import breadcrumbs from '../../components/elements/breadcrumbs'

    export default {
        components: {
            'breadcrumbs': breadcrumbs,
            'page-title': pageTitle,
            'navigation': navigation,
            'sidebar': sidebar,
            'tags': tags
        }
    }
</script>

<style>
</style>
