<template>

    <el-header class="p-0 w-full header" height="auto">

        <el-menu class="el-menu nav" mode="horizontal">

            <el-menu-item index="1">
                <i class="fas fa-eye"></i>
                <a href="/" target="_blank">{{ this.trans('core.general.view website') }}</a>
            </el-menu-item>

            <el-submenu index="2">
                <template slot="title"><i class="fas fa-language"></i> {{ currentBackendLocale }}</template>
                <el-menu-item index="2-1" v-on:click="changeLocalization('en')">English</el-menu-item>
                <el-menu-item index="2-2" v-on:click="changeLocalization('ru')">Russian</el-menu-item>
            </el-submenu>

            <el-submenu index="3">
                <template slot="title">
                    <i class="fas fa-user"></i> {{ currentUser.first_name }} {{ currentUser.last_name }}
                </template>
                <el-menu-item index="3-1" v-on:click="viewProfile">
                    <i class="fas fa-user-cog"></i> {{ this.trans('core.general.profile') }}
                </el-menu-item>
                <el-menu-item index="3-2" v-on:click="logout">
                    <i class="fas fa-sign-out-alt"></i> {{ this.trans('core.general.sign out') }}
                </el-menu-item>
            </el-submenu>

        </el-menu>

        <user-view-modal></user-view-modal>

    </el-header>

</template>

<script>
    import helpers from '../../services/helpers'
    import userViewModal from '../modals/users/user-view-modal'

    export default {
        components: {
            userViewModal
        },
        data() {
            return {
                currentBackendLocale: helpers.appStorage().allBackendLocales[helpers.appStorage().currentBackendLocale].name,
                currentUser: helpers.appStorage().currentUser
            }
        },
        methods: {
            viewProfile() {
                this.$events.fire('view-profile', this.currentUser)
            },
            changeLocalization(lang) {
                axios.get(route('api.backend.translation.changeLocalization', lang), { params: { url: this.$route.path }}).then(response => {
                    // this.$router.go('/');
                    window.location.href = response.data;
                });
            },
            logout() {
                helpers.logout().then(() => {
                    this.$router.go('/auth/login');
                })
            }
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    .nav {
        float: right;
        height: 100%;
        line-height: 80px;
        padding: 0;
        margin: 0;
    }
    .header {
        height: 80px;
        background-color: #fff;
        color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 80px;
        z-index: 100;
        position: relative;
    }
</style>
