<template>

    <el-aside width="200px" style="background-color: rgb(238, 241, 246)">

        <el-menu :router="true">

            <el-menu-item index="1" :route="{name:'api.backend.dashboard'}"><i class="fas fa-tachometer-alt"></i> Dashboard</el-menu-item>

            <el-menu-item index="2" :route="{name:'api.backend.articles'}"><i class="fas fa-news"></i> Articles</el-menu-item>
            <el-menu-item index="3" :route="{name:'api.backend.gallery'}"><i class="fas fa-images"></i> Gallery</el-menu-item>
            <el-menu-item index="4" :route="{name:'api.backend.page'}"><i class="fas fa-file"></i> Pages</el-menu-item>
            <el-menu-item index="5" :route="{name:'api.backend.translation'}"><i class="fas fa-globe"></i> Translations</el-menu-item>

            <el-submenu index="6">
                <template slot="title"><i class="fas fa-users"></i> Users & Roles</template>
                <el-menu-item index="6-1" :route="{name:'api.backend.users'}"><i class="fas fa-user"></i> Users</el-menu-item>
                <el-menu-item index="6-2" :route="{name:'api.backend.role'}"><i class="fas fa-users-cog"></i> Roles</el-menu-item>
            </el-submenu>

            <el-submenu index="7">
                <template slot="title"><i class="fas fa-cogs"></i> Settings</template>
                <el-menu-item index="7-1" :route="{name:'api.backend.settings.module', params: {module: 'core'}}"><i class="fas fa-user"></i> Core</el-menu-item>
                <el-menu-item index="7-2" :route="{name:'api.backend.settings.module', params: {module: 'dashboard'}}"><i class="fas fa-users-cog"></i> Dashboard</el-menu-item>
            </el-submenu>

        </el-menu>

    </el-aside>

</template>

<script>
</script>

<style>
</style>
