<template>
    <div>
        <ul v-for="item in items" :key="item.id">
            <nestItem :item="item" :depth="(depth || 0) + 1"></nestItem>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['items', 'depth'],
        beforeCreate: function () {
            this.$options.components.nestItem = require('./nest-item.vue').default
        }
    };
</script>

<style>
</style>
