<template>
    <li>
        {{ item.title }} {{ depth }}
        <nested-list v-if="item.children.length" :items="item.children" :key="item.id" :depth="depth"></nested-list>
    </li>
</template>

<script>
    import nestedList from './nested-list.vue';
    export default {
        props: ['item', 'depth'],
        components: {
            'nested-list': nestedList,
        }
    };
</script>

<style>
</style>
