.el-cascader-menus.el-popper[x-placement^=bottom] {
    margin-top: -1px;
    border-top-color: rgb(238, 94, 136);
}

.el-cascader-menus.el-popper[x-placement^=top] {
    margin-bottom: -1px;
    border-bottom-color: rgb(238, 94, 136);
}

.el-cascader-menus.el-popper[x-placement^=left] {
}

.el-cascader-menus.el-popper[x-placement^=right] {
}

.el-cascader-menus.el-popper .popper__arrow {
    display: none;
}

.modal-wrapper.modal-top {
    padding-top: 70px;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1900;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

.modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #231f20;
    opacity: 0.3;
    z-index: 1;
}

.modal-content {
    position: relative;
    z-index: 5;
    padding: 20px;
    box-shadow: 5px 5px 20px -5px #000;
    background: #ffffff;
}

.modal-caption {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.icon-btn.close-modal {
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
}

.modal-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-actions button.button {
    margin: 0 20px;
    min-width: 115px;
}

@media (max-width: 1000px) {
    .icon-btn.close-modal {
        width: 17px;
        height: 16px;
        right: 10px;
        top: 10px;
    }
}

@media (max-width: 800px) {
    .modal-content {
        padding: 20px 5px 10px 5px;
    }

    .modal-actions button.button {
        font-size: 14px;
        margin: 0 10px;
        flex-flow: row nowrap;
    }

    .modal-overlay {
        opacity: .6;
    }
}