
.upload-element-wrapper {
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;
    justify-content: center;
    max-width: 550px;
}

.file-button {
    pointer-events: none;
}

.upload-file-excel {
    margin-left: 3px;
    display: flex;
    position: relative;
}

.upload-modal {
    align-items: center;
}

.upload-element {
    position: relative;
    pointer-events: all;
    cursor: pointer;
    margin: 0 10px;
}
.upload-element button.button.black{
    margin: 0;
}

.upload-element-wrapper p {
    width: 100%;
}

.upload-element input {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

.upload-element-wrapper>button.button {
    margin: 0 10px;
}

p.file-name {
    margin-bottom: 20px;
}

p.description {
    font-size: 16px;
    margin-bottom: 20px;
}