
.breadcrumbs-element {
    background: #e6e7e8;
}

.breadcrumbs-element nav {
    padding: 0;
    box-shadow: 0 -1px 0 0 #ffffff inset;
}

.breadcrumbs-element p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumbs-element svg {
    width: 10px;
    height: 11px;
    margin: 0 10px;
}

.breadcrumbs-element li span,
.breadcrumbs-element li a {
    font-size: 14px;
    display: block;
    padding: 10px;
    line-height: 1;
}

.pointer {
    cursor: pointer;
}

.breadcrumbs-element nav ol {
    align-items: center;
}

@media (max-width: 1200px) {
    .breadcrumbs-element svg {
        width: 7px;
        min-width: 7px;
        height: 11px;
        margin: 0 5px 0 10px;
    }

    .breadcrumbs-element nav ol {
        flex-flow: row wrap;
        padding: 7px 0;
    }

    .breadcrumbs-element li span,
    .breadcrumbs-element li a {
        padding: 3px 10px;
    }
}