
.cropper-overlay{
    background: rgba(10,10,10,.86);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.cropper-service-area{
    position: relative;
    z-index: 2;
    margin: auto;
    width: 75%;
    height: 80%;
    min-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cropper-service-area-center{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}
.cropper-service-area-bottom{
    position:absolute;
    bottom: -40px;
    height: 35px;
    width:100%;
    background: rgba(51, 62, 69, 0.8);
}
.btn-cropper{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #b1bec6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cropper:hover{
    color:#fff;
}
.btn-cropper svg{
    margin: 0;
}
.chose-image .cropper-service-area-center img[src] {
    width: 100%;
    height: 100%;
}

.cropper-overlay-container {
    background: rgba(10, 10, 10, .86);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.cropper-service-area {
    position: relative;
    margin: auto;
    width: 80%;
    height: 80vh;
    min-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cropper-service-area-right,
.cropper-service-area-left {
    height: 100%;
    background: rgba(51, 62, 69, 0);
    display: flex;
}

.cropper-service-area-center {
    position: relative;
    width: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-service-area-bottom {
    position: absolute;
    bottom: -35px;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(51, 62, 69, 0.8);
    left: 0;
    right: 0;
}

@media (max-width: 800px) {
    .cropper-service-area {
        min-width: 95vw;
        width: 95%;
    }
}

@media (max-width: 400px) {
    .cropper-service-area {
        height: 70vh;
    }
}