
.change-quantity{
    display: flex;
    justify-content: space-between;
    user-select: none;
    align-items: center;
}
.change-quantity p{
    cursor: pointer;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.change-quantity p svg{
    width: 13px;
    height: 11px;
}
.change-quantity button{
    display: flex;
}
.change-quantity svg.save-icon{
    width: 15px;
    height: 15px;
    margin: 0;
    color: #ef6089;
}