
.find-products {
    margin-left: 3px;
}
.find-products .el-input__suffix {
    pointer-events: none;
}

.find-products .el-input__suffix-inner {
    display: flex;
    pointer-events: none;
    height: 100%;
}

.find-products .el-icon-arrow-up {
    pointer-events: none;
}

.find-products .el-icon-circle-close {
    pointer-events: all;
}

.find-products {
    display: flex;
    position: relative;
}

.blink-pink-text p {
    display: flex;
    animation: blinkPinkText .9s linear;
}

.white-bg {
    background: #ffffff;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.find-products-form-wrapper {
    max-width: 1000px;
    min-height: 200px;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.find-products-wrapper .modal-caption.empty {
    z-index: 50;
    display: block;
    background: #ffffff;
    padding: 10px 0 50px 0;
    width: auto;
}

.find-products-wrapper .table-overflow{
    width: 100%;
}

.find-products-wrapper .table-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    max-height: 400px;
    padding: 0 5px 0 0;
    z-index: 150;
    margin-top: 15px;
}


.find-products-wrapper .table-wrapper::-webkit-scrollbar-track {
    background: rgba(35, 31, 32, 0.1);
}

.find-products-wrapper .table-wrapper::-webkit-scrollbar-thumb {
    background: #231f20;
}

.find-products-wrapper .table-wrapper::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}



.find-products-wrapper {
    padding-top: 6%;
    padding-bottom: 6%;
}

.table-overflow {
    overflow-x: auto;
    overflow-y: hidden;
}

.find-products-wrapper .table-wrapper table {
    overflow-x: auto;
    overflow-y: visible;
}

.find-products-form {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.find-products-form button:last-child {
    margin-left: auto;
}

.find-products-wrapper .table-wrapper > p {
    width: 100%;
    margin: 5px 0 20px 0;
    text-align: center;
}

.find-products-wrapper .table-wrapper > button:last-child {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.find-products-wrapper .inner-editing .el-form-item__content div.el-input > input {
    padding: 0 0 0 5px;
}

.find-products-wrapper .inner-editing .el-select {
    width: 100%;
}

.find-products-wrapper .inner-editing .el-form-item {
    background: #ffffff;
    padding: 0;
    width: calc(33.33333% - 10px);
    margin-right: 15px;
}

.find-products-wrapper .inner-editing .el-form-item:nth-child(5),
.find-products-wrapper .inner-editing .el-form-item:nth-child(7) {
    margin-right: 0;
}

.find-products-wrapper .inner-editing .el-form-item:after {
    display: none;
}

.find-products-wrapper .inner-editing .el-form-item__label {
    width: 100%;
    text-align: left;
    margin-bottom: 3px;
    padding-bottom: 0;
    padding-right: 0;
}

.find-products-wrapper .inner-editing .el-form-item__content input {
    padding-left: 5px;
}

.find-products-wrapper .inner-editing .el-form-item__content {
    width: 100%;
    margin-bottom: 0;
}

.el-select-dropdown.small-height.el-popper[x-placement^=bottom] {
    margin-top: -29px;
    padding-top: 29px;
}

.find-products-form-wrapper table td:not(:nth-child(1)):not(:nth-child(2)) {
    min-width: 180px;
}

@media (max-width: 1200px) {
    .find-products-wrapper .inner-editing .el-form-item {
        width: calc(50% - 10px);
        margin-right: 0;
    }

    .find-products-form {
        justify-content: space-between;
    }
    .find-products-form-wrapper{
        width: calc(100% - 40px);
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .find-products-form-wrapper {
        width: calc(100% - 10px);
        overflow: auto;
        background: #fff;
        z-index: 5;
    }

    .find-products-wrapper {
        padding-top: 55px;
    }
}

@media (max-width: 800px) {
    .find-products-wrapper .inner-editing .el-form-item__label {
        margin: 15px 0 5px 0;
        padding: 5px 0 5px 5px;
    }

    .find-products-wrapper .inner-editing .el-form-item {
        margin-bottom: 10px;
    }

    .find-products-wrapper .table-wrapper > button:last-child,
    .find-products-form button:last-child {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .find-products-wrapper .inner-editing .el-form-item {
        width: 100%;
    }

    .find-products-form button:last-child {
        margin: 0 auto 30px auto;
    }

    .find-products-form-wrapper {
        max-height: 90%;
    }
}

@media (max-width: 600px) {

}

@keyframes blinkPinkText {
    0% {
        color: #231f20;
        transform: translateX(0px);
    }
    10% {
        transform: translateX(5px);
    }
    20% {
        transform: translateX(-5px);
    }
    30% {
        transform: translateX(5px);
    }
    40% {
        transform: translateX(-5px);
    }
    50% {
        color: #ee5f88;
        transform: translateX(0px);
    }
    60% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    90% {
        transform: translateX(-5px);
    }
    100% {
        color: #231f20;
        transform: translateX(0px);
    }
}