.el-dialog__wrapper.modal-logs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.el-dialog__wrapper.modal-logs .el-dialog{
    width: auto;
    min-width: 60%;
    max-width: 90%;
}

.el-dialog__wrapper.modal-logs .table-overflow::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
.el-dialog__wrapper.modal-logs .table-overflow::-webkit-scrollbar-thumb{
    background: #231f20;
}
.el-dialog__wrapper.modal-logs .table-overflow::-webkit-scrollbar-track{
    background: rgba(35, 31, 32, 0.1);
}
.el-dialog__wrapper.modal-logs .table-overflow{
    max-height: 60vh;
    overflow: auto;
    padding-right: 5px;
    padding-bottom: 5px;
}
.el-dialog__wrapper.modal-logs tr{
    border-bottom: 1px solid #d7d7d7;
}
.el-dialog__wrapper.modal-logs td,
.el-dialog__wrapper.modal-logs th{
    padding: 5px 0;
    white-space: pre;
    vertical-align: baseline;
    text-align: left;
}
.el-dialog__wrapper.modal-logs tr *:first-child{
    width: 30%;
}
.el-dialog__wrapper.modal-logs td.code{
    font-family: Consolas, monospace;
    line-height: 1.6;
}



.el-dialog__wrapper.modal-logs.email div p+p{
    margin-top: 10px;
}