
.nav {
    padding: 0;
    margin: 0;
    background: rgba(255,255,255,0);
    border: none;
    display:flex;
    flex-flow: row wrap;
}

.nav>li{
    padding: 0;
    color:#ffffff;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.nav>li:hover{
    background-color: #ffffff;
}
.nav>li:hover *{
    color: #303133;
}
.nav>li>a{
    color: #ffffff;
    font-size: 14px;
    display: block;
    padding: 20px;
    line-height: 1.8;
}
.nav>li svg{
    margin-right: 10px;
}
.nav li .el-submenu__title{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}
.logo{
    width: 15.625vw;
    text-align: center;
}
.logo svg{
    height:1.7361111111111112vw;
}
header.el-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #231f20;
    height:auto;
    padding: 0 1.3726835964310227vw 0 0;
    align-items: center;
    position:fixed;
    z-index: 50000;
    top: 0;
    left: 0;
    right: 0;
}
.nav > li > div,
.nav > li > a{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header.el-header{
    padding-left: 0;
}
@media (max-width: 1200px) {
    .nav{
        display: none;
    }
    .burger{
        display: flex;
        width: 36px;
        height: 30px;
    }
    .burger svg{
        width: 100%;
        height: 100%;
    }
    .burger rect{
        fill: #ffffff;
    }
    header.el-header{
        padding: 10px 15px;
    }
    .logo{
        width: 180px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .logo svg{
        height: 30px;
    }
}