
.content-caption{
    margin-bottom: 20px;
}
.content-caption h1{
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}
@media (max-width: 1200px) {
    .content-caption h1{
        font-size: 24px;
    }
}