.robots{
    flex-flow: row wrap;
    width: 60%;
    margin: auto;
}
.robots h3{
    width: 100%;
}
.robots label{
    width: 100%;
    margin: 10px 0 5px 0;
    display: flex;
}
.robots label textarea{
    width: 100%;
    padding: 10px;
    min-height: 120px;
    line-height: 1.67;
    font-size: 14px;
    white-space: pre;
    border: none;
    border-radius: 0;
    outline: none!important;
    font-family: monospace;
    resize: none;
    overflow: auto;
    max-height: 50vh;
}
.robots .hint{
    font-size: 12px;
}
.robots .btn-wrap{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .robots{
        width: 100%;
    }
}