
.filter-bar {
    display: flex;
    align-items: flex-end;
    height: 35px;
}
.filter-bar .button.text{
    padding: 0 10px;
    background: #d7d7d7;
    margin-bottom: 1px;
    pointer-events: none;
    z-index: 150;
}
.filter-bar .button.text.active{
    pointer-events: all;
}
.filter-bar .button.black{
    margin: 0;
}
.icon-btn-text.counted svg.delete use{
    color: #ffffff;
}
.filter-bar form{
    position: relative;
    height: 100%;
}
.filter-bar label{
    height: 100%;
    position: relative;
}
.filter-bar input{
    border-bottom: 1px solid #231f20;
    line-height: normal;
    width: 0;
    overflow: hidden;
    outline: none;
    display: none;
}
.filter-bar label button.button.text{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1px;
    z-index: 5;
    font-size: 12px;
    margin: 0;
    padding: 5px 15px 5px 30px;
    display: none;
}
.filter-bar .button.black.icon-btn-text{
    min-width: 80px;
    padding: 0 0 0 15px;
    justify-content: flex-start;
    transition: padding .25s linear;
}

.filter-bar .button.black.svg-search{
    width: 35px;
    min-width: 35px;
}
.filter-bar .button.black.svg-search svg{
    transform: translateX(10px);
    transition: transform .05s linear;
}

.filter-bar form.active input{
    padding: 5px 10px;
}

.filter-bar form.active .button.black.svg-search svg{
    transform: translateX(0px);
}
.filter-bar form.active .button.black.icon-btn-text{
    padding: 0 0 0 10px;
}