
.multi-lang .el-icon-arrow-up:before{
    content: '';
    display: block;
    background: url(/themes/artisan/image/black-arrow.svg) no-repeat center;
    width: 13px;
    height: 25px;
    transform: rotate(0deg);
}
.multi-lang .el-icon-arrow-down:before{
    content: '';
    display: block;
    background: url(/themes/artisan/image/black-arrow.svg) no-repeat center;
    width: 13px;
    height: 25px;
    transform: rotate(180deg);
}
@media (max-width: 800px) {
    .user-module.inner-editing .el-form-item>label{
        margin-bottom: 10px;
    }
}