

.main-sidebar>.menu-ul::-webkit-scrollbar-track {
    background: rgba(35, 31, 32, 0.1);
}

.main-sidebar>.menu-ul::-webkit-scrollbar-thumb {
    background: #231f20;
}

.main-sidebar>.menu-ul::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}


main.main-container{
    padding-left:15.625vw;
    background: #d7d7d7;
    transition: all .2s linear;
}
main.main-container.opened{
    padding-left: 35px;
}
.fade-enter-active{
    transition: opacity 0.5s;
    transition-timing-function: ease-out;
}
.fade-leave-active {
    transition: opacity 0.5s;
    transition-timing-function: ease-in;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.collapse .sub-menu-li{
    width: 100%;
    background: #231f20;
}
.collapse .sub-menu-li:before{
    display:none;
}
aside.main-sidebar.opened{
    transform: translate(calc(-100% + 35px),0);
}
aside.opened .menu-li>div{
    display: none;
}
aside.opened div.collapse{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    background: rgba(255,255,255,0);
    min-height: 100%;
    padding-left: 6px;
}
.main-sidebar.opened>button svg{
    transform: rotate(180deg);
}
.main-sidebar {
    width: 15.625vw;
    background: #fff;
    position: fixed;
    z-index: 150;
    height: 100%;
    left: 0;
    bottom: 0;
    transition: all .2s linear;
    overflow: visible;
}
.main-sidebar>button{
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    transform: rotate(180deg);
    width: 35px;
    transition: all .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background: #fff;
    z-index: 15;
}
.main-sidebar>button:hover{
    background: #231f20;
    color: #ffffff;
}
.main-sidebar>button svg{
    margin: 0;
}
.main-sidebar>.menu-ul{
    padding: 35px 0;
    list-style:none;
    display: block;
}
.main-sidebar:not(.opened)>.menu-ul{
    overflow-y: auto;
    height: 100%;
}
.sub-menu-ul{
    width: calc(100% - 55px);
    padding: 0;
    margin-left: 55px;
}
.sub-menu-ul>.sub-menu-li:first-child{
    padding-top: 5px;
}
.sub-menu-ul>.sub-menu-li:last-child{
    padding-bottom: 5px;
}
.sub-menu-li>p,
.sub-menu-li>a{
    padding: 4px 0;
    display: block;
    color: #231f20;
}
aside.opened div.collapse:before{
    content: '';
    position: absolute;
    top: 20px;
    width: 10px;
    height: 10px;
    display: block;
    background: #231f20;
    left: 2px;
    transform: rotate(45deg);
}
aside.opened div.collapse .sub-menu-li>a,
aside.opened div.collapse .sub-menu-li>p{
    padding: 4px 0 4px 10px;
    color: #ffffff;
}
aside.opened div.collapse .sub-menu-li>a.router-link-exact-active,
aside.opened div.collapse .sub-menu-li>p.router-link-exact-active{
    color: #ef6089;
}
.collapse .sub-menu-li:first-child{
    padding-top: 5px;
}
.collapse .sub-menu-li:last-child{
    padding-bottom: 5px;
}
.sub-menu-li{
    position: relative;
}
.sub-menu-li:first-of-type:before{
    height: calc(100% - 6px);
    top: 6px;
}
.sub-menu-li:before{
    content: '';
    top: 0;
    right: calc(100% - -10px);
    display: block;
    position: absolute;
    width: 18px;
    box-shadow: 1px -1px 0 0 #d1d3d4 inset;
    height: 100%;
    transform: translate(0,-50%);
}
.menu-li>p,
.menu-li>a{
    width: 100%;
    font-size: 14px;
    padding: 0 5px 0 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-flow: row nowrap;
    text-decoration: none;
    transition: color .2s linear;
    color: #231f20;
}

.menu-li a.router-link-exact-active{
    color: #ef6089;
    font-weight: 600;
}

.menu-li span{
    width: calc(100% - 55px);
    font-size: 14px;
    line-height: 1.67;
    display: block;
    padding: 6px 0;
    box-shadow: 0 -1px 0 0 #d1d3d4 inset;
}
.menu-li a>svg,
.menu-li p>svg{
    width: 25px;
    height: 30px;
    display: flex;
    margin: 0 15px;
}
.menu-li svg.forms{
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
}
.menu-li svg.site{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}
svg.dashboard use{
    width: 80%;
    height: 80%;
}
.main-sidebar .menu-ul:before,
.main-sidebar .menu-ul:after {
    display: none;
}
.main-sidebar.opened>.menu-ul>.menu-li>p,
.main-sidebar.opened>.menu-ul>.menu-li>a{
    flex-direction: row-reverse;
    padding: 0;
}
.main-sidebar.opened .menu-ul > .menu-li svg{
    margin: 0 6px 0 0;
}
.main-sidebar .menu-ul > .menu-li{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
}
.menu-li svg.slider{
    height: 25px;
    min-height: 25px;
}
.menu-li svg.product{
    width: 25px;
    height: 26px;
}
.menu-li span.dropdown svg{
    width: 22px;
    height: 12px;
    overflow: visible;
    transition: transform .1s linear;
}
.menu-li span.dropdown.active svg{
    transform: rotate(90deg);
    color: #ef6089;
    transform-origin: center;
}

aside.main-sidebar.opened svg.small-arrow{
    transform: rotate(180deg);
}
.menu-ul .menu-li p span.dropdown{
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse nowrap;
    align-items: center;
}
.menu-li span svg use{
    overflow: visible;
}
#sidebar-holder{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20000;
    background: rgba(0,0,0,0.2);
}



@media (max-width: 1200px) {
    .main-sidebar:not(.opened)>.menu-ul{
        height: calc(100% - 125px);
    }
    .main-sidebar{
        width: 250px;
        transform: translate(-100%,0%);
        transition: box-shadow .2s linear 0s;
        z-index: 21000;
    }
    .main-sidebar>button{
        display: none;
    }
    .main-sidebar>.menu-ul{
        padding: 20px 0;
    }
    .menu-li span{
        width: calc(100% - 40px);
    }
    .menu-li a>svg, .menu-li p>svg{
        margin: 0 7px;
    }
    .sub-menu-ul{
        width: calc(100% - 40px);
        margin-left: 40px;
    }
    .sub-menu-li:first-of-type:before{
        height: calc(100% - 11px);
        top: 10px;
    }
    .sub-menu-li:before{
        width: 15px;
        right: calc(100% + 6px);
    }
    .mobile-actions{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background: #ffffff;
    }
    .mobile-actions-row{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .mobile-actions-row>.button{
        white-space: nowrap;
        flex-flow: row nowrap;
        min-width: 1px;
        font-size: 14px;
    }
    p.mobile-user-name{
        width: 100%;
        margin: 10px 0 0 0;
        text-align: center;
        font-weight: bold;
    }
    .mobile-actions-row+.mobile-actions-row{
        margin-top: 10px;
    }
    .mobile-actions-row.mob-lang>button{
        width: 40%;
        box-shadow: 0 -2px 0 0 #231f20 inset;
        padding: 9px 0;
    }
    .mobile-actions-row.mob-lang>button.pink{
        box-shadow: 0 -2px 0 0 #ee5f88 inset;
    }
    .el-aside.main-sidebar.open{
        box-shadow: 0 0 35px 5px #231f20;
        transition: box-shadow .5s linear .1s;
    }
    main.main-container{
        padding-left: 0;
    }
}