svg.search{
    width: 20px;
    height: 20px;
}
svg.delete{
    width:17px;
    height: 17px;
    color: #ef6089;
}
svg.edit{
    width:17px;
    height: 17px;
    color: #000;
}
svg.broken{
    width: 15px;
    height: 15px;
}
svg.sort-order{
    width: 22px;
    height: 22px;
}
svg.red-circle,
svg.green-circle{
    width: 15px;
    height: 15px;
}
svg.small-arrow{
    width: 16px;
    height: 16px;
}
.button svg.save-icon{
    width: 20px;
    height: 20px;
}

svg.crop{
    width: 20px;
    height: 20px;
}
svg.change-lang{
    width: 23px;
    height: 23px;
}
svg.user-icon{
    width: 20px;
    height: 20px;
}
svg.delete,
svg.delete use{
    color: #ef6089;
}

svg.close-thin{
    width: 20px;
    height: 20px;
}
svg.arrow-back,
svg.rotate--90,
svg.rotate-90{
    width: 20px;
    height: 20px;
}


.pink svg.delete,
.pink svg.delete use,
.black svg.delete,
.black svg.delete use{
    color: #ffffff;
}

svg.eye{
    width: 20px;
    height: 21px;
}

.icon-btn svg.eye,
.icon-btn svg.edit,
.icon-btn svg.delete,
svg.button-icon,
label svg, .button svg{
    min-width: 18px;
    min-height: 15px;
}