
.swal2-container{
    z-index: 2001!important;
}
.swal2-container.swal2-shown .swal2-popup{
    border-radius: 0!important;
}
.swal2-container.swal2-shown .swal2-icon.swal2-warning{
    border-color: #ef6089!important;
    color: #ef6089!important;
}
.swal2-container.swal2-shown .swal2-icon.swal2-warning span{
    color: #ef6089!important;
}
.swal2-container.swal2-shown .swal2-styled{
    border: none!important;
    border-radius: 0!important;
    box-shadow: none!important;
}
.swal2-container.swal2-shown .swal2-cancel.swal2-styled{
    background: #231f20!important;
}
.swal2-container.swal2-shown .swal2-confirm.swal2-styled{
    background: #ef6089!important;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #a2f5bf !important;
}
.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid #a2f5bf !important;
}