.tags-view-element-container nav::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.tags-view-element-container nav::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.tags-view-element-container nav::-webkit-scrollbar-thumb {
    background: #888;
}
.tags-view-element-container nav::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.tags-view-element-container nav{
    display:flex;
    flex-flow: row nowrap;
    padding-top: 10px;
    background: #e6e7e8;
    box-shadow: 0 -1px 0 0 #ffffff inset;
    align-items: center;
    width: calc(100% - 155px);
    overflow: auto;
    font-size: 14px;
}
.tags-view-element-container{
    position: relative;
}
.tags-view-element-container nav>p{
    padding:0 25px 0 10px;
    font-weight: bold;
}
.tags-view-element-container nav>p:last-child{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: #fff;
    z-index: 50;
    cursor: pointer;
}
a.tags-item{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #808285;
    padding: 10px 10px 10px 20px;
    line-height: 1;
    box-shadow: 0 0 0 1px #fff inset;
    border-radius: 10px 10px 0 0;
}
a.tags-item+a{
    margin-left: -1px;
}
a.tags-item.active.router-link-exact-active:before{
    content: '';
    position: absolute;
    bottom: 0;
    background: #d7d7d7;
    width: 100%;
    height: 1px;
    left:0;
}
a.tags-item.active.router-link-exact-active{
    position:relative;
    background: #d7d7d7;
    color: #000;
}
.tags-view-element-container nav a span{
    margin-right: 2.7777777777777777vw;
    white-space: nowrap;
}
.tags-view-element-container nav button{
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
    justify-content: center;
    min-width: 15px;
    min-height: 15px;
    color: #808285;
}
.tags-view-element-container nav button:hover{
    background: #ffffff;
    border-radius: 50%;
}
a.tags-item.active.router-link-exact-active button{
    color: #000;
}
.tags-view-element-container nav a svg{
    min-width:6px;
    min-height:6px;
    width:0.41666666666666663vw;
    height:0.41666666666666663vw;
}
@media (min-width: 1600px) {
    a.tags-item{
        font-size: 14px;
        padding: 10px 10px 5px 20px;
    }
    .tags-view-element-container nav{
        font-size: 14px;
        padding-top: 10px;
    }
    .tags-view-element-container nav>p{
        padding-left: 20px;
    }
    .tags-view-element-container nav a span{
        margin-right: 20px;
    }
    .tags-view-element-container nav button{
        width: 20px;
        height: 20px;
    }
}