
[v-cloak] {
    display: none;
}

.table_actions {
    justify-content: space-between;
}

.table_actions .button:first-child {
    margin-left: 0;
}

.table_actions .button {
    margin-left: 3px;
}

.folder {
    display: flex;
    align-items: flex-start;
}

svg.folder {
    font-size: 10px;
    width: 17px;
    height: 17px;
    overflow: visible;
    position: relative;
    margin-right: 23px;
}

svg.folder use.folder_2 {
    color: #89f8c8;
}

svg.folder text {
    text-anchor: middle;
    isolation: isolate;
    font-size: inherit;
    fill: currentColor;
    font-family: 'SegoeUI-Bold', 'Segoe UI', sans-serif;
    font-weight: 700;
    color: #231f21;
}

.table-image {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    max-width: 160px;
    padding: 5px 0;
}

.table-icon {
    max-height: 30px;
    height: 100%;
}

.folder + .table-comment {
    padding-left: 40px;
    text-align: left;
}

.table-comment {
    font-style: normal;
    font-size: 11px;
    width: 100%;
    display: block;
    color: gray;
    margin-top: 2px;
}

.data-sub-table h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

.slide-fade-enter-active {
    transition: all .5s ease;
}

.slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.disabled-row td:not(.vuetable-th-__status):not(.vuetable-th-__actions):not(.vuetable-th-__checkbox):not(.vuetable-th-status) {
    opacity: 0.5;
}