<template>
    <div>
        <div class="container mx-auto">

            <!-- Form -->
            <el-form ref="form" :model="userData" label-width="120px" label-position="top" v-loading.body="loading">

                <!-- Tabs -->
                <el-tabs tab-position="top" type="border-card">

                    <!-- Tab User -->
                    <el-tab-pane label="User">
                        <el-form-item label="First name">
                            <el-input v-model="userData.first_name"></el-input>
                        </el-form-item>
                        <el-form-item label="Last name">
                            <el-input v-model="userData.last_name"></el-input>
                        </el-form-item>
                        <el-form-item label="E-mail">
                            <el-input v-model="userData.email"></el-input>
                        </el-form-item>
                        <el-form-item label="Is activated?">
                            <el-checkbox v-model="userData.activated">Activated</el-checkbox>
                        </el-form-item>

                        <div v-if="userData.is_new">
                            <el-form-item label="Password">
                                <el-input v-model="userData.password" type="password"></el-input>
                            </el-form-item>
                            <el-form-item label="Password confirmation">
                                <el-input v-model="userData.password_confirmation" type="password"></el-input>
                            </el-form-item>
                        </div>

                    </el-tab-pane>

                    <!-- Tab Role -->
                    <el-tab-pane label="Role">
                        <el-form-item label="Roles">
                            <el-select v-model="userData.roles" multiple placeholder="Select">
                                <el-option
                                        v-for="role in roles"
                                        :key="role.id"
                                        :label="role.name"
                                        :value="role.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-tab-pane>

                    <!-- Tab Permissions -->
                    <el-tab-pane label="Permissions">
                        <application-permissions
                                        v-model="userData.permissions"
                                        :current-permissions="userData.permissions">
                        </application-permissions>
                    </el-tab-pane>

                    <!-- Tab New Password -->
                    <el-tab-pane label="New password" v-if="!userData.is_new">
                        <div v-if="!userData.is_new">
                            <el-form-item label="Password">
                                <el-input
                                        v-model="userData.password"
                                        type="password">
                                </el-input>
                            </el-form-item>
                            <el-form-item label="Password confirmation">
                                <el-input
                                        v-model="userData.password_confirmation"
                                        type="password">
                                </el-input>
                            </el-form-item>

                            <h4>Or send reset password mail</h4>
                            <el-button
                                    type="info"
                                    :loading="resetEmailIsLoading"
                                    @click="sendResetEmail">
                                Send reset password email
                            </el-button>
                        </div>
                    </el-tab-pane>

                </el-tabs>

                <!-- Buttons -->
                <el-form-item class="text-center px-4 py-2 m-2">
                    <el-button type="primary" v-on:click="onSubmit">Save</el-button>
                    <el-button v-on:click="onCancel">Cancel</el-button>
                </el-form-item>

            </el-form>

        </div>
    </div>
</template>

<script>
    import applicationPermissions from '../../components/application-permissions'
    import Form from 'form-backend-validation'

    export default {
        components: {
            applicationPermissions
        },
        data() {
            return {
                userData: {
                    is_new: false,
                },
                roles: {},
                form: new Form(),
                loading: false,
                resetEmailIsLoading: false,
            }
        },
        methods: {
            onSubmit() {
                this.form = new Form(this.userData);
                this.loading = true;

                this.form.post(this.getRoute())
                    .then((response) => {
                        this.loading = false;

                        this.$message({
                            type: 'success',
                            message: response.message,
                            center: true
                        });

                        this.pushRoute('api.backend.users');
                    })
                    .catch((error) => {
                        console.log('Error - ' + error);

                        this.loading = false;
                        this.$message.error('Oops, this is a error!');
                    });
            },
            onCancel() {
                this.pushRoute('api.backend.users');
            },
            fetchUser() {
                this.loading = true;

                if (this.$route.params.id !== undefined) {
                    this.pushAxiosGet(route('api.backend.users.find', this.$route.params.id), (response) => {
                        this.loading = false;
                        this.userData = response.data;
                    });
                } else {
                    this.pushAxiosGet(route('api.backend.users.find-new'), (response) => {
                        this.loading = false;
                        this.userData = response.data;
                    });
                }
            },
            fetchRoles() {
                this.pushAxiosGet(route('api.backend.role.all'), (response) => {
                    this.loading = false;
                    this.roles = response.data;
                });
            },
            getRoute() {
                if (this.$route.params.id !== undefined) {
                    return route('api.backend.users.update', { user: this.$route.params.id, data: this.userData });
                }

                return route('api.backend.users.store');
            },
            sendResetEmail() {
                this.resetEmailIsLoading = true;

                this.pushAxiosGet(route('api.backend.users.sendResetPassword', { user: this.$route.params.id }), (response) => {
                    this.resetEmailIsLoading = false;
                    this.$message({
                        message: response.data.message,
                        type: 'success'
                    });
                });
            }
        },
        mounted: function() {
            this.fetchUser();
            this.fetchRoles();
        }
    }
</script>

<style>
</style>
