<template>
    <div>
        <div class="container mx-auto">

            <!-- Tabs -->
            <el-tabs v-model="activeName" tab-position="top" @tab-click="handleClick">

                <!-- Tab User -->
                <el-tab-pane label="Users" name="users">

                    <div class="flex justify-between items-center">

                        <!-- Filer -->
                        <filter-bar></filter-bar>

                        <!-- Add button -->
                        <router-link :to="{name: 'api.backend.users.create'}">
                            <el-button type="primary"><i class="el-icon-edit"></i>Add user</el-button>
                        </router-link>

                    </div>

                    <!-- Table component -->
                    <data-table :apiRoute="table.apiRoute" :fields="table.columns" :sortOrder="table.sortOrder"></data-table>

                </el-tab-pane>

                <!-- Tab Roles -->
                <el-tab-pane label="Roles" name="roles"></el-tab-pane>

            </el-tabs>

        </div>
    </div>
</template>

<script>
    import dataTable from '../../components/data-table'
    import filterBar from '../../components/elements/filter-bar'

    export default {
        components: {
            dataTable,
            filterBar
        },
        data() {
            return {
                table: {
                    apiRoute: route('api.backend.users.index'),
                    columns: [
                        {
                            name: 'id',
                            sortField: 'id',
                            title: 'Id',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'first_name',
                            sortField: 'first_name',
                            title: 'First name',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'last_name',
                            sortField: 'last_name',
                            title: 'Last name',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'email',
                            sortField: 'email',
                            title: 'E-mail',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'activated',
                            title: 'Status',
                            callback: 'statusLabel',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'last_login',
                            title: 'Last login',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            callback: 'formatDate',
                        },
                        {
                            name: 'created_at',
                            title: 'Created',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            callback: 'formatDate|DD.MM.YYYY'
                        },
                        {
                            name: '__component:custom-actions',
                            options: {
                                buttonParams: {
                                    view: false,
                                    edit: true,
                                    delete: true
                                }
                            },
                            title: 'Actions',
                            titleClass: 'text-center',
                            dataClass: 'text-center'
                        }
                    ],
                    sortOrder: [
                        {
                            field: 'id',
                            sortField: 'id',
                            direction: 'asc'
                        }
                    ]
                },
                activeName: 'users'
            }
        },
        methods: {
            handleClick(tab, event) {
                if (tab.name == 'roles') {
                    this.pushRoute('api.backend.role');
                }
            }
        }
    };
</script>

<style>
</style>
