<template>
    <div class="w-full flex flex-row flex-wrap">

        <!-- Table component -->
        <data-table class="w-full" :table="table"></data-table>

    </div>
</template>

<script>
import dataTable from '@components/data-table-origin'

export default {
    components: {
        dataTable
    },
    data() {
        return {
            isChecked: false,
            table: {
                apiRoute: route('api.backend.settings_image'),
                transRoute: 'settings_table-fields.image',
                columns: [
                    {
                        name: '__checkbox',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'title',
                        sortField: 'title',
                        titleClass: 'col-center',
                        dataClass: '',
                        canCopy: true,
                    },
                    {
                        name: 'width',
                        sortField: 'width',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'height',
                        sortField: 'height',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: '__component:status-element',
                        sortField: 'is_crop',
                        params: {field: 'is_crop', url: route('api.backend.settings_image.toggleField')},
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: '__component:actions-element',
                        options: {
                            buttonParams: {
                                edit: true,
                                delete: true
                            }
                        },
                        titleClass: 'col-center',
                        dataClass: 'col-center'
                    }
                ],
                sortOrder: [
                    {
                        field: 'order',
                        sortField: 'order',
                        direction: 'asc'
                    }
                ]
            }
        }
    },
};
</script>

<style>
    .before-table{
        margin-bottom: 1.7361111111111112vw;
    }
</style>
