<template>
    <div v-if="formType === 'edit'" class="form_actions w-full flex">

        <div class="left w-full flex">

            <router-link v-if="value.category_id && buttons.includes('create')"
                         v-html="this.generateSvg('plus', ucfirst(trans('core_form.buttons.create')) )"
                         tag="button"
                         tabindex="-1"
                         :to="{name: currentRoute + '.create', params: { ident: value.category_id }}"
                         :class="[canSave ? '' : 'disabled', 'button black icon-btn-text']">
            </router-link>

            <button type="button" v-if="buttons.includes('duplicate')"
                    tabindex="-1"
                    v-html="this.generateSvg('copy', ucfirst(trans('core_form.buttons.duplicate')) )"
                    @click="$emit('duplicate')"
                    :class="[canSave ? '' : 'disabled', 'button black icon-btn-text']">
            </button>

            <a v-if="buttons.includes('show')"
                v-html="this.generateSvg('eye', ucfirst(trans('core_form.buttons.show')) )"
                tag="button"
                tabindex="-1"
                :href="'/'+value.slug"
                target="_blank"
                :class="[canShow ? '' : 'disabled', 'button black icon-btn-text']">
            </a>
            
            <router-link v-if="value.id && buttons.includes('suggestions')"
                         v-html="this.generateSvg('plus', ucfirst(trans('core_form.buttons.suggestions')) )"
                         tag="button"
                         tabindex="-1"
                         :to="{name: currentRoute + '.suggestions', params: { ident: value.id }}"
                         :class="[canSave ? '' : 'disabled', 'button black icon-btn-text']">
            </router-link>

            <router-link v-if="value.id && buttons.includes('attach-users')"
                         v-html="this.generateSvg('plus', ucfirst(trans('core_form.buttons.attach-users')) )"
                         tag="button"
                         tabindex="-1"
                         :to="{name: currentRoute + '.users', params: { ident: value.id }}"
                         :class="[canSave ? '' : 'disabled', 'button black icon-btn-text']">
            </router-link>

        </div>

        <button v-if="buttons.includes('delete')"
                tabindex="-1"
                v-html="this.generateSvg('delete', ucfirst(trans('core_form.buttons.delete')) )"
                @click="deleteItem"
                :class="[canUser('destroy') ? '' : 'disabled', 'button pink icon-btn-text']"
                type="button">
        </button>

    </div>
</template>

<script>
import swal from 'sweetalert2';

export default {
    props:['value', 'currentRoute', 'formType', 'buttons', 'canSave', 'canShow'],
    methods: {
        deleteItem() {
            swal({
                title: this.$t('core_alerts[\'swal.title\']'),
                type: "warning",
                showCancelButton: true,
                confirmButtonText: this.$t('core_form[\'buttons.delete\']'),
                confirmButtonColor: '#28a745',
                cancelButtonText: this.$t('core_form[\'buttons.cancel\']'),
                cancelButtonColor: '#dc3545',
            }).then((result) => {
                if (result.value) {
                    this.pushAxiosDelete(route(this.currentRoute  + '.destroy', this.value.id), (response) => {
                        swal({
                            title: this.$t('core_alerts[\'swal.success title\']'),
                            type: "success",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(()=> {
                            this.$emit('cancel')
                        });
                    });
                }
            });
        },
        createNew() {
            swal({
                title: this.$t('core_alerts[\'swal.title\']'),
                text: this.$t('core_alerts[\'swal.text\']') + " " + title + " ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: this.$t('core_form[\'buttons.delete\']'),
                confirmButtonColor: '#28a745',
                cancelButtonText: this.$t('core_form[\'buttons.cancel\']'),
                cancelButtonColor: '#dc3545',
            }).then((result) => {
                if (result.value) {
                    this.pushAxiosDelete(route(this.currentRoute + '.destroy', this.value.id), (response) => {
                        swal({
                            title: this.$t('core_alerts[\'swal.success title\']'),
                            type: "success",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(()=> {
                            $emit('cancel')
                        });
                    });
                }
            });
        },
        canUser(action) {
            const permission = `${this.$route.name.replace('api.backend.', '').replace('.edit', '').replace('.create', '').replace(/_/g, '.')}.${action}`;

            return window.appStorage.currentUser.permissions[permission];
        }
    }
}
</script>

<style scoped>

</style>