<template>

    <form-fields form-type="edit"
                 :routes="routes">
    </form-fields>

</template>

<script>
import form from "./form"

export default {
    components: {
        'form-fields': form,
    },
    props: {
        routes: {
            type: Object
        }
    },
    beforeRouteLeave (to, from, next) {
        for (let instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].destroy(true);
        }

        setTimeout(()=>{
            next();
        }, 150)
    }
};
</script>

<style>
</style>
