<template>

    <!-- Init each component field -->
    <component :is="generatedFieldName"
               v-model="mutatedValue"
               :parameters="parameters"
               :formType="formType"
               :fieldErrors="fieldErrors"
               :field="field">

        <!-- Show error if exist and set it in component slot -->
        <p v-if="!_.isEmpty(fieldErrors) && fieldErrors.has(field)"
             class="el-form-item__error"
             v-text="fieldErrors.first(field)">
        </p>

        <p v-if="!_.isEmpty(fieldErrors) && fieldErrors.has(currentFrontendLocale + '.' + field)"
             class="el-form-item__error"
             v-text="fieldErrors.first(currentFrontendLocale + '.' + field)">
        </p>

    </component>

</template>

<script>
import textField from './fields/text-field'
import textareaField from './fields/textarea-field'
import ckeditorField from './fields/ckeditor-field'
import textareaSwitchCkeditorField from './fields/textarea-switch-ckeditor-field'
import slugField from './fields/slug-field'
import checkboxField from './fields/checkbox-field'
import checkboxGroupField from './fields/checkbox-group-field'
import selectField from './fields/select-field'
import selectCascaderField from './fields/select-cascader-field'
import multiSelectField from './fields/multi-select-field'
import workHoursField from './fields/work-hours-field'
import selectParentField from './fields/select-parent-field'
import selectTemplateField from './fields/select-template-field'
import uploadImageField from './fields/upload-image-field'
import uploadFileField from './fields/upload-file-field'
import shortcodeField from './fields/shortcode-field'
import datetimeField from './fields/datetime-field'
import tableField from './fields/table-field'
import gpsField from './fields/gps-field'
import uploadImageInBase64Field from './fields/upload-image-in-base64-field'
import emailField from './fields/email-field'
import urlField from './fields/url-field'
import selectTreeField from './fields/select-tree-field'
import phoneField from './fields/phone-field'
import numberField from './fields/number-field'
import galleryField from './fields/gallery-field'
import productVersionsField from './fields/product-versions-field'
import colorPickerField from './fields/color-picker-field'
import compendiumField from './fields/compendium-field'
import videoOrUrlField from './fields/video-or-url-field'

import helpers from "@services/helpers"

export default {
    components: {
        'text-field': textField,
        'textarea-field': textareaField,
        'ckeditor-field': ckeditorField,
        'textarea-switch-ckeditor-field': textareaSwitchCkeditorField,
        'slug-field': slugField,
        'checkbox-field': checkboxField,
        'checkbox-group-field': checkboxGroupField,
        'select-field': selectField,
        'select-cascader-field': selectCascaderField,
        'multi-select-field': multiSelectField,
        'work-hours-field': workHoursField,
        'select-parent-field': selectParentField,
        'select-template-field': selectTemplateField,
        'upload-image-field': uploadImageField,
        'upload-file-field': uploadFileField,
        'shortcode-field': shortcodeField,
        'datetime-field': datetimeField,
        'table-field': tableField,
        'gps-field': gpsField,
        'upload-image-in-base64-field': uploadImageInBase64Field,
        'email-field': emailField,
        'url-field': urlField,
        'select-tree-field': selectTreeField,
        'phone-field': phoneField,
        'number-field': numberField,
        'gallery-field': galleryField,
        'product-versions-field': productVersionsField,
        'color-picker-field': colorPickerField,
        'compendium-field': compendiumField,
        'video-or-url-field': videoOrUrlField,
    },
    props: {
        fieldName: {
            type: String,
            required: true
        },
        formType : {
            type : String,
            required : true
        },
        value: {
            required: true
        },
        parameters: {
            required: true
        },
        field: {
            required: true
        },
        fieldErrors: {
            type: Object
        }
    },
    data() {
        return {
            mutatedValue: ''
        }
    },
    computed: {
        generatedFieldName() {
            return this.$options.components[this.fieldName] === undefined ? 'text-field' : this.fieldName;
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    },
    created: function () {
        this.currentFrontendLocale = helpers.appStorage().currentFrontendLocale || "ru";
    }
};
</script>

<style scoped lang="css">
</style>
