<template>

    <!-- Form -->
    <el-form v-loading.body="loading"
             class="inner-editing"
             @click="onCancel"
             label-position="top"
             :model="formData"
             ref="form">

        <buttons-panel v-model="initData"
                       v-if="responseParameters.buttons !== undefined"
                       :formType="formType"
                       :canSave="userPermited && this.$store.state.formData.formStateTrigger"
                       :canShow="this.$store.state.formData.formData.canShow"
                       :currentRoute="currentRoute"
                       :buttons="responseParameters.buttons"
                       @duplicate="duplicate"
                       @cancel="onCancel">
        </buttons-panel>

        <!-- Multitabs if more than 1 main tab -->
        <multitab-fields v-if="responseParameters.fields && Object.keys(responseParameters.fields).length > 1"
                        :responseParameters="responseParameters"
                        :allFrontendLocales="allFrontendLocales"
                        :formType="formType"
                        v-model="formData"
                        :form="form">
        </multitab-fields>

        <!-- Only one tab with non-trans parameters under trans -->
        <onetab-fields v-else-if="responseParameters.fields"
                        :responseParameters="responseParameters"
                        :allFrontendLocales="allFrontendLocales"
                        :formType="formType"
                        v-model="formData"
                        :form="form">
        </onetab-fields>

        <!-- Buttons -->
        <el-form-item class="edit-bottom">

            <button v-html="this.generateSvg('save-icon', this.trans('core_form.buttons.save'))"
                    type="button"
                    @click="submit"
                    :class="['button pink icon-btn-text', userPermited && this.$store.state.formData.formStateTrigger ? '' : 'disabled']"
                    :loading="loading">
            </button>

            <button v-html="this.generateSvg('save-exit', this.trans('core_form.buttons.save_and_exit'))"
                    type="button"
                    @click="submitAndExit"
                    :class="['button pink icon-btn-text', userPermited && this.$store.state.formData.formStateTrigger ? '' : 'disabled']"
                    :loading="loading">
            </button>

            <button type="button"
                    @click="onCancel"
                    class="button black">
                    {{ trans('core_form.buttons.cancel') }}
            </button>

        </el-form-item>

    </el-form>

</template>

<script>
import helpers from "@services/helpers"
import Form from "form-backend-validation"
import multitab from "./multitab-fields"
import onetab from "./onetab-fields"
import buttonsPanel from "./buttons-panel"

export default {
    components: {
        'multitab-fields': multitab,
        'onetab-fields': onetab,
        'buttons-panel': buttonsPanel
    },
    props: {
        formType: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            formData: {},
            initData: {},
            responseParameters: {},
            form: {},
            loading: false,
            currentRoute: '',
            model: '',
            allFrontendLocales: [],
            previousPath: {},
            userPermited: false
        };
    },
    methods: {
        submit() {
            this.$events.fire('form-submit');
            this.sendRequest(_.clone(this.formData));
        },
        submitAndExit() {
            this.$events.fire('form-submit');
            this.sendRequest(_.clone(this.formData), false, true);
        },
        duplicate() {
            this.sendRequest(_.clone(this.initData), true);
        },
        async sendRequest(data, create = false, goNext = false) {
            if (this.formType === 'create') {
                this.userPermited = false;
            }

            // IMAGE TO ANOTHER FORM FIELD
            for (let item in data) {
                if (data[item] !== null && typeof data[item] == 'object' && data[item].cropped !== undefined) {
                    this.$set(data, 'image_' + item, data[item].cropped)

                    delete data[item].cropped;
                }
            }

            this.form = new Form(data);
            this.loading = true;

            let addition = this.formType === 'edit' ? '.update' : '.store';

            if (create) {
                addition = '.store';
            }

            const name = this.currentRoute + addition;
            const params = {
                ident: this.$route.params.ident
            };

            await this.form.post(route(name, params))
                .then((response) => {
                    this.loading = false;

                    this.notify(response);

                    if (!goNext) {
                        let name = this.currentRoute.replace('.create', '') + '.edit';

                        this.$router.push({
                            name,
                            params: {
                                ident: response.id,
                            }
                        });

                        this.fetchFormData();

                        return;
                    }

                    if (response.goto !== undefined && response.goto) {
                        this.$router.push(response.goto);
                    } else {
                        let name = this.currentRoute;
                        let params = {};

                        if (this.formType === 'create') {
                            params.ident = this.$route.params.ident || 0;
                        }

                        if (this.previousPath.name !== undefined) {
                            name = this.previousPath.name;
                        }

                        if (this.previousPath.params !== undefined) {
                            params = this.previousPath.params;
                        }

                        // TODO check work
                        if (this.$route.params.preRoute !== undefined) {
                            name = this.$route.params.preRoute.name,
                            params = this.$route.params.preRoute.params;

                            if (name === this.currentRoute && this.formType === 'edit') {
                                params.ident = this.formData.parent_id || 0;
                            }

                            params.type = this.model;
                            params.currentPage = this.$route.params.currentPage || 1;
                            params.per_page = this.$route.params.per_page || 10;
                        }

                        params.saved_id = response.id || 0;

                        this.$router.push({
                            name,
                            params
                        });
                    }
                })
                .catch((error) => {
                    console.log('Error - ' + error);

                    if (typeof error !== 'string') {
                        error = this.trans('core_alerts.something_wrong');
                    }

                    this.$notify.error({
                        title: 'Error!',
                        message: error,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });

                    // TODO if problems with permissions look here (beta)
                    this.userPermited = helpers.appStorage().currentUser.permissions[
                        this.$route.name.replace('api.backend.', '').replace(/\_/g,'.').toLowerCase()
                    ] || false;

                    this.loading = false;
                });
        },
        onCancel() {
            let name = this.currentRoute;
            let params = {};

            if (this.previousPath.name !== undefined) {
                name = this.previousPath.name;
            }

            if (this.previousPath.params !== undefined) {
                params = this.previousPath.params;
            }

            if (this.$route.params.preRoute !== undefined) {
                name = this.$route.params.preRoute.name,
                params = this.$route.params.preRoute.params;

                if (name === this.currentRoute && this.formType === 'edit') {
                    params.ident = this.formData.parent_id || 0;
                } else if (name !== this.currentRoute && this.formType === 'edit') {
                    if ( this.formData[name.match(/_[a-z]+/)[0]+'_id'] !== undefined) {
                        params.ident = this.formData[name.match(/_[a-z]+/)[0]+'_id'];
                    } else if (this.formData.parent_id !== undefined) {
                        params.ident = this.formData.parent_id;
                    }
                }

                params.type = this.model;
                params.currentPage = this.$route.params.currentPage || 1;
                params.per_page = this.$route.params.per_page || 10;
            }

            if (this.formType === 'create') {
                params.ident = this.$route.params.ident || 0;
            }

            if (this.formType === 'edit') {
                params.saved_id = this.$route.params.ident;
            }

            this.$router.push({name, params});
        },
        fetchFormData() {
            if (this.formType !== 'edit') {
                return false;
            }

            this.loading = true;

            const name = this.currentRoute + '.find';
            const params = { ident: this.$route.params.ident };

            this.pushAxiosGet(route(name, params), (response) => {
                this.formData = Object.assign({}, this.formData, response.data);
                this.initData = _.clone(response.data);

                if (response.title_addition !== undefined) {
                    this.$events.fire('title-addition', response.title_addition);
                } else if (response.data[this.currentDefaultLocale] !== undefined && response.data[this.currentDefaultLocale].title !== undefined) {
                    this.$events.fire('title-addition', response.data[this.currentDefaultLocale].title);
                }

                this.loading = false;
            });
        },
        fetchParameters() {
            this.loading = true;

            const name = `${this.currentRoute}.${this.formType === 'edit' ? 'findEdit' : 'findNew'}`;
            const params = { ident: this.$route.params.ident };

            this.pushAxiosGet(route(name, params), (response) => {
                if (response.data) {
                    this.responseParameters = response.data;
                } else {
                    this.responseParameters = response;
                }

                if (response.breadcrumbs !== undefined && response.breadcrumbs) {
                    this.$events.fire('breadcrumbs-replace', response.breadcrumbs);
                    this.previousPath = response.breadcrumbs[response.breadcrumbs.length - 2].link;
                }

                // TODO Need to fix
                // for (let field in response.fields) {
                //     if (response.fields[field].translatable !== undefined) {
                //         this.formData = _(this.allFrontendLocales)
                //             .keys()
                //             .map(locale => [locale, {}])
                //             .fromPairs()
                //             .value();

                //         break;
                //     }
                // }

                this.$store.dispatch('addFormState', response.fields);
                this.$store.dispatch('checkFormState');

                this.loading = false;

                // TODO Need to fix
                // if (this.formType === 'edit') {
                //     this.fetchFormData();
                // }
            });
        },
    },
    watch: {
        formData: {
            deep: true,
            handler: function (value) {
                this.$store.dispatch('addFormData', value);
                this.$store.dispatch('checkFormState');
            }
        },
        responseParameters: {
            deep: true,
            handler: function(to) {
                if (to.fields_data !== undefined) {
                    for (let data in to.fields_data) {
                        this.formData[data] = to.fields_data[data];
                    }
                }
            }
        }
    },
    created: function () {
        this.$store.dispatch('delFormData');

        this.allFrontendLocales = helpers.appStorage().allFrontendLocales;
        this.currentRoute = this.$route.name.replace(new RegExp('\.edit$'), '').replace(new RegExp('\.create$'), '');
        this.model = this.currentRoute.replace(new RegExp('^api.backend.'), '');
        this.currentDefaultLocale = helpers.appStorage().currentFrontendLocale || "ru";

        this.formData = _(this.allFrontendLocales)
            .keys()
            .map(locale => [locale, {}])
            .fromPairs()
            .value();

        this.fetchParameters();
    },
    mounted: function () {
        if (this.formType === 'edit') {
            this.fetchFormData();
        }

        // TODO if problems with permissions look here (beta)
        this.userPermited = helpers.appStorage().currentUser.permissions[
            this.$route.name.replace('api.backend.', '').replace(/\_/g,'.').toLowerCase()
        ] || false;

        if (!this.userPermited) {
            this.$notify.warning({
                title: 'Warning!',
                message: this.$t('core_alerts[\'notify.no edit permission\']'),
                offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
            });
        }
    }
};
</script>

<style scoped lang="css">
    .edit-tabs-wrapper .el-input {
        font-size: 0.9608785175017158vw;
    }
    .edit-tabs-wrapper .el-input__inner {
        border-radius: 0;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__header {
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav-wrap {
        display: flex;
        margin-bottom: 0;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav-scroll {
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav {
        width: auto;
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper div.el-tabs__item {
        padding: 10px 0;
        line-height: normal;
        height: auto;
        width: 60px;
        display: flex;
        justify-content: center;
    }
</style>
