<template>

    <transition name="fade">
        <div>

            <!-- Tabs -->
            <el-tabs v-if="tabs !== undefined && permittedTabs !== []"
                     v-model="activeNameData"
                     tab-position="top"
                     @tab-click="handleClick"
                     class="w-full">

                <el-tab-pane v-for="(tab, id) in permittedTabs"
                             :key="id"
                             :routeName="tab.routeName"
                             :label="trans(tab.label)"
                             :name="tab.name">
                </el-tab-pane>

            </el-tabs>

            <div v-show="show" class="w-full flex flex-row flex-wrap">

                <data-table @getMoreTables="getSubs" @changeTab="changeTab"></data-table>

                <data-sub-table v-show="subShow"
                                v-for="(subtable, id) in subtables"
                                :table="subtable"
                                @uploaded="subUploaded"
                                :key="id">
                </data-sub-table>

            </div>

        </div>
    </transition>

</template>

<script>
import dataTable from '@/components/data-table'
import dataSubTable from '@/components/data-sub-table'
import FetchPaginator from '@/components/table/renderless/fetch-paginator'

export default {
    components: {
        'data-table': dataTable,
        'data-sub-table': dataSubTable
    },
    props: {
        activeName: {},
        tabs: {}
    },
    data() {
        return {
            subtables: [],
            show: false,
            subShow: false,
            loadings: {},
            activeNameData: this.activeName
        }
    },
    methods: {
        getSubs(list) {
            this.subtables = list.length ? list : [];

            this.show = true;
        },
        subUploaded(uploaded) {
            this.subShow = true;
        },
        handleClick(tab) {
            for (let item in this.permittedTabs) {
                if (this.permittedTabs[item].name == tab.name) {
                    let name = this.permittedTabs[item].routeName;
                    let params = this.permittedTabs[item].params || [];

                    this.$router.push({ name, params });

                    break;
                }
            }
        },
        userHavePermission(permission) {
            return window.appStorage.currentUser.permissions[permission];
        },
        highlightTab() {
            // TODO mega bad
            if (typeof this.tabs !== 'undefined' && typeof this.tabs[this.tabs.length - 1].params !== 'undefined') {
                if (typeof this.$route.params.tab == 'undefined') {
                    this.activeNameData = 'structure';
                } else {
                    for (let tab in this.tabs) {
                        if ((typeof this.tabs[tab].params !== 'undefined') && this.tabs[tab].params.tab == this.$route.params.tab) {
                            this.activeNameData = this.tabs[tab].name;

                            break;
                        }
                    }
                }
            } else {
                this.activeNameData = this.activeName;
            }
        },
        changeTab(tab) {
            this.activeNameData = tab;
        }
    },
    computed: {
        permittedTabs() {
            if (this.tabs === undefined) {
                return [];
            }

            return this.tabs.filter(tab => this.userHavePermission(tab.permission));
        },
    },
    created: function() {
        this.highlightTab();
    },
    beforeRouteEnter (to, from, next) {
        next(vm => {
            vm.subtables = [];
            vm.show = false;
            vm.subShow = false;
            vm.highlightTab();
        });
    },
    beforeRouteLeave (to, from, next) {
        this.subtables = [];
        this.show = false;
        this.subShow = false;

        for (let instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].destroy(true);
        }

        setTimeout(() => {
            next();
        }, 350);
    }
};
</script>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .3s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
</style>
