<template>

    <div class="one-tab">

        <div v-if="fields.translatable !== undefined" class="with-language">

            <!-- Tabs For Language -->
            <el-tabs v-model="currentFrontendLocale">

                <div v-if="!$breakpoint.smAndDown" class="tab_sub_caption">
                    <span>{{ trans('core_form.tabs.parameter') }}</span>
                    <p>{{ trans('core_form.tabs.value') }}</p>
                </div>

                <!-- Tab For Each Language -->
                <el-tab-pane v-for="(localeArray, locale) in allFrontendLocales"
                             :label="localeArray.name"
                             :key="localeArray.name"
                             :name="locale">

                    <span slot="label" :class="[{'error' : !_.isEmpty(form.errors) ? form.errors.has(locale) : ''}, 'lang-icon']">
                        <svg :class='[locale, "lang"]'>
                            <use :class='locale' v-bind:xlink:href='"#" + locale'></use>
                        </svg>
                        <i>{{ localeArray.name }}</i>
                    </span>

                    <field v-for="(fieldParameters, field) in fields.translatable"
                           v-if="field && field !== undefined && typeof field === 'string' && field.length > 1"
                           :fieldName="fieldParameters.field_type + '-field'"
                           v-model="mutatedValue[locale][field]"
                           :parameters="fieldParameters.parameters"
                           :field="field"
                           :formType="formType"
                           :key="field"
                           :class="fieldParameters.field_type"
                           :fieldErrors="form.errors">
                    </field>

                </el-tab-pane>

            </el-tabs>

        </div>

        <div :class="fields.translatable !== undefined ? 'with-offset' : 'without-offset'">
            <div v-if="!$breakpoint.smAndDown" class="tab_sub_caption">
                <span>{{ trans('core_form.tabs.parameter') }}</span>
                <p>{{ trans('core_form.tabs.value') }}</p>
            </div>

            <field v-for="(fieldParameters, field) in fields"
                   v-if="field && field !== undefined && typeof field === 'string' && field !== 'translatable'"
                   v-model="mutatedValue[field]"
                   :key="field"
                   :fieldName="fieldParameters.field_type + '-field'"
                   :parameters="fieldParameters.parameters"
                   :field="field"
                   :formType="formType"
                   :class="fieldParameters.field_type"
                   :fieldErrors="form.errors">
            </field>

        </div>

    </div>

</template>

<script>
import field from './fields'
import helpers from "@services/helpers"

export default {
    components: {
        'field': field,
    },
    props: {
        allFrontendLocales: {
            type: Object,
            required: true
        },
        formType : {
            type : String,
            required : true
        },
        value: {},
        responseParameters: {},
        form: {
            type: Object
        }
    },
    data() {
        return {
            currentFrontendLocale: 'ru',
            mutatedValue: {},
            fields: this.responseParameters.fields[Object.keys(this.responseParameters.fields)[0]]
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function (value) {
            this.$emit('input', value)
        }
    },
    created: function () {
        this.currentFrontendLocale = helpers.appStorage().currentFrontendLocale || "ru";
    }
};
</script>

<style scoped lang="css">
    .edit-tabs-wrapper .el-input {
        font-size: 0.9608785175017158vw;
    }
    .edit-tabs-wrapper .el-input__inner {
        border-radius: 0;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__header {
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav-wrap {
        display: flex;
        margin-bottom: 0;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav-scroll {
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper .el-tabs__nav {
        width: auto;
        display: flex;
    }
    .el-tabs.el-tabs--top.edit-tabs-wrapper div.el-tabs__item {
        padding: 10px 0;
        line-height: normal;
        height: auto;
        width: 60px;
        display: flex;
        justify-content: center;
    }
</style>
