<template>

    <button v-html="this.generateSvg('delete', '')"
            :class="'button-icon'" v-on:click="deleteItem()">
    </button>

</template>

<script>
import swal from 'sweetalert2'

export default {
    props: ['rowData', 'apiName'],
    data() {
        return {
            name: this.apiName || this.$route.name
        }
    },
    methods: {
        deleteItem() {
            let title = this.rowData.fullname ? this.rowData.fullname : this.rowData.title;

            swal({
                title: this.$t('core_alerts[\'swal.title\']'),
                text: this.$t('core_alerts[\'swal.text\']') + " " + title + " ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: this.$t('core_form[\'buttons.delete\']'),
                confirmButtonColor: '#28a745',
                cancelButtonText: this.$t('core_form[\'buttons.cancel\']'),
                cancelButtonColor: '#dc3545',
            }).then((result) => {
                if (result.value) {
                    this.pushAxiosDelete(route(this.name + '.destroy', this.rowData.id), (response) => {
                        if (response.errors) {
                            this.$notify.error({
                                title: 'Error!',
                                message: response.message,
                                offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                            });
                        } else {
                            this.$events.fire('deleted-item');

                            swal({
                                title: this.$t('core_alerts[\'swal.success title\']'),
                                type: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }
            });
        }
    }
}
</script>

<style>
</style>
