<template>

    <button v-html="this.generateSvg('lupa', '')"
            v-on:click="itemAction('view-item')"
            :class="['button-icon', rowData.status !== 0 ? 'visible' : 'hidden']">
    </button>

</template>

<script>
export default {
    props: ['rowData'],
    methods: {
        itemAction: function(action) {
            this.$events.fire(action, this.rowData)
        }
    }
}
</script>

<style>
    svg.lupa{
        min-width:17px;
        min-height: 17px;
        width: 1.1667810569663692vw;
        height: 1.1667810569663692vw;
        color: #000;
    }
</style>
