<template>

    <router-link :to="{
                    name: name + '.edit',
                    params: {
                        id: this.rowData.id,
                        ident: this.rowData.id,
                        masterId: this.$route.params.id,
                        preRoute: this.$route,
                        currentPage
                    }
                }"
                :class="'button-icon'"
                tag="button">

        <svg class="edit">
            <use class="edit" xlink:href="#edit"></use>
        </svg>

    </router-link>

</template>

<script>
import helpers from '@services/helpers'

export default {
    props: ['rowData', 'apiName', 'currentPage'],
    data() {
        return {
            name: this.apiName || this.$route.name
        }
    }
}
</script>

<style>
</style>
