<template>

    <button v-html="this.generateSvg('broken', '')"
            :class="'button-icon'"
            v-on:click="applyItem()">
    </button>

</template>

<script>
import swal from 'sweetalert2'

export default {
    props: ['value', 'meta'],
    methods: {
        applyItem() {
            let title = this.value.title || this.value.name || this.value.id;

            swal({
                title: this.$t('core_alerts[\'swal.title\']'),
                text: this.$t('core_alerts[\'swal.apply\']') + " " + title + " ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: this.$t('core_form[\'buttons.apply\']'),
                confirmButtonColor: '#a2f5bf',
                cancelButtonText: this.$t('core_form[\'buttons.cancel\']'),
                cancelButtonColor: '#dc3545',
            }).then((result) => {
                if (result.value) {
                    this.pushAxiosPost(route('api.backend.' + this.meta.backend_path_name  + '.apply', this.value.id), [], (response) => {
                        if (response.errors) {
                            this.notify(response);
                        } else {
                            swal({
                                title: response.message,
                                type: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }
            });
        }
    },
}
</script>

<style>
</style>
