<template>

    <button v-html="this.generateSvg('delete', '')"
            :class="'button-icon'"
            v-if="canBeDeleted"
            v-on:click="deleteItem()">
    </button>

</template>

<script>
import swal from 'sweetalert2'

export default {
    props: ['value', 'meta'],
    methods: {
        deleteItem() {
            let title = this.value.title || '';

            swal({
                title: this.$t('core_alerts[\'swal.title\']'),
                text: this.$t('core_alerts[\'swal.text\']') + " " + title + " ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: this.$t('core_form[\'buttons.delete\']'),
                confirmButtonColor: '#28a745',
                cancelButtonText: this.$t('core_form[\'buttons.cancel\']'),
                cancelButtonColor: '#dc3545',
            }).then((result) => {
                if (result.value) {
                    this.pushAxiosDelete(route('api.backend.' + this.meta.backend_path_name  + '.destroy', this.value.id), (response) => {
                        this.$parent.$parent.$emit('remove', this.value.id)

                        if (response.errors) {
                            this.notify(response);
                        } else {
                            this.$events.fire('deleted-item');

                            swal({
                                title: this.$t('core_alerts[\'swal.success title\']'),
                                type: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }
            });
        }
    },
    computed: {
        canBeDeleted () {
            return true;
        }
    }
}
</script>

<style>
</style>
