<template>

    <button v-html="this.generateSvg('delete', '')" :class="'button-icon'" v-on:click="detachItem()"></button>

</template>

<script>

export default {
    props: ['value', 'meta'],
    methods: {
        detachItem() {
            const name = this.$route.name.replace('.show', '') + '.detach.' + this.meta.backend_path_name;

            this.pushAxiosDelete(route(name, {item_id: this.value.id, id: this.$route.params.ident || 0}), (response) => {
                this.$parent.$parent.$emit('remove', this.value.id)
                this.$events.fire('hard-refresh');
            });
        }
    }
}
</script>

<style>
</style>
