<template>

    <router-link :to="{
                    name: 'api.backend.' + this.meta.backend_path_name + '.edit',
                    params: {
                        id: value.id,
                        ident: value.id,
                        preRoute: this.$route,
                        currentPage: data.page,
                        per_page: data.per_page
                    }
                }"
                :class="'button-icon'"
                tag="button">
        <svg class="edit"><use class="edit" xlink:href="#edit"></use></svg>
    </router-link>

</template>

<script>
import helpers from '@services/helpers'

export default {
    props: ['value', 'meta', 'data'],
    data() {
        return {}
    }
}
</script>

<style>
</style>
