<template>

    <a v-html="this.generateSvg('lupa', '')"
        :href="this.value.path"
        v-if="typeof this.value.status === 'undefined' || this.value.status"
        target="_blank"
        :class="['button-icon', value.status === 0 ? 'hidden' : 'vissible']">
    </a>

</template>

<script>
export default {
    props: ['value', 'meta', 'data'],
    methods: {
        itemAction: function(action) {
            if (this.value.status) {
                this.$router.push(this.value.path);
            }
        }
    }
}
</script>

<style>
</style>
