<template>
    <div class="w-full flex flex-row flex-wrap">

        <!-- Tabs -->
        <el-tabs v-model="activeName" tab-position="top" @tab-click="handleClick">

            <el-tab-pane :label="$t('forms_table-fields[\'response.tab all\']')" name="all"></el-tab-pane>

            <el-tab-pane v-for="(value, id) in emailtemplates"
                         :key="id"
                         :label="value"
                         :name="value">
            </el-tab-pane>

        </el-tabs>

        <data-table :alwaysShow="true"></data-table>

    </div>
</template>

<script>
import dataTable from '@/components/data-table'

export default {
    components: {
        'data-table': dataTable
    },
    data() {
        return {
            emailtemplates: {},
            activeName: this.$route.params.ident || 'all'
        }
    },
    methods: {
        fetchEmailtemplates() {
            this.pushAxiosGet(route('api.backend.emailtemplates_email_template.findEmailtemplates'), (response) => {
                this.emailtemplates = response;
            });
        },
        handleClick(tab) {
            if (tab.name == 'all') {
                this.$router.push({ name: 'api.backend.emailtemplates_email_template'});
            } else {
                this.$router.push({ name: 'api.backend.emailtemplates_email_template.show', params: { ident: tab.name } });
            }
        }
    },
    created: function() {
        this.fetchEmailtemplates();
    },
    beforeRouteEnter (to, from, next) {
        next(vm => {
            vm.show = false
        });
    },
    beforeRouteLeave (to, from, next) {
        this.show = false,

        setTimeout(() => {
            next();
        }, 350);
    }
};
</script>

<style>
</style>
