
.el-cascader {
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.el-cascader .el-input, .el-cascader .el-input__inner {
    cursor: pointer
}

.el-cascader .el-input__icon {
    -webkit-transition: none;
    transition: none
}

.el-cascader .el-icon-arrow-down {
    transition: transform .3s;
    font-size: 14px;
    transform: rotateZ(180deg);

}

.el-cascader .el-icon-arrow-down.is-reverse {
    transform: rotateZ(0deg)
}

.el-cascader .el-icon-circle-close {
    z-index: 2;
    -webkit-transition: color .2s cubic-bezier(.645, .045, .355, 1);
    transition: color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-cascader .el-icon-circle-close:hover {
    color: #909399
}

.el-cascader__clearIcon {
    z-index: 2;
    position: relative
}

.el-cascader__label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 25px 0 0;
    color: #606266;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    font-size: inherit;
    display: flex;
    align-items: center;
}

.el-cascader__label span {
    color: #000
}

.el-cascader--medium {
    font-size: 14px;
    line-height: 36px
}

.el-cascader--small {
    font-size: 13px;
    line-height: 32px
}

.el-cascader--mini {
    font-size: 12px;
    line-height: 28px
}

.el-cascader.is-disabled .el-cascader__label {
    z-index: 2;
    background-color: #e6e7e8;
    border-color: #e4e7ed;
    color: #b3b3b3;
    cursor: not-allowed
}

.el-cascader-menus {
    white-space: nowrap;
    background: #fff;
    position: absolute;
    z-index: 2;
    border: 1px solid #000000;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

.el-cascader-menu {
    display: inline-block;
    vertical-align: top;
    height: 204px;
    overflow: auto;
    border-right: solid 1px #e4e7ed;
    margin: 0;
    padding: 6px 0;
    min-width: 160px
}

.el-cascader-menu:last-child {
    border-right: 0
}

.el-cascader-menu__item {
    font-size: 14px;
    padding: 8px 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 1.5;
    cursor: pointer;
    outline: 0
}

.el-cascader-menu__item--extensible:after {
    font-family: element-icons;
    content: "\e604";
    font-size: 14px;
    color: #bfcbd9;
    position: absolute;
    right: 15px
}

.el-cascader-menu__item.is-disabled {
    color: #c0c4cc;
    background-color: #fff;
    cursor: not-allowed
}

.el-cascader-menu__item.is-active {
    color: #ef6089
}

.el-cascader-menu__item:focus:not(:active), .el-cascader-menu__item:hover {
    background-color: #f5f7fa
}

.el-cascader-menu__item.selected {
    color: #fff;
    background-color: #f5f7fa
}

.el-cascader-menu__item__keyword {
    font-weight: 700
}

.el-cascader-menu--flexible {
    height: auto;
    max-height: 180px;
    overflow: auto
}

.el-cascader-menu--flexible .el-cascader-menu__item {
    overflow: visible
}

.el-cascader i:before {
    color: #000000;
    display: block;
}

.el-cascader .is-focus i.el-icon-arrow-down:before {
    color: #ee5f88;
}

.el-cascader .el-icon-arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.el-cascader .el-icon-arrow-down:before {
    display: none;
    /*content: '';*/
    /*background: url(/themes/artisan/image/black-arrow.svg) no-repeat center;*/
    /*width: 13px;*/
    /*height: 25px;*/
    /*transform: rotate(180deg);*/
}

.inner-editing .el-form-item__content .el-cascader {
    width: 45%;
    min-width: 300px;
}

.inner-editing .el-form-item__content .el-cascader .el-input__suffix {
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-editing .el-form-item__content .el-cascader.is-opened .el-input__suffix-inner,
.inner-editing .el-form-item__content .el-cascader.is-opened {
    pointer-events: none;
}

@media (max-width: 800px) {
    .inner-editing .el-form-item__content .el-cascader {
        width: 100%;
        min-width: 1px;
    }

    .el-cascader-menu__item {
        max-width: 200px;
        padding: 8px 10px;
    }

    .el-cascader__label {
        padding-left: 10px;
    }
}

@media (max-width: 400px) {
    .el-cascader-menus {
        left: 5px !important;
    }

    .el-cascader-menu {
        max-width: 50vw;
        width: calc(50vw - 5px);
        min-width: 120px;
    }
}

@media (max-width: 350px) {
    .el-cascader-menu__item {
        max-width: 160px;
    }
}