
.editor .ckeditor>div{
    opacity: 0;
}

.cke_inner.cke_reset.cke_maximized {
    padding-top: 80px;
}

.cke_dialog * {
    box-shadow: none !important;
}

.ImagePreviewBox table {
    max-width: 100%;
    max-height: 100%;
}

.ImagePreviewBox img {
    object-fit: contain;
    max-width: 100%;
    max-height: 200px;
}

.cke_dialog_ui_input_text {
    margin: 0 !important;
}

input.cke_dialog_ui_input_text {
    margin: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #231f20 !important;
}

body .cke_dialog .ImagePreviewBox {
    overflow: auto;
    box-sizing: border-box;
}

body .cke_dialog_image_ratiolock{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

body .cke_dialog_image_ratiolock a[class*='cke_btn_']:hover,
body .cke_dialog_image_ratiolock a[class*='cke_btn_']{
    margin: 3px 0;
    border: 2px solid rgba(255, 255, 255, 0);
    background-position: center;
    padding: 1px 0 1px 2px;
}

body .cke_button__source_label{
    display: inline-block;
}
body .cke_editable img,
body .cke_editable input,
body .cke_editable textarea{
    max-width: 100%;
}

body .cke_dialog_image_ratiolock a[class*='cke_btn_over']:hover,
body .cke_dialog_image_ratiolock a[class*='cke_btn_over']{
    border-color: #ee5f88;
}

body .cke_dialog_contents {
    margin-top: 39px;
}

body a.cke_dialog_tab {
    padding: 3px 10px;
    outline: none;
}

body a.cke_dialog_tab:focus {
    border: 1px solid #d1d1d1;
    padding: 3px 10px;
    border-bottom-color: #fff;
}

body .cke_bottom, body .cke_top {
    transition: all .2s linear 0s;
}

body .cke.cke_reset.cke_focus .cke_bottom, body .cke.cke_reset.cke_focus .cke_top {
    background: rgba(238, 95, 136, 0.05);
    border-color: #ef6089;
    transition: all .2s linear 0.1s;
}

body .cke_toolgroup{
    margin: 0 2px 5px 0;
}
body .cke_top {
    padding: 5px 5px 2px 5px;
}

@media (max-width: 800px) {
    body .cke_dialog_tabs {
        overflow: auto;
        width: calc(100% - 0px);
        padding: 0;
    }

    body a.cke_dialog_tab {
        min-width: 60px;
    }
}
@media (max-width: 600px) {
    .cke_toolbar.styles,
    .cke_toolbar.inserts,
    .cke_toolbar.document{
        display: none;
    }
    .cke_toolbar.basicstyles{
        display: flex;
    }
    .cke_toolbar.basicstyles .cke_toolgroup{
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }
}