
.inner-editing .content-label{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    background: #e6e7e8;
}

.inner-editing .el-input-group--append{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
.inner-editing .select-tree .el-select,
.inner-editing .select-parent .el-select,
.inner-editing .select .el-select{
    width: 45%;
    min-width: 300px;
}
.inner-editing .el-tab-pane{
    position: relative;
}
.inner-editing .without-language.el-tab-pane:after{
    content: '';
    position: absolute;
    width: calc(80% + 5px);
    height: 100%;
    right: 0;
    top: 0;
    pointer-events: none;
    background: #fff;
    z-index: 0;
    display: block;
}
.inner-editing .without-language.el-tab-pane:after,
.inner-editing .without-language.el-tab-pane.gallery-tab:after{
    display: none;
}
.mini-form .fieldset,
.mini-form .inner-editing{
    position: relative;
}
.one-tab .without-offset,
.one-tab .with-offset,
.one-tab .with-language{
    position: relative;
}
.one-tab{
    position: relative;
    padding: 10px;
    background: #fff;
}
.one-tab>.with-language~div{
    margin-top: 5px;
}

.inner-editing .el-form-item:after,
.one-tab .without-offset:after,
.one-tab .with-language:after,
.one-tab .with-offset:after,
.mini-form .fieldset:after,
.inner-editing .with-language.el-tab-pane .el-tab-pane:after{
    content: '';
    position: absolute;
    width: calc(80% + 5px);
    height: 100%;
    right: 0;
    top: 0;
    pointer-events: none;
    background: #fff;
    z-index: 0;
    display: block;
}
.inner-editing .el-form-item__label,
.inner-editing .content-label>span,
.inner-editing.el-form--label-top .el-form-item__label {
    font-weight: 700;
    color: #231f20;
    text-align: right;
    width: calc(20% - 5px);
    padding: 8px 15px 8px 0;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    justify-content: flex-end;
}

.inner-editing .el-form-item__content .el-input--prefix.el-date-editor--datetime .el-input__inner {
    padding-left: 30px
}


@media (max-width: 1300px) {
    .inner-editing .content-label .editor{
        width: calc(100% - 2px);
    }
}

@media (max-width: 1200px) {
    .tab_sub_caption span,
    .inner-editing .el-form-item__label,
    .inner-editing .content-label>span,
    .inner-editing.el-form--label-top .el-form-item__label{
        width: calc(25% - 5px);
    }
    .tab_sub_caption p{
        width: 75%;
    }
    .inner-editing .el-form-item__content{
        width: 74%;
    }
    .inner-editing .without-language.el-tab-pane:after,
    .inner-editing .el-form-item:after,
    .one-tab .without-offset:after,
    .one-tab .with-language:after,
    .one-tab .with-offset:after,
    .mini-form .fieldset:after,
    .inner-editing .with-language.el-tab-pane .el-tab-pane:after{
        width: calc(75% + 5px);
    }
}

@media (max-width: 800px) {
    .one-tab{
        padding: 5px;
    }
    .inner-editing .el-form-item__label,
    .inner-editing .content-label>span,
    .inner-editing.el-form--label-top .el-form-item__label{
        width: 100%;
        background: #e6e7e8;
        z-index: 10;
        text-align: left;
        justify-content: end;
        padding: 5px 0 5px 10px;
        margin-bottom: 0;
        line-height: 1.4;
    }
    .inner-editing .text .el-input,
    .inner-editing .el-form-item__content .el-select,
    .inner-editing .el-form-item__content{
        width: 100%;
        margin-bottom: 0;
    }
    .inner-editing .el-form-item:after,
    .one-tab .without-offset:after,
    .one-tab .with-language:after,
    .one-tab .with-offset:after,
    .mini-form .fieldset:after, .inner-editing .with-language.el-tab-pane .el-tab-pane:after{
        width: 100%;
    }
}

