
.content .el-tabs--border-card > .el-tabs__content {
    background: #fff;
    padding: 10px;
}
.content .with-language .el-tabs__header{
    margin-bottom: 10px;
    position: absolute;
    top: -10px;
    width: 100%;
    display: flex;
    left: 0;
}
.content .one-tab .with-language .el-tabs__header{
    position: static;
}
.content .one-tab .with-language .el-tabs__item{
    padding-top: 0;
}
.inner-editing .el-tab-pane.with-language{
    padding-top: 30px;
}

.el-tabs__nav-next, .el-tabs__nav-prev {
    position: absolute;
    cursor: pointer;
    line-height: 16px;
    top: 0;
    bottom: 3px;
    font-size: 12px;
    color: #909399;
    display: flex;
    align-items: center;
    justify-content: center;
}