
.inner-editing .el-form-item.edit-bottom:after {
    display: none;
}

.edit-bottom .el-form-item__content {
    width: 100%;
    box-shadow: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.edit-bottom .el-form-item__content button {
    min-width: 115px;
    justify-content: center;
    align-items: center;
    line-height: 1.79;
    margin: 0 20px;
}

.inner-editing .el-form-item.edit-bottom {
    width: 100%;
    margin: 25px 0;
    background: rgba(255, 255, 255, 0);
    padding: 0;
}

@media (max-width: 800px) {
    .inner-editing .el-form-item.edit-bottom .el-form-item__content button.save-close {
        display: none;
    }

    .inner-editing .el-form-item.edit-bottom .el-form-item__content button.main-save {
        font-size: 14px;
    }

    .edit-main + .edit-bottom .button.icon-btn-text:nth-child(2) {
        display: flex;
    }
}

@media (max-width: 767px) {
    .edit-bottom .button.icon-btn-text:nth-child(2) {
        display: none;
    }

    .edit-bottom .button.icon-btn-text svg {
        margin-right: 10px;
    }

    .edit-bottom .button.icon-btn-text > *,
    .edit-bottom .button.icon-btn-text {
        font-size: 14px;
    }

    .edit-bottom .el-form-item__content .button {
        min-width: 130px;
        padding: 5px 10px;
        margin: 0 10px;
    }
}