
.multi-select .el-select__tags-text {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.multi-select .el-select__tags > span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.multi-select .el-select .el-tag {
    display: flex;
    align-items: center;
    width: auto;
    vertical-align: middle;
    border: none;
}

.multi-select .el-tag__close.el-icon-close {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.el-select-dropdown.el-popper.is-multiple[x-placement^=bottom]{
    margin-top: -1px;
    border-top-color: #ef6089;
}
.el-select-dropdown.el-popper.is-multiple[x-placement^=top] {
    margin-bottom: 10px;
}

.el-select-dropdown.el-popper.is-multiple {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    border: 1px solid rgba(0,0,0, 1);
}

.is-multiple .el-select-dropdown__item span{
    max-width: calc(100% - 30px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .inner-editing .multi-select .el-select{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .el-select-dropdown.el-popper.is-multiple[x-placement^=top]{
        margin-bottom: 0;
    }
}

@media (max-width: 360px) {
    .multi-select .el-select__tags-text{
        max-width: 75px;
    }
}
