
.inner-editing .el-form-item.phone .el-form-item__content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.el-form-item.phone .button.icon-btn-text{
    margin: 5px 20px 5px 0;
    flex-flow: row nowrap;
    white-space: nowrap;
    max-width: 25%;
}

.tags-row{
    width: calc(75% - 20px);
}

.tags-row span{
    margin: 5px 5px 5px 0;
    background: rgba(255,255,255,0);
    color: #231f20;
    font-size: 14px;
    line-height: 1.79;
    padding: 4px 15px;
}

@media (max-width: 1300px) {
    .el-form-item.phone .button.icon-btn-text{
        width: 180px;
        max-width: 100%;
    }
    .tags-row{
        width: calc(100% - 200px);
    }
}

@media (max-width: 900px) {
    .tags-row{
        width: 100%
    }
}
@media (max-width: 800px){
    .el-form-item.phone .button.icon-btn-text{
        margin-bottom: 0;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .tags-row span{
        line-height: 1.43;
    }
    .phone .icon-btn-text.button svg{
        margin-right: 10px;
    }
}