
.inner-editing .select-tree {
    z-index: 150;
}

.inner-editing .select-tree .el-input__suffix {
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-tree .label-wrapper.pointer.el-select-dropdown__item:hover {
    background: rgba(255, 255, 255, 0);
}

.select-tree input:focus ~ .el-input__suffix {
    transform: rotate(0deg);
}

.inner-editing .select-tree .el-input .el-input__clear {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 0;
    display: flex;
    right: 0;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: auto;
    color: #000;
}

.three-list-wrap {
    position: absolute;
    top: calc(100% - 1px);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    overflow: auto;
    left: 0;
    z-index: 10;
    max-height: 0;
    transition: max-height .2s linear;
    width: 100%;
}

.custom-select.el-select.open {
    box-shadow: 0px 0 0px 1px rgba(0, 0, 0, 1) inset;
}

.custom-select.el-select.open input {
    background: rgba(255, 255, 255, 0);
}

.select-tree .open input {
    padding-left: 15px;
    border-color: #ee5f88 !important;
}

.select-tree .open input + .three-list-wrap {
    max-height: 274px;
    border: 1px solid;
    transition: max-height .2s linear;
    border-top-color: rgba(255, 255, 255, 0);
}

.tree-menu > label {
    position: relative;
    display: block;
    width: 95%;
    line-height: 1.76;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
}

.three-list-wrap > ul li:after {
    content: '';
    background-color: #f5f7fa;
    position: absolute;
    top: 0;
    width: 200%;
    right: 0;
    z-index: -1;
    opacity: 0;
    height: 24px;
    cursor: pointer;
    pointer-events: none;
}

.three-list-wrap > ul li:hover:after {
    opacity: 1;
}

.three-list-wrap ul {
    padding: 0 0 0 20px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.three-list-wrap ul li {
    width: 100%;
    position: relative;
    z-index: 10;
}

.three-list-wrap > ul {
    height: 100%;
    overflow: auto;
    background: #ffffff;
    padding: 0 0 0 30px;
}

.three-list-wrap > ul:first-child {
    padding-top: 6px;
}

.three-list-wrap > ul:last-child {
    padding-bottom: 6px;
}