
.hidden-infoblock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column wrap;
}
.hidden-infoblock p{
    margin-top: 5px;
}
.el-form-item__label>.button.icon-btn-text.reverse{
    justify-content: flex-start;
    font-weight: 700;
    padding: 0;
}
.select-template .el-dialog__body .chosen img{
    border: 1px solid #ee5f88;
    background: rgba(238, 95, 136, 0.1);
}
.select-template .el-dialog__body .chosen .text-xl{
    color: #ee5f88;
}
.select-template div.dialog-footer button{
    white-space: nowrap;
}

@media (max-width: 800px) {
    .select-template .button.icon-btn-text{
        font-size: 14px;
        min-width: 115px;
    }
    .dialog-footer .button.icon-btn-text{
        white-space: nowrap;
        flex-flow: row nowrap;
    }
    .select-template .button.icon-btn-text > *{
        font-size: 14px;
    }
    .select-template .dialog-footer button.pink svg{
        margin-right: 10px;
    }
    .select-template .el-dialog__body>div{
        margin: -30px -5px -5px -5px;
        justify-content: space-between;
    }
    .select-template .el-dialog__body img{
        height: 190px;
        object-fit: contain;
        border: 1px solid #ccc;
        padding: 5px;
    }
    .select-template .el-dialog__body .py-4{
        padding-top: 5px;
        padding-bottom: 10px;
        width: 100%;
    }
    .select-template .el-dialog__body .w-1\/4{
        width: calc(50% - 5px);
        padding: 0;
        margin-top: 20px;
    }
    .select-template .el-dialog{
        width: calc(100% - 30px)!important;
    }
    .select-template .el-form-item__content{
        margin-top: 10px;
    }
    .select-template .el-dialog__body .overflow-hidden{
        max-width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
}

@media (max-width: 767px) {
    .dialog-footer .button.icon-btn-text{
        margin: 0 10px;
    }
}

@media (max-width: 500px) {
    .select-template .el-dialog__body .w-1\/4{
        width: 100%;
    }
}