
.inner-editing .slug .el-input-group__append{
    padding: 0;
}
.inner-editing .slug .el-input-group__append svg{
    width: 18px;
    height: 18px;
    padding: 0;
    margin-right: 10px;
}
@media (max-width: 600px) {
    .inner-editing .slug .el-input-group__append{
        width: 39px;
    }
    .inner-editing .slug .el-input-group__append button{
        padding: 0;
        font-size: 0;
    }
    .inner-editing .slug .el-input-group__append svg{
        margin: auto;
    }
}