
.file-holder{
    width: 45%;
    min-width: 300px;
}
.file-holder label{
    display: flex;
    cursor: pointer;
    position: relative;
}
.file-holder button.button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px 0;
}
.file-holder input[type="text"]{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.file-holder input[type="file"]{
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1;
}

@media (max-width: 800px) {
    .file-holder{
        width: 100%;
        min-width: 1px;
    }
    .inner-editing .upload-file>label.el-form-item__label{
        margin-bottom: 10px;
    }
    .file-holder input[type="text"]{
        padding-left: 10px;
    }
}