<template>

    <el-container direction="horizontal" class="flex-row flex-wrap w-full">

        <navigation ref="headerPanel"></navigation>

        <el-container class="page-wrapper" :style="{ paddingTop: paddingTop, minHeight: minHeight }">

            <sidebar></sidebar>

            <el-main class="main-container">

                <breadcrumbs-element></breadcrumbs-element>

                <!-- <tags-view-element></tags-view-element> -->

                    <div class="content">

                        <page-title-element :addition="titleAddition"></page-title-element>

                        <transition mode="out-in"
                                    v-on:enter="enter"
                                    v-on:leave="leave">
                        </transition>

                        <router-view></router-view>

                    </div>

            </el-main>

        </el-container>

    </el-container>

</template>

<script>
import sidebar from './sidebar'
import navigation from './navigation'
import tagsViewElement from '@components/elements/tags-view-element'
import pageTitleElement from '@components/elements/page-title-element'
import breadcrumbsElement from '@components/elements/breadcrumbs-element'

export default {
    components: {
        'breadcrumbs-element': breadcrumbsElement,
        'page-title-element': pageTitleElement,
        'navigation': navigation,
        'sidebar': sidebar,
        'tags-view-element': tagsViewElement
    },
    data() {
        return {
            titleAddition: '',
            paddingTop: '0px',
            minHeight: '0px'
        }
    },
    events: {
        'title-addition'(data) {
            this.titleAddition = data;
        },
    },
    methods: {
        enter (el, done) {
            if (this.$breakpoint.sm1200_AndUp) {
                Velocity(el, {translateY: ['0px', '-50px'], opacity: [1, 0]},{duration: 250, complete: done});
            } else {
                done();
            }
        },
        leave (el, done) {
            if (this.$breakpoint.sm1200_AndUp) {
                Velocity(el, {translateY: ['50px', '0px'], opacity: [0, 1]}, {duration: 250, complete: done});
            } else {
                done();
            }
        },
        onResize() {
            this.paddingTop = [this.$refs.headerPanel.$el][0].clientHeight + 'px';
            this.minHeight = window.innerHeight + 'px';

            if (window.innerWidth < 1200){
                this.getHtmlElement('aside.main-sidebar').classList.remove('opened');
                this.getHtmlElement('main.main-container').classList.remove('opened');
            }
        }
    },
    watch: {
        '$route'() {
            this.titleAddition = '';
        }
    },
    mounted() {
        window.addEventListener('resize', this.onResize);
        setTimeout (() => {
            this.onResize();
        }, 10);
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.onResize)
    }
}
</script>

<style></style>
