<template>

    <el-aside width="null" class="main-sidebar"  :style="{ top: top, height: height}">
        <button v-on:click="toggleSidebar()"
                v-html="generateSvg('small-arrow', '')"
                class="button text rotate-180">
        </button>

        <div class="menu-ul">
            <div class="menu-li"
                 v-for="(menu, key) in menus" :key="key"
                 @mouseover="menuOver(menu, key)"
                 @mouseout="menuOut(menu, key)">

                <!-- No sub-menu -->
                <router-link :to="menu.to"
                             v-if="!menu.to.length && currentUser.permissions[(menu.permission || key + '.index')]"
                             v-on:click.native="hideSideBar">

                    <el-tooltip class="item"
                                effect="dark"
                                :content="menu.title || trans(key + '_sidebar.title')"
                                placement="right"
                                :disabled="isSideActive">

                        <svg :class="menu.svg"><use class="text" :xlink:href="'#'+menu.svg"></use></svg>

                    </el-tooltip>

                    <span>{{ menu.title || trans(key + '_sidebar.title') }}</span>

                </router-link>

                <!-- Yes Sub-menu -->
                <p @click.stop="collapse(key)"
                   v-else-if="menu.to.length">

                    <el-tooltip class="item"
                                effect="dark"
                                :content="menu.title || trans(key + '_sidebar.title')"
                                placement="right"
                                :disabled="true">

                        <svg :class="menu.svg"><use class="text" :xlink:href="'#'+menu.svg"></use></svg>

                    </el-tooltip>

                    <span v-html="generateSvg('small-arrow', menu.title || trans(key + '_sidebar.title'))"
                          :class="['dropdown', menu.active ? 'active' : '']"></span>
                </p>

                <!-- Active sub-menu -->
                <transition v-on:enter="enter"
                            v-on:leave="leave">

                    <div class="sub-menu-ul" v-if="menu.to.length > 0 && menu.active && isSideActive">
                        <div class="sub-menu-li" v-for="(itemTo, keyTo) in menu.to"
                             v-if="itemTo.to && currentUser.permissions[itemTo.permission]"
                             :key="keyTo">

                            <router-link v-on:click.native="hideSideBar"
                                         v-if="itemTo.to && currentUser.permissions[itemTo.permission]"
                                         :to="itemTo.to">
                                {{ itemTo.title }}
                            </router-link>

                            <p v-else-if="itemTo.click && currentUser.permissions[itemTo.permission]" @click="onClick(itemTo)">{{ itemTo.title }}</p>

                        </div>
                    </div>

                </transition>

                <!-- Active sub-menu collapsed -->
                <transition name="fade">

                    <div v-if="menu.to.length > 0 && menu.active && !isSideActive" class="collapse sub-menu-ul">
                        <div v-for="(itemTo, keyTo) in menu.to"
                            :key="keyTo"
                            class="sub-menu-li">

                            <router-link v-if="itemTo.to && currentUser.permissions[itemTo.permission]" :to="itemTo.to">{{ itemTo.title }}</router-link>

                            <p v-else-if="itemTo.click && currentUser.permissions[itemTo.permission]" @click="onClick(itemTo)">{{ itemTo.title }}</p>

                        </div>
                    </div>

                </transition>

            </div>
        </div>

        <div v-if="$breakpoint.sm1200_AndDown" class="mobile-actions">

            <div class="mobile-actions-row mob-lang">

                <button v-if="currentBackendLocale === 'en'"
                        class="pink first">
                    {{ trans('core_navigation.language.English') }}
                </button>
                <button v-else
                        v-on:click="changeLocalization('en')"
                        class="black">
                        {{ trans('core_navigation.language.English') }}
                </button>

                <button v-if="currentBackendLocale === 'ru'"
                        class="pink first">
                    {{ trans('core_navigation.language.Russian') }}
                </button>
                <button v-else
                        v-on:click="changeLocalization('ru')"
                        class="black">
                        {{ trans('core_navigation.language.Russian') }}
                </button>

            </div>

            <div class="mobile-actions-row">

                <a class="button pink icon-btn-text"
                    href="/"
                    target="_blank"
                    v-html="this.generateSvg('eye', trans('core_navigation.view website') )">
                </a>

                <button v-on:click="logout"
                        class="button black icon-btn-text"
                        v-html="this.generateSvg('logout', trans('core_navigation.sign out') )">
                </button>
            </div>
            <p class="mobile-user-name">{{ currentUser.first_name + ' ' + currentUser.last_name }}</p>

        </div>

    </el-aside>

</template>

<script>
import helpers from '@services/helpers'

export default {
    data() {
        return {
            isSideActive: true,
            currentBackendLocale: helpers.appStorage().currentBackendLocale,
            currentUser: helpers.appStorage().currentUser,
            currentName: '',
            top: '0px',
            height: '0px',
            menus: {
                dashboard: {
                    to: { name: 'api.backend.dashboard'},
                    title: this.trans('dashboard_dashboard.title'),
                    svg: 'dashboard'
                },
                users: {
                    to: [
                        {
                            to: { name: 'api.backend.users', params: {type: 'users'} },
                            title: this.trans('users_sidebar.submenu.users'),
                            permission: 'users.index'
                        },
                        {
                            to: { name: 'api.backend.roles'},
                            title: this.trans('users_sidebar.submenu.roles'),
                            permission: 'roles.index'
                        }
                    ],
                    active:  false,
                    svg: 'people'
                },
                site: {
                    to: [
                        {
                            to: { name: 'api.backend.page_page'},
                            title: this.trans('page_sidebar.title'),
                            permission: 'page.page.index'
                        },
                        // {
                        //     to: {name: 'api.backend.infoblocks_group'},
                        //     title: this.trans('infoblocks_sidebar.title'),
                        //     permission: 'infoblocks.group.index'
                        // },
                        {
                            to: { name: 'api.backend.textblocks_text_block'},
                            title: this.trans('textblocks_sidebar.title'),
                            permission: 'textblocks.text.block.index'
                       },
                        {
                            to: {name: 'api.backend.contacts_group'},
                            title: this.trans('contacts_sidebar.title'),
                            permission: 'contacts.group.index'
                        },
                        {
                            to: { name: 'api.backend.socialnetworks_social_network'},
                            title: this.trans('socialnetworks_sidebar.title'),
                            permission: 'socialnetworks.social.network.index'
                        },
                        {
                            to: {name: 'api.backend.stores_store'},
                            title: this.trans('stores_sidebar.title'),
                            permission: 'stores.store.index'
                        }
                    ],
                    active:  false,
                    svg: 'site',
                    title: this.trans('translation_sidebar.site')
                },
                infoblocks: {
                    to: [
                        {
                            to: { name: 'api.backend.infoblocks_group'},
                            title: this.trans('infoblocks_sidebar.submenu.infoblocks'),
                            permission: 'infoblocks.group.index'
                        },
                        {
                            to: { name: 'api.backend.infoblocks_template'},
                            title: this.trans('infoblocks_sidebar.submenu.template'),
                            permission: 'infoblocks.template.index'
                        }
                    ],
                    active:  false,
                    svg: 'broken',
                    title: this.trans('infoblocks_sidebar.title')
                },
                articles: {
                    permission: 'articles.post.index',
                    to: { name: 'api.backend.articles_post'},
                    svg: 'broken'
                },
                forms: {
                    to: [
                        {
                            to: { name: 'api.backend.forms_form'},
                            title: this.trans('forms_sidebar.submenu.forms'),
                            permission: 'forms.form.index'
                        },
                        {
                            to: { name: 'api.backend.forms_regex'},
                            title: this.trans('forms_sidebar.submenu.regex'),
                            permission: 'forms.regex.index'
                        },
                        {
                            to: { name: 'api.backend.forms_response'},
                            title: this.trans('forms_sidebar.submenu.response'),
                            permission: 'forms.response.index'
                        }
                    ],
                    active:  false,
                    svg: 'forms',
                    title: this.trans('forms_sidebar.title')
                },
                ecommerce: {
                    to: [
                        {
                            to: { name: 'api.backend.ecommerce_category'},
                            title: this.trans('ecommerce_sidebar.products'),
                            permission: 'ecommerce.category.index'
                        },
                        {
                            to: { name: 'api.backend.ecommerce_brand'},
                            title: this.trans('ecommerce_sidebar.brands'),
                            permission: 'ecommerce.brand.index'
                        },
                        {
                            to: { name: 'api.backend.ecommerce_info'},
                            title: this.trans('ecommerce_sidebar.infos'),
                            permission: 'ecommerce.parameter.index'
                        },
                        {
                            to: { name: 'api.backend.ecommerce_delivery_pay'},
                            title: this.trans('ecommerce_sidebar.delivery_pays'),
                            permission: 'ecommerce.delivery.pay.index'
                        },
                        {
                            to: { name: 'api.backend.ecommerce_delivery_type'},
                            title: this.trans('ecommerce_sidebar.delivery_types'),
                            permission: 'ecommerce.delivery.type.index'
                        },
                        {
                            to: { name: 'api.backend.ecommerce_order'},
                            title: this.trans('ecommerce_sidebar.orders'),
                            permission: 'ecommerce.order.index'
                        },
                        {
                            to: { name: 'api.backend.ecommerce_sale'},
                            title: this.trans('ecommerce_sidebar.sales'),
                            permission: 'ecommerce.sale.index'
                        },
                        {
                            to: { name: 'api.backend.ecommerce_stock'},
                            title: this.trans('ecommerce_sidebar.stocks'),
                            permission: 'ecommerce.stock.index'
                        },
                        {
                            to: { name: 'api.backend.ecommerce_stock_log'},
                            title: this.trans('ecommerce_sidebar.stock_log'),
                            permission: 'ecommerce.stock.log.index'
                        }
                    ],
                    active:  false,
                    svg: 'store',
                    title: this.trans('ecommerce_sidebar.ecommerce')
                },
                banners: {
                    to: [
                        {
                            to: {name: 'api.backend.banners_group'},
                            title: this.trans('banners_sidebar.title'),
                            permission: 'banners.group.index'
                        },
                        {
                            to: {name: 'api.backend.slider_slider'},
                            title: this.trans('slider_sidebar.title'),
                            permission: 'slider.slider.index'
                        }
                    ],
                    active: false,
                    svg: 'slider'
                },
                seo: {
                    to: [
                        {
                            to: {name: 'api.backend.seo_structure'},
                            title: this.trans('seo_sidebar.submenu.structure'),
                            permission: 'seo.structure.index'
                        },
                        {
                            to: {name: 'api.backend.seo_metatag'},
                            title: this.trans('seo_sidebar.submenu.metatag'),
                            permission: 'seo.metatag.index'
                        },
                        {
                            to: {name: 'api.backend.seo_redirect'},
                            title: this.trans('seo_sidebar.submenu.redirect'),
                            permission: 'seo.redirect.index'
                        },
                        {
                            to: {name: 'api.backend.seo_robots'},
                            title: this.trans('seo_sidebar.submenu.robots'),
                            permission: 'seo.robots.index'
                        }
                    ],
                    active: false,
                    svg: 'broken'
                },
                newsletters: {
                    to: [
                        {
                            to: {name: 'api.backend.newsletters_follower'},
                            title: this.trans('newsletters_sidebar.submenu.followers'),
                            permission: 'newsletters.follower.index'
                        }
                    ],
                    active: false,
                    svg: 'broken',
                    title: this.trans('translation_sidebar.newsletters')
                },
                gallery: {
                    to: { name: 'api.backend.gallery'},
                    svg: 'image'
                },
                emailtemplates: {
                    to: { name: 'api.backend.emailtemplates_email_template'},
                    permission: 'emailtemplates.email.template.index',
                    svg: 'broken'
                },
                translation: {
                    to: [
                        {
                            to: {name: 'api.backend.translation.frontend'},
                            title: this.trans('translation_sidebar.submenu.frontend'),
                            permission: 'translation.frontend.index'
                        },
                        {
                            to: {name: 'api.backend.translation.backend'},
                            title: this.trans('translation_sidebar.submenu.backend'),
                            permission: 'translation.backend.index'
                        }
                    ],
                    active: false,
                    svg: 'globe'
                },
                logs: {
                    to: [
                        {
                            to: { name: 'api.backend.logs_folder' },
                            title: this.trans('logs_sidebar.folders'),
                            permission: 'logs.folder.index'
                        },
                        {
                            to: { name: 'api.backend.logs_mail' },
                            title: this.trans('logs_sidebar.emails'),
                            permission: 'logs.mail.index'
                        },
                        {
                            to: { name: 'api.backend.logs_job' },
                            title: this.trans('logs_sidebar.jobs'),
                            permission: 'logs.job.index'
                        },
                        {
                            to: { name: 'api.backend.logs_job_fail' },
                            title: this.trans('logs_sidebar.failed_jobs'),
                            permission: 'logs.job.fail.index'
                        }
                    ],
                    active: false,
                    svg: 'broken'
                },
                settings: {
                    to: [
                        {
                            to: { name: 'api.backend.settings.module', params: {module: 'dashboard'} },
                            title: this.trans('settings_sidebar.submenu.core'),
                            permission: 'settings.index'
                        },
                        {
                            to: { name: 'api.backend.fieldgenerator' },
                            title: this.trans('settings_sidebar.submenu.fields'),
                            permission: 'settings.developer.index'
                        },
                        {
                            to: { name: 'api.backend.settings_image' },
                            title: this.trans('settings_sidebar.submenu.image'),
                            permission: 'settings.developer.index'
                        }
                    ],
                    active: false,
                    svg: 'settings'
                }
            }
        }
    },
    methods: {
        enter: function (el, done) {
            Velocity(el, {translateY: '-30px', height: '0px', opacity: 0}, {duration: 10});
            Velocity(el, {translateY: '0px', height: el.getBoundingClientRect().height, opacity: 1}, {duration: 350, delay: 10, complete: done});
        },
        leave (el, done) {
            Velocity(el, {translateY: '-30px', height: '0px', opacity: 0}, {duration: 350, complete: done});
        },
        logout() {
            helpers.logout().then(() => {
                this.$router.go('/auth/login');
            })
        },
        changeLocalization(lang) {
            axios.get(route('backend.translation.changeLocalization', lang), { params: { url: this.$route.path }}).then(response => {
                window.location.href = response.data;
            });
        },
        editCurrentUser() {
            this.hideSideBar();
            this.$router.push({name: 'api.backend.users.edit', params: { id: this.currentUser.id }});
        },
        menuOver(menu, key) {
            if (!this.isSideActive) {
                this.menus[key].active = true;
            }
        },
        menuOut(menu, key) {
            if (!this.isSideActive) {
                this.collapse(key);
            }
        },
        toggleSidebar() {
            let sidebar = document.querySelector('aside.main-sidebar'),
                content = document.querySelector('main.main-container');

            if (this.isSideActive) {
                sidebar.classList.add('opened');
                content.classList.add('opened');
                this.isSideActive = false;

                for (let moduleName in this.menus) {
                    if (typeof this.menus[ moduleName ].active !== 'undefined') {
                        this.menus[ moduleName ].active = false;
                    }
                }
            } else {
                sidebar.classList.remove('opened');
                content.classList.remove('opened');
                this.isSideActive = true;
            }
        },
        collapse(key) {
            this.menus[key].active = !this.menus[key].active;
        },
        onClick(item, b) {
            this[item.click]();
        },
        setActiveCurrent() {
            const currentName = this.$route.name.split('.').slice(0, 3).join('.');

            for (let moduleName in this.menus) {
                if (typeof this.menus[moduleName].active === 'undefined') {
                    continue;
                }

                for (let item of this.menus[moduleName].to) {
                    if (typeof item.to !== 'undefined' && item.to.name == currentName) {
                        this.menus[moduleName].active = true;
                    }
                }
            }
        },
        onResize() {
            if (window.innerWidth >= 1200) {
                this.getHtmlElement('.main-sidebar').style.transform = '';
                this.getHtmlElement('.main-sidebar').style.boxShadow = '';
                this.getHtmlElement('.main-sidebar').classList.remove('open');
            }

            this.top = this.getHtmlElement('header.el-header').getBoundingClientRect().height + 'px';
            this.height = window.innerHeight - parseInt(this.top) + 'px';
        },
        hideSideBar() {
            if (this.$breakpoint.sm1200_AndDown){
                this.$events.fire('tween-sidebar', false);
            }
        }
    },
    mounted() {
        this.setActiveCurrent();

        window.addEventListener('resize', this.onResize);

        setTimeout (() =>{
            this.top = this.getHtmlElement('header.el-header').getBoundingClientRect().height + 'px';
            this.height = window.innerHeight - parseInt(this.top) + 'px';
        }, 10);
    }
}
</script>

<style>
</style>
