<template>

    <el-dialog :visible.sync="modalVisible"
               :show-close="false"
               width="40%">

        <div slot="title">

            <p class="font-28 center">{{ ucfirst(trans('users_modals.user_info')) }}</p>

            <button v-on:click="modalVisible = false"
                    v-html="this.generateSvg('close-thin', '')"
                    type="button"
                    class="icon-btn close-modal">
            </button>

        </div>

        <el-input v-model="modalData.first_name"
                  :disabled="true">
            <span slot="prepend">{{ ucfirst(trans('users_modals.first_name')) }}</span>
        </el-input>

        <el-input v-model="modalData.last_name"
                  :disabled="true">
            <span slot="prepend">{{ ucfirst(trans('users_modals.last_name')) }}</span>
        </el-input>

        <el-input v-model="modalData.email"
                  :disabled="true">
            <span slot="prepend">{{ ucfirst(trans('users_table-fields.users.email')) }}</span>
        </el-input>

        <el-input v-model="modalData.role"
                  :disabled="true">
            <span slot="prepend">{{ ucfirst(trans('users_table-fields.users.role')) }}</span>
        </el-input>

        <el-input v-model="modalData.status"
                  :disabled="true">
            <span slot="prepend">{{ ucfirst(trans('users_table-fields.users.status')) }}</span>
        </el-input>

        <el-input v-model="modalData.last_login"
                  :disabled="true">
            <span slot="prepend">{{ ucfirst(trans('users_table-fields.users.last_login')) }}</span>
        </el-input>

        <div class="dialog-footer">
            <button type="button"
                    class="button pink icon-btn-text"
                    v-on:click="editCurrentUser">
                {{ ucfirst(trans('core_form.buttons.edit')) }}
            </button>
            <button type="button"
                    class="button pink icon-btn-text"
                    v-on:click="modalVisible = false">
                {{ ucfirst(trans('core_form.buttons.close')) }}
            </button>
        </div>

    </el-dialog>

</template>

<script>
export default {
    data() {
        return {
            modalVisible: false,
            modalData: {}
        };
    },
    methods: {
        editCurrentUser() {
            this.modalVisible = false;
            this.$router.push({name: 'api.backend.users.edit', params: { id: this.modalData.id }});
        }
    },
    events: {
        'view-profile': function(data) {
            this.modalData = data;
            this.modalVisible = true;
        }
    }
};
</script>

<style>
    .user-modal .el-dialog{
        padding: 0 30px;
    }
</style>
