<template>

    <!-- Form -->
    <el-form ref="form" :model="formData" label-position="top" v-loading.body="loading" class="inner-editing user-roles">

        <!-- Tabs -->
        <el-tabs tab-position="top" type="border-card">

            <!-- Tab Role -->
            <el-tab-pane :label="trans('users_crud-fields.roles.role.tab_name')">

                <div class="tab_sub_caption">
                    <span>{{ trans('core_form.tabs.parameter') }}</span>
                    <p>{{ trans('core_form.tabs.value') }}</p>
                </div>

                <span slot="label"
                    :class="{'label-error' : form.errors.any()}">
                    {{ trans('users_crud-fields.roles.role.tab_name') }}
                </span>

                <el-form-item :label="trans('users_crud-fields.roles.role.name')" :class="'is-required'">
                    <el-input v-model="formData.name"></el-input>
                    <div class="el-form-item__error"
                        v-if="form.errors.has('name')"
                        v-text="form.errors.first('name')">
                    </div>
                </el-form-item>

                <el-form-item v-if="this.$route.name == 'api.backend.roles.create'"
                              :label="trans('users_crud-fields.roles.role.is_admin')"
                              :class="'is-required'">

                    <el-radio v-model="formData.is_admin" label="1">{{ trans('users_crud-fields.users.user.administrator') }}</el-radio>
                    <el-radio v-model="formData.is_admin" label="0">{{ trans('users_crud-fields.users.user.user') }}</el-radio>

                    <p class="hint">{{ trans('users_crud-fields.users.user.is_admin hint') }}</p>

                    <div class="el-form-item__error"
                        v-if="form.errors.has('is_admin')"
                        v-text="form.errors.first('is_admin')">
                    </div>
                </el-form-item>

            </el-tab-pane>

            <!-- Tab Users -->
            <el-tab-pane :label="trans('users_crud-fields.roles.users.tab_name')"
                         class="users-with-roles">

                <h3>{{ trans('users_crud-fields.roles.users.users with role') }}</h3>
                <ul>
                    <li v-for="user in formData.users" :key="user.id">{{ user.fullname }} ({{ user.email }})</li>
                </ul>

            </el-tab-pane>

            <!-- Tab Permissions -->
            <el-tab-pane v-if="formData.is_admin == 1 || formData.is_admin == null" :label="trans('users_crud-fields.roles.permissions.tab_name')">

                <application-permissions v-if="!loading"
                                         v-model="formData.permissions"
                                         is-role>
                </application-permissions>

            </el-tab-pane>

        </el-tabs>

        <!-- Buttons -->
        <el-form-item class="edit-bottom">

            <button v-html="this.generateSvg('save-icon', this.trans('core_form.buttons.save'))"
                    type="button"
                    v-on:click="onSubmit"
                    class="button pink icon-btn-text"
                    :loading="loading">
            </button>

            <button type="button" v-on:click="onCancel" class="button black">{{ this.trans('core_form.buttons.cancel') }}</button>

        </el-form-item>

    </el-form>

</template>

<script>
import applicationPermissions from '@components/application-permissions'
import Form from 'form-backend-validation'

export default {
    components: {
        'application-permissions': applicationPermissions
    },
    data() {
        return {
            formData: {
                name: '',
                is_admin: null,
                slug: '',
                permissions: {},
                users: {},
            },
            is_new: true,
            form: new Form(),
            loading: false,
        }
    },
    methods: {
        onSubmit() {
            this.form = new Form(this.formData);
            this.loading = true;

            this.form.post(this.getRoute())
                .then((response) => {
                    this.loading = false;

                    this.$notify.success({
                        title: 'Success!',
                        message: response.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });

                    this.pushRoute('api.backend.roles');
                })
                .catch((error) => {
                    console.log('Error - ' + error);

                    this.$notify.error({
                        title: 'Error!',
                        message: 'Oops, this is a error!',
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });

                    this.loading = false;
                });
        },
        onCancel() {
            this.pushRoute('api.backend.roles');
        },
        fetchRole() {
            this.loading = true;

            if (this.$route.params.id !== undefined && this.$route.params.id !== 0) {
                this.pushAxiosGet(route('api.backend.roles.find', this.$route.params.id), (response) => {
                    this.is_new = false;
                    this.formData = response.data;
                    this.$events.fire('title-addition', response.data.name);
                    this.loading = false;
                });
            } else {
                this.pushAxiosGet(route('api.backend.roles.find-new'), (response) => {
                    this.formData = response.data;
                    this.loading = false;
                });
            }
        },
        getRoute() {
            if (this.$route.params.id !== undefined && this.$route.params.id !== 0) {
                return route('api.backend.roles.update', { role: this.$route.params.id });
            }

            return route('api.backend.roles.store');
        }
    },
    created: function() {
        this.fetchRole();
    }
}
</script>

<style>
    .label-error {
        color: red
    }
    .users-with-roles{
        margin-bottom: 30px;
    }
    .users-with-roles h3{
        font-size: 18px;
        font-weight: 500;
        margin: 25px 0;
    }
    .users-with-roles ul{
        padding-left: 25px;
    }
    .users-with-roles ul li{
        list-style-type: decimal;
        padding-left: 5px;
    }
    .users-with-roles ul li+li{
        margin-top: 5px;
    }
</style>
