<template>
    <div class="w-full flex flex-row flex-wrap">

        <!-- Tabs -->
        <el-tabs v-model="activeName" tab-position="top" @tab-click="handleClick" class="w-full">

            <el-tab-pane :label="trans('users_sidebar.submenu.admins')" name="admin"></el-tab-pane>

            <el-tab-pane :label="trans('users_sidebar.submenu.users')" name="users"></el-tab-pane>

            <!-- Tab Roles -->
            <el-tab-pane :label="trans('users_sidebar.submenu.roles')" name="roles">

                <!-- Table component -->
                <data-table :table="table"></data-table>

            </el-tab-pane>

        </el-tabs>

    </div>
</template>

<script>
import dataTable from '@components/data-table-origin'

export default {
    components: {
        dataTable
    },
    data() {
        return {
            table: {
                apiRoute: route('api.backend.roles.index'),
                transRoute: 'users_table-fields.roles',
                columns: [
                    {
                        name: 'name',
                        titleClass: 'col-center big',
                        dataClass: 'col-center big',
                    },
                    {
                        name: 'is_admin',
                        titleClass: 'col-center big',
                        dataClass: 'col-center big',
                        callback: 'formatIsAdmin',
                    },
                    {
                        name: 'created_at',
                        titleClass: 'col-center big',
                        dataClass: 'col-center big',
                        callback: 'formatDate|DD.MM.YYYY',
                    },
                    {
                        name: '__component:actions-element',
                        options: {
                            buttonParams: {
                                edit: true,
                                delete: true
                            }
                        },
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    }
                ],
                sortOrder: [
                    {
                        field: 'id',
                        sortField: 'id',
                        direction: 'asc',
                    }
                ],
                buttonOptions: {
                    goBack: false,
                    create: true,
                    deleteAll: false,
                    search: false,
                }
            },
            activeName: 'roles'
        }
    },
    methods: {
        handleClick(tab, event) {
            if (tab.name == 'admin') {
                this.$router.push({ name: 'api.backend.users', params: {type: tab.name.toLowerCase()} });
            } else if (tab.name == 'users') {
                this.$router.push({ name: 'api.backend.users', params: {type: tab.name.toLowerCase()} });
            } else if (tab.name == 'roles') {
                this.pushRoute('api.backend.roles');
            }
        },
        formatIsAdmin(value) {
            if (value === 1 || value) {
                return this.$t('users_table-fields[\'roles.admin type\']');
            }

            return this.$t('users_table-fields[\'roles.user type\']');
        }
    }
};
</script>

<style>
</style>
