<template>
    <div v-if="cropperVisible" class="full-photo-overlay">
        <div class="cropper-overlay-container fixed pin z-50 h-screen w-screen">
            <div class="cropper-service-area">
                <div class="flex content-center flex-wrap h-full relative">

                    <div class="cropper-service-area-center flex content-center flex-wrap justify-center">

                        <vue-cropper ref="cropper"
                                     :guides=true
                                     :view-mode=2
                                     drag-mode="crop"
                                     :auto-crop-area=0.5
                                     :background=false
                                     :rotatable=true
                                     :src="photo.data ? photo.data : '/storage/origin/' + photo.url "
                                     :alt=photo.title
                                     :ready="cropReady"
                                     :img-style=cropper.imgStyle
                                     :cropmove=cropImage>
                        </vue-cropper>

                    </div>
                    <div class="flex justify-end cropper-service-area-bottom">

                        <div class="cropper-service-area-left">
                            <button @click="rotate"
                                    v-html="generateSvg('rotate-90', '')"
                                    class="btn-cropper button"
                                    type="button">
                            </button>
                            <button @click="rotateBack"
                                    v-html="generateSvg('rotate--90', '')"
                                    class="btn-cropper button"
                                    type="button">
                            </button>
                            <button @click="discardChanges"
                                    v-html="generateSvg('arrow-back', '')"
                                    class="btn-cropper button"
                                    type="button">
                            </button>
                        </div>

                        <div class="cropper-service-area-right">
                            <button @click="submitCrop"
                                    v-html="generateSvg('save-icon', '')"
                                    class="btn-cropper button"
                                    type="button">
                            </button>
                            <button @click="closePhotoCropper"
                                    v-html="generateSvg('close-thin', '')"
                                    class="btn-cropper button"
                                    type="button">
                            </button>
                        </div>

                    </div>
                </div>
                <div class="full-photo-overlay-close-button" role="button" tabindex="3" @click.stop="closePhotoCropper" @keyup.enter="closePhotoCropper">
                    <div class="icon"></div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

import VueCropper from 'vue-cropperjs'

export default {
    name: 'photoCropper',
    props: ['photo', 'cropperVisible'],
    components: {
        VueCropper,
    },
    data() {
        return {
            cropper:{
                imgStyle : {},
                visible: true,
                output: {}
            },
        }
    },
    methods: {
        cropReady() {
            //
        },
        rotate() {
            this.$refs.cropper.rotate(90);
        },
        rotateBack() {
            this.$refs.cropper.rotate(-90);
        },
        discardChanges() {
            this.$refs.cropper.reset();
        },
        submitCrop() {
            this.photo.path = this.$refs.cropper.getCroppedCanvas().toDataURL();

            this.pushAxiosPut(route('api.backend.gallery.photo.update', {image: this.photo.id}), {photo: this.photo}, (response) => {
                if (this.photo.id == response.image.id) {
                    this.$parent.selectedPhoto = response.image;
                    this.$parent.images.splice(_.findIndex(this.$parent.images, {id: this.photo.id}), 1, response.image);
                    this.closePhotoCropper();
                }
            });
        },
        closePhotoCropper() {
            this.$parent.cropperVisible = false;
        },
        cropImage() {}
    },
    watch: {
        cropperVisible: function (cropperVisible) {
            if (cropperVisible) {
                if (!document.body.classList.contains('overflow-hidden')) {
                    document.body.classList.add('overflow-hidden');
                }
            }
            else {
                if (document.body.classList.contains('overflow-hidden')) {
                    document.body.classList.remove('overflow-hidden')
                }
            }
        },
    },
    mounted() {}
}
</script>

<style>
</style>
