<template>

    <transition v-on:enter="enterModal" v-on:leave="leaveModal">

        <div v-if="photoFullVisible" class="full-photo modal-wrapper">

            <div class="modal-overlay" @click="closePhotoFull"></div>

            <div class="full-photo-overlay-content modal-content">

                <div class="full-photo-overlay-embed">

                    <div class="full-photo-overlay-container">
                        <img width="auto" height="auto" :src="`/storage/origin${photo.url}`">
                    </div>
                    <p class="full-photo-overlay-description" v-if="photo.title">{{ photo.title }}</p>

                    <div class="full-photo-overlay-close-button" role="button" tabindex="3" @click.stop="closePhotoFull" @keyup.enter="closePhotoFull">
                        <div class="icon"></div>
                    </div>

                </div>

            </div>

            <div class="full-photo-overlay-arrow-buttons" v-if="arrowsVisible">
                <div class="arrow arrow-previous" role="button" tabindex="2" @click="moveToPreviousItem" @keyup.enter="moveToPreviousItem"></div>
                <div class="arrow arrow-next" role="button" tabindex="1" @click="moveToNextItem" @keyup.enter="moveToNextItem"></div>
            </div>

        </div>

    </transition>

</template>

<script>
export default {
    name: 'photoFull',
    props: ['photo', 'images', 'photoFullVisible'],
    data() {
        return {
            arrowsVisible: false,
            allowEventListeners: true,
        }
    },
    methods: {
        closePhotoFull() {
            this.$parent.photoFullVisible = false;
        },
        moveToPreviousItem() {
            var currentIndex = _.findIndex(this.images, (photo) => { return photo.id == this.photo.id; });
            var prevPhoto = _.find(this.images, (el, i, col) =>{
                return i == currentIndex - 1;
            });

            if (!prevPhoto) {
                prevPhoto = _.last(this.images);
            }

            this.$parent.selectPhoto(prevPhoto);
        },
        moveToNextItem() {
            var currentIndex = _.findIndex(this.images, (photo) => { return photo.id == this.photo.id; });
            var nextPhoto = _.find(this.images, (el, i, col) =>{
                return i == currentIndex + 1;
            });

            if (!nextPhoto) {
                nextPhoto = _.head(this.images);
            }

            this.$parent.selectPhoto(nextPhoto);
        },
        showArrows() {
            if (_.size(this.images) > 1) {
                this.arrowsVisible = true;
            } else {
                this.arrowsVisible = false;
            }
        },
        startEventListeners() {
            this.allowEventListeners = true;
        },
        stopEventListeners() {
            this.allowEventListeners = false;
        },
        runEventListeners() {
            window.addEventListener('keyup', (event) => {
                // Switch between the images
                if (this.allowEventListeners || this.photoFullVisible) {
                    if (event.which === 27) {
                        this.closePhotoFull();
                    }

                    if (event.which === 39) {
                        this.moveToNextItem();
                    }

                    if (event.which === 37) {
                        this.moveToPreviousItem();
                    }
                }
            });
        },
    },
    watch: {
        images: function() {
            this.showArrows();
        }
    },
    mounted() {
        this.runEventListeners();
    }
}
</script>

<style>
</style>
