<template>

    <th>
        <label class="checkbox cell">
            {{state}}
            <input type="checkbox" @change="toggleAll" v-bind="value.checkboxState">
            <span></span>
        </label>
    </th>

</template>

<script>
export default {
    props: {
        value: {
            type: Object,
        }
    },
    methods: {
        toggleAll() {
            this.$emit('toggleAll');
        }
    },
    computed: {
        state() {
            return this.value.checkboxState;
        }
    }
};
</script>

<style scoped>
    label.checkbox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label.checkbox input[type='checkbox']{
        width: 0;
        height: 0;
        opacity: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        /* appearance: none; */
        visibility: hidden;
    }
    label.checkbox span{
        width: 15px;
        height: 15px;
        box-shadow: 0 0 0 1px #231F20 inset;
        display: block;
        position: relative;
        cursor: pointer;
    }
</style>
