<template>
    <div class="w-full flex flex-row flex-wrap">

        <!-- Tabs -->
        <el-tabs v-model="activeName" tab-position="top" @tab-click="handleClick">

            <el-tab-pane :label="$t('forms_table-fields[\'response.tab all\']')" name="all"></el-tab-pane>

            <el-tab-pane v-for="(value, id) in forms"
                         :key="id"
                         :label="value.title"
                         :name="value.id.toString()">
            </el-tab-pane>

        </el-tabs>

        <data-table :alwaysShow="true"></data-table>

    </div>
</template>

<script>
import dataTable from '@/components/data-table'

export default {
    components: {
        'data-table': dataTable
    },
    data() {
        return {
            forms: {},
            activeName: this.$route.params.ident || 'all'
        }
    },
    methods: {
        fetchForms() {
            this.pushAxiosGet(route('api.backend.forms_response.findForms'), (response) => {
                this.forms = response;
            });
        },
        handleClick(tab) {
            if (tab.name == 'all') {
                this.$router.push({ name: 'api.backend.forms_response'});
            } else {
                this.$router.push({ name: 'api.backend.forms_response.show', params: { ident: tab.name } });
            }
        }
    },
    created: function() {
        this.fetchForms();
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.show = false
        });
    },
    beforeRouteLeave(to, from, next) {
        this.show = false,

        setTimeout(() => {
            next();
        }, 350);
    }
};
</script>

<style>
</style>
