<template>
    <div class="settings_wrapper">

        <el-tabs v-model="defaultModule"
                 tab-position="top"
                 type="border-card"
                 @tab-click="handleClick">

            <!-- Tabs -->
            <el-tab-pane v-for="(value, id) in modules"
                         :key="id"
                         :label="trans('settings_settings.tabs.' + id.toLowerCase())"
                         :name="id">

                <el-form ref="form"
                         :model="formData"
                         label-position="top"
                         v-loading.body="loading"
                         class="settings_form">

                    <div class="flex justify-between flex-row flex-wrap">

                        <div class="settings_item"
                             v-if="data.plainModuleSettings"
                             v-for="(fieldParameters, field) in data.plainModuleSettings"
                             :key="field">

                            <component :is="fieldParameters.field_type + '-field'"
                                       v-model="formData[data.currentModuleName + '::' + field].plainValue"
                                       :arrayValues="arrayValues(fieldParameters.parameters)"
                                       :parameters="fieldParameters.parameters"
                                       :field="field">
                            </component>

                        </div>

                        <div class="settings_item">

                            <component v-if="id.toLowerCase() === 'core' && currentUserRoleSlug == 'developer'"
                                       :is="'corebuttons-field'">
                            </component>

                        </div>

                    </div>

                    <!-- Buttons -->
                    <div class="btn-wrap">
                        <button v-html="generateSvg('save-icon', trans('core_form.buttons.save'))"
                                type="button"
                                v-on:click="onSubmit"
                                class="button pink icon-btn-text"
                                :loading="loading">
                        </button>
                    </div>

                </el-form>

            </el-tab-pane>

        </el-tabs>

    </div>
</template>

<script>
import textField from './fields/text-field'
import textareaField from './fields/textarea-field'
import selectField from './fields/select-field'
import localesField from './fields/locales-field'
import checkboxField from './fields/checkbox-field'
import numberField from './fields/number-field'
import corebuttonsField from './fields/corebuttons-field'
import uploadImageField from './fields/upload-image-field'

import Form from "form-backend-validation"
import helpers from '@services/helpers'

export default {
    components: {
        'text-field': textField,
        'textarea-field': textareaField,
        'select-field': selectField,
        'locales-field': localesField,
        'checkbox-field': checkboxField,
        'number-field': numberField,
        'corebuttons-field': corebuttonsField,
        'upload-image-field': uploadImageField,
    },
    data() {
        return {
            defaultModule: 'Dashboard',
            data: {
                currentModuleName: {},
                savedModuleSettings: {},
                modulesWithSettings: {},
                plainModuleSettings: {},
                translatableSettings: [],
                themes: {
                    backend: {},
                    frontend: {}
                },
                locales: {}
            },
            formData: {},
            form: {},
            modules: {},
            currentUserRoleSlug: helpers.appStorage().currentUser.role_slug,
            loading: false,
        }
    },
    methods: {
        fetchModules() {
            this.pushAxiosGet(route('api.backend.settings.getModulesList'), (response) => {
                this.modules = response;
            });
        },
        handleClick(tab, event) {
            this.$router.push({ name: 'api.backend.settings.module', params: {module: tab.name.toLowerCase()} });

            this.fetchFormData(tab.name);
        },
        fetchFormData(moduleName) {
            this.loading = true;

            this.pushAxiosGet(route('api.backend.settings.module', {module: btoa(moduleName)}), (response) => {
                this.data = response;
                this.formData = response.savedModuleSettings;

                this.loading = false;
            });
        },
        arrayValues(parameters = false) {
            if (parameters.array_data) {
                var array_values = parameters.array_values.split('.');

                if (array_values.length > 1) {
                    return this.data[array_values[0]][array_values[1]];
                }

                return this.data[array_values[0]];
            }

            return;
        },
        ifUserCanSee: function (parameters) {
            if (!parameters.enable_for_role) {
                return true;
            }

            if (parameters.enable_for_role && parameters.enable_for_role == this.currentUserRoleSlug) {
                return true;
            }

            return false;
        },
        onSubmit() {
            this.$events.fire('form-submit');
            this.loading = true;

            this.form = new Form(this.formData);
            this.form.post(route('api.backend.settings.store'))
                .then((response) => {
                    this.loading = false;

                    this.notify(response);

                    var self = this;

                    setTimeout(function() {
                        self.$router.go(self.$router.currentRoute);
                    }, 800);
                })
        }
    },
    created: function() {
        this.fetchModules();
        this.fetchFormData(this.defaultModule);

        this.$route.meta.pageTitle = this.defaultModule;
    }
};
</script>

<style>
</style>
