<template>
    <button class="self-end bg-red-light hover:bg-red-dark text-white font-bold py-2 px-4 rounded" v-on:click="deleteItem()"><i class="far fa-trash-alt"></i></button>
</template>

<script>
    import swal from 'sweetalert2'

    export default {
        props: ['rowData'],
        methods: {
            deleteItem() {
                let userName = this.rowData.fullname ? this.rowData.fullname : this.rowData.id;

                swal({
                    title: "Are you sure?",
                    text: "Delete " + userName + " ?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: 'Delete',
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#dc3545',
                }).then((result) => {
                    if (result.value) {
                        this.pushAxiosDelete(route(this.$route.name + '.destroy', this.rowData.id), (response) => {
                            this.$parent.$parent.reload();

                            swal({
                                title: "Success!",
                                type: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        });
                    }
                });
            }
        }
    }
</script>

<style>
</style>
