<template>

    <router-link :to="{name: this.$route.name + '.edit', params: {id: this.rowData.id}}">
        <button class="bg-grey-light hover:bg-grey text-grey-darkest py-2 px-4 rounded"><i class="fas fa-pencil-alt"></i></button>
    </router-link>

</template>

<script>
    import helpers from '../../services/helpers'

    export default {
        props: ['rowData']
    }
</script>

<style>
</style>
