<template>
    <button class="bg-grey-light hover:bg-grey text-grey-darkest py-2 px-4 rounded" v-on:click="itemAction('view-item')"><i class="fas fa-search-plus"></i></button>
</template>

<script>
    export default {
        props: ['rowData'],
        methods: {
            itemAction: function(action) {
                this.$events.fire(action, this.rowData)
            }
        }
    }
</script>

<style>
</style>
