<template>
    <el-tabs type="border-card"
             @tab-click="clickTab"
             :class="['settings-table', isOverflow ? 'show-scroll': '']">

        <!-- Tab For Each Unique Tab -->
        <el-tab-pane v-for="(moduleGroupe, dataTableKey, indexMain) in dataTable"
                     :key="dataTableKey"
                     :class="['main-tabs', indexMain === 0 ? 'active-panel' : '']"
                     :label="ucfirst(dataTableKey)">

            <!-- Tabs For Language -->
            <el-tabs :activeName="Object.keys(moduleGroupe)[0]"
                     @tab-click="clickTab">

                <!-- Tab For Each Language -->
                <el-tab-pane v-for="(translationGroup, moduleGroupeKey, indexSub) in moduleGroupe"
                             :label="ucfirst(moduleGroupeKey)"
                             :key="moduleGroupeKey"
                             :name="moduleGroupeKey"
                             :class="['sub-tabs', indexSub === 0 ? 'active-table' : '']">

                    <table :class="['table table-bordered table-hover settings']">

                        <thead>
                            <tr>
                                <th scope="col">key</th>
                                <th scope="col"
                                    class="min-width"
                                    v-for="(language, locale) in allLocales"
                                    :key="locale">{{ locale }}</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="(word, translationGroupKey) in translationGroup" :key="translationGroupKey">

                                <th scope="row">{{ translationGroupKey }}</th>

                                <td class="min-width" v-for="(language, locale) in allLocales" :key="locale">
                                    <input v-if="canChange(dataTableKey, moduleGroupeKey, translationGroupKey)" type="text" v-model="dataTable[dataTableKey][moduleGroupeKey][translationGroupKey][locale]">
                                    <p v-else>{{ word[locale] }}</p>
                                </td>

                                <td class="center">
                                    <button v-if="canChange(dataTableKey, moduleGroupeKey, translationGroupKey)"
                                            @click="saveRow(dataTableKey, moduleGroupeKey, translationGroupKey)"
                                            class="button"
                                            v-html="generateSvg('save-icon','')">
                                    </button>
                                    <button v-else
                                            @click="editRow(dataTableKey, moduleGroupeKey, translationGroupKey)"
                                            class="button"
                                            v-html="generateSvg('edit','')">
                                    </button>
                                </td>

                            </tr>
                        </tbody>

                    </table>

                </el-tab-pane>

            </el-tabs>

        </el-tab-pane>

    </el-tabs>
</template>

<script>
export default {
    props: {
        allLocales: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            dataTable: {},
            loading: false,
            rowToChange: '',
            count: 0,
            width: 0,
            activeTable: '',
            overflowCount: '',
            isOverflow: false
        }
    },
    methods: {
        initHolder() {
            let content = this.$el.childNodes[1];
            if (!content.querySelector('.table-after') && !content.querySelector('.table-before')){
                content.insertAdjacentHTML('afterbegin', '<span class="table-after"></span>');
                content.insertAdjacentHTML('afterbegin', '<span class="table-before"></span>');
            }
        },
        clearHolder() {
            if (document.querySelector('span.table-before').hasAttribute('style') && document.querySelector('span.table-after').hasAttribute('style')){
                document.querySelector('span.table-after').removeAttribute('style');
                document.querySelector('span.table-before').removeAttribute('style');
            }
        },
        initOverflow() {
            let that = this;
            window.addEventListener('resize', this.checkOverflow);
            document.querySelectorAll('.sub-tabs').forEach(function (tab) {
                tab.addEventListener('scroll', that.tableScroll);
            });

        },
        tableScroll(event) {
            let currentShadow = (event.target.scrollLeft === 0 ? 1 : event.target.scrollLeft) / this.overflowCount,
                tab = this.$el.childNodes[1];

            Velocity(tab.querySelector('span.table-before'), {opacity: [currentShadow, 0]}, 1);
            Velocity(tab.querySelector('span.table-after'), {opacity: [1 - currentShadow, 0]}, 1);
        },
        checkOverflow() {
            let el = this.activeTable,
                parent = el.parentElement;
            setTimeout( () => {
                let curOverflow = el.style.overflow;
                if (!curOverflow || curOverflow === "visible" ) {
                    el.style.overflow = "hidden";
                }
                el.style.overflow = curOverflow;

                this.isOverflow = parent.getBoundingClientRect().width < el.getBoundingClientRect().width;
                this.overflowCount = el.getBoundingClientRect().width - parent.getBoundingClientRect().width;

                if (!this.isOverflow) {
                    this.clearHolder();
                }
            }, 250 )
        },
        clickTab(current) {

            if (current.$el.classList.contains('main-tabs')) {//main tabs
                document.querySelector('.main-tabs.active-panel').classList.remove('active-panel');
                current.$el.classList.add('active-panel');
                this.activeTable = current.$el.querySelector('.active-table>table');
                this.clearHolder();
            } else {//sub tabs
                let activePanel = document.querySelector('.main-tabs.active-panel');
                activePanel.querySelector('.sub-tabs.active-table').classList.remove('active-table');
                current.$el.classList.add('active-table');
                this.activeTable = current.$el.querySelector('table.settings');
                this.clearHolder();
            }
            this.checkOverflow(this.activeTable)
        },
        fetchTranslations() {
            this.loading = true;

            this.pushAxiosGet(route('api.backend.translation.index', {type: this.$route.name.split('.').slice(3, 4) || 'backend'}), (response) => {
                this.dataTable = response.translations;

                for (let i in this.allLocales) {
                    this.count++
                }
                this.width = 100 / this.count + '%';
                setTimeout( () => this.loading = false, 200);
            });
        },
        editRow(dataTableKey, moduleGroupeKey, translationGroupKey) {
            this.rowToChange = `${dataTableKey}_${moduleGroupeKey}_${translationGroupKey}`;
        },
        saveRow(dataTableKey, moduleGroupeKey, translationGroupKey) {
            const values = this.dataTable[dataTableKey][moduleGroupeKey][translationGroupKey];
            const key = `${dataTableKey}::${moduleGroupeKey}.${translationGroupKey}`;

            this.pushAxiosPut(route('api.backend.translation.' + this.$route.name.split('.')[3] + '.update'), {key, values}, (response) => {
            });

            this.rowToChange = '';
        },
        canChange(dataTableKey, moduleGroupeKey, translationGroupKey) {
            return this.rowToChange === `${dataTableKey}_${moduleGroupeKey}_${translationGroupKey}`;
        }
    },
    watch: {
        '$route'() {
            this.fetchTranslations()
        },
        loading () {
            if (!this.loading) {
                this.activeTable = this.$el.querySelector('.active-panel .active-table>table');
                this.initOverflow(this.activeTable);
                this.initHolder();
                this.checkOverflow();
            }
        }
    },
    mounted: function() {
        this.fetchTranslations();
    }
};
</script>

<style>
    table.settings.table .save-icon{
        margin: 0;
        color: #ef6089;
    }
    table.settings.table td, table.settings.table th{
        padding: 10px;
        font-size: 14px;
        line-height: normal;
        vertical-align: middle;
    }
    table.settings.table td.center{
        text-align: center;
    }
    table.settings.table td input{
        border-bottom: 1px solid #ef6089;
        background: rgba(255,255,255,0);
        width: 100%;
    }

    table.settings.table tr th:first-child{
        width: 20%;
        min-width: 130px;
        line-height: 1.2;
    }
    table.settings.table tr th:last-child,
    table.settings.table tr td:last-child{
        width: 60px;
        min-width: 50px;
        padding: 0;
        text-align: center;
    }
    table.settings.table tr td:last-child button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .settings-table .min-width{
        min-width: 200px;
    }
    .settings-table .el-tab-pane{
        width: 100%;
        overflow: auto;
    }
    @media (max-width: 500px){
        table.settings.table td, table.settings.table th{
            font-size: 13px;
        }
    }
</style>
