<template>
    <div>

        <el-form-item :label="lable">
            <el-select v-model="model" placeholder="Select">
                <el-option
                        v-for="(value, key) in option"
                        :key="key"
                        :label="key"
                        :value="key">
                </el-option>
            </el-select>
        </el-form-item>

    </div>
</template>

<script>
    export default {
        props: {
            lable: {
                type: String,
                required: true
            },
            model: {
                type: String,
                required: true
            },
            option: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style>
</style>
