<template>

    <div class="find-products">

        <button v-html="this.generateSvg('plus', trans('core_table.buttons.attach_user'))"
                type="button"
                class="button black icon-btn-text"
                @click="showModal">
        </button>


        <transition v-on:enter="enterModal" v-on:leave="leaveModal">

            <div v-if="show.form" class="find-products-wrapper modal-wrapper">

                <div class="modal-overlay" @click="show.form = !show.form"></div>

                <div class="modal-content find-products-form-wrapper">

                    <p class="modal-caption">{{trans('users_table-fields.modal.users')}}</p>
                    <button @click="show.form = !show.form"
                            v-html="this.generateSvg('close-thin', '')"
                            class="icon-btn close-modal">
                    </button>

                    <div class="white-bg" ref="emptyBlock" v-if="users !== undefined && users.length === 0">
                        <p class="modal-caption empty">{{ noFound }}</p>
                    </div>

                    <div v-if="users !== undefined && users.length" class="table-wrapper w-full">


                        <div class="table-overflow">
                            <table class="table-flex w-full" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <label class="checkbox cell">
                                                <input type="checkbox" @change="toggleAll" v-bind="checkboxState">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">ID</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('users_table-fields.modal.email')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('users_table-fields.modal.first_name')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('users_table-fields.modal.last_name')}}</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="el-table-body vuetable-body">
                                    <tr v-for="user in users" :key="user.id" class="el-table__row list-item">
                                        <td>
                                            <label role="checkbox" class="checkbox cell">
                                                <input aria-hidden="true" v-model="user.checkbox" type="checkbox">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{user.id || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{user.email || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{user.first_name || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{user.last_name || ''}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p>{{fetched}}/{{total}}</p>

                        <button class="button pink icon-btn-text" @click="save">{{trans('core_table.buttons.save_items')}}
                        </button>

                    </div>

                </div>

            </div>

        </transition>

    </div>

</template>

<script>
export default {
    data() {
        return {
            show: {
                form: false
            },
            form: {
                title: '',
                article: '',
                id: '',
                ident: this.$route.params.ident || 0
            },
            users: {},
            fetched: 0,
            total: 0,
            noFound: 'Не найдено пользователей',
            selects: {}
        }
    },
    computed: {
        checkboxState() {
            let checked = false;
            let unchecked = false;

            for (let field in this.users) {
                if (this.users[field].checkbox == true) {
                    checked = true;
                } else {
                    unchecked = true;
                }
            }

            return {checked, indeterminate: checked && unchecked}
        },
    },
    methods: {
        showModal() {
            this.show.form = !this.show.form;

            setTimeout(function () {
                document.querySelectorAll('.find-products-form .el-select__caret').forEach(function (arrow) {
                    arrow.insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
                });
            }, 10)
        },
        save() {
            const name = this.$route.name.replace('.show', '') + '.addUsers';
            let users = this.users.filter((user) => user.checkbox);

            this.pushAxiosPost(route(name, this.$route.params.ident), {users}, (response) => {
                this.$events.fire('update-needed');
                this.$events.fire('hard-refresh');
                this.show.form = !this.show.form;
            });
        },
        toggleAll() {
            let to = true;

            for (let field in this.users) {
                if (this.users[field].checkbox == true) {
                    to = false;
                }
            }

            for (let field in this.users) {
                this.users[field].checkbox = to;
            }
        },
        clearUsers() {
            this.users = {};
        },
        getKey(key) {
            let number = parseInt(key);

            return isNaN(number) ? key : number;
        }
    },
    mounted() {
        const name = this.$route.name.replace('.show', '') + '.getUsersList';

        this.pushAxiosGet(route(name, {form: JSON.stringify(this.form)}), (response) => {
            this.users = response.data;
            this.fetched = response.to;
            this.total = response.total;

            for (let user in this.users) {
                this.$set(this.users[user], 'checkbox', false);
            }

            if (this.total === 0) {
                setTimeout(() => {
                    this.$refs.emptyBlock.classList.add('blink-pink-text');

                    setTimeout(() => {
                        this.$refs.emptyBlock.classList.remove('blink-pink-text');
                    }, 200);
                }, 200);
            }
        });
    }
}
</script>

<style>
</style>
