<template>

    <button v-html="this.generateSvg('broken', ucfirst(trans('core_table.buttons.exportExcel')))"
            class="button black icon-btn-text"
            @click="getFile">
    </button>

</template>

<script>
export default {
    props: {
        checkedItems: {},
        data: {},
    },
    data() {
        return {
            show: {
                form: false
            }
        }
    },
    methods: {
        getFile() {
            const routeName = this.$route.name.replace('.show', '') + '.exportExcel';

            let params = this.data;
                params.checkedItems = JSON.stringify(this.checkedItems.map((item) => item.id));

            axios({
                url: route(routeName, params),
                method: 'GET',
                responseType: 'blob', // important
            }).then((response) => {
                const filename = response.headers['content-disposition'].match(/\"(.*)\"/)[1] || 'index.xlsx';
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');

                link.href = url;
                link.setAttribute('download', filename);

                document.body.appendChild(link);

                link.click();
                link.parentNode.removeChild(link);
            });
        }
    }
}
</script>

<style>
</style>
