<template>

        <div>
            <el-form @submit.native.prevent>

                <el-form-item :label="trans('ecommerce_table-fields.stock.date_start')">
                    <el-input type="text"
                              v-model="form.date_start"
                              name="log_filter[date_start]">
                    </el-input>
                </el-form-item>

                <el-form-item :label="trans('ecommerce_table-fields.stock.date_end')">
                    <el-input type="text"
                              v-model="form.date_end"
                              name="log_filter[date_end]">
                    </el-input>
                </el-form-item>

                <el-form-item v-for="(select, id) in selects"
                              :key="id"
                              :label="trans('ecommerce_table-fields.stores.' + id)">

                    <el-select v-model="form[id]" :name="'log_filter[' + id + ']'" popper-class="three small-height" filterable clearable>

                        <el-option v-for="item in select"
                                   :key="item.id"
                                   :label="item.title"
                                   :class="id + '_' + (item.depth || 0)"
                                   :value="getKey(item.id)">
                            <span>{{ item.title }}</span>
                        </el-option>

                    </el-select>

                </el-form-item>

                <button class="button pink icon-btn-text" @click="getProducts">
                    {{trans('core_table.buttons.get_products')}}
                </button>

            </el-form>
        </div>


</template>

<script>
export default {
    data() {
        return {
            form: {
                title: '',
                date_start: '',
                date_end: '',
                id: '',
                ident: this.$route.params.ident || 0
            },
            products: {},
            fetched: 0,
            total: 0,
            noFound: 'По запросу не найдено товаров',
            selects: {}
        }
    },
    computed: {
        checkboxState() {
            let checked = false;
            let unchecked = false;

            for (let field in this.products) {
                if (this.products[field].checkbox == true) {
                    checked = true;
                } else {
                    unchecked = true;
                }
            }

            return {checked, indeterminate: checked && unchecked}
        },
    },
    methods: {
        getProducts() {
            const name = this.$route.name.replace('.show', '') + '.filterProductList';

            this.pushAxiosGet(route(name, {form: JSON.stringify(this.form)}), (response) => {
                this.products = response.data;
                this.fetched = response.to;
                this.total = response.total;

                for (let product in this.products) {
                    this.$set(this.products[product], 'checkbox', false);
                }

                if (this.total === 0) {
                    setTimeout(() => {
                        this.$refs.emptyBlock.classList.add('blink-pink-text');

                        setTimeout(() => {
                            this.$refs.emptyBlock.classList.remove('blink-pink-text');
                        }, 200);
                    }, 200);
                }
            });
        },
        getKey(key) {
            let number = parseInt(key);

            return isNaN(number) ? key : number;
        }
    },
    mounted() {
        this.pushAxiosGet(route('api.backend.ecommerce_stock.relationsLists'), (response) => {
            this.selects = response;
            this.selects.each((select, id) => {
                Vue.set(this.form, id, {})
            });
        });
    }
}
</script>

<style>
</style>
