<template>

    <div class="find-products">

        <button v-html="this.generateSvg('plus', trans('core_table.buttons.find_add_product'))"
                type="button"
                class="button black icon-btn-text"
                @click="showModal">
        </button>


        <transition v-on:enter="enterModal" v-on:leave="leaveModal">

            <div v-if="show.form" class="find-products-wrapper modal-wrapper">

                <div class="modal-overlay" @click="show.form = !show.form"></div>

                <div class="modal-content find-products-form-wrapper">

                    <el-form class="find-products-form inner-editing" @submit.native.prevent>

                        <p class="modal-caption">{{trans('ecommerce_table-fields.products.search')}}</p>

                        <button @click="show.form = !show.form"
                                v-html="this.generateSvg('close-thin', '')"
                                class="icon-btn close-modal">
                        </button>

                        <el-form-item :label="trans('ecommerce_table-fields.products.article')">
                            <el-input type="text"
                                      v-model="form.article"
                                      name="article">
                            </el-input>
                        </el-form-item>

                        <button class="button pink icon-btn-text" @click="getProducts">
                            {{trans('core_table.buttons.get_products')}}
                        </button>

                    </el-form>

                    <div class="white-bg" ref="emptyBlock" v-if="products !== undefined && products.length === 0">
                        <p class="modal-caption empty">{{ noFound }}</p>
                    </div>

                    <div v-if="products !== undefined && products.length" class="table-wrapper w-full">
                        <p class="modal-caption">{{trans('ecommerce_table-fields.products.finded')}}</p>

                        <div class="table-overflow">
                            <table class="table-flex w-full" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.products.title')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.products.article')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.products.price')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.stock.quantity')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.stock.add_to_stock')}}</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="el-table-body vuetable-body">
                                    <tr v-for="product in products" class="el-table__row list-item">
                                        <td>
                                            <div class="w-full text-center">{{product.title || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{product.article || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">
                                                <span v-if="product.discount === undefined || product.discount == 0">{{product.price || ''}}</span>
                                                <span v-else><s>{{numberWithSpaces(product.price)}}</s> {{numberWithSpaces(product.price * product.discount / 100)}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{product.quantity || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">
                                                <div class="change-quantity">

                                                    <p @click="product.storage_quantity > 0 ? product.storage_quantity-- : product.storage_quantity">
                                                        <svg class="minus" viewBox="0 0 16 16">
                                                            <line x1="0.5" y1="8" x2="15.5" y2="8" style="fill: none;stroke: currentColor;stroke-linecap: round;stroke-linejoin: round;"></line>
                                                        </svg>
                                                    </p>

                                                    {{ product.storage_quantity }}

                                                    <p @click="product.storage_quantity++">
                                                        <svg class="plus" viewBox="0 0 16 16">
                                                            <line x1="8" y1="0.5" x2="8" y2="15.5" style="fill: none;stroke: currentColor;stroke-linecap: round;stroke-linejoin: round"></line>
                                                            <line x1="0.5" y1="8" x2="15.5" y2="8" style="fill: none;stroke: currentColor;stroke-linecap: round;stroke-linejoin: round;"></line>
                                                        </svg>
                                                    </p>

                                                    <button type="button"
                                                            v-visible="product.storage_quantity !== initialValue"
                                                            @click="save(product)"
                                                            v-html="generateSvg('save-icon' ,'')">
                                                    </button>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p>{{fetched}}/{{total}}</p>

                    </div>

                </div>

            </div>

        </transition>

    </div>

</template>

<script>
export default {
    data() {
        return {
            show: {
                form: false
            },
            form: {
                article: '',
            },
            products: {},
            initialValue: 0,
            fetched: 0,
            total: 0,
            noFound: 'По запросу не найдено товаров'
        }
    },
    computed: {
    },
    methods: {
        showModal() {
            this.show.form = !this.show.form;

            setTimeout(function () {
                document.querySelectorAll('.find-products-form .el-select__caret').forEach(function (arrow) {
                    arrow.insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
                });
            }, 10)
        },
        getProducts() {
            const name = this.$route.name.replace('.show', '') + '.filterProductList';

            this.pushAxiosGet(route(name, {form: JSON.stringify(this.form)}), (response) => {
                this.products = response.data;
                this.fetched = response.to;
                this.total = response.total;

                for (let product in this.products) {
                    this.$set(this.products[product], 'storage_quantity', 0);
                }

                if (this.total === 0) {
                    setTimeout(() => {
                        this.$refs.emptyBlock.classList.add('blink-pink-text');

                        setTimeout(() => {
                            this.$refs.emptyBlock.classList.remove('blink-pink-text');
                        }, 200);
                    }, 200);
                }
                setTimeout(() => {
                    if (this.total === 0) {
                        Velocity(document.querySelector(".modal-caption.empty"), "scroll", {
                            container: document.querySelector(".find-products-form-wrapper"),
                            duration: 450,
                            easing: "ease-in"
                        });
                    } else {
                        Velocity(document.querySelector(".find-products-wrapper .table-wrapper"), "scroll", {
                            container: document.querySelector(".find-products-form-wrapper"),
                            duration: 450,
                            easing: "ease-in"
                        });
                    }
                }, 300);
            });
        },
        save(item) {
            const name = this.$route.name.replace('.show', '') + '.addProduct';

            this.pushAxiosPost(route(name, item.id), item, (response) => {

                this.$notify.success({
                    title: 'Success!',
                    message: response.message,
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });

                this.$events.fire('update-needed');
                this.$events.fire('hard-refresh');

            });
        }
    }
}
</script>

<style>
</style>
