<template>

    <div class="find-products">

        <button v-html="this.generateSvg('plus', trans('core_table.buttons.find_add_product'))"
                type="button"
                class="button black icon-btn-text"
                @click="showModal">
        </button>


        <transition v-on:enter="enterModal" v-on:leave="leaveModal">

            <div v-if="show.form" class="find-products-wrapper modal-wrapper">

                <div class="modal-overlay" @click="show.form = !show.form"></div>

                <div class="modal-content find-products-form-wrapper">

                    <el-form class="find-products-form inner-editing" @submit.native.prevent>

                        <p class="modal-caption">{{trans('ecommerce_table-fields.products.search')}}</p>

                        <button @click="show.form = !show.form"
                                v-html="this.generateSvg('close-thin', '')"
                                class="icon-btn close-modal">
                        </button>

                        <el-form-item :label="trans('ecommerce_table-fields.products.title')">
                            <el-input type="text"
                                      v-model="form.title"
                                      name="title">
                            </el-input>
                        </el-form-item>

                        <el-form-item :label="trans('ecommerce_table-fields.products.article')">
                            <el-input type="text"
                                      v-model="form.article"
                                      name="article">
                            </el-input>
                        </el-form-item>

                        <el-form-item v-for="(select, id) in selects"
                                      :key="id"
                                      :label="trans('ecommerce_table-fields.products.' + id)">

                            <el-select v-model="form[id]" popper-class="three small-height" filterable clearable>

                                <el-option v-for="item in select"
                                           :key="item.id"
                                           :label="item.title"
                                           :class="id + '_' + (item.depth || 0)"
                                           :value="getKey(item.id)">
                                    <span>{{ item.title }}</span>
                                </el-option>

                            </el-select>

                        </el-form-item>

                        <el-form-item :label="'ID'">
                            <el-input type="text"
                                      v-model="form.id"
                                      name="id">
                            </el-input>
                        </el-form-item>

                        <button class="button pink icon-btn-text" @click="getProducts">
                            {{trans('core_table.buttons.get_products')}}
                        </button>

                    </el-form>

                    <div class="white-bg" ref="emptyBlock" v-if="products !== undefined && products.length === 0">
                        <p class="modal-caption empty">{{ noFound }}</p>
                    </div>

                    <div v-if="products !== undefined && products.length" class="table-wrapper w-full">
                        <p class="modal-caption">{{trans('ecommerce_table-fields.products.finded')}}</p>

                        <div class="table-overflow">
                            <table class="table-flex w-full" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <label class="checkbox cell">
                                                <input type="checkbox" @change="toggleAll" v-bind="checkboxState">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">ID</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.products.title')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id" v-if="products[0].article">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.products.article')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.products.category')}}</div>
                                        </th>
                                        <th class="is-leaf vuetable-th-component-id">
                                            <div class="cell caption">{{trans('ecommerce_table-fields.products.price')}}</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="el-table-body vuetable-body">
                                    <tr v-for="product in products" :key="product.id" class="el-table__row list-item">
                                        <td>
                                            <label role="checkbox" class="checkbox cell">
                                                <input aria-hidden="true" v-model="product.checkbox" type="checkbox">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{product.id || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{product.title || ''}}</div>
                                        </td>
                                        <td v-if="products[0].article">
                                            <div class="w-full text-center">{{product.article || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">{{product.category_title || ''}}</div>
                                        </td>
                                        <td>
                                            <div class="w-full text-center">
                                                <span v-if="product.discount === undefined || product.discount == 0">{{product.price || ''}}</span>
                                                
                                                <span v-else><s>{{numberWithSpaces(product.price)}}</s> {{numberWithSpaces(product.price * product.discount / 100)}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p>{{fetched}}/{{total}}</p>

                        <button class="button pink icon-btn-text" @click="save">{{trans('core_table.buttons.save_items')}}
                        </button>

                    </div>

                </div>

            </div>

        </transition>

    </div>

</template>

<script>
export default {
    data() {
        return {
            show: {
                form: false
            },
            form: {
                title: '',
                article: '',
                id: '',
                ident: this.$route.params.ident || 0
            },
            products: {},
            fetched: 0,
            total: 0,
            noFound: 'По запросу не найдено товаров',
            selects: {}
        }
    },
    computed: {
        checkboxState() {
            let checked = false;
            let unchecked = false;

            for (let field in this.products) {
                if (this.products[field].checkbox == true) {
                    checked = true;
                } else {
                    unchecked = true;
                }
            }

            return {checked, indeterminate: checked && unchecked}
        },
    },
    methods: {
        showModal() {
            this.show.form = !this.show.form;

            setTimeout(function () {
                document.querySelectorAll('.find-products-form .el-select__caret').forEach(function (arrow) {
                    arrow.insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
                });
            }, 10)
        },
        getProducts() {
            const name = this.$route.name.replace('.show', '') + '.filterProductList';

            this.pushAxiosGet(route(name, {form: JSON.stringify(this.form)}), (response) => {
                this.products = response.data;
                this.fetched = response.to;
                this.total = response.total;

                for (let product in this.products) {
                    this.$set(this.products[product], 'checkbox', false);
                }

                if (this.total === 0) {
                    setTimeout(() => {
                        this.$refs.emptyBlock.classList.add('blink-pink-text');

                        setTimeout(() => {
                            this.$refs.emptyBlock.classList.remove('blink-pink-text');
                        }, 200);
                    }, 200);
                }
                setTimeout(() => {
                    if (this.total === 0) {
                        Velocity(document.querySelector(".modal-caption.empty"), "scroll", {
                            container: document.querySelector(".find-products-form-wrapper"),
                            duration: 450,
                            easing: "ease-in"
                        });
                    } else {
                        Velocity(document.querySelector(".find-products-wrapper .table-wrapper"), "scroll", {
                            container: document.querySelector(".find-products-form-wrapper"),
                            duration: 450,
                            easing: "ease-in"
                        });
                    }
                }, 300);
            });
        },
        save() {
            const name = this.$route.name.replace('.show', '') + '.addProducts';
            let products = this.products.filter((product) => product.checkbox);

            this.pushAxiosPost(route(name, this.$route.params.ident), {products}, (response) => {
                this.$events.fire('update-needed');
                this.$events.fire('hard-refresh');
                this.clearProducts();
            });
        },
        toggleAll() {
            let to = true;

            for (let field in this.products) {
                if (this.products[field].checkbox == true) {
                    to = false;
                }
            }

            for (let field in this.products) {
                this.products[field].checkbox = to;
            }
        },
        clearProducts() {
            this.products = {};
        },
        getKey(key) {
            let number = parseInt(key);

            return isNaN(number) ? key : number;
        }
    },
    mounted() {
        this.pushAxiosGet(route('api.backend.ecommerce_product.relationsLists'), (response) => {
            this.selects = response;
            this.selects.each((select, id) => {
                Vue.set(this.form, id, {})
            });
        });
    }
}
</script>

<style>
</style>
