<template>

    <div class="flex button sitemap-buttons">

        <button type="button"
                v-html="this.generateSvg('broken', ucfirst(trans('core_table.buttons.generateSitemap')) )"
                class="button black icon-btn-text"
                @click="generateSitemap">
        </button>

        <a href="/sitemap.xml"
           target="_blank"
           class="button black icon-btn-text"
           v-html="this.generateSvg('broken', ucfirst(trans('core_table.buttons.showSitemap')) )">
        </a>

        <a href="/sitemap_image.xml"
           target="_blank"
           class="button black icon-btn-text"
           v-html="this.generateSvg('broken', ucfirst(trans('core_table.buttons.showSitemapImage')) )">
        </a>

    </div>

</template>

<script>
export default {
    props: {
        checkedItems: {},
        data: {},
    },
    data() {
        return {
            show: {
                form: false
            }
        }
    },
    methods: {
        generateSitemap() {
            axios({
                url: route('api.backend.seo_structure.generateSitemap'),
                method: 'POST',
            }).then((response) => {
                if (response.data.errors) {
                    this.$notify.error({
                        title: 'Error!',
                        message: response.data.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });
                } else {
                    this.$notify.success({
                        title: 'Success!',
                        message: response.data.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });
                }
            });
        }
    }
}
</script>

<style>
</style>
