<template>
    <div class="upload-file-excel">

        <button type="button"
                class="button black icon-btn-text"
                @click="showUpload = !showUpload"
                v-html="this.generateSvg('broken', ucfirst(trans('core_table.buttons.importExcel')))">
        </button>

        <transition v-on:enter="enterModal" v-on:leave="leaveModal">

            <div class="upload-modal modal-wrapper" v-show="showUpload">

                <div class="modal-overlay" @click="showUpload = !showUpload"></div>

                <div class="upload-element-wrapper modal-content">

                    <p class="modal-caption">Загрузите файл</p>

                    <button type="button"
                            class="icon-btn close-modal"
                            v-html="generateSvg('close-thin', '')"
                            @click="showUpload = !showUpload">
                    </button>

                    <p class="description"><b>Требование к файлу:</b></p>
                    <p class="description">формат xls/xlsx</p>
                    <p class="description">название первой колонки - Старый УРЛ</p>
                    <p class="description">название второй колонки - Новый УРЛ</p>
                    <p class="description">нужно добавлять полные ссылки</p>

                    <p class="file-name" v-if="fileName"><b>Вы собираетесь загрузить файл: </b>{{ fileName }}</p>

                    <label class="upload-element" for="fileExcel">
                        <input id="fileExcel" type="file" name="fileExcel" accept=".xls, .xlsx" ref="import_upload" @change="handleChange(this)">

                        <button class="button black icon-btn-text file-button"
                                type="button"
                                v-html="this.generateSvg('broken', 'Выбрать файл')">
                        </button>
                    </label>

                    <button @click="processFile"
                            type="button"
                            ref="loadButton"
                            class="button pink icon-btn-text load-button"
                            v-html="this.generateSvg('broken', 'Загрузить')">
                    </button>
                </div>

            </div>

        </transition>

    </div>
</template>

<script>
export default {
    data() {
        return {
            showUpload: false,
            fileName: ''
        };
    },
    methods: {
        handleChange() {
            let input = this.$refs.import_upload;
            this.fileName = input.files[0].name;
        },
        processFile() {
            let importExcel = this.$refs.import_upload.files[0];

            this.$refs.loadButton.classList.add('disabled');

            let formData = new FormData();
            formData.append('import_excel', importExcel);

            this.pushAxiosPost(route(this.$route.name.replace('.show', '') + '.importExcel'), formData, (response) => {
                if (response.errors) {
                    this.$notify.error({
                        title: 'Error!',
                        message: response.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });
                } else {
                    this.showUpload = false;
                    this.fileName = '';
                    this.$refs.loadButton.classList.remove('disabled');

                    this.$notify.success({
                        title: 'Success!',
                        message: response.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });

                    var self = this;

                    setTimeout(function() {
                        self.$router.go(self.$router.currentRoute);
                    }, 500);
                }
            });
        }
    }
}
</script>

<style>
</style>
