<template>

    <div>
        <button v-html="this.generateSvg('broken', ucfirst(trans('core_table.buttons.queueStart')) )"
                class="button black icon-btn-text"
                @click="queueStart">
        </button>
    </div>

</template>

<script>
export default {
    props: {
        checkedItems: {},
        data: {},
    },
    data() {
        return {
            show: {
                form: false
            }
        }
    },
    methods: {
        queueStart() {
            axios({
                url: route('api.backend.logs_job.start'),
                method: 'POST',
            }).then((response) => {
                if (response.errors) {
                    this.$notify.error({
                        title: 'Error!',
                        message: response.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });
                } else {
                    this.$notify.success({
                        title: 'Success!',
                        message: response.message,
                        offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                    });
                }
            });
        }
    }
}
</script>

<style scoped>
</style>
