
html, body{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.content{
    padding: 20px;
}



.loading-custom{
    display: none;
    position: absolute;
    z-index: 999999999;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
}
.loading-custom>svg circle{
    -webkit-animation: loading-dash 1.5s ease-in-out infinite;
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #ef6089;
    stroke-linecap: round;
}
.loading-custom>svg{
    height: 42px;
    width: 42px;
    -webkit-animation: loading-rotate 2s linear infinite;
    animation: loading-rotate 2s linear infinite;
}



@media (max-width: 1200px) {
    .content{
        padding-top: 15px;
    }
}
@media (max-width: 900px) {
    .content{
        padding-bottom: 50px;
    }
}
@media (max-width: 800px) {
    .content{
        padding: 15px 5px 50px 5px;
    }
}