
@font-face{
    font-family: 'Segoe UI';
    src: url('../fonts/segoe/normal/SegoeUI.svg');
    src: local('Open Sans'), local('OpenSans'),
    url('../fonts/segoe/normal/SegoeUI.svg?#iefix') format('embedded-opentype'),
    url('../fonts/segoe/normal/SegoeUI.woff2') format('woff2'),
    url('../fonts/segoe/normal/SegoeUI.woff') format('woff'),
    url('../fonts/segoe/normal/SegoeUI.svg') format('truetype'),
    url('../fonts/segoe/normal/SegoeUI.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe UI';
    src: url('../fonts/segoe/bold/SegoeUI-Bold.svg');
    src: local('Open Sans'), local('OpenSans'),
    url('../fonts/segoe/bold/SegoeUI-Bold.svg?#iefix') format('embedded-opentype'),
    url('../fonts/segoe/bold/SegoeUI-Bold.woff2') format('woff2'),
    url('../fonts/segoe/bold/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/segoe/bold/SegoeUI-Bold.svg') format('truetype'),
    url('../fonts/segoe/bold/SegoeUI-Bold.svg#OpenSans') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe UI';
    src: url('../fonts/segoe/light/SegoeUI-Light.svg');
    src: local('Open Sans'), local('OpenSans'),
    url('../fonts/segoe/light/SegoeUI-Light.svg?#iefix') format('embedded-opentype'),
    url('../fonts/segoe/light/SegoeUI-Light.woff2') format('woff2'),
    url('../fonts/segoe/light/SegoeUI-Light.woff') format('woff'),
    url('../fonts/segoe/light/SegoeUI-Light.svg') format('truetype'),
    url('../fonts/segoe/light/SegoeUI-Light.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe UI';
    src: url('../fonts/segoe/semibold/SegoeUI-SemiBold.svg');
    src: local('Open Sans'), local('OpenSans'),
    url('../fonts/segoe/semibold/SegoeUI-SemiBold.svg?#iefix') format('embedded-opentype'),
    url('../fonts/segoe/semibold/SegoeUI-SemiBold.woff2') format('woff2'),
    url('../fonts/segoe/semibold/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/segoe/semibold/SegoeUI-SemiBold.svg') format('truetype'),
    url('../fonts/segoe/semibold/SegoeUI-SemiBold.svg#OpenSans') format('svg');
    font-weight: 500;
    font-style: normal;
}
