<template>
    <div class="container mx-auto">

        <!-- Form -->
        <el-form ref="form" :model="pageData" label-width="120px" label-position="top" v-loading.body="loading">

            <!-- Tabs -->
            <el-tabs v-model="activeTab" type="border-card">

                <!-- Tab For Each Language -->
                <el-tab-pane :label="localeArray.name"
                                v-for="(localeArray, locale) in locales"
                                :key="localeArray.name"
                                :name="locale">
                    <el-row :gutter="20">
                        <el-col :span="16">
                            <span slot="label" :class="{'error' : form.errors.has(locale)}">{{ localeArray.name
                            }}</span>

                            <el-form-item label="Title">
                                <el-input placeholder="Title" v-model="pageData[locale].title"></el-input>
                            </el-form-item>



                            <el-form-item label="Body">

                                <text-editor v-model="pageData[locale].body" @mutatedValue="value => { pageData[locale].body = value }"></text-editor>

                            </el-form-item>

                        </el-col>
                        <el-col :span="8">
                            <!-- Accordion for page params-->
                            <el-collapse accordion>


                                <el-collapse-item title="Page params" name="1">

                                    <el-form-item label="Homepage">
                                        <el-checkbox v-model="pageData.is_home" :true-label="1" :false-label="0" name="is_home" label="Is homepage"></el-checkbox>
                                    </el-form-item>

                                    <el-form-item label="Template">

                                        <el-select v-model="pageData.template" filterable>
                                            <el-option v-for="(template, key) in templates" :key="template"
                                                :label="template" :value="key">
                                            </el-option>
                                        </el-select>

                                    </el-form-item>

                                </el-collapse-item>


                                <el-collapse-item title="Meta data" name="2">

                                    <el-form-item label="Meta title">
                                        <el-input v-model="pageData[locale].meta_title"></el-input>
                                    </el-form-item>

                                    <el-form-item label="Meta description">
                                        <el-input type="textarea"
                                                v-model="pageData[locale].meta_description"></el-input>
                                    </el-form-item>

                                </el-collapse-item>


                                <el-collapse-item title="Facebook data" name="3">

                                    <el-form-item label="OG title">
                                        <el-input v-model="pageData[locale].og_title"></el-input>
                                    </el-form-item>

                                    <el-form-item label="OG description">
                                        <el-input type="textarea"
                                                v-model="pageData[locale].og_description"></el-input>
                                    </el-form-item>

                                    <el-form-item label="OG type">
                                        <el-select v-model="pageData[locale].og_type"
                                                placeholder="OG type">
                                            <el-option label="Website"
                                                    value="website"></el-option>
                                            <el-option label="Product"
                                                    value="product"></el-option>
                                            <el-option label="Article"
                                                    value="article"></el-option>
                                        </el-select>
                                    </el-form-item>

                                </el-collapse-item>


                            </el-collapse>
                        </el-col>
                    </el-row>
                </el-tab-pane>
            </el-tabs>

            <el-form-item label="Slug">
                <el-input placeholder="Slug" v-model="pageData.slug">
                    <template slot="append">
                        <el-button @click="generateSlug($event)">Generate</el-button>
                    </template>
                </el-input>
            </el-form-item>

            <el-form-item label="Status">
                <el-checkbox v-model="pageData.status">Activated</el-checkbox>
            </el-form-item>

            <!-- Buttons -->
            <el-form-item class="text-center px-4 py-2 m-2">
                <el-button type="primary" v-on:click="onSubmit" :loading="loading">Save</el-button>
                <el-button v-on:click="onCancel">Cancel</el-button>
            </el-form-item>

        </el-form>

    </div>
</template>

<script>
    import helpers from '../../services/helpers'
    import textEditor from '../../components/fields/text-editor'
    import Form from 'form-backend-validation'

    export default {
        components: {
            'text-editor': textEditor
        },
        props: {
            locales: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                pageData: _(this.locales)
                    .keys()
                    .map(locale => [locale, {
                        title: '',
                        body: '',
                        meta_title: '',
                        meta_description: '',
                        og_title: '',
                        og_description: '',
                        og_type: '',
                    }])
                    .fromPairs()
                    .merge({ template: 'default', is_home: 0, medias_single: [] })
                    .value(),
                templates: {
                    index: 'index',
                    home: 'home',
                    default: 'default',
                },
                form: new Form(),
                loading: false,
                activeTab: helpers.appStorage().currentDefaultLocale || 'en',
            }
        },
        methods: {
            onSubmit() {
                this.form = new Form(this.pageData);
                this.loading = true;

                this.form.post(this.getRoute())
                    .then((response) => {
                        this.loading = false;

                        this.$message({
                            type: 'success',
                            message: response.message,
                            center: true
                        });
                        if (this.$route.params.id) {
                            this.$router.push({
                                name: 'api.backend.page.show', 
                                params: { id: this.$route.params.id }
                            });
                        } else {
                            this.pushRoute('api.backend.page');
                        }
                    })
                    .catch((error) => {
                        console.log('Error - ' + error);

                        this.loading = false;
                        this.$message.error('Oops, this is a error!');
                    });
            },
            onCancel() {
                this.pushRoute('api.backend.page');
            },
            generateSlug(event) {
                this.pageData.slug = this.slugify(this.pageData[helpers.appStorage().currentDefaultLocale].title);
            },
            getRoute() {
                if (this.$route.params.id !== undefined) {
                    return route('api.backend.page.store', { parent_id: this.$route.params.id });
                }

                return route('api.backend.page.store');
            }
        },
    }
</script>

<style>
</style>
