<template>
    <div class="container mx-auto">

        <div class="flex justify-between items-center">
            <el-button v-if="table.parentId[table.parentId.length - 1] > 0" @click="goBack" type="primary"><i class="fas fa-long-arrow-alt-left"></i> back</el-button>

            <filter-bar></filter-bar>

            <!-- Add button -->
            <router-link :to="{name: 'api.backend.page.create', params: { id: table.parentId[table.parentId.length-1] }}">
                <el-button type="primary"><i class="el-icon-edit"></i>{{ this.ucfirst(trans('pages.create page')) }}</el-button>
            </router-link>

        </div>

        <!-- Table component -->
        <data-table :apiRoute="table.apiRoute" :fields="table.columns" :sortOrder="table.sortOrder"></data-table>

    </div>
</template>

<script>
    import dataTable from '../../components/data-table'
    import filterBar from '../../components/elements/filter-bar'

    export default {
        components: {
            dataTable,
            filterBar
        },
        data() {
            return {
                isChecked: false,
                table: {
                    parentId: [0],
                    apiRoute: route('api.backend.page.index', { pageId: this.$route.params.id }),
                    columns: [
                        {
                            name: '__checkbox',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: '__component:custom-status',
                            title: 'Status',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            url: {'online': 'api.backend.page.online-all', 'offline': 'api.backend.page.offline-all'},
                            feed: {},
                            event: 'change-status'
                        },
                        {
                            name: 'translations.title',
                            title: 'Title',
                            sortField: 'translations.title',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            callback: 'toFolder'
                        },
                        {
                            name: 'slug',
                            title: 'Slug',
                            sortField: 'slug',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                        },
                        {
                            name: 'created_at',
                            title: 'Created',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            callback: 'formatDate|DD.MM.YYYY'
                        },
                        {
                            name: '__component:custom-actions',
                            options: {
                                buttonParams: {
                                    view: true,
                                    edit: true,
                                    delete: true
                                }
                            },
                            title: 'Actions',
                            titleClass: 'text-center',
                            dataClass: 'text-center'
                        }
                    ],
                    sortOrder: [
                        {
                            field: 'id',
                            sortField: 'id',
                            direction: 'asc'
                        }
                    ]
                }
            }
        },
        methods: {
            changeStatus(items, status) {
                this.pushAxiosPut(route('api.backend.page.changeStatus'), { status, items }, (response) => {
                    this.table.columns[1].feed = response;
                });
            },
            toFolder(value, item) {
                value = value ? value : '';

                if (item && item.children_count) {
                    return `<span style="cursor: pointer;"><i class="fas fa-folder-open"></i> ${value} (${item.children_count})</span>`;
                }

                return `<span style="cursor: pointer;"> ${value}</span>`;
            },
            goBack() {
                this.table.parentId.pop()
                const id = this.table.parentId[this.table.parentId.length-1];

                if (id) {
                    this.$router.push({ name: 'api.backend.page.show', params: {id: id} });
                } else {
                    this.$router.push({ name: 'api.backend.page'});
                }

                this.$nextTick(function() {
                    this.table.apiRoute = route('api.backend.page.index', { pageId: id });
                })
            }
        },
        events: {
            'view-item'(data) {
                window.open('/' + data.slug, '_blank');
            },
            'change-status'(items, state) {
                this.changeStatus(items, state);
            },
            'cell-clicked'(item, field) {
                if (field.name == 'translations.title') {
                    if (!this.table.parentId.includes(item.parent_id)) {
                        this.table.parentId.push(item.parent_id);
                    }

                    if (!this.table.parentId.includes(item.id)) {
                        this.table.parentId.push(item.id);
                    }
                    this.$events.fire('filter-bar-reset')
                    this.table.apiRoute = route('api.backend.page.index', { pageId: item.id });
                    this.$router.push({ name: 'api.backend.page.show', params: {id: item.id} });
                }
            },
            'data_loaded' (items) {
                if (items[0] && !this.table.parentId.includes(items[0].parent_id)) {
                    this.table.parentId.push(items[0].parent_id);
                }
                
                if (parseInt(this.$route.params.id) && !this.table.parentId.includes(parseInt(this.$route.params.id))) {
                    this.table.parentId.push(parseInt(this.$route.params.id));
                }
            }
        }
    };
</script>

<style>
</style>
