
.sitemap-buttons .button{
    flex-flow: row nowrap;
    white-space: nowrap;
}
@media (min-width: 1001px) and (max-width: 1400px) {
    .sitemap-buttons .button{
        padding: 5px 10px;
        font-size: 12px;
    }
    .sitemap-buttons .button svg{
        margin-right: 5px;
    }
}
@media (max-width: 1000px) {
    .import-excel>.button,
    .button.export-excel,
    .sitemap-buttons .button{
        flex-flow: row nowrap;
        white-space: nowrap;
        font-size: 0;
        min-width: 1px;
    }
    .import-excel>.button svg,
    .button.export-excel svg,
    .sitemap-buttons .button svg{
        margin: 0;
    }
}