.check-field{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.check-field b{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
}