.table-wrapper table td.index-body,
.table-wrapper table th.vuetable-th-body{
    min-width: 300px;
}
.html-text .modal-content{
    padding-top: 60px;
    max-width: calc(100% - 40px);
    text-align: left;
}

@media (max-width: 800px) {
    .html-text .modal-content{
        max-width: calc(100% - 10px);
    }
}