
.css-tooltip {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-tooltip img {
    position: absolute;
    transition: opacity .2s linear;
    opacity: 0;
    right: 100%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 200;
    min-width: 150%;
    pointer-events: none;
}

.css-tooltip:hover img {
    opacity: 1;
}