.table-body {
    overflow-x: auto;
    position: relative;
}

.settings-table .el-tab-pane::-webkit-scrollbar,
.table-body::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.settings-table .el-tab-pane::-webkit-scrollbar-thumb,
.table-body::-webkit-scrollbar-thumb {
    background: #231f20;
}

.settings-table .el-tab-pane::-webkit-scrollbar-track,
.table-body::-webkit-scrollbar-track {
    background: rgba(35, 31, 32, 0.1);
}

.el-tabs__content > span{
    position: absolute;
    z-index: 50;
    top: 10px;
    bottom: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s linear;
    width: 50px;
    will-change: transform, opacity;
}
.table-wrapper > span {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s linear;
    width: 50px;
    will-change: transform, opacity;
}

.el-tabs__content > span.table-before{
    left: 10px;
}
.table-wrapper > span.table-before,
.table-wrapper > span.before {
    left: 0;
}

.el-tabs__content > span.table-before,
.table-wrapper.show-scroll > span.table-before,
.table-wrapper.show-scroll > span.before {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.3) 70%);
}

.el-tabs__content > span.table-after{
    right: 10px;
}
.table-wrapper > span.table-after,
.table-wrapper > span.after {
    right: 0;
}

.show-scroll .el-tabs__content > span.table-after,
.table-wrapper.show-scroll > span.table-after,
.table-wrapper.show-scroll > span.after {
    opacity: 1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.3) 70%);
}
