<template>
    <div class="container mx-auto">

        <h1>{{ trans('dashboard_dashboard.title') }}</h1>

        <h3>{{ trans('dashboard_dashboard.description') }}</h3>

    </div>
</template>

<script>
export default {
    methods: {
        fetchParameters() {
            this.pushAxiosGet(route('api.backend.dashboard.index'), (response) => {});
        },
    },
    created: function () {
        // this.fetchParameters();
    }
};
</script>

<style>
</style>
