<template>

    <div class="w-full flex flex-row flex-wrap">

        <div class="w-full">
            <button @click="toggleCreateGallery"
                    v-html="this.generateSvg('plus', this.trans('gallery_table-fields.buttons.add gallery') )"
                    class="button black icon-btn-text action-button"
                    :class="[validateUserPermissionCreateByRouteName($route.name) ? '' : 'disabled']">
            </button>
        </div>
        <!-- --------- END TOP NAV --------->

        <!----------- GALLERY ------- -->
        <div class="flex w-full gallery-wrapper">

            <div v-for="(gallery, key) in galleries"
                 :class="['gallery-item', gallery.status ? '' : 'show-disabled']"
                 :key="key">

                <router-link :to="{name: $route.name + '.show', params: {id:gallery.id}}"
                             class="gallery-preview">
                    <img :src="(gallery.photo && gallery.photo.url) ? '/storage/origin' + gallery.photo.url : 'http://via.placeholder.com/350x250?text=No+Image'"
                         :alt="gallery.title">
                </router-link>

                <div class="gallery-info">

                    <router-link :to="{name: $route.name + '.show', params: {id:gallery.id}}"
                                 class="font-16 bold">
                       {{ gallery.title }}
                    </router-link>

                    <p class="font-14">{{ gallery.description }}</p>
                    <p class="bold">{{ ucfirst(trans('gallery_table-fields.number of images')) }}<span>{{ gallery.images ? gallery.images.length : 0 }}</span></p>
                    <p class="bold">{{ ucfirst(trans('gallery_table-fields.shortcode')) }}<span @click="copy(gallery.id)" class="pointer">[gallery code="{{ gallery.id }}"]</span></p>

                    <div class="gallery-footer">

                        <el-switch @change="toggleGalleryStatus(gallery.id, gallery.status)"
                                   v-model="gallery.status"
                                   :width="30">
                        </el-switch>

                        <div class="right">

                            <router-link :to="{name: $route.name + '.show', params: {id:gallery.id}}"
                                         v-html="generateSvg('eye', '')"
                                         class="icon-btn">
                            </router-link>

                            <button @click="editGallery(gallery)"
                                    type="button"
                                    v-html="generateSvg('edit', '')"
                                    class="icon-btn"
                                    :class="[validateUserPermissionEditByRouteName($route.name) ? '' : 'disabled']">
                            </button>

                            <button @click="deleteGallery(gallery)"
                                    type="button"
                                    v-html="generateSvg('delete', '')"
                                    class="icon-btn"
                                    :class="[validateUserPermissionDeleteByRouteName($route.name) ? '' : 'disabled']">
                            </button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- --------- END GALLERY ------- -->

        <!-- --------- MODAL ------- -->
        <transition v-on:enter="enterModal" v-on:leave="leaveModal">

            <div v-if="modalGallery.show" @click.self="toggleCreateGallery" class="gallery-edit modal-wrapper">

                <div class="modal-overlay" @click="modalGallery.show = !modalGallery.show"></div>

                <div class="gallery-modal modal-content">

                    <button @click="toggleCreateGallery"
                            v-html="this.generateSvg('close-thin', '')"
                            class="icon-btn close-modal">
                    </button>

                    <p class="modal-caption">{{ modalGallery.title }}</p>

                    <form @submit.prevent="galleryFormHandler"
                          enctype="multipart/form-data">

                        <el-tabs v-model="currentFrontendLocale">
                            <el-tab-pane v-for="(localeArray, locale) in allFrontendLocales"
                                         :label="localeArray.name"
                                         :key="localeArray.name"
                                         :name="locale">

                                <span slot="label" :class="['lang-icon']">
                                    <svg :class='[locale, "lang"]'>
                                        <use :class='locale' v-bind:xlink:href='"#" + locale'></use>
                                    </svg>
                                    <i>{{ localeArray.name }}</i>
                                </span>

                                <label>
                                    <span class="bold font-14">{{ ucfirst(trans('gallery_table-fields.modal.title')) }}</span>
                                    <input type="text" id="title" v-model="newGallery[locale].title" :placeholder="ucfirst(trans('gallery_table-fields.modal.title placeholder'))">
                                </label>

                                <label>
                                    <span class="bold font-14">{{ ucfirst(trans('gallery_table-fields.modal.show_title')) }}</span>
                                    <input type="checkbox" v-model="newGallery.show_title">
                                </label>

                                <label class="checkbox-row">
                                    <span class="bold font-14">{{ ucfirst(trans('gallery_table-fields.modal.display_style')) }}</span>
                                    <select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow" v-model="newGallery.template">
                                        <option :value="item.value" v-for="item in modalGallery.selectData">{{ item.title }}</option>
                                    </select>
                                </label>

                                <label>
                                    <span class="bold font-14">{{ ucfirst(trans('gallery_table-fields.modal.description')) }}</span>
                                    <textarea id="description" class="font-14" v-model="newGallery[locale].description" :placeholder="ucfirst(trans('gallery_table-fields.modal.description placeholder'))"></textarea>
                                </label>

                            </el-tab-pane>
                        </el-tabs>

                        <div class="modal-actions">
                            <button type="submit"
                                    v-html="this.generateSvg('save-icon', this.trans('core_form.buttons.save'))"
                                    class="button pink icon-btn-text">
                            </button>
                            <button @click="toggleCreateGallery" class="button black icon-btn-text" type="button">{{ this.trans('core_form.buttons.cancel') }}</button>
                        </div>

                    </form>

                </div>
            </div>

        </transition>
        <!-- --------- END MODAL ------- -->

    </div>
</template>

<script>
import swal from 'sweetalert2'
import helpers from '@services/helpers'

export default {
    props: {
        allFrontendLocales: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            galleries: {},
            currentFrontendLocale : 'ru',
            newGallery:  _(this.allFrontendLocales)
                .keys()
                .map(locale => [locale, {}])
                .fromPairs()
                .value(),
            modalGallery: {
                show : false,
                selectData : [
                    { title : 'Слайдер', value : 'slider'},
                    { title : 'Блочный', value : 'block'}
                ]
            }
        }
    },
    methods: {
        // TOGGLE MODAL FOR CREATE/EDIT GALLERY
        toggleCreateGallery() {
            this.modalGallery.show = !this.modalGallery.show;
            this.newGallery = _(this.allFrontendLocales)
                .keys()
                .map(locale => [locale, {}])
                .fromPairs()
                .value();
            this.modalGallery.title = this.$t('gallery_table-fields[\'modal.modal add title\']');
            this.modalGallery.action = 'store';
        },
        // GET ALL GALLERIES
        getGalleries() {
            this.pushAxiosGet(route('api.backend.gallery.index'), (response) => {
                this.galleries = response.data;

                _.map(this.galleries, (gallery) => {
                    return _.assign(gallery.photo = {}, _.sample(gallery.images));
                });
            });
        },
        // GALLERY MODAL FORM HANDLER
        galleryFormHandler() {
            if (this.modalGallery.action == 'store') {
                this.storeGallery();
            } else if (this.modalGallery.action == 'update') {
                this.updateGallery();
            }
        },
        // STORE NEW GALLERY
        storeGallery() {
            this.pushAxiosPost(route('api.backend.gallery.store'), {gallery: this.newGallery}, (response) => {
                this.galleries.unshift(response.gallery);
                this.toggleCreateGallery();
            });
        },
        // ACTIVATE/DEACTIVATE GALLERY
        toggleGalleryStatus(id, position) {
            this.pushAxiosPut(route('api.backend.gallery.status'), { position, items:[id], field: 'status'});
        },
        // DELETE GALLERY
        deleteGallery(gallery) {
            swal({
                title: this.$t('core_alerts[\'swal.title\']'),
                text: this.$t('core_alerts[\'swal.text\']') + " " + gallery.title + " ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: this.$t('core_form[\'buttons.delete\']'),
                confirmButtonColor: '#28a745',
                cancelButtonText: this.$t('core_form[\'buttons.cancel\']'),
                cancelButtonColor: '#dc3545',
            }).then((result) => {
                if (result.value) {
                    axios.delete(route('api.backend.gallery.destroy', gallery.id));

                    this.galleries = _.remove(this.galleries, function(gall) {
                        return gall.id != gallery.id;
                    });

                    swal({
                        title: this.$t('core_alerts[\'swal.success title\']'),
                        type: "success",
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        },
        // EDIT GALLERY
        editGallery(gallery) {
            this.modalGallery.show = true;
            this.modalGallery.title = gallery.title + ' ' + this.$t('gallery_table-fields[\'modal.modal edit title\']');
            this.modalGallery.action = 'update';
            this.newGallery.id = gallery.id;
            this.newGallery.show_title = gallery.show_title;
            this.newGallery.template = gallery.template;

            for (let translation of gallery.translations) {
                this.newGallery[translation.locale].title = translation.title;
                this.newGallery[translation.locale].description = translation.description;
            }
        },
        // UPDATE GALLERY
        updateGallery() {
            this.pushAxiosPut(route('api.backend.gallery.update', {gallery: this.newGallery.id}), {gallery: this.newGallery}, (response) => {
                var gallery = response.gallery;
                _.assign(gallery.photo = {}, _.sample(gallery.images));
                this.galleries.splice(_.findIndex(this.galleries, {id: gallery.id}), 1, gallery);
                this.toggleCreateGallery()
            });
        },
        copy(id) {
            this.$copyText(`[gallery code="${id}"]`).then(e => {
                this.$notify.success({
                    title: 'Success!',
                    message: 'Поле скопировано',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });
            }, e => {
                this.$notify.error({
                    title: 'Error!',
                    message: 'Неудачное копирование',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });
            });
        }
    },
    mounted() {
        this.getGalleries();
    },
    created: function () {
        this.currentFrontendLocale = helpers.appStorage().currentFrontendLocale || "ru";
    }
}
</script>

<style></style>
