<template>
    <div class="w-full flex flex-row flex-wrap">

        <!-- Tabs -->
        <el-tabs v-model="activeName" tab-position="top" class="w-full">

            <!-- Tab by Days -->
            <el-tab-pane :label="trans('banners_sidebar.submenu.by days')" name="byDays">

                <!-- Table component -->
                <data-table class="w-full" :table="tableByDays"></data-table>

            </el-tab-pane>

            <!-- Tab by Click -->
            <el-tab-pane :label="trans('banners_sidebar.submenu.by click')" name="byClick">

                <!-- Table component -->
                <data-table class="w-full" :table="tableByClick"></data-table>

            </el-tab-pane>

        </el-tabs>

    </div>
</template>

<script>
import dataTable from '@components/data-table-origin'

export default {
    components: {
        dataTable
    },
    data() {
        return {
            activeName: 'byDays',
            tableByDays: {
                apiRoute: route('api.backend.banners_statistics', { ident: this.$route.params.ident }),
                apiName: 'api.backend.banners_group.show',
                transRoute: 'banners_table-fields.statistics_by_days',
                columns: [
                    {
                        name: '__checkbox',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'date',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                        callback: 'formatDate|DD.MM.YYYY',
                    },
                    {
                        name: 'clicked',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'not_clicked',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: '__component:actions-element',
                        options: {
                            buttonParams: {
                                edit: false,
                                delete: true
                            }
                        },
                        titleClass: 'col-center',
                        dataClass: 'col-center'
                    }
                ],
                sortOrder: [
                    {
                        field: 'date',
                        sortField: 'date',
                        direction: 'asc'
                    }
                ],
                buttonOptions: {
                    goBack: true,
                    create: false,
                    deleteAll: true,
                    search: false
                }
            },
            tableByClick: {
                apiRoute: route('api.backend.banners_statistics', { ident: this.$route.params.ident, table: 'full' }),
                apiName: 'api.backend.banners_group.show',
                transRoute: 'banners_table-fields.statistics_full',
                columns: [
                    {
                        name: '__checkbox',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'created_at',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                        callback: 'formatDate|HH:mm:ss DD.MM.YYYY',
                    },
                    {
                        name: 'ip',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'device_is_mobile',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'is_robot',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    // {
                    //     name: 'is_click',
                    //     titleClass: 'col-center',
                    //     dataClass: 'col-center',
                    // },
                    {
                        name: 'device_data',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: 'agent_data',
                        titleClass: 'col-center',
                        dataClass: 'col-center',
                    },
                    {
                        name: '__component:actions-element',
                        options: {
                            buttonParams: {
                                edit: false,
                                delete: true
                            }
                        },
                        titleClass: 'col-center',
                        dataClass: 'col-center'
                    }
                ],
                sortOrder: [
                    {
                        field: 'date',
                        sortField: 'date',
                        direction: 'asc'
                    }
                ],
                buttonOptions: {
                    goBack: true,
                    create: false,
                    deleteAll: true,
                    search: false
                }
            }
        }
    },
    methods: {}
};
</script>

<style>
</style>
