<template>
    <div>
        <div class="container mx-auto">

            <!-- Form -->
            <el-form ref="form" :model="role" label-width="120px" label-position="top" v-loading.body="loading">

                <!-- Tabs -->
                <el-tabs tab-position="top" type="border-card">

                    <!-- Tab Role -->
                    <el-tab-pane label="Role">
                        <el-form-item label="Name">
                            <el-input v-model="role.name"></el-input>
                        </el-form-item>
                        <el-form-item label="Slug">
                            <el-input v-model="role.slug">
                            </el-input>
                            <el-button @click="generateSlug">Generate</el-button>
                        </el-form-item>
                    </el-tab-pane>

                    <!-- Tab Permissions -->
                    <el-tab-pane label="Permissions">
                        <application-permissions
                                        v-model="role.permissions"
                                        is-role
                                        :current-permissions="role.permissions">
                        </application-permissions>
                    </el-tab-pane>

                    <!-- Tab Users -->
                    <el-tab-pane label="Users">
                        <h3>Users with role</h3>
                        <ul>
                            <li v-for="user in role.users" :key="user.id">{{ user.fullname }} ({{ user.email }})</li>
                        </ul>
                    </el-tab-pane>

                </el-tabs>

                <!-- Buttons -->
                <el-form-item class="text-center px-4 py-2 m-2">
                    <el-button type="primary" v-on:click="onSubmit">Save</el-button>
                    <el-button v-on:click="onCancel">Cancel</el-button>
                </el-form-item>

            </el-form>

        </div>
    </div>
</template>

<script>
    import applicationPermissions from '../../../components/application-permissions'
    import Form from 'form-backend-validation'

    export default {
        components: {
            applicationPermissions
        },
        data() {
            return {
                role: {
                    name: '',
                    slug: '',
                    permissions: {},
                    users: {},
                },
                form: new Form(),
                loading: false,
            }
        },
        methods: {
            onSubmit() {
                this.form = new Form(this.role);
                this.loading = true;

                this.form.post(this.getRoute())
                    .then((response) => {
                        this.loading = false;

                        this.$message({
                            type: 'success',
                            message: response.message,
                            center: true
                        });

                        this.pushRoute('api.backend.role');
                    })
                    .catch((error) => {
                        console.log('Error - ' + error);

                        this.loading = false;
                        this.$message.error('Oops, this is a error!');
                    });
            },
            onCancel() {
                this.pushRoute('api.backend.role');
            },
            generateSlug() {
                this.role.slug = this.slugify(this.role.name);
            },
            fetchRole() {
                this.loading = true;

                if (this.$route.params.id !== undefined) {
                    this.pushAxiosGet(route('api.backend.role.find', this.$route.params.id), (response) => {
                        this.loading = false;
                        this.role = response.data;
                    });
                } else {
                    this.pushAxiosGet(route('api.backend.role.find-new'), (response) => {
                        this.loading = false;
                        this.role = response.data;
                    });
                }
            },
            getRoute() {
                if (this.$route.params.id !== undefined) {
                    return route('api.backend.role.update', { role: this.$route.params.id });
                }

                return route('api.backend.role.store');
            }
        },
        mounted: function() {
            this.fetchRole();
        }
    }
</script>

<style>
</style>
