<template>
    <div>
        <div class="container mx-auto">

            <!-- Tabs -->
            <el-tabs v-model="activeName" tab-position="top" @tab-click="handleClick">

                <!-- Tab User -->
                <el-tab-pane label="Users" name="users"></el-tab-pane>

                <!-- Tab Roles -->
                <el-tab-pane label="Roles" name="roles">

                    <div class="flex justify-between items-center">

                        <div class="filter-bar w-1/2">
                        </div>

                        <!-- Add button -->
                        <router-link :to="{name: 'api.backend.role.create'}">
                            <el-button type="primary"><i class="el-icon-edit"></i>Add role</el-button>
                        </router-link>

                    </div>

                    <!-- Table component -->
                    <data-table :apiRoute="table.apiRoute" :fields="table.columns" :sortOrder="table.sortOrder"></data-table>

                </el-tab-pane>

            </el-tabs>

        </div>
    </div>
</template>

<script>
    import dataTable from '../../../components/data-table'
    import filterBar from '../../../components/elements/filter-bar'

    export default {
        components: {
            dataTable,
            filterBar
        },
        data() {
            return {
                table: {
                    apiRoute: route('api.backend.role.index'),
                    columns: [
                        {
                            name: 'id',
                            title: 'Id',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            sortField: 'id'
                        },
                        {
                            name: 'name',
                            title: 'Name',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            sortField: 'name'
                        },
                        {
                            name: 'slug',
                            title: 'Slug',
                            titleClass: 'text-center',
                            dataClass: 'text-center'
                        },
                        {
                            name: 'created_at',
                            title: 'Created',
                            titleClass: 'text-center',
                            dataClass: 'text-center',
                            callback: 'formatDate|DD.MM.YYYY'
                        },
                        {
                            name: '__component:custom-actions',
                            options: {
                                buttonParams: {
                                    view: false,
                                    edit: true,
                                    delete: true
                                }
                            },
                            title: 'Actions',
                            titleClass: 'text-center',
                            dataClass: 'text-center'
                        }
                    ],
                    sortOrder: [
                        {
                            field: 'id',
                            sortField: 'id',
                            direction: 'asc'
                        }
                    ],
                },
                activeName: 'roles'
            }
        },
        methods: {
            handleClick(tab, event) {
                if (tab.name == 'users') {
                    this.pushRoute('api.backend.users');
                }
            }
        }
    };
</script>

<style>
</style>
