<template>
    <div class="multi-lang">

        <el-form-item :label="ucfirst(transObject(parameters.field_label || field))">
            <el-select v-model="secondaryLocales" @change="setMutatedValue" multiple placeholder="Select">

                <el-option v-for="(locale, id) in arrayValues"
                           :key="id"
                           :label="locale.native"
                           :disabled="id == primaryLocale"
                           :value="id">
                </el-option>

            </el-select>
        </el-form-item>

        <el-form-item :label="ucfirst(transObject(parameters.field_label || field))">
            <el-select v-model="primaryLocale" placeholder="Select" @change="setMutatedValue">

                <el-option v-for="(locale, id) in arrayValues"
                           :key="id"
                           :label="locale.native"
                           :value="id">
                </el-option>

            </el-select>
        </el-form-item>

    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: true
        },
        arrayValues: {},
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            secondaryLocales: [],
            primaryLocale: ''
        }
    },
    methods: {
        setMutatedValue() {
            this.mutatedValue = JSON.stringify(_.uniq(_.concat(this.primaryLocale, this.secondaryLocales)));
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        primaryLocale() {
            let index = this.secondaryLocales.indexOf(this.primaryLocale);

            if (index > -1) {
                this.secondaryLocales.splice(index, 1);
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
        }
    },
    mounted: function() {
        this.secondaryLocales = JSON.parse(this.mutatedValue);
        this.primaryLocale = this.secondaryLocales.shift();
    }
};
</script>

<style>
    .multi-lang{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .multi-lang>div{
        width: 48%;
    }
    @media (max-width:500px) {
        .multi-lang>div{
            width: 100%;
        }
        .multi-lang>div+div{
            margin-top: 30px;
        }
    }
</style>