<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))">

        <el-select v-model="mutatedValue" :name="field">

            <el-option v-for="(value, key) in arrayValues"
                       :key="key"
                       :label="key"
                       :value="key">
            </el-option>

        </el-select>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        arrayValues: {},
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: '',
        }
    },
    methods: {
        toNumIfCan(key) {
            let number = parseInt(key);

            if (isNaN(number)) {
                return key;
            }

            return number;
        }
    },
    mounted() {
        this.mutatedValue = this.toNumIfCan(this.value);

        this.$el.querySelector('.el-select__caret').insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
    },
    watch: {
        value: {
            immediate: true,
            handler(value) {
                this.mutatedValue = this.toNumIfCan(value);
            }
        },
        mutatedValue: function (value) {
            this.mutatedValue = this.toNumIfCan(value);
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
