<template>

    <el-form-item class="chose-image"
                  :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required">

        <label v-if="!mutatedValue">

            <span>{{ ucfirst(trans('core_fields.upload-image.chose image')) }}<b class="el-input-group__append" v-html="this.generateSvg('image', '')"></b></span>

            <input @change="processFile($event, field)"
                    accept="image/png, image/jpeg"
                    :name="field"
                    type="file"/>

        </label>

        <div v-else class="loaded">

            <div class="image-action">
                <button v-on:click="clear"
                        v-html="generateSvg('delete', '')"
                        type="button"
                        class="black button">
                </button>
            </div>

            <img v-if="typeof mutatedValue === 'string' && mutatedValue.startsWith('/')" :src="'/storage/i/backend-upload-image' + mutatedValue">

        </div>

        <img :src="imagePreview" ref="tempImage">

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            imagePreview: null
        }
    },
    methods: {
        clear() {
            this.mutatedValue = '';
            this.$refs.tempImage.removeAttribute("src");
        },
        processFile(event, type) {
            if (event.target.files[0].size > 10485760) {
                this.$notify.error({
                    title: 'Error!',
                    message: 'Превышен размер файла',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });

                this.mutatedValue = "";
            } else {
                var reader = new FileReader();
                var self = this;

                reader.readAsDataURL(event.target.files[0]);

                reader.onloadend = function() {
                    self.mutatedValue = reader.result;
                    self.imagePreview = reader.result;
                }
            }
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    }
};
</script>

<style>
    .loaded .delete{
        width: 30px;
        height: 26px;
        color: #ffffff;
        padding: 4px;
        background: #231f20;
        transition: all .2s linear;
    }
    .chose-image img[src] {
        width: 13.726835964310226vw;
        object-fit: contain;
    }
    .el-form-item.chose-image div.el-form-item__content {
        box-shadow: none;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }
    .el-form-item.chose-image label.el-form-item__label{
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1.79;
    }
    .chose-image label {
        cursor: pointer;
        border: 1px dashed #dcdfe6;
        width: 13.726835964310226vw;
        height: 100%;
        transition: all .2s linear;
        display: flex;
        position: relative;
        justify-content: center;
        padding-right: 30px;
    }
    .chose-image label:hover {
        border: 1px dashed rgba(239, 96, 137, 0.5);
    }
    .chose-image label svg{
        transition: color .2s linear;
    }
    .chose-image label .el-input-group__append{
        transition: background .2s linear;
    }
    .chose-image label:hover .el-input-group__append{
        background: rgb(35, 31, 32);
    }
    .chose-image label:hover svg{
        color: rgba(239, 96, 137, 1);
    }
    .chose-image input {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .loaded img {
        width: 100%;
    }
    .chose-image {
        display: flex;
        position: relative;
        width: 100%;
    }
    .loaded{
        display: flex;
        flex-flow: row wrap;
        width: 13.726835964310226vw;
        align-items: baseline;
        justify-content: flex-end;
        position: relative;
    }
    .image-action{
        position: absolute;
        top: 0;
        right: 0;
    }
</style>
