<template>
    <div>

        <div class="container mx-auto">

            <table class="table table-bordered table-hover" v-loading.body="loading">

                <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col" v-for="(language, locale) in locales">{{ locale }}</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(translationGroup, key) in dataTable">

                        <th scope="row">{{ key }}</th>

                        <td v-for="(language, locale) in locales">
                            {{ translationGroup[locale] }}
                        </td>

                        <td>
                            <button class="bg-grey-light hover:bg-grey text-grey-darkest py-2 px-4 rounded"><i class="fas fa-pencil-alt"></i></button>
                        </td>

                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                dataTable: {},
                locales: {},
                loading: false
            }
        },
        methods: {
            fetchTranslations() {
                this.pushAxiosGet(route('api.backend.translation.index', {page: 1, per_page: 10}), (response) => {
                    this.loading = false;
                    this.dataTable = response.translations;
                    this.locales = response.locales;
                });
            }
        },
        mounted: function() {
            this.fetchTranslations();
        }
    };
</script>

<style>
</style>
