<template>
    <div class="flex flex-row flex-wrap">

        <!-- Main buttons -->
        <p class="pull-right">
            <el-button type="text"
                       @click="changeStateForAll(1)">
                Allow all
            </el-button>
            <el-button type="text"
                       :disabled="isRole"
                       @click="changeStateForAll(0)">
                Inherit all
            </el-button>
            <el-button type="text"
                       @click="changeStateForAll(-1)">
                Deny all
            </el-button>
        </p>

        <!-- All permisions -->
        <div data-permision v-for="(value, name) in allPermissions" :key="name" class="w-full mb-px50 justify-center flex flex-row flex-wrap pb-4 border-grey-darkest border-solid border-b">
            <h2 class="w-full text-center pb-3">{{ name }}</h2>
            <div v-for="(permissionActions, subPermissionTitle) in value" :key="subPermissionTitle" class="w-full">
                        <div class="flex flex-row flex-wrap w-full justify-between items-center">
                            <h3 class="">{{ ucfirst(subPermissionTitle) }}</h3>
                            <div class="">
                                <el-button type="text"
                                           @click="changeState(subPermissionTitle, permissionActions, 1)">
                                    Allow all
                                </el-button>
                                <el-button type="text"
                                           :disabled="isRole"
                                           @click="changeState(subPermissionTitle, permissionActions, 0)">
                                    Inherit all'
                                </el-button>
                                <el-button type="text"
                                           @click="changeState(subPermissionTitle, permissionActions, -1)">
                                    Deny all
                                </el-button>
                            </div>
                        </div>
                <div class="w-full flex-row flex flex-wrap mt-3">
                    <div data-sub-permision class="w-1/3 flex flex-col px-6 mb-3" v-for="(label, permissionAction) in permissionActions" :key="permissionAction">
                        <h5 class="w-full text-center mb-2">{{ parseTranslation(label) }}</h5>
                        <div class="w-full flex flex-row flex-nowrap justify-center">
                            <el-radio-group v-model="permissions[`${subPermissionTitle}.${permissionAction}`]">
                                <el-radio-button :label="1" @click="triggerEvent">Allow</el-radio-button>
                                <el-radio-button :label="0" @click="triggerEvent" :disabled="isRole">Inherit</el-radio-button>
                                <el-radio-button :label="-1" @click="triggerEvent">Deny</el-radio-button>
                            </el-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: {
            isRole: { type: Boolean },
            currentPermissions: { default: null },
        },
        data() {
            return {
                permissions: {},
                allPermissions: {},
            };
        },
        methods: {
            triggerEvent() {
                this.$emit('input', this.permissions);
            },
            parseTranslation(label) {
                return label.split('::')[1];
            },
            getPermissionKey(subPermissionTitle, permissionAction) {
                return `${subPermissionTitle}.${permissionAction}`;
            },
            changeState(permissionPart, actions, state) {
                _.forEach(actions, (translationKey, key) => {
                    this.permissions[`${permissionPart}.${key}`] = state;
                });
            },
            changeStateForAll(state) {
                _.forEach(this.permissions, (index, permission) => {
                    this.permissions[permission] = state;
                });
            },
            fetchPermissions() {
                this.pushAxiosGet(route('api.backend.permissions.index'), (response) => {
                    this.loading = false;
                    this.allPermissions = response.permissions;
                });
            }
        },
        watch: {
            currentPermissions() {
                if (this.currentPermissions !== null) {
                    this.permissions = this.currentPermissions;
                }
            }
        },
        mounted() {
            this.fetchPermissions();
        }
    };
</script>

<style>
</style>
