<template>
    <div>

        <div v-if="checkedItems.length">
            <div v-for="(column, column_id) in fields" v-bind:key="column_id">
                <el-dropdown size="mini" split-button type="primary" v-if="column.name.search('__component:custom-status') !== -1">
                    Status
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item @click.native="checkOnline(checkedItems, column.event)">онлайн({{checkedItems.length}})</el-dropdown-item>
                    <el-dropdown-item @click.native="checkOffline(checkedItems, column.event)">оффлайн({{checkedItems.length}})</el-dropdown-item>
                </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
        <!-- Vuetable Table -->
        <vuetable ref="vuetable"
            :api-route="this.apiRoute"
            :http-options="httpOptions"
            :fields="this.fields"
            :sort-order="this.sortOrder"
            :multi-sort="true"
            :row-class="this.onRowClass"
            :append-params="moreParams"
            pagination-path="meta"
            @vuetable:pagination-data="onPaginationData"
            @vuetable:checkbox-toggled="checks"
        ></vuetable>

        <!-- Vuetable Pagination With Info-->
        <div class="vuetable-pagination pb-8">
            <vuetable-pagination ref="pagination"
                @vuetable-pagination:change-page="onChangePage"
            ></vuetable-pagination>
        </div>

    </div>
</template>

<script>
    import tableHelper from '../mixins/tableHelper'
    import Vuetable from './table/vuetable'
    import VuetablePagination from './table/pagination'

    export default {
        mixins: [tableHelper],
        props: ['apiRoute', 'fields', 'sortOrder'],
        components: {
            Vuetable,
            VuetablePagination
        },
        data() {
            return {
                httpOptions: { headers: { Authorization: this.getApiToken() } },
                moreParams: {},
                showCheckboxButton: false,
                isChecked: false,
                checkedItems: []
            }
        },
        methods: {
            allcap(value) {
                return value.toUpperCase()
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page)
            },
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
            },
            formatDate(value, fmt) {
                return this.formatDateTime(value, fmt)
            },

            /**
             *  tableHelper
             */
            statusLabel(value) {
                return this.formatLabel(value)
            },
            checks(checkedItems){
                this.checkedItems = checkedItems;
            },
            checkOnline(data, event) {
                this.$events.fire(event, data, 1)
            },
            checkOffline(data, event) {
                this.$events.fire(event, data, 0)
            }

        },
        events: {
            'filter-set' (filterText) {
                this.moreParams = {
                    filter: filterText
                }
                Vue.nextTick( () => this.$refs.vuetable.refresh() )
            },
            'filter-reset' () {
                this.moreParams = {}
                Vue.nextTick( () => this.$refs.vuetable.refresh() )
            },
        }
    };
</script>

<style>
</style>
