<template>

    <fetch-any ref="modules" apiName="api.backend.fieldgenerator.modules" :watchChanges="true">

        <div slot-scope="{ response, loading, changed }" class="table-body table-wrapper w-full">

            <table cellspacing="0" cellpadding="0" border="0" class="table-flex w-full table-small-height">

                <thead>
                    <tr>
                        <th class="col-center">
                            <div class="cell caption">Статус</div>
                        </th>
                        <th class="col-center">
                            <div class="cell caption">Название модуля (папки)</div>
                        </th>
                    </tr>
                </thead>

                <tbody class="el-table-body vuetable-body">
                    <tr v-for="(moduleObject, index) in response" :key="index">
                        <td class="col-center">
                            <div class="w-full text-center">
                                <el-switch v-model="response[index].active" :width="30" @input="toggleModule(response[index].folder)"></el-switch>
                            </div>
                        </td>
                        <td>
                            <router-link class="button link" :to="{ name: 'api.backend.fieldgenerator.module.show', params: {ident: index}}">{{moduleObject.folder}}</router-link>
                        </td>
                    </tr>
                    <tr v-if="Object.keys(response).length < 1">
                        <td colspan="2" class="table-empty-result col-center">
                            <div class="w-full text-center">Нет модулей</div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <!-- <el-button v-if="changed" @click="save(response);">save</el-button> -->
        </div>

    </fetch-any>

</template>

<script>
import fetchAny from '@components/table/renderless/fetch-any';

export default {
    components: {
        fetchAny,
    },
    data() {
        return {
            modules: {},
        }
    },
    methods: {
        toggleModule (index) {
            this.pushAxiosPut(route('api.backend.fieldgenerator.modules.toggle'), { module: index }, (response) => {

            });
        }
        // save () {
        //     this.pushAxiosPut(route('api.backend.fieldgenerator.modules.update'), { modules: this.modules }, (response) => {
        //         this.$refs.modules.getData();
        //     });
        // }
    }
};
</script>

<style scoped>
</style>
