<template>

    <fetch-any apiName="api.backend.fieldgenerator.modules.show">

        <div slot-scope="{ response, loading, changed }" class="table-body table-wrapper w-full">

            <table cellspacing="0" cellpadding="0" border="0" class="table-flex w-full table-small-height">
                <thead>
                    <tr>
                        <th class="col-center">
                            <div class="cell caption">Модели</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="el-table-body vuetable-body">
                    <tr v-for="(model) in response" :key="model">
                        <td>
                            <router-link class="link button" :to="{ name: 'api.backend.fieldgenerator.model.show', params: {parent: $route.params.ident, ident: model}}">{{model}}</router-link>
                        </td>
                    </tr>
                    <tr v-if="Object.keys(response).length < 1">
                        <td colspan="2" class="table-empty-result col-center">
                            <div class="w-full text-center">Нет модулей</div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </fetch-any>

</template>

<script>
import fetchAny from '@components/table/renderless/fetch-any';

export default {
    components: {
        fetchAny
    },
};
</script>

<style>
</style>
