
.permission-checks {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0 20px;
    margin-top: 15px;
}

.permission-buttons {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.permission-caption {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.permission-caption > h3 {
    width: 100%;
    margin-bottom: 10px;
}

.set-all-permission .el-button,
.permission-item .el-button {
    border: none;
    padding: 5px 0 2px 0;
    border-radius: 0;
    color: #000;
    border-bottom: 1px dashed #000;
    min-width: 1px;
    transition: all .2s linear;
}

.set-all-permission .el-button:hover,
.permission-item .el-button:hover {

}

.permission-item .el-button span {
    font-size: 12px;
    color: #000;
}

.permission-item .el-button.green {
}

.permission-item .el-button.red {
}

.permission-item .el-button.gray {
}

.permission-item:last-child > .w-full:last-child {
    border-bottom: 0;
}

.permission-item {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.permission-item > .w-full {
    padding: 25px 0;
    border-bottom: 1px solid #000;
}

.permission-item > .w-full h5 {
    margin-bottom: 10px;
    word-break: break-all;
}

.set-all-permission {
    position: absolute;
    height: 40px;
    right: 0;
    bottom: calc(100% + 10px);
    display: flex;
    align-items: center;
}

.permission-item .el-button:hover {
    border-bottom: 1px dashed #000;
}

.set-all-permission .el-button:hover span,
.permission-item .el-button:hover span {
    color: #66b1ff;
}

.set-all-permission .el-button.is-disabled,
.permission-item .el-button.is-disabled {
    opacity: 0.6;
    cursor: no-drop;
    pointer-events: none;
    border-color: #000000;
}

.set-all-permission .el-button.is-disabled span,
.permission-item .el-button.is-disabled span {
    color: #000;
    cursor: no-drop;
    pointer-events: all;
}

@media (max-width: 1000px) {
    .set-all-permission {
        position: static;
        width: 100%;
        height: auto;
    }

    .inner-editing .set-all-permission button {
        margin-right: 15px;
    }

    .inner-editing .set-all-permission button + button {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .set-all-permission {
        flex-flow: column wrap;
        align-items: baseline;
    }

    .inner-editing .set-all-permission button {
        margin: 0;
    }

    .inner-editing .set-all-permission button + button {
        margin-top: 10px;
    }
}
