<template>
    <div class="el-form-item chose-image">
        <span class="el-form-item__label" v-if="label" v-html="label"></span>
        <div class="el-form-item__content">
            <label v-if="!value">
                <input
                    type="file"
                    :name="name"
                    accept="image/png, image/jpeg"
                    @change="processFile($event, name)"/>
            </label>
            <div v-else class="loaded">
                <span @click="clear">delete</span>
                <img v-if="typeof value === 'string'" :src="'/storage/i/test' + value">
            </div>
            <img :src="imageUrl" ref="tempImage">
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'name', 'label'],
        data() {
            return {
                mutatedValue: this.value,
                imageUrl: null
            }
        },
        methods: {
            clear () {
                this.mutatedValue = '';
                this.$refs.tempImage.removeAttribute("src");
            },
            processFile(event, type) {
                this.mutatedValue = event.target.files[0];
                this.imageUrl = URL.createObjectURL(event.target.files[0]);
            }
        },
        watch: {
            value() {
                this.mutatedValue = this.value
            },
            mutatedValue: function(value) {
                this.$emit('mutatedValue', value)
            }
        }
    };
</script>

<style>
    .chose-image img[src]{
        width: 13.726835964310226vw;
        object-fit: contain;
    }
    .el-form-item.chose-image div.el-form-item__content{
        box-shadow: none;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }
    .chose-image label{
        cursor: pointer;
        border: 1px dotted rgba(0,0,0,.5);
        width: 13.726835964310226vw;
        height: 100%;
        transition: border .2s linear;
        display: flex;
    }
    .chose-image label:hover{
        border: 2px dotted rgba(31, 241, 157, .5);
    }
    .chose-image input{
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .loaded{}
    .loaded img{
        width: 100px;
        height: 100px;
    }
    .chose-image{
        display: flex;
        position: relative;
        width: 100%;
    }
    .loaded>span{
        text-align: center;
        color: #fff;
        background: rgba(136, 0, 0, 0.8);
        cursor: pointer;
        padding: 5px 0;
        transition: all 0.2s linear;
        width: 13.726835964310226vw;
        display: block;
    }
    .loaded>span:hover{
        background: rgba(136, 0, 0, 1);
        box-shadow: 0 1px 3px 0 rgba(136, 0, 0, .7);
    }
</style>
