<template>

    <editor v-model="mutatedValue" :init="config" ref="editor"></editor>

</template>

<script>
    import Editor from '../../../../vendor/tinymce-vue'

    export default {
        props: ['value'],
        components: {
            'editor': Editor
        },
        data() {
            return {
                mutatedValue: this.value,
                config: {
                    height: 150,
                    language: 'ru',
                    toolbar: ['bold italic underline strikethrough alignleft aligncenter alignright outdent indent  blockquote undo redo removeformat subscript superscript code codesample', 'hr bullist numlist link image charmap     preview anchor pagebreak insertdatetime media table emoticons forecolor backcolor fullscreen'],
                    plugins: ['advlist anchor autolink autosave code codesample colorpicker colorpicker contextmenu directionality emoticons fullscreen hr image imagetools importcss insertdatetime legacyoutput link lists media nonbreaking noneditable pagebreak paste preview print save searchreplace spellchecker tabfocus table template textcolor textpattern visualblocks visualchars'],
                    templates: [
                        { title: 'Test template 1', content: 'Test 1' },
                        { title: 'Test template 2', content: 'Test 2' }
                    ],
                }
            }
        },
        watch: {
            value() {
                this.mutatedValue = this.value
            },
            mutatedValue: function(value) {
                this.$emit('mutatedValue', value)
            }
        }
    };
</script>

<style>
</style>
