<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required"
                  class="checkbox-wrap el-form-item">

        <el-checkbox v-model="mutatedValue">{{ ucfirst(transObject(parameters.hint || '')) }}</el-checkbox>

        <slot></slot>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            default: false
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        },
        formType: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: !!this.value,
        }
    },
    watch: {
        value: {
            immediate: true,
            handler(to, from) {
                if(from  === undefined && this.formType == 'create' && this.parameters.default !== undefined) {
                    this.mutatedValue = !!this.parameters.default;
                } else {
                    this.mutatedValue = !!to;
                }
            }
        },
        mutatedValue: {
            immediate: true,
            handler(value) {
                this.$emit('input', value ? 1 : 0);
            }
        }
    }
};
</script>

<style>
</style>
