<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))"
                    class="checkbox-wrap el-form-item" :required="parameters.required">

        <el-checkbox-group v-model="mutatedValue">

            <el-checkbox v-for="check in parameters.array_values"
                        :label="check"
                        :key="check">
                        {{ check }}
            </el-checkbox>

        </el-checkbox-group>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            type: Array,
            default: () => []
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
