<template>

    <el-form-item class="content-label"
                  :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required">

        <div class="editor el-form-item__content">

            <ckeditor-vue v-model="mutatedValue"
                          :config="config">
            </ckeditor-vue>

            <slot></slot>

        </div>

    </el-form-item>

</template>

<script>
    import ckeditorVue from '@resources/vendor/ckeditor-vue'

    export default {
        props: {
            value: {
                type: String,
                default: ''
            },
            parameters: {
                type: Object,
                required: true
            },
            field: {
                type: String,
                required: true
            }
        },
        components: {
            'ckeditor-vue': ckeditorVue
        },
        data() {
            return {
                mutatedValue: this.value,
                config: {
                    skin: 'moono-lisa',
                    width: '100%',
                    basicEntities: false,
                    language: window.appStorage.currentBackendLocale,
                    defaultLanguage: window.appStorage.currentBackendLocale,
                    //TODO здесь нужна ссылка на обработчик
                    filebrowserUploadUrl: 'fakepath.php',
                    // filebrowserUploadUrl: route(this.$route.name.split('.').slice(0, 3).join('.') + '.textEditorUpload'),
                    toolbar: [
                        {
                            name: 'document',
                            items: [
                                'Source',
                                'Undo',
                                'Redo',
                                'ShowBlocks',
                                'Maximize',
                                'Preview',
                                'Print',
                                'RemoveFormat',
                                '-',
                                'Cut',
                                'Copy'
                            ]
                        },
                        {
                            name: 'inserts',
                            items: [
                                'Link',
                                'Unlink',
                                'Anchor',
                                'Image',
                                'Table',
                                'CreateDiv',
                                'HorizontalRule',
                                'SpecialChar',
                                'PageBreak',
                                'Iframe'
                            ]
                        },
                        '/',
                        {
                            name: 'styles',
                            items: [
                                'Styles',
                                'Format',
                                'Font',
                                'FontSize'
                            ]
                        },
                        {
                            name: 'basicstyles',
                            items: [
                                'TextColor',
                                'BGColor',
                                'Bold',
                                'Italic',
                                'Underline',
                                'Strike',
                                'Blockquote',
                                'Subscript',
                                'Superscript',
                                '-',
                                'NumberedList',
                                'BulletedList',
                                'Outdent',
                                'Indent',
                                '-',
                                'JustifyLeft',
                                'JustifyCenter',
                                'JustifyRight',
                                'JustifyBlock'
                            ]
                        },
                    ]
                }
            }
        },
        watch: {
            value: {
                immediate: true,
                handler() {
                    this.mutatedValue = this.value;
                }
            },
            mutatedValue: function(value) {
                this.$emit('input', value)
            }
        },
        mounted() {

            let _this = this;

            CKEDITOR.on( 'dialogDefinition', function( ev ) {
                // Take the dialog name and its definition from the event data.
                let dialogName = ev.data.name,
                    dialogDefinition = ev.data.definition;

                //Styles for tabs
                let tabStyles = dialogDefinition.getContents( 'info' );

                tabStyles.remove( 'protocol' );
                tabStyles.remove( 'browse' );

                let basic = tabStyles.get( 'basic' );
                let txtWidth = tabStyles.get( 'txtWidth' );
                let txtHeight = tabStyles.get( 'txtHeight' );

                if (txtWidth && txtHeight) {
                    txtWidth.width = '100%';
                    txtHeight.width = '100%';
                }

                if (basic) {
                    tabStyles.get("txtBorder").width = '100%';
                    tabStyles.get("txtHSpace").width = '100%';
                    tabStyles.get("txtVSpace").width = '100%';

                    tabStyles.get('ratioLock').style = '';
                    basic.children[0].widths = ['', ''];
                }

                // Init open dialogs
                if (dialogName === 'link') {
                    // Dialog for link
                    let uploadTab = dialogDefinition.getContents( 'upload' );

                    dialogDefinition.contents.forEach(function (tab) {
                        if (tab.id === 'target') {
                            let button = uploadTab.get('uploadButton');

                            button.onClick = function (event) {
                                let file = dialogDefinition.dialog.parts.contents.$.querySelector('.cke_dialog_ui_input_file iframe').contentWindow.document.querySelector('input[type="file"]');

                                let formData = new FormData();
                                formData.append('file', file.files[0]);

                                _this.pushAxiosPost(route(_this.$route.name.split('.').slice(0, 3).join('.') + '.textEditorUpload'), formData, (response) => {
                                    let dialog = CKEDITOR.dialog.getCurrent();

                                    //TODO мега-костыль, оно вроде работает и не работает одновременно
                                    dialog.selectPage('info');
                                    dialog.setValueOf( 'info', 'url', response.file_path );
                                });

                                return false;
                            }
                        }
                    });

                }
                else if (dialogName === 'image') {
                    // Dialog for image
                    let uploadTab = dialogDefinition.getContents( 'Upload' );

                    dialogDefinition.contents.forEach(function (tab) {
                        if (tab.id === 'Upload') {
                            let button = uploadTab.get('uploadButton');

                            button.onClick = function (event) {
                                let file = dialogDefinition.dialog.parts.contents.$.querySelector('.cke_dialog_ui_input_file iframe').contentWindow.document.querySelector('input[type="file"]');

                                this.data = file.files[0];

                                let formData = new FormData();
                                formData.append('file', file.files[0]);

                                _this.pushAxiosPost(route(_this.$route.name.split('.').slice(0, 3).join('.') + '.textEditorUpload'), formData, (response) => {
                                    let dialog = CKEDITOR.dialog.getCurrent();
                                    dialog.getContentElement('info', 'txtUrl').setValue(response.file_path);
                                    dialog.selectPage('info');
                                });

                                return false;
                            }
                        }
                    });
                }
                else if (dialogName === 'table') {

                    tabStyles.get('txtRows').controlStyle = '';
                    tabStyles.get('txtCols').controlStyle = '';
                    tabStyles.get('txtCellSpace').controlStyle = '';
                    tabStyles.get('txtCellPad').controlStyle = '';
                    tabStyles.get('txtWidth').controlStyle = '';
                    tabStyles.get('txtHeight').controlStyle = '';
                    tabStyles.get('txtBorder').controlStyle = '';
                }

                //TODO this maybe refactor later
                // let testDialogShow = ev.data.definition.dialog;
                //
                // testDialogShow.on('show', function () {
                //     console.log(this.definition.getContents( 'Upload' ));
                // });

            });

            //TODO this maybe refactor later
            // var testMsg = { message : 'test creating event' };
            // CKEDITOR.event.implementOn( testMsg );
            // testMsg.on( 'testEvent', function() {
            //     console.log( this );  // "Example"
            // });
            // myObject.fire( 'testEvent' );
            //
            // let dataCkeditor = {};
            // CKEDITOR.event.implementOn(dataCkeditor);


            // dataCkeditor.fire('initCkeditor', 'kek', CKEDITOR);
        }
    };
</script>

<style>
</style>
