<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required">

        <el-color-picker v-model="mutatedValue"
                         :name="field"
                         :predefine="predefineColors">
        </el-color-picker>

        <div class="form-item-footer">

            <slot></slot>

            <p class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>
        </div>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: null
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            predefineColors: [
                '#ff4500',
                '#ff8c00',
                '#ffd700',
                '#90ee90',
                '#00ced1',
                '#1e90ff',
                '#c71585',
            ]
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
        }
    }
};
</script>

<style>
</style>
