<template>
    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))">
            <p class="hint" v-html="transObject(parameters.hint || value)"></p>
    </el-form-item>
</template>

<script>
export default {
    props: {
        value: {
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
};
</script>
