<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <div class="el-input">
            <input class="el-input__inner"
                    v-model="mutatedValue"
                    :placeholder="ucfirst(transObject(parameters.field_placeholder))"
                    :name="field"
                    type="email"
                    v-on:blur="validateEmail()">
        </div>

        <slot></slot>

        <p v-if="error"
            class="el-form-item__error">
            Введите коректный е-мейл
        </p>

        <p v-if="parameters.hint !== null" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            error: false
        }
    },
    methods: {
        validateEmail: function () {
            var validate = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if (!validate.test(this.mutatedValue)) {
                return this.error = true
            }

            return this.error = false
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
        }
    }
};
</script>

<style>
</style>
