<template>
    <div class="w-full flex flex-row flex-wrap">

        <div class="gallery-container">

            <div class="w-full flex flex-row">

                <button @click.prevent="triggerDropzone"
                        v-html="this.generateSvg('plus', this.trans('gallery_table-fields.buttons.add images') )"
                        class="icon-btn-text button link-btn">
                </button>

                <button @click="toggleUploadProgress"
                        v-html="this.generateSvg('eye', uploadProgressVisible ? this.trans('gallery_table-fields.buttons.hide progress') : this.trans('gallery_table-fields.buttons.show progress') )"
                        :class="progressButtonVisible ? '' : 'disabled'"
                        type="button"
                        class="icon-btn-text button link-btn">
                </button>

            </div>

            <div :class="(progressButtonVisible && uploadProgressVisible) ? '' : 'hidden'">
                <div id="custom-dropzone-preview"
                     class="w-full flex content-start flex-wrap relative vue-dropzone dropzone">
                </div>
            </div>

            <div class="flex content-start flex-wrap w-full">

                <div class="gallery-inner">

                    <vue-dropzone id="custom-dropzone-upload"
                                  @vdropzone-sending="sendingEvent"
                                  @vdropzone-success-multiple="uploadDone"
                                  @vdropzone-file-added="uploadStart"
                                  ref="vueDropzoneField"
                                  :options="dropzoneOptions"
                                  @vdropzone-error-multiple="uploadError"
                                  @vdropzone-queue-complete="uploadProgressVisible = false">
                    </vue-dropzone>

                    <draggable v-model="images"
                               @start="drag = true"
                               @end="onDragEnd"
                               :move="onMoveCallback" class="inner-items">

                        <div v-for="photo in images"
                             :key="photo.id"
                             :class="['gallery-item', photo.status ? '' : 'show-disabled', (selectedPhoto && photo.id == selectedPhoto.id)?'select':'']">

                            <img @click="showPhotoFull(photo)" :src="`/storage/i/backend-gallery${photo.url}`" alt="">

                            <div class="gallery-info" @click="selectPhoto(photo)">

                                <p class="font-14">{{ truncStr(photo.title, 14) }}</p>
                                <div class="img-sizes">
                                    <span class="font-12">{{ photo.width }} x {{ photo.height }}</span>
                                    <span class="font-12">{{ parseInt(photo.size/1024) }} KB</span>
                                </div>

                                <div class="gallery-info-bottom">

                                    <el-switch @change="toggleImagesStatus(photo.id)"
                                               v-model="photo.status"
                                               :width="30">
                                    </el-switch>

                                    <button @click="showPhotoFull(photo)"
                                            v-html="generateSvg('eye', '')"
                                            type="button"
                                            class="icon-btn svg-eye">
                                    </button>

                                    <button @click="showCropper"
                                            v-html="generateSvg('crop', '')"
                                            type="button"
                                            class="icon-btn svg-crop">
                                    </button>

                                    <button @click="deletePhoto(photo)"
                                            v-html="generateSvg('delete', '')"
                                            type="button"
                                            class="icon-btn svg-delete">
                                    </button>

                                </div>
                            </div>

                        </div>

                    </draggable>

                    <div :class="['item-preview', selectedPhoto.url ? '' : 'disabled']">

                        <img :src="selectedPhoto.url ? '/storage/i/backend-gallery' + selectedPhoto.url : 'http://via.placeholder.com/300x200?text=Select+image'"
                             :alt="selectedPhoto.title"
                             :class="selectedPhoto.url ? 'height' : ''">

                        <form @submit.prevent="photoFormHandler">

                            <el-tabs v-model="currentFrontendLocale">
                                <el-tab-pane v-for="(localeArray, locale) in allFrontendLocales"
                                             :label="localeArray.name"
                                             :key="localeArray.name"
                                             :name="locale">
                                    <span slot="label" :class="['lang-icon']">
                                        <svg :class='[locale, "lang"]'>
                                            <use :class='locale' v-bind:xlink:href='"#" + locale'></use>
                                        </svg>
                                        <i>{{ localeArray.name }}</i>
                                    </span>

                                    <label v-if="editedPhoto[locale] !== undefined">
                                        <span>{{ ucfirst(trans('gallery_table-fields.modal.title')) }}</span>
                                        <input @focus="photoAttrFocused"
                                               @blur="photoAttrBlurred(editedPhoto[locale].title)"
                                               v-model="editedPhoto[locale].title"
                                               type="text">
                                    </label>

                                    <label v-if="editedPhoto[locale] !== undefined">
                                        <span>{{ ucfirst(trans('gallery_table-fields.modal.description')) }}</span>
                                        <textarea @focus="photoAttrFocused"
                                                  @blur="photoAttrBlurred(editedPhoto[locale].description)"
                                                  v-model="editedPhoto[locale].description">
                                        </textarea>
                                    </label>

                                </el-tab-pane>

                            </el-tabs>

                            <p>
                                <span class="bold">{{ ucfirst(trans('gallery_table-fields.image parameters.file name')) }}</span>
                                <a v-if="selectedPhoto.url" :href="'/storage/origin' + selectedPhoto.url" target="_blank" title="Open full image in new tab">
                                    {{ selectedPhoto.url ? ucfirst(trans('gallery_table-fields.image parameters.show file')) : ''}}
                                </a>
                            </p>
                            <p>
                                <span class="bold">{{ ucfirst(trans('gallery_table-fields.image parameters.width')) }}</span>
                                <span>{{ selectedPhoto.width ? selectedPhoto.width+'px': '' }}</span>
                            </p>
                            <p>
                                <span class="bold">{{ ucfirst(trans('gallery_table-fields.image parameters.height')) }}</span>
                                <span>{{ selectedPhoto.height ? selectedPhoto.height+'px': '' }}</span>
                            </p>
                            <p>
                                <span class="bold">{{ ucfirst(trans('gallery_table-fields.image parameters.size')) }}</span>
                                <span>{{ parseInt(selectedPhoto.size/1024) ? parseInt(selectedPhoto.size/1024) + 'KB' : ''}}</span>
                            </p>
                            <p>
                                <span class="bold">{{ ucfirst(trans('gallery_table-fields.image parameters.uploaded')) }}</span>
                                <span>{{ formatDateTime(selectedPhoto.created_at, 'HH:mm DD.MM.YYYY') }}</span>
                            </p>
                        </form>

                        <div v-if="updatedMessageVisible" class="bg-green-lightest border border-green-light text-green-dark px-4 py-3 rounded relative"
                             role="alert">
                            <strong class="font-bold"></strong>
                            <span class="block sm:inline">{{ ucfirst(trans('gallery_table-fields.updated message.changes saved successfully')) }}</span>
                            <span class="absolute pin-t pin-b pin-r px-4 py-3">
                                <svg class="fill-current h-6 w-6 text-green" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <title>{{ ucfirst(trans('gallery_table-fields.updated message.close')) }}</title>
                                    <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"></path>
                                </svg>
                            </span>
                        </div>

                    </div>

                </div>

            </div>

            <photo-full ref="photoFull" :photo="selectedPhoto" :images="images" :photoFullVisible="photoFullVisible"></photo-full>

            <photo-cropper ref="photoCropper" :photo="selectedPhoto" :cropperVisible="cropperVisible"></photo-cropper>

        </div>
    </div>
</template>

<script>

import swal from 'sweetalert2'
import draggable from 'vuedraggable'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import photoFull from '@/views/gallery/components/photo-full.vue'
import photoCropper from '@/views/gallery/components/photo-cropper.vue'
import stringHelper from '@/mixins/stringHelper'
import helpers from '@services/helpers'
// TODO somewhere here bug gallery fetches from ident (bug) and from gallery (not bug) must be second only
export default {
    components: {
        vueDropzone: vue2Dropzone,
        photoFull,
        photoCropper,
        draggable,
    },
    props: {
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        },
        value: {
            required: true,
            type: Number,
            default: 0
        }
    },
    mixins: [stringHelper],
    data() {
        return {
            currentFrontendLocale : 'ru',
            allFrontendLocales : {},
            dropzoneOptions: {
                acceptedFiles: 'image/*',
                clickable: true,
                headers: { Authorization: this.getApiToken() },
                maxFilesize: 5,
                previewsContainer:'#custom-dropzone-preview',
                // previewTemplate: this.dropzoneTemplate(),
                url: route('api.backend.gallery.photo.upload'),
                uploadMultiple: true,
                dictDefaultMessage: this.trans('gallery_table-fields.dropzone.title')
            },
            gallery: {},
            images: [],
            selectedPhoto: {},
            photoFullVisible:false,
            editedPhoto:  _(this.allFrontendLocales)
                .keys()
                .map(locale => [locale, {}])
                .fromPairs()
                .value(),
            updatedMessageVisible: false,
            cropperVisible: false,
            progressButtonVisible:false,
            uploadProgressVisible:true,
            uploadProgressCount: 0
        }
    },
    methods: {
        // FETCH GALLERY
        fetchGallery() {
            this.pushAxiosGet(route('api.backend.gallery.show', this.value), (response) => {

                this.gallery = response.data;
                this.images = this.gallery.images;

                for (let index in this.images) {
                    for (let locale in this.allFrontendLocales) {
                        if (this.images[index][locale] === undefined) {
                            this.images[index][locale] = {};
                        }
                    }
                }

            });
        },
        // DropZone Events
        sendingEvent(file, xhr, formData) {
            formData.append('gallery_id', this.gallery.id);
        },
        triggerDropzone() {
            this.$refs.vueDropzoneField.$el.click();
        },
        uploadStart(event) {
            this.uploadProgressCount = 0;
            this.progressButtonVisible = true;
            this.uploadProgressVisible = true;
        },
        toggleUploadProgress() {
            this.uploadProgressVisible = !this.uploadProgressVisible;
        },
        // Photos Uploaded
        showNotification: _.debounce((vue, count) => {

            if (this.currentFrontendLocale == 'ru') {
                let plural = [' файл', ' файлa', ' файлов'];
                let added =  'Добавлено ';
            } else {
                let plural = [' file', ' files', ' files'];
                let added =  'Added ';
            }

            let count_files = vue.declOfNum(plural);
            let msg = added + count + count_files(count);

            vue.$notify.success({
                title: 'Success!',
                duration: 2000,
                message: msg,
                offset: vue.getHtmlElement('header.el-header').getBoundingClientRect().height
            });
        }, 500),
        uploadDone(files, response) {
            _.forEach(response.data, (photo) => {
                this.uploadProgressCount++;
                this.images.push(photo);
            });
            // if (this.$refs.vueDropzoneField.dropzone.getQueuedFiles().length === this.$refs.vueDropzoneField.dropzone.getUploadingFiles().length){
            //     this.showNotification(this, this.uploadProgressCount);
            // }
        },
        uploadError(files, message, xhr) {
            if (typeof message !== 'string') {
                message = 'Oops something went wrong';
            }

            this.$notify.error({
                title: 'Error!',
                message,
                offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
            });
        },
        // Select photo
        selectPhoto(photo) {
            if (_.findIndex(this.images, (item) => { return photo.id == item.id; }) >= 0) {

                this.selectedPhoto = photo;

                this.editedPhoto = _(this.allFrontendLocales)
                    .keys()
                    .map(locale => [locale, {}])
                    .fromPairs()
                    .value();

                this.editedPhoto.id = photo.id;

                for (let locale in this.allFrontendLocales) {
                    this.editedPhoto[locale] = photo[locale] || {};
                }

                this.$refs.photoFull.startEventListeners();
            }
        },
        // Photo Form Handler
        photoFormHandler() {},
        photoAttrFocused() {
            this.$refs.photoFull.stopEventListeners();
        },
        photoAttrBlurred(data) {
            if (data !== null){
                this.updatePhotoAttr();
                this.$refs.photoFull.startEventListeners();
            }
        },
        // Update photo attributes
        updatePhotoAttr() {
            this.pushAxiosPut(route('api.backend.gallery.photo.update', {image: this.editedPhoto.id}), {photo: this.editedPhoto}, (response) => {
                for (let index in this.images) {
                    if (this.images[index].id === response.id) {
                        for (let translation of response.translations) {
                            this.images[index][translation.locale] = translation;
                        }
                    }
                }
                this.$notify.success({
                    title: 'Success!',
                    message: 'фото обновлено',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });
            });
        },
        // ACTIVATE/DEACTIVATE PHOTO
        toggleImagesStatus(id) {
            this.pushAxiosPut(route('api.backend.photo.status'), { position: this.selectedPhoto.status, items:[id], field: 'status'});
        },
        // Show photo
        showPhotoFull(photo) {
            this.photoFullVisible = true;
            this.selectedPhoto = photo;
        },
        showCropper() {
            this.cropperVisible = true;
        },
        // Delete photo
        deletePhoto(photo) {
            this.pushAxiosDelete(route('api.backend.gallery.photo.destroy', photo.id));

            this.moveToPreviousItem();
            this.images = _.remove(this.images, function(item) {
                return item.id != photo.id;
            });
        },
        moveToPreviousItem() {
            let currentIndex = _.findIndex(this.images, (photo) => { return photo.id == this.selectedPhoto.id; });
            let prevPhoto = _.find(this.images, (el, i, col) =>{
                return i == currentIndex - 1;
            });

            if (!prevPhoto) {
                prevPhoto = _.last(this.images);
            }

            this.selectPhoto(prevPhoto);
        },
        moveToNextItem() {
            let currentIndex = _.findIndex(this.images, (photo) => { return photo.id == this.selectedPhoto.id; });
            let nextPhoto = _.find(this.images, (el, i, col) =>{
                return i == currentIndex + 1;
            });

            if (!nextPhoto) {
                nextPhoto = _.head(this.images);
            }

            this.selectPhoto(nextPhoto);
        },
        // Draggable
        onMoveCallback(event, originalEvent) {
            return true;
        },
        onDragEnd(event) {
            this.pushAxiosPut(route('api.backend.gallery.photo.order'), {gallery_id: this.gallery.id, oldOrder: event.oldIndex, newOrder: event.newIndex}, (response) => {
                this.$notify.success({
                    title: 'Success!',
                    message: 'Фото перенесено',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });
            });
        },
        showUpdatedMessage() {
            this.updatedMessageVisible = true;

            setTimeout(() => {
                this.updatedMessageVisible = false;
            }, 700);
        },
        truncStr(str, n) {
            if (str) {
                return (str.length > n) ? str.substr(0, n - 1) + '...' : str;
            }
        },
        // Could be deleted if we don't need to change template for dropZone
        dropzoneTemplate: function () {
            return `
                <div class="w-1/4 m-2 relative z-10">
                    <div class="rounded overflow-hidden shadow border-grey-darker h-24 cursor-pointer bg-grey-lighter hover:shadow-lg hover:text-white hover:bg-blue">
                        <div class="flex content-start flex-wrap">
                            <div class="w-1/2 p-2 overflow-hidden h-24">
                                <img data-dz-thumbnail="">
                            </div>
                            <div class="w-1/2 p-2 pl-3 relative">
                                <p class="text-sm font-medium"><span data-dz-name></span></p>
                                <p class="text-sm font-normal italic"></p>
                                <p class="text-sm font-medium">Original size:<span data-dz-size></span></p>
                                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                                <div class=""><span data-dz-errormessage></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            `;
        }
    },
    created() {
        this.currentFrontendLocale = helpers.appStorage().currentFrontendLocale || "ru";
        this.allFrontendLocales = helpers.appStorage().allFrontendLocales;
    },
    watch: {
        value: {
            immediate: true,
            handler(to, from) {
                if (to !== undefined && to != from && to !== 0) {
                    this.fetchGallery();
                }
            }
        }
    }
}
</script>

<style>
</style>
