<template>

    <el-form-item class="select" :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <el-select v-model="mutatedValue" :name="field" multiple clearable>

            <el-option v-for="(value, key) in parameters.array_values"
                       :key="key"
                       :label="value"
                       :value="toNumIfCan(key)">
            </el-option>

        </el-select>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: [],
        }
    },
    methods: {
        toNumIfCan(key) {
            let number = parseInt(key);

            if (isNaN(number)) {
                return key;
            }

            return number;
        }
    },
    mounted() {
        let value = 0;

        if (this.value === undefined && this.parameters.default !== undefined) {
            value = this.parameters.default;
        } else {
            value = this.value;
        }

        this.mutatedValue = value || [];
        this.$el.querySelector('.el-select__caret').insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
    },
    watch: {
        value: {
            immediate: true,
            handler(value) {
                this.mutatedValue = value || [];
            }
        },
        mutatedValue: function (value) {
            this.mutatedValue = value;
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
