<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required">

        <el-input-number v-model="mutatedValue"
                         :name="field"
                         :min="minValue"
                         :max="maxValue">
        </el-input-number>

        <div class="form-item-footer">

            <slot></slot>

            <p class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>
        </div>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            default: 0,
            type: Number
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            maxValue: this.parameters.settings.max || 100000000000,
            minValue: this.parameters.settings.min || 0,
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
        }
    }
};
</script>

<style>
</style>
