<template>
    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required">

        <div class="el-input"
             v-if="inputVisible">
            <input type="text"
                   ref="saveTagInput"
                   v-model="inputValue"
                   class="hidden-input el-input__inner"
                   v-mask="{mask: '+99 (999) 999-99-99'}"
                   @keyup.enter="handleInputConfirm"
                   @blur="handleInputConfirm">
        </div>
        <button v-else
                class="button black icon-btn-text"
                v-html="this.generateSvg('plus', trans('core_fields.phone.button'))"
                type="button"
                @click="showInput">
        </button>

        <div class="tags-row">

            <el-tag v-for="tag in mutatedValue"
                    :key="tag"
                    closable
                    :disable-transitions="false"
                    @close="handleClose(tag)">
                {{ tag }}
            </el-tag>

        </div>

        <div class="form-item-footer">
            <slot></slot>
            <p class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>
        </div>

    </el-form-item>
</template>

<script>
export default {
    props: {
        value: {},
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            inputVisible: false,
            inputValue: '',
            mutatedValue: [],
        }
    },
    methods: {
        checkKeys(e) {
            if (!(e.keyCode === 13 || e.keyCode === 8 || e.keyCode === 37 || e.keyCode === 39 || /[\d\s\(\)\+-]/.test(e.key))) {
                e.preventDefault();
            }
        },
        handleClose(tag) {
            this.mutatedValue.splice(this.mutatedValue.indexOf(tag), 1);
        },
        showInput() {
            this.inputVisible = true;

            this.$nextTick( () => {
                this.$refs.saveTagInput.focus();
            });
        },
        handleInputConfirm() {
            let inputValue = this.inputValue;

            if (inputValue) {
                this.mutatedValue.push(inputValue);
            }

            this.inputVisible = false;
            this.inputValue = '';
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                if(this.value) {
                    this.mutatedValue = this.value.split(',');
                }
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue.join());
        }
    },
    mounted () {

    }
};
</script>

<style>
</style>
