<template>
    <div>
        <p class="bold">{{trans('ecommerce_table-fields.product_versions_label')}}</p>
        <p class="discount-text" v-if="productDiscount">{{trans('ecommerce_table-fields.product_versions.sale_discount')}}: {{productDiscount + '%'}}</p>

        <button @click.prevent="addVersion"
                v-if="canAddAnother"
                class="button black icon-btn-text"
                v-html="generateSvg('plus', trans('ecommerce_table-fields.product_versions.add'))">
        </button>

        <div :class="['table-wrapper w-full', checkOverflow() ? 'show-scroll' : '']">

            <span class="before"></span>
            <span class="after"></span>

            <div class="table-body w-full">

                <table ref="prodvars"
                       class="table-flex w-full table-version-products"
                       cellspacing="0"
                       cellpadding="0"
                       border="0">

                    <thead>
                    <tr>
                        <th class="is-leaf col-center vuetable-th-__status">
                            <div class="cell caption">{{trans('ecommerce_table-fields.product_versions.status')}}</div>
                        </th>
                        <th class="is-leaf col-center">
                            <div class="cell caption">{{trans('ecommerce_table-fields.product_versions.article')}}*</div>
                        </th>
                        <th class="is-leaf col-center">
                            <div class="cell caption">{{trans('ecommerce_table-fields.product_versions.parameters')}}</div>
                        </th>
                        <th class="is-leaf col-center">
                            <div class="cell caption">{{trans('ecommerce_table-fields.product_versions.price')}}</div>
                        </th>
                        <th class="is-leaf col-center">
                            <div class="cell caption">{{trans('ecommerce_table-fields.product_versions.discount')}}</div>
                        </th>
                        <th class="is-leaf col-center">
                            <div class="cell caption">{{trans('ecommerce_table-fields.product_versions.discount_price')}}</div>
                        </th>
                        <th class="is-leaf col-center">
                            <div class="cell caption">{{trans('ecommerce_table-fields.product_versions.quantity')}}</div>
                        </th>
                        <th class="is-leaf col-center">
                            <div class="cell caption">{{trans('ecommerce_table-fields.product_versions.actions')}}</div>
                        </th>
                    </tr>
                    </thead>

                    <tbody class="el-table-body vuetable-body">

                    <tr v-for="(field, version_id) in mutatedValue"
                        :key="version_id"
                        class="el-table__row el-form-item__content">

                        <td class="col-center">
                            <el-switch v-model="mutatedValue[version_id]['status']" :width="30"></el-switch>
                        </td>

                        <td :class="errorList.includes(version_id) ? 'has-errors' : ''">
                            <div class="el-input digits">
                                <input type="text" class="el-input__inner" v-model="mutatedValue[version_id]['article']" placeholder="article"/>
                            </div>
                        </td>

                        <td class="select-params">

                            <el-select v-if="calcLength(paramList) > 0"
                                       v-for="(param, slug) in paramList"
                                       v-model="mutatedValue[version_id]['parameters'][slug]"
                                       :placeholder="trans('ecommerce_table-fields.product_versions.choose') + ` ${param.title}`"
                                       :key="slug"
                                       clearable>
                                <el-option :label="trans('ecommerce_table-fields.product_versions.choose') + ` ${param.title}`" :value="0"></el-option>
                                <el-option v-for="item in param.data" :key="item.id" :label="item.title" :value="item.id"></el-option>
                            </el-select>
                        </td>

                        <td class="">
                            <label class="el-input digits">
                                <input type="text"
                                       class="el-input__inner"
                                       v-model="mutatedValue[version_id]['price']"
                                       @input="priceUpdated(version_id)"
                                       @change="checkValue(version_id, 'price')"/>
                            </label>
                        </td>

                        <td>
                            <label class="el-input digits percents">
                                <input type="text"
                                       class="el-input__inner"
                                       v-model="mutatedValue[version_id]['discount']"
                                       @input="discountUpdated(version_id)"
                                       @change="checkValue(version_id, 'discount')"/>
                                <span>%</span>
                            </label>
                        </td>

                        <td>
                            <label class="el-input digits">
                                <input type="text"
                                       class="el-input__inner"
                                       v-model="mutatedValue[version_id]['discount_price']"
                                       @input="discountPriceUpdated(version_id)"
                                       @change="checkValue(version_id, 'discount_price')"/>
                            </label>
                        </td>

                        <td>
                            <label class="el-input digits">
                                <input type="text" v-mask="{mask: '9{*}'}" min="0" class="el-input__inner" v-model="mutatedValue[version_id]['quantity']">
                            </label>
                        </td>

                        <td>
                            <button @click.prevent="mutatedValue.splice(version_id, 1)">
                                <svg class="delete">
                                    <use class="delete" xlink:href="#delete"></use>
                                </svg>
                            </button>
                        </td>

                    </tr>

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</template>

<script>
// TODO вывести гдето общую ошибку. ответ от сервера:
// errors: {versions: ["Поле versions обязательно для заполнения."]}
// versions: ["Поле versions обязательно для заполнения."]
// 0: "Поле versions обязательно для заполнения."
    import field from '@/views/crud/fields.vue'
    import helpers from "@services/helpers"

    export default {
        components: {
            'field': field,
        },
        props: {
            value: {
                required: true
            },
            parameters: {
                type: Object,
                required: true
            },
            field: {
                type: String,
                required: true
            },
            fieldErrors: {}
        },
        data() {
            return {
                locales: {},
                mutatedValue: [
                    {
                        status: true,
                        article: '',
                        price: 0,
                        parameters: {},
                        discount: 0,
                        discount_price: 0,
                        quantity: 100,
                        order: 0
                    }
                ],
                errorList: [],
                paramList: [],
                productDiscount: 0,
                isOverflow: false,
                overflowCount: '',
                valueTemplate: {
                    status: true,
                    article: '',
                    price: 0,
                    parameters: {},
                    discount: 0,
                    discount_price: 0,
                    quantity: 100,
                    order: 0
                }
            }
        },
        methods: {
            tableScroll(event) {
                let currentShadow =  (event.target.scrollLeft) / this.overflowCount;

                Velocity(document.querySelector('.table-wrapper>span.before'), {
                    opacity: [currentShadow, 0]
                }, 1);
                Velocity(document.querySelector('.table-wrapper>span.after'), {
                    opacity: [1 - currentShadow, 0]
                }, 1);
            },
            checkOverflow() {
                let el = this.$refs.prodvars;

                if (typeof this.$refs.prodvars !== "undefined") {
                    let curOverflow = el.style.overflow;

                    if ( !curOverflow || curOverflow === "visible" ) {
                        el.style.overflow = "hidden";
                    }

                    this.isOverflow = this.$el.getBoundingClientRect().width < el.getBoundingClientRect().width;

                    el.style.overflow = curOverflow;

                    this.overflowCount = el.getBoundingClientRect().width - this.$el.getBoundingClientRect().width;

                }
                return this.isOverflow;
            },
            checkValue(version_id, type){
                if (this.mutatedValue[version_id][type] === '' && type === 'discount'){
                    this.mutatedValue[version_id][type] = '0';
                }

                if ((this.mutatedValue[version_id][type] === '' || this.mutatedValue[version_id][type] == '0') && type === 'discount_price'){
                    this.mutatedValue[version_id]['discount_price'] = this.mutatedValue[version_id]['price'];
                    this.mutatedValue[version_id]['discount'] = 0;
                }
                this.mutatedValue[version_id][type] = parseFloat(this.mutatedValue[version_id][type]);
            },
            formattingInput(value){
                if (value === '') value = '0';

                let maskedPrice = value
                    .replace(',','.')
                    .replace(/[^0-9^\.]/g, '')
                    .replace('.','#')
                    .replace(/\./g,'')
                    .replace('#','.');

                let trimmedPrice = maskedPrice.split('.');
                if (trimmedPrice.length <= 1) {
                    return parseInt(trimmedPrice[0]);
                } else {
                    if (trimmedPrice[1].length === 0){
                        return trimmedPrice[0] + '.';
                    } else if (trimmedPrice[1].length >= 1){
                        if (trimmedPrice[1].length === 1) {
                            return trimmedPrice[0] + '.' + trimmedPrice[1];
                        }
                        return this.round10(trimmedPrice[0] + '.' + trimmedPrice[1].slice(0, 2), -2);
                    } else {

                        return this.round10(trimmedPrice[0] + '.00', -2);
                    }
                }

            },
            discountUpdated(version_id) {
                let local_discount = false;

                for (let item in this.mutatedValue) {

                    let discount = typeof this.mutatedValue[item]['discount'] === 'string' ?
                        this.mutatedValue[item]['discount'] :
                        this.mutatedValue[item]['discount'].toFixed(2);

                    this.mutatedValue[item]['discount'] = this.formattingInput(discount);

                    if (this.mutatedValue[item]['discount'] > 0) {

                        if (this.mutatedValue[item]['discount'] > 99.99) {
                            this.mutatedValue[item]['discount'] = 99;
                        }

                        if (this.mutatedValue[item]['discount'] < 0 || this.mutatedValue[item]['discount'] === '') {
                            this.mutatedValue[item]['discount'] = 0;
                        }
                        local_discount = true;
                    }
                }

                if (local_discount) {
                    this.productDiscount = 0;
                } else {
                    if (typeof this.$store.state.formData.formData.discount !== "undefined") {
                        this.productDiscount = this.$store.state.formData.formData.discount;
                    }
                }

                for (let item in this.mutatedValue) {
                    this.priceUpdated(item);
                }

                if (this.mutatedValue[version_id]['discount'] === 0) {
                    this.mutatedValue[version_id]['discount_price'] = this.mutatedValue[version_id]['price'];
                }

            },
            priceUpdated(version_id) {

                let price = typeof this.mutatedValue[version_id]['price'] === 'string' ?
                    this.mutatedValue[version_id]['price'] :
                    this.mutatedValue[version_id]['price'].toFixed(2);

                this.mutatedValue[version_id]['price'] = this.formattingInput(price);

                if (this.mutatedValue[version_id]['price'] < 0) {
                    this.mutatedValue[version_id]['price'] = 0;
                }

                let discountPrice = '';

                if (this.productDiscount === 0) {
                    if (this.mutatedValue[version_id]['discount_price'] === 0) {
                        discountPrice = this.mutatedValue[version_id]['price'];
                        this.mutatedValue[version_id]['discount_price'] = discountPrice;
                    } else {
                        discountPrice = this.mutatedValue[version_id]['price'] * ((100 - this.mutatedValue[version_id]['discount']) / 100);
                        this.mutatedValue[version_id]['discount_price'] = this.round10(discountPrice, -2);
                    }
                } else {
                    discountPrice = this.mutatedValue[version_id]['price'] * ((100 - this.productDiscount) / 100);
                    this.mutatedValue[version_id]['discount_price'] = this.round10(discountPrice, -2);
                }

            },
            discountPriceUpdated(version_id) {

                if (this.mutatedValue[version_id]['discount_price'] > this.mutatedValue[version_id]['price']) {
                    this.mutatedValue[version_id]['discount_price'] = this.mutatedValue[version_id]['price'];
                }

                let discount_price = typeof this.mutatedValue[version_id]['discount_price'] === 'string' ?
                    this.mutatedValue[version_id]['discount_price'] :
                    this.mutatedValue[version_id]['discount_price'].toFixed(2);

                this.mutatedValue[version_id]['discount_price'] = this.formattingInput(discount_price);

                this.productDiscount = 0;
                let discount = 100 * (this.mutatedValue[version_id]['price'] - this.mutatedValue[version_id]['discount_price']) / this.mutatedValue[version_id]['price'];
                this.mutatedValue[version_id]['discount'] = this.round10(discount, -2);

                // let local_discount = false;
                // for (let item in this.mutatedValue) {
                //     if (parseFloat(this.mutatedValue[item]['discount']) === 0) {
                //         local_discount = true;
                //     }
                // }
                //
                // if (local_discount) {
                //     this.productDiscount = this.$store.state.formData.formData.discount;
                //     let discount = 100 * (this.mutatedValue[version_id]['price'] - this.productDiscount) / this.mutatedValue[version_id]['price'];
                //     this.mutatedValue[version_id]['discount'] = this.round10(discount, -2);
                // }

            },
            calcLength(obj) {
                return Object.keys(obj || []).length || 0;
            },
            first(obj) {
                return obj[Object.keys(obj)[0]];
            },
            addVersion() {
                this.mutatedValue.push(Object.assign({}, this.valueTemplate));
            }
        },
        mounted() {
            window.addEventListener('resize', this.checkOverflow);
            document.querySelector('.table-body').addEventListener('scroll', this.tableScroll);

            const name = this.$route.name.replace(new RegExp('\.edit$'), '.versionsFields').replace(new RegExp(
                '\.create$'), '.versionsFields');
            const params = {
                ident: this.$route.params.ident,
                type: this.$route.name.match(/.edit$/) ? 'edit' : 'create'
            };

            this.pushAxiosGet(route(name, params), (response) => {
                this.paramList = response;
                if (params.type === 'edit') {
                    this.productDiscount = this.$store.state.formData.formData.discount;
                }
            });
        },
        computed: {
            canAddAnother() {
                return !this.parameters.settings ||
                    typeof this.parameters.settings.max === 'undefined' ||
                    this.parameters.settings.max > this.mutatedValue.length;
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(to) {
                    let value = to;

                    if (value !== undefined) {
                        for (let item in value) {
                            value[item].parameters = Object.keys(value[item].parameters).length > 0 ? value[item].parameters : {};
                        }

                        this.mutatedValue = value;
                    }

                }
            },
            mutatedValue: {
                deep: true,
                handler(to) {
                    this.$emit('input', to)
                }
            },
            fieldErrors: {
                deep: true,
                handler(to) {
                    this.errorList = [];

                    if (to) {
                        for (let index in to.errors) {
                            let match = index.match(/versions\.([0-9]*)\.article/);

                            if (match !== null && match[1] !== undefined) {
                                this.errorList.push(parseInt(match[1]));
                            }
                        }
                    }
                }
            }
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.checkOverflow);
        }
    };
</script>

<style>
</style>
