<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <el-cascader expand-trigger="hover"
                     :disabled="isDisabled"
                     :options="parameters.array_values"
                     @mouseleave.native="onMouseLeave"
                     filterable
                     clearable
                     change-on-select
                     v-model="mutatedValue">
        </el-cascader>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        },
        formType:{}
    },
    data() {
        return {
            mutatedValue: [],
        }
    },
    methods:{
        onMouseLeave() {
            if (!this.$el.querySelector('.el-cascader .el-icon-arrow-down svg.caret')){
                this.$el.querySelector('.el-cascader .el-icon-arrow-down').insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
            }
        }
    },
    computed: {
        isDisabled: function () {
            if (!this.parameters.field_attributes) {
                return false;
            }

            if (this.parameters.field_attributes.enable_for_role && this.parameters.field_attributes.enable_for_role == window.appStorage.currentUser.role_slug) {
                return false;
            }

            return true;
        }
    },
    mounted() {
        this.$el.querySelector('.el-cascader .el-icon-arrow-down').insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
    },
    watch: {
        value: {
            immediate: true,
            handler(value) {
                this.mutatedValue = value;
            }
        },
        mutatedValue: function (value) {
            this.mutatedValue = value;

            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
