<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <div :class="['custom-select', 'el-select', showList ? 'open': '']">
            <div class="el-input el-input--suffix">

                <input class="el-input__inner"
                       type="text"
                       ref="selectInput"
                       @click="openSelect"
                       :name="field"
                       placeholder="Select"
                       autocomplete="off"
                       :value="mutatedTitle"
                       readonly="readonly"
                       clearable>

                <div class="three-list-wrap">
                    <ul v-for="value in parameters.array_values"
                        :key="value.id">

                        <treeItem :node="value"
                                  :mutatedValue="mutatedValue"
                                  :depth="value.depth"
                                  :onselect="onSelectNode"
                                  :oninit="onInit"
                                  :formType="formType"
                                  :field="field"
                                  :parameters="parameters">
                        </treeItem>

                    </ul>
                </div>

                <span class="el-input__suffix">
                    <span class="el-input__suffix-inner">
                        <i class="el-select__caret el-input__icon el-icon-arrow-up">
                            <svg class="button caret"><use class="caret" xlink:href="#caret"></use></svg>
                        </i>
                        <i v-if="value !== undefined"
                           slot="suffix"
                           class="el-input__icon el-icon-circle-close el-input__clear"
                           @click="clearSelect()">
                        </i>
                    </span>
                </span>

            </div>
        </div>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
import treeItem from "./components/select-tree-field-item"

export default {
    components: {
        'treeItem': treeItem,
    },
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        },
        formType: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            showList: false,
            mutatedValue: 0,
            mutatedTitle: undefined
        }
    },
    methods: {
        closeSelect() {
            if (event.target !== this.$refs.selectInput) {
                this.showList ? this.showList = false : '';
            }
        },
        openSelect() {
            (!this.showList) ? this.showList = true : this.showList = false;
        },
        onSelectNode(nodeId, nodeTitle) {
            this.mutatedValue = nodeId;
            this.mutatedTitle = nodeTitle;
        },
        getKey(key) {
            let number = parseInt(key);

            if (isNaN(number)) {
                return key;
            }

            return number;
        },
        clearSelect() {
            this.mutatedValue = undefined;
            this.mutatedTitle = undefined;
        },
        onInit(title) {
            this.mutatedTitle = title;
        }
    },
    watch: {
        value: {
            immediate: true,
            handler(to) {
                if (to !== undefined) {
                    this.mutatedValue = this.getKey(to);
                }
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value);
        }
    },
    created() {
        document.addEventListener('click', this.closeSelect);

        let value = 0;

        if (this.value !== undefined && this.value >= 0) {
            value = this.value
        } else if (this.formType == 'create' && (this.field == 'parent_id' || (this.parameters.from_ident !== undefined && this.parameters.from_ident ))) {
            value = this.$route.params.ident;
        }

        this.mutatedValue = this.getKey(value);
    },
    // mounted() {
    //     let value = 0;
    //
    //     if (this.value !== undefined && this.value >= 0) {
    //         value = this.value
    //     } else if (this.formType == 'create' && (this.field == 'parent_id' || (this.parameters.from_ident !== undefined && this.parameters.from_ident ))) {
    //         value = this.$route.params.ident;
    //     }
    //
    //     this.mutatedValue = this.getKey(value);
    // },
    beforeDestroy() {
        document.removeEventListener('click', this.closeSelect);
    }
};
</script>

<style>
</style>
