<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <el-select v-if="parameters.settings !== undefined && null !== parameters.settings && parameters.settings"
                   v-model="mutatedValue"
                   clearable
                   :name="field">

            <el-option v-for="(value, key) in parameters.array_values"
                       :key="value[parameters.settings.key]"
                       :label="value[parameters.settings.value]"
                       :value="toNumIfCan(value[parameters.settings.key])">
            </el-option>

        </el-select>

        <el-select v-else
                   v-model="mutatedValue"
                   clearable
                   :name="field">

            <el-option v-for="(value, key) in parameters.array_values"
                       :key="key"
                       :label="value"
                       :value="toNumIfCan(key)">
            </el-option>

        </el-select>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        },
        formType: {}
    },
    data() {
        return {
            mutatedValue: '',
        }
    },
    methods: {
        toNumIfCan(key) {
            let number = parseInt(key);

            if (isNaN(number)) {
                return key;
            }

            return number;
        }
    },
    mounted() {
        //TODO inspect
        let value = this.value;
        const from_ident = this.field === 'parent_id' || (this.parameters.from_ident !== undefined && this.parameters.from_ident );

        if (this.value === undefined && from_ident) {
            value = this.$route.params.ident || this.$route.params.id;
        } else if (this.value === undefined && this.parameters.default !== undefined) {
            value = this.parameters.default;
        }

        this.mutatedValue = this.toNumIfCan(value);

        this.$el.querySelector('.el-select__caret').insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
    },
    watch: {
        value: {
            immediate: true,
            handler(value) {
                this.mutatedValue = this.toNumIfCan(value);
            }
        },
        mutatedValue: function (value) {
            this.mutatedValue = this.toNumIfCan(value);
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
