<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))">

        <el-select v-model="mutatedValue"
                   popper-class="three"
                   filterable>

            <el-option v-for="option in parameters.array_values"
                       :key="option.id"
                       :label="option.title"
                       :class="'category_' + option.depth"
                       :value="getKey(option.id)">

                <span>{{ option.title }}</span>

            </el-option>

        </el-select>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: '',
        }
    },
    methods: {
        getKey(key) {
            let number = parseInt(key);

            if (isNaN(number)) {
                return key;
            }

            return number;
        }
    },
    mounted() {
        let value = 0;

        if (this.field === 'parent_id' || (this.parameters.from_ident !== undefined && this.parameters.from_ident > 0 )) {
            value = this.$route.params.ident || this.$route.params.id;
        } else if (this.value === undefined && this.parameters.default !== undefined) {
            value = this.parameters.default;
        } else {
            value = this.value;
        }

        this.mutatedValue = this.getKey(value);
        this.$el.querySelector('.el-select__caret').insertAdjacentHTML('beforeend', "<svg class=\"button caret\"><use class=\"caret\" xlink:href=\"#caret\"></use></svg>");
    },
    watch: {
        value: {
            immediate: true,
            handler(to) {
                this.mutatedValue = this.getKey(value);
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    },
};
</script>

<style>
</style>
