<template>

    <div class="el-form-item" :class="parameters.required ? 'is-required' : ''">

        <label class="el-form-item__label">

            <el-tooltip v-if="mutatedValue"
                        class="item"
                        effect="dark"
                        placement="top-start">

                <div class="hidden-infoblock" slot="content">
                    <img class="infoblock-preview" :src="'/storage/origin' + parameters.array_values[mutatedValue].image">
                    <p>{{ parameters.array_values[mutatedValue].title }}</p>
                </div>

                <button type="button"
                        v-html="generateSvg('full-screen', ucfirst(transObject(parameters.field_label || field)))"
                        class="button icon-btn-text small reverse"></button>
            </el-tooltip>

            <span v-else>{{ ucfirst(transObject(parameters.field_label || field)) }}</span>

        </label>

        <div class="el-form-item__content">
            <button v-on:click="showModal"
                    type="button"
                    v-html="generateSvg('small-arrow', trans('core_form.buttons.choose') )"
                    class="button black icon-btn-text reverse small"></button>

            <div class="form-item-footer">

                <slot></slot>

                <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>
            </div>
        </div>

        <el-dialog :visible.sync="modalVisible"
                   :show-close="false"
                   width="60%">

            <div slot="title">
                <p class="font-28 center">Select template</p>
                <button v-on:click="modalVisible = false"
                        v-html="this.generateSvg('close-thin', '')"
                        type="button"
                        class="icon-btn close-modal">
                </button>
            </div>

            <div class="flex content-start flex-wrap">

                <div v-for="(option, key) in parameters.array_values"
                     :key="key"
                     class="w-1/4 p-2">

                    <div :class="['max-w-xs overflow-hidden ', mutatedValue == key ? 'chosen' : '']"
                         v-on:click="selectType(key)">

                        <img class="w-full" :src="'/storage/origin' + option.image">

                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">{{ option.title }}</div>
                        </div>

                    </div>

                </div>

            </div>

            <div slot="footer" class="dialog-footer">

                <button v-html="this.generateSvg('save-icon', this.trans('core_form.buttons.save'))"
                        type="button"
                        @click="modalVisible = false"
                        class="button pink icon-btn-text">
                </button>

                <button type="button"
                        @click="modalVisible = false"
                        class="button black icon-btn-text">
                        {{ this.trans('core_form.buttons.cancel') }}
                </button>

            </div>

        </el-dialog>

    </div>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            modalVisible: false,
        }
    },
    methods: {
        showModal() {
            this.modalVisible = true;
        },
        selectType(value) {
            this.$emit('input', value)
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
