<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <el-input v-model="name"
                    :placeholder="ucfirst(transObject(parameters.field_placeholder))"
                    :name="field">
        </el-input>

        <slot></slot>

        <p>{{ short }}</p>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            short: '',
            name: ''
        }
    },
    watch: {
        value:{
            immediate: true,
            handler() {
                this.name = this.value;
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
        },
        name(newVal, oldVal) {
            this.mutatedValue = this.slugify(newVal);

            if (this.parameters.field_attributes === undefined) {
                this.short = this.mutatedValue ? `[${this.parameters.model || ''} code="${ this.mutatedValue}"]` : '';
            } else if (typeof this.parameters.field_attributes == 'string') {
                this.short = this.mutatedValue ? `[${this.parameters.field_attributes} code="${ this.mutatedValue}"]` : '';
            } else {
                this.short = this.mutatedValue ? `[${this.parameters.field_attributes[0]} code="${ this.mutatedValue}"]` : '';
            }
        }
    }
};
</script>

<style>
</style>
