<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <el-input v-model="mutatedValue"
                  :placeholder="transObject(parameters.field_placeholder)"
                  :name="field">

            <template slot="append">

                <button v-on:click="setMutatedValue()"
                        type="button"
                        v-html="generateSvg('refresh', ucfirst(trans('core_fields.slug.button.generate')))"
                        class="button black icon-btn-text">
                </button>

            </template>

        </el-input>

        <div class="form-item-footer">

            <slot></slot>

            <p class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>
        </div>

    </el-form-item>

</template>

<script>
import helpers from "@services/helpers"

export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: ''
        }
    },
    methods: {
        setMutatedValue() {
            if (this.value == "" || this.value === null) {
                if (this.mutatedValue === '' && this.$store.state.formData.formData[this.currentFrontendLocale].title) {
                    this.mutatedValue = this.generateSlug(this.$store.state.formData.formData[this.currentFrontendLocale].title)
                } else {
                    this.mutatedValue = this.generateSlug(this.mutatedValue)
                }
            } else {
                this.mutatedValue = this.generateSlug(this.value)
            }
        },
        generateSlug(value) {
            return this.slugify(value);
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function (value) {
            this.setMutatedValue();
            this.$emit('input', this.slugify(value));
        }
    },
    created: function () {
        this.currentFrontendLocale = helpers.appStorage().currentFrontendLocale || "ru";
    }
};
</script>

<style>
</style>
