<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required">

        <el-input v-model="mutatedValue"
                  :placeholder="ucfirst(transObject(parameters.field_placeholder))"
                  :name="field">
        </el-input>

        <div class="form-item-footer">

            <slot></slot>

            <p class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>
        </div>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        },
        formType: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
        }
    },
    watch: {
        value: {
            immediate: true,
            handler(to, from) {
                if(from  === undefined && this.formType == 'create' && this.parameters.default !== undefined) {
                    this.mutatedValue = this.parameters.default;
                } else {
                    this.mutatedValue = to;
                }
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
        }
    }
};
</script>

<style>
</style>
