<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <el-input v-model="mutatedValue"
                    :placeholder="ucfirst(transObject(parameters.field_placeholder))"
                    type="textarea"
                    :name="field"
                    :disabled="isDisabled"
                    :autosize="{ minRows: 3, maxRows: 8}">
        </el-input>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
        }
    },
    computed: {
        isDisabled: function () {
            if (!this.parameters.field_attributes) {
                return false;
            }

            if (this.parameters.field_attributes.enable_for_role && this.parameters.field_attributes.enable_for_role == window.appStorage.currentUser.role_slug) {
                return false;
            }

            return true;
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
