<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <div class="editor" v-if="checkboxValue">
            <div class="loading-custom" style="display: flex;">
                <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
            </div>
            <!-- TODO -->
            <ckeditor-vue v-model="mutatedValue"
                          :config="config">
            </ckeditor-vue>

        </div>

        <div class="textarea" v-else>

            <el-input v-model="mutatedValue"
                        :placeholder="ucfirst(transObject(parameters.field_placeholder))"
                        type="textarea"
                        :name="field"
                        :autosize="{ minRows: 3, maxRows: 8}">
            </el-input>

        </div>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>
<script>
import ckeditorVue from '@resources/vendor/ckeditor-vue'

export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    components: {
        'ckeditor-vue': ckeditorVue
    },
    computed: {
        checkboxState() {
            return this.$store.state.formData.formData.editor;
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            isInit: false,
            checkboxValue: true,
            config: {
                skin: 'moono-lisa',
                width: '100%',
                basicEntities: false,
                language: window.appStorage.currentBackendLocale,
                defaultLanguage: window.appStorage.currentBackendLocale,
                toolbar: [
                    {
                        name: 'document',
                        items: [
                            'Source',
                            'Undo',
                            'Redo',
                            'ShowBlocks',
                            'Maximize',
                            'Preview',
                            'Print',
                            'RemoveFormat',
                            '-',
                            'Cut',
                            'Copy'
                        ]
                    },
                    {
                        name: 'inserts',
                        items: [
                            'Link',
                            'Unlink',
                            'Anchor',
                            'Image',
                            'Table',
                            'CreateDiv',
                            'HorizontalRule',
                            'SpecialChar',
                            // 'PageBreak',
                            // 'Iframe'
                        ]
                    },
                    '/',
                    {
                        name: 'styles',
                        items: [
                            'Styles',
                            'Format',
                            'Font',
                            'FontSize'
                        ]
                    },
                    {
                        name: 'basicstyles',
                        items: [
                            'TextColor',
                            'BGColor',
                            'Bold',
                            'Italic',
                            'Underline',
                            'Strike',
                            'Blockquote',
                            'Subscript',
                            'Superscript',
                            '-',
                            'NumberedList',
                            'BulletedList',
                            'Outdent',
                            'Indent',
                            '-',
                            'JustifyLeft',
                            'JustifyCenter',
                            'JustifyRight',
                            'JustifyBlock'
                        ]
                    },
                ]
            }
        }
    },
    created: function() {
        this.checkboxValue = !!this.checkboxState;

        Vue.nextTick(() => this.isInit = true);
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        },
        checkboxState() {
            this.checkboxValue = !!this.checkboxState;
            if (this.isInit && !this.checkboxValue){
                for (let instance in CKEDITOR.instances) {
                    CKEDITOR.instances[instance].destroy(true);
                }
            }
        }
    }
};

</script>

<style>
</style>
