<template>

    <el-form-item class="chose-image"
                  :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required">

        <label v-if="!mutatedValue">

            <span>{{ ucfirst(trans('core_fields.upload-image.chose image')) }}<b class="el-input-group__append" v-html="this.generateSvg('image', '')"></b></span>

            <input @change="processFile($event, field)"
                    accept="image/png, image/jpeg"
                    :name="field"
                    type="file"/>

        </label>

        <div v-else class="loaded">

            <div class="image-action">
                <button v-on:click="clear"
                        v-html="generateSvg('delete', '')"
                        type="button"
                        class="black button">
                </button>
            </div>

        </div>

        <img v-if="imagePreview" :src="imagePreview" ref="tempImage">
        <img v-else-if="typeof mutatedValue === 'string' && mutatedValue.startsWith('/')" :src="'/storage/i/backend-upload-image' + mutatedValue" alt="">

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            imagePreview: null
        }
    },
    methods: {
        clear() {
            this.mutatedValue = '';
            this.$refs.tempImage.removeAttribute("src");
        },
        processFile(event, type) {
            if (event.target.files[0].size > 10485760) {
                this.$notify.error({
                    title: 'Error!',
                    message: 'Превышен размер файла',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });

                this.mutatedValue = "";
            } else {
                let reader = new FileReader();
                let self = this;

                reader.readAsDataURL(event.target.files[0]);

                reader.onloadend = function() {
                    self.mutatedValue = reader.result;
                    self.imagePreview = reader.result;
                }
            }
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
