<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <div class="el-input file-holder">

            <div class="el-input__inner">
                <label>
                    <input ref="fileInput" @change="processFile($event, field)" :name="field" type="file"/>

                    <p v-if="!this.fileName"
                       class="button black icon-btn-text"
                       v-html="generateSvg('file', trans('core_fields.upload-file.chose file'))"></p>

                    <input v-else :value="this.fileName" class="el-input__inner" type="text" readonly>

                    <button v-if="this.fileName"
                            v-html="generateSvg('delete','')"
                            @click="removeFile"
                            type="button"
                            class="button black">
                    </button>
                </label>

                <div v-if="value && typeof value == 'string' && value.startsWith('/')">
                    <!-- <a v-if="checkType(value, '.jpg')" target="_blank" :href="'/storage/origin' + value">{{ ucfirst(trans('gallery_table-fields.image parameters.show file')) }}</a>
                    <a v-else-if="checkType(value, '.png')" target="_blank" :href="'/storage/origin' + value">{{ ucfirst(trans('gallery_table-fields.image parameters.show file')) }}</a>
                    <a v-else-if="checkType(value, '.svg')" target="_blank" :href="'/storage/origin' + value">{{ ucfirst(trans('gallery_table-fields.image parameters.show file')) }}</a>
                    <a v-else target="_blank" :href="'/storage' + value">{{ ucfirst(trans('gallery_table-fields.image parameters.show file')) }}</a> -->
                    <a target="_blank" :href="'/storage/origin' + value">{{ ucfirst(trans('gallery_table-fields.image parameters.show file')) }}</a>
                </div>

            </div>

            <slot></slot>

            <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

        </div>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            fileName: '',
        }
    },
    methods: {
        checkType(name, type) {
            switch(type) {
                case '.jpg':
                    return /\.jpg/g.test(name);
                case '.png':
                    return /\.png/g.test(name);
                case '.svg':
                    return /\.svg/g.test(name);
                default:
                    return false;
            }
        },
        processFile(event, type) {
            if (event.target.files[0].size > 10485760) {
                this.$notify.error({
                    title: 'Error!',
                    message: 'Превышен размер файла',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });

                this.mutatedValue = "";
            } else {
                this.mutatedValue = event.target.files[0];
                this.fileName = this.mutatedValue.name;
            }
        },
        removeFile() {
            this.mutatedValue = '';
            this.fileName = '';
            this.$refs.fileInput.value = '';
        }
    },
    watch: {
        value: {
            immediate: true,
            handler(to) {
                this.mutatedValue = to;
            }
        },
        mutatedValue: function (value) {
            this.$emit('input', value);
        }
    }
};
</script>

<style>
</style>
