<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))"
                  :required="parameters.required"
                  :class="['chose-image', this.showCropper ? 'active' : '']">

        <label v-if="!mutatedValue">

            <span>{{ ucfirst(trans('core_fields.upload-image.chose image')) }}<b class="el-input-group__append" v-html="this.generateSvg('image', '')"></b></span>

            <input @change="processFile($event, field)"
                    accept="image/png, image/jpeg"
                    :name="field"
                    type="file"/>

        </label>

        <div v-else class="loaded">
            <div class="image-action">
                <button v-on:click="runCrop"
                        v-html="generateSvg('crop', '')"
                        type="button"
                        class="black button">
                </button>
                <button v-on:click="clear"
                        v-html="generateSvg('delete', '')"
                        type="button"
                        class="black button">
                </button>
            </div>

            <img ref="tempImage"
                 :src="typeof mutatedValue === 'string' ? '/storage/i/backend-upload-image' + mutatedValue : imagePreview.data">

        </div>

        <slot></slot>

        <p v-if="parameters.hint" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

        <image-field-crop ref="imageFieldCrop"
                          @close="showCropper = false"
                          @apply="applyCrop"
                          :photo="imagePreview"
                          :showCropper="showCropper">
        </image-field-crop>

    </el-form-item>

</template>

<script>
import imageFieldCrop from './components/upload-image-field-crop'

export default {
    components: {
        'image-field-crop': imageFieldCrop
    },
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            imagePreview: {
                data: null,
                width: '',
                height: '',
                aspectRatio: '',
                resize: true
            },
            showCropper: false,
            file: ''
        }
    },
    methods: {
        applyCrop(data) {
            this.imagePreview.data = data.cropped;
            this.showCropper = false;

            let value = _.clone(data);
            value.cropped = this.file;

            if (typeof value.cropped === 'string') {
                delete value.cropped;
            }

            this.mutatedValue = value;
        },
        runCrop() {
            if (typeof this.mutatedValue === 'string') {
                let image = new Image();

                image.src = '/storage/origin' + this.mutatedValue;
                image.onload = () => {
                    this.imagePreview.data = image.src;

                    if (this.parameters.settings !== null && this.parameters.settings.ratio) {
                        this.imagePreview.resize = true;
                        this.imagePreview.aspectRatio = this.parameters.settings.ratio;
                    } else if(this.parameters.settings !== null && (this.parameters.settings.width || this.parameters.settings.height)) {
                        this.imagePreview.resize = false;
                        this.imagePreview.aspectRatio = this.parameters.settings.width / this.parameters.settings.height;
                        this.imagePreview.width = this.parameters.settings.width;
                        this.imagePreview.height = this.parameters.settings.height;
                    } else {
                        this.imagePreview.resize = true;
                        this.imagePreview.width = image.width;
                        this.imagePreview.height = image.height;
                    }

                    this.showCropper = true;
                };
            } else {
                this.showCropper = true;
            }
        },
        clear() {
            this.mutatedValue = '';
            this.$refs.tempImage.removeAttribute("src");
        },
        processFile(event, type) {
            if (event.target.files[0].size > 10485760) {
                this.$notify.error({
                    title: 'Error!',
                    message: 'Превышен размер файла',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });

                this.mutatedValue = "";
            } else {
                this.mutatedValue = event.target.files[0];
                this.file = event.target.files[0];

                let image  = new Image();
                image.src = URL.createObjectURL(this.mutatedValue);

                image.onload = () => {
                    this.imagePreview.data = image.src;

                    if (this.parameters.settings !== null && this.parameters.settings.ratio) {
                        this.imagePreview.resize = true;
                        this.imagePreview.aspectRatio = this.parameters.settings.ratio;
                    } else if(this.parameters.settings !== null && (this.parameters.settings.width || this.parameters.settings.height)) {
                        this.imagePreview.resize = false;
                        this.imagePreview.aspectRatio = this.parameters.settings.width / this.parameters.settings.height;
                        this.imagePreview.width = this.parameters.settings.width;
                        this.imagePreview.height = this.parameters.settings.height;
                    } else {
                        this.imagePreview.resize = true;
                        this.imagePreview.width = image.width;
                        this.imagePreview.height = image.height;
                    }
                }
            }
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                if (this.value && this.value.coordinates === undefined) {
                    this.file = this.value;
                }

                this.mutatedValue = this.value;
            }
        },
        popoverContent: function() {
            this.popoverContent = '<img src=' + typeof mutatedValue === "string" ? "/storage/i/backend-upload-image" + mutatedValue : imagePreview.data + '">';
        },
        mutatedValue: function(value) {
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
