<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <div class="el-input">
            <input class="el-input__inner"
                    v-model="mutatedValue"
                    placeholder="http://example.com"
                    :name="field"
                    type="url"
                    v-on:blur="validateUrl()">

        </div>

        <slot></slot>

        <p v-if="error"
            class="el-form-item__error">
            Введите коректный URL
        </p>

        <p v-if="parameters.hint !== null" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: ''
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            error: false
        }
    },
    methods: {
        validateUrl: function () {
            var validate = /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/;

            if (!validate.test(this.mutatedValue)) {
                return this.error = true
            }

            return this.error = false
        }
    },
    watch: {
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
        }
    }
};
</script>

<style>
</style>
