<template>

    <el-form-item :label="ucfirst(transObject(parameters.field_label || field))" :required="parameters.required">

        <el-radio-group v-model="videoType">
            <el-radio label="file">File</el-radio>
            <el-radio label="youtube">YouTube</el-radio>
            <!-- <el-radio label="vimeo">Vimeo</el-radio> -->
        </el-radio-group>

        <div v-if="videoType == 'file'" class="el-form-item__content">

            <input @change="processVideoFile($event, field)"
                   :name="field"
                   type="file"
                   accept="video/mp4,video/webm" />

            <video v-if="typeof mutatedValue === 'string' && mutatedValue.startsWith('/')" width="300" height="180" controls>
                <source :src="'/storage/origin' + mutatedValue" type="video/mp4">
                <source :src="'/storage/origin' + mutatedValue" type="video/webm">
            </video>

        </div>

        <div v-else-if="videoType == 'youtube'" class="el-input">

            <input v-model="youtubeValueHolder"
                   class="el-input__inner"
                   :placeholder="ucfirst(transObject(parameters.field_placeholder))"
                   type="url">

            <input v-model="youtubeValue"
                   type="text"
                   :name="field"
                   readonly
                   disabled
                   class="youtubeId">

            <iframe v-if="youtubeValue && videoPreview && !error"
                    width="300"
                    height="180"
                    :src="'https://www.youtube.com/embed/' + getIdFromYoutubeURL(youtubeValue)">
            </iframe>

        </div>

        <slot></slot>

        <p v-if="error"
           class="el-form-item__error"
           v-html="errorMessage">
        </p>

        <p v-if="parameters.hint !== null" class="hint" v-html="ucfirst(transObject(parameters.hint))"></p>

    </el-form-item>

</template>

<script>
export default {
    props: {
        value: {},
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: this.value,
            videoType: 'file',
            videoPreview: false,
            error: false,
            errorMessage: '',
            youtubeValueHolder: ''
        }
    },
    methods: {
        processVideoFile(event, type) {
            if (event.target.files[0].size > 31457280) {
                this.errorMessage = 'Размер файла не должен превышать 30 MB';
                this.error = true;

                this.$notify.error({
                    title: 'Error!',
                    message: 'Превышен размер файла!',
                    offset: this.getHtmlElement('header.el-header').getBoundingClientRect().height
                });

                this.mutatedValue = null;
            } else {
                this.mutatedValue = event.target.files[0];
                this.error = false;
            }
        },
        getIdFromYoutubeURL(url) {
            const youtubeRegExp = /https?:\/\/(?:[0-9A-Z-]+\.)?(?:youtu\.be\/|youtube(?:-nocookie)?\.com\S*[^\w\s-])([\w-]{11})(?=[^\w-]|$)(?![?=&+%\w.-]*(?:['"][^<>]*>|<\/a>))[?=&+%\w.-]*/ig;

            let id = url.replace(youtubeRegExp, '$1');

            if (id.includes(';')) {
                const pieces = id.split(';');

                if (pieces[1].includes('%')) {
                    const uriComponent = decodeURIComponent(pieces[1]);
                    id = `http://youtube.com${uriComponent}`.replace(youtubeRegExp, '$1');
                } else {
                    id = pieces[0];
                }
            } else if (id.includes('#')) {
                id = id.split('#')[0];
            }

            return id
        }
    },
    computed: {
        youtubeValue: {
            get() {
                if (this.value && !this.value.startsWith('/') && _.has(JSON.parse(this.value), 'youtube')) {
                    return JSON.parse(this.value).youtube;
                }

                return null;
            },
            set(newVal) {
                this.mutatedValue = JSON.stringify({ youtube: this.getIdFromYoutubeURL(newVal) });
            }
        }
    },
    watch: {
        youtubeValueHolder: {
            immediate: true,
            handler() {
                const youtubeRegExp = /https?:\/\/(?:[0-9A-Z-]+\.)?(?:youtu\.be\/|youtube(?:-nocookie)?\.com\S*[^\w\s-])([\w-]{11})(?=[^\w-]|$)(?![?=&+%\w.-]*(?:['"][^<>]*>|<\/a>))[?=&+%\w.-]*/ig;

                if (youtubeRegExp.test(this.youtubeValueHolder)) {
                    this.error = false;
                    this.videoPreview = true;
                    this.youtubeValue = this.youtubeValueHolder;
                } else {
                    this.youtubeValue = 'Неверный формат';
                    this.error = true;
                    this.videoPreview = false;
                }
            }
        },
        value: {
            immediate: true,
            handler() {
                this.mutatedValue = this.value;
            }
        },
        mutatedValue() {
            this.$emit('input', this.mutatedValue);
        },
        videoType() {
            this.error = false;
            this.errorMessage = '';
        }
    },
    mounted: function() {
        if (this.value && !this.value.startsWith('/')) {
            this.videoType = 'youtube';
        }
    },
    created: function() {
        if (this.value && !this.value.startsWith('/')) {
            this.videoType = 'youtube';
        }
    }
};
</script>

<style>
    .youtubeId{
        line-height: 2;
        font-size: 14px;
        position: absolute;
        top: 0;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: 200px;
        text-align: center;
    }
    .video-or-url [type="url"]{
        width: calc(100% - 200px);
    }
</style>
