<template>
    <div>
        <div>
            <button @click.prevent="addVersion"
                    class="button black icon-btn-text"
                    v-html="generateSvg('plus', trans('stores_table-fields.button.add'))">
            </button>
        </div>

        <div v-for="(field, version_id) in mutatedValue">

            <el-form-item :label="ucfirst(transObject(parameters.field_label || field))">
                <el-select v-model="mutatedValue[version_id]['days']" multiple clearable multipleLimit="2" filterable>
                    <el-option v-for="(value, key) in parameters.array_values"
                               :key="key"
                               :label="value"
                               :value="toNumIfCan(key)">
                    </el-option>
                </el-select>

                <button @click.prevent="mutatedValue.splice(version_id, 1)">
                    <svg class="delete">
                        <use class="delete" xlink:href="#delete"></use>
                    </svg>
                </button>

            </el-form-item>

            <el-form-item label="Значение">
                <el-input placeholder="Значение" v-model="mutatedValue[version_id]['workhours']"></el-input>
            </el-form-item>

        </div>

    </div>
</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            mutatedValue: [
                {
                    days: '',
                    workhours: ''
                }
                ],
            valueTemplate: {
                days: '',
                workhours: ''
            }
        }
    },
    methods: {
        toNumIfCan(key) {
            let number = parseInt(key);

            if (isNaN(number)) {
                return key;
            }

            return number;
        },
        addVersion() {
            this.mutatedValue.push(Object.assign({}, this.valueTemplate));
        }
    },
    mounted() {
        let value = 0;

        if (this.value === undefined && this.parameters.default !== undefined) {
            value = this.parameters.default;
        } else {
            value = this.value;
        }
    },
    watch: {
        value: {
            immediate: true,
            handler(value) {
                this.mutatedValue = value || [];
            }
        },
        mutatedValue: function (value) {
            this.mutatedValue = value;
            this.$emit('input', value)
        }
    }
};
</script>

<style>
</style>
