<template>
    <li class="tree-menu">

        <label v-if="mutatedValue == node.id"
               class="label-wrapper el-select-dropdown__item selected">
            {{ node.title }}
        </label>

        <label v-else
               class="label-wrapper pointer el-select-dropdown__item"
               @click.prevent="() => { setNode(node.id, node.title) }">
            {{ node.title }}
        </label>

        <ul v-if="node.children && node.children.length">

            <treeItem v-for="node in node.children"
                      :key="node.id"
                      :node="node"
                      :mutatedValue="mutatedValue"
                      :depth="depth + 1"
                      :onselect="onselect"
                      :oninit="oninit"
                      :formType="formType"
                      :field="field"
                      :parameters="parameters">
            </treeItem>

        </ul>

    </li>
</template>

<script>
export default {
    name: 'treeItem',
    props: {
        node: {
            type: Object,
            required: true
        },
        depth: {
            type: Number,
            required: true
        },
        mutatedValue: {
            required: true
        },
        onselect: {},
        oninit: {
            type: String
        },
        parameters: {
            type: Object,
            required: true
        },
        field: {
            type: String,
            required: true
        },
        formType: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            initialize: false
        }
    },
    methods: {
        setNode(nodeId, nodeTitle) {
            this.onselect(nodeId, nodeTitle);
        },
        getKey(key) {
            let number = parseInt(key);

            if (isNaN(number)) {
                return key;
            }

            return number;
        },
        done() {

        },
        setTitle() {
            if (this.mutatedValue == this.node.id && !this.initialize) {
                this.oninit(this.node.title);
                this.initialize = true;
            }
        }
    },
    // TODO For endless padding in select list
    // computed: {
    //     indent() {
    //         return { transform: `translate(${this.depth * 50}px)` }
    //     }
    // },
    watch:{
        mutatedValue(newVal, oldVal) {
            if (newVal > 0) {
                this.setTitle()
            }
        }
    },
    created() {
        let value = 0;

        if (this.mutatedValue !== undefined && this.mutatedValue >= 0) {
            value = this.mutatedValue
        } else if (this.formType == 'create' && (this.field == 'parent_id' || (this.parameters.from_ident !== undefined && this.parameters.from_ident ))) {
            value = this.$route.params.ident;
        }

        if (this.node.id && this.getKey(value) == this.node.id) {
            this.setNode(this.getKey(value), this.node.title)
        }
    }
};
</script>

<style>
    .pointer{
        cursor: pointer;
    }
</style>
