<template>
    <div v-if="showCropper" class="field-cropper" ref="cropperWrapper">

        <div class="cropper-overlay" @click="closePhotoCropper"></div>

        <div class="cropper-service-area">

            <div class="cropper-service-area-center flex content-center flex-wrap justify-center">

                <vue-cropper
                        class="vue-cropper-class"
                        ref="cropper"
                        :guides="true"
                        :view-mode="2"
                        :auto-crop-area="1"
                        :background="false"
                        :rotatable="true"

                        :drag-mode="photo.resize ? 'crop' : 'crop'"
                        :aspect-ratio="photo.aspectRatio ? photo.aspectRatio : NaN"
                        :src="photo.data ? photo.data : null">
                </vue-cropper>

            </div>

            <div class="cropper-service-area-bottom flex justify-end">

                <div class="cropper-service-area-left">
                    <button @click="rotate"
                            v-html="generateSvg('rotate-90', '')"
                            class="btn-cropper button"
                            type="button">
                    </button>
                    <button @click="rotateBack"
                            v-html="generateSvg('rotate--90', '')"
                            class="btn-cropper button"
                            type="button">
                    </button>
                    <button @click="discardChanges"
                            v-html="generateSvg('arrow-back', '')"
                            class="btn-cropper button"
                            type="button">
                    </button>
                </div>

                <div class="cropper-service-area-right">
                    <button @click="submitCrop"
                            v-html="generateSvg('save-icon', '')"
                            class="btn-cropper button"
                            type="button">
                    </button>
                    <button @click="closePhotoCropper"
                            v-html="generateSvg('close-thin', '')"
                            class="btn-cropper button"
                            type="button">
                    </button>
                </div>

            </div>

        </div>

    </div>
</template>

<script>
import VueCropper from 'vue-cropperjs'

export default {
    name: 'imageCrop',
    props: ['photo', 'showCropper'],
    components: {
        VueCropper,
    },
    data() {
        return {
            cropper:{
                visible: true,
                output: {}
            },
            returnData:{
                coordinates: null,
                cropped: null,
            }
        }
    },
    methods: {
        rotate() {
            this.$refs.cropper.rotate(90);
        },
        rotateBack() {
            this.$refs.cropper.rotate(-90);
        },
        discardChanges() {
            this.$refs.cropper.reset();
        },
        submitCrop() {
            //----------------------------
            //TODO need refactor for field
            //----------------------------

            this.returnData.coordinates = this.$refs.cropper.getData();
            this.returnData.cropped = this.$refs.cropper.getCroppedCanvas().toDataURL();
            this.$emit('apply', this.returnData);

            //
            // this.pushAxiosPut(route('api.backend.gallery.photo.update', {image: this.photo.id}), {photo: this.photo}, (response) => {
            //     if (this.photo.id == response.image.id) {
            //         this.$parent.selectedPhoto = response.image;
            //         this.$parent.images.splice(_.findIndex(this.$parent.images, {id: this.photo.id}), 1, response.image);
            //         this.closePhotoCropper();
            //     }
            // });
        },
        closePhotoCropper() {
            this.$emit('close');
        }
    },
    watch: {
        showCropper(showCropper) {
            if (showCropper) {
                if (!document.body.classList.contains('overflow-hidden')) {
                    document.body.classList.add('overflow-hidden');
                    this.$forceUpdate();
                }
            } else {
                if (document.body.classList.contains('overflow-hidden')) {
                    document.body.classList.remove('overflow-hidden')
                }
            }
        },
    }
}
</script>

<style>
</style>
